@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #1E2B34;
  color: #ced2d5;
}

body {
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
	body {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

button:focus {
	outline: 0;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
	background: #15232c;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #233540;
  border: 1px solid #233540;
  transition: all 0.2s ease-out;
}

body::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #445661;
}

.navbar.navbar-default {
  background: #fff;
  border: 0;
  border-radius: 0;
}
a.navbar-brand {
  height: 50px;
  padding: 0;
}
.navbar-brand img {
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  display:table;
  width: 100%;
  box-sizing: border-box;
  font-size: 90%;
}

.center {
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
  height: 100%;
  display: table-row;
}

.row-container {
  width: 100%;
  height: 100%;
}

.row .no-float {
  margin: 0;
  padding: 0;
  display: table-cell;
  float: none;
}
.row .no-float:not(:last-child) {
	border-right: 2px solid #18252E;
}

.row-header {
  width: 100%;
  padding: 8px;
  height: 38px;
  background: #2f3d45;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border-bottom: 2px solid #18252E;
}

.row-box {
  height: auto;
  color: #fff;
  overflow-y: none;
}

.row-box.height1 {
  height: calc(100vh - 89px);
}
.row-box.height2 {
  height: calc(50vh - 98px);
}
.row-box.height3 {
  height: calc(50vh - 81px);
}
.row-box.height4 {
  height: calc(40vh - 61px);
}
.row-box.height5 {
  height: calc(60vh - 135px);
}
.row-box.height6 {
  height: calc(40vh - 81px);
}
.row-box.height7 {
  height: calc(60vh - 45px);
}
.row-box.table-header {
  height: 35px;
  border-bottom: 1px solid #15232c;
  padding-top: 5px;
}
tr.table-header {
  height: 25px;
  border-bottom: 1px solid #666666;
  vertical-align:bottom;
}

.table-header {
  border-bottom: 2px solid #18252E;
}

tr.mid-header {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.table {
 border: 0;
 margin-top: 5px;
}
.table td,th,tr {
  text-align: center;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}
tr.clickable-row:hover {
  cursor: pointer;
  background: #1B2831;
}

.sell {
  color: #f00;
}
.buy {
  color: #0f0;
}

.scroll {
  overflow-y: auto;
}

.row-box.nav-header {
  height: 35px;
  border-bottom: 1px solid #15232c;
}

.nav-tabs > li > a {
  color: #000;
}

.nav-tabs.two > li {
  width: 50%;
}
.nav-tabs.three > li {
  width: calc(100%/3);
}
.nav-tabs.four > li {
  width: calc(100%/4);
}
.nav-tabs.columns {
  border-bottom: 0;
}
.nav-tabs.columns > li > a {
  transition: background-color .25s ease-in-out;
  border-radius: 0;
  height: 35px;
  line-height: 17px;
  width: 100%;
  text-align: center;
  background: #2f3d45;
  color: #fff;
  border: 0;
}
.nav-tabs.columns > li.active > a {
  color: #fff;
  background: #15232c;
  border: 0;
}
.nav-tabs.columns > li > a:hover {
  color: #FFF;
  background: #33424a;
  border: 0;
}

.nav-tabs.columns > li.active > a:hover {
  background: #15232c;
  color: #fff;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
  padding: 2px;
}

a {
  color: #ccc;
}
a:hover {
  color: #666;
  text-decoration: none;
}

.align-right {
  text-align: right !important;
}

.padding {
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.padding-sides {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-right {
  padding-right: 12px !important;
}

.clear {
  clear: both;
}

.token-container {
  width: 880px;
  margin: 0 auto;
}
.token {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  font-size: 36px;
  border: 5px solid #ccc;
  text-align: center;
  line-height: 180px;
  font-weight: bold;
  border-radius: 200px;
}
.token:hover {
  background: #036;
  color: #fff;
  cursor: pointer;
}

.static-container {
  padding-top: 20px;
  background: #fff;
  padding: 20px;
  border: 10px solid #ccc;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.modal-dialog.large {
  width: 90%; /* respsonsive width */
  text-align: center;
}

.modal-dialog a {
  color: #33f;
}

.modal-dialog a:hover {
  color: #333;
}

pre {
  overflow-x: auto;
}
pre code {
  overflow-wrap: normal;
  white-space: pre;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #fff;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 1px solid #ccc;
  transition: all 0.2s ease-out;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.chat-button {
  background: #fc3;
  color: #000;
  vertical-align: middle;
  outline: 5px #fff solid;
  outline-offset: -5px;
}

.warning {
  color: #f00;
}

.table-balances {
  margin: 0 !important;
}

.table-balances td {
  width: 33%;
}

.four-columns {
  width: calc(100%/4);
}
.three-columns {
  width: calc(100%/3);
}

.overflow-hidden {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.padding-left {
  padding-left: 10px !important;
}

#chartPrice {
  overflow: hidden;
  background: #1E2B34 !important;
}

#chartPrice [fill="#cccccc"] {
  fill: #cccccc;
}

#chartPrice [fill="#ff0000"] {
  fill: #ff6939;
}

#chartDepth {
  overflow: hidden;
  background: #1E2B34 !important;
}

#chartDepth [fill="#cccccc"] {
  fill: #4da53c;
}

#chartDepth [fill="#ff0000"] {
  fill: #ff6939;
}

.big-icon {
  font-size: 150%;
}

.tooltip-inner {
  white-space:pre-wrap;
}

.ad {
  text-align: center;
}
/**/
.ad .ledger-img{
  width: 600px;
  margin-left: -16px;
}

.ttip {
  position: relative;
  display: inline-block;
}

.ttip .text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.ttip .text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.ttip:hover .text {
  visibility: visible;
}

#bs-example-navbar-collapse-1 .navbar-nav a {
  font-weight: bold;
  color: #15232c;
  font-size: 12px;
}

.navbar-nav > li > .dropdown-menu a {
  padding: 10px;
}

.badge {
  background-color: #2f3d45;
}

.label-success {
  background-color: #4da53c;
}

.form-control,
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  width: 100%;
  height: 36px;
  padding: 8px 5px 8px 10px;
  border: 1px solid #565f66;
  border-radius: 2px;
  outline: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  background-color: #404a52;
  font-family: 'Open Sans', sans-serif;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  color: #fff;
  background-color: #1E2B34;
  opacity: 0.6;
}

.form-horizontal .control-label {
  font-size: 12px;
  font-weight: bold;
  color: hsla(0,0%,100%,.8);
}

#transferFormToken td,
#transferFormBase td {
  position: relative;
}

#transferFormToken td .btn,
#transferFormBase td .btn {
  width: 100% !important;
}

#transferFormToken .fa-info-circle,
#transferFormBase .fa-info-circle {
  position: absolute;
  top: -10px;
  right: 5px;
}

.btn,
.btn-primary {
  flex: 1;
  border: none;
  border-radius: 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  user-select: none;
  background-color: #3d84d6 !important;
  transition: background-color .2s ease-in-out;
}

.btn:hover,
.btn-primary:hover {
  background-color: #3a7bc7 !important;
}

.btn-success {
  flex: 1;
  border: none;
  border-radius: 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  user-select: none;
  background-color: #4da53c !important;
  transition: background-color .2s ease-in-out;
}

.btn-success:hover {
  background-color: #449235 !important;
}

.btn-danger {
  flex: 1;
  border: none;
  border-radius: 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  user-select: none;
  background-color: #ff6939 !important;
  transition: background-color .2s ease-in-out;
}

.btn-danger:hover {
  flex: 1;
  border-radius: 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  user-select: none;
  background-color: #ff5620 !important;
  transition: background-color .2s ease-in-out;
}

#bs-example-navbar-collapse-1 .navbar-nav #tokensDropdown .dropdown-menu {
  max-width: 100%;
  min-width: 240px;
}

#bs-example-navbar-collapse-1 .navbar-nav #tokensDropdown .dropdown-menu li {
  max-width: 100%;
}

#bs-example-navbar-collapse-1 .navbar-nav #tokensDropdown .dropdown-menu a {
  color: #777;
  font-weight: normal;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#bs-example-navbar-collapse-1 .navbar-nav #tokensDropdown .dropdown-menu a span.symbol {
  color: #15232c;
  font-weight: bold;
}

#bs-example-navbar-collapse-1 .navbar-nav #tokensDropdown .dropdown-menu a.other {
  color: #15232c;
  font-weight: bold;
}

#myTrades tbody tr:nth-child(even),
#myFunds tbody tr:nth-child(even) {
  background: #1B2831;
}

#trades tr:hover {
  background-color: #1B2831;
}

#volume .ticker-row {
  cursor: pointer;
  padding: 3px 4px;
}

#volume .ticker-row:hover {
  background-color: #1B2831;
}

#volume .ticker-row:hover .name {
  text-decoration: underline;
}

#trades {
  overflow-x: hidden /* prevents the header from getting clipped at the top on FF on narrow windows. See https://github.com/forkdelta/forkdelta.github.io/issues/102 */
}

.fa.fa-spinner:before {
  content: "\f1ce";
  color: rgba(255, 255, 255, 0.7);
}


.alertify .ajs-dialog,
.alertify .ajs-body .ajs-content,
.modal-body,
.modal-content {
  color: #ced2d5;
  background: #1E2B34;
}

.alertify .ajs-body .ajs-content a,
.modal-body a,
.modal-content a {
  color: #337ab7;
}

.alertify .ajs-body .ajs-content a:hover,
.modal-body a:hover,
.modal-content a:hover {
  color: #408cce;
}

.alertify .ajs-header,
.modal-header {
  color: #ced2d5;
  background: #1E2B34;
  border-bottom: 2px solid #18252E;
}

.alertify .ajs-header .fa,
.modal-header .fa {
  color: #fff !important;
}

.alertify .ajs-footer,
.modal-footer {
  color: #ced2d5;
  background: #1E2B34;
  border-top: 2px solid #18252E;
}

.alertify .ajs-footer .ajs-buttons.ajs-auxiliary .ajs-button,
.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button {
  flex: 1;
  border: none;
  border-radius: 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  user-select: none;
  background-color: #3d84d6;
  transition: background-color .2s ease-in-out;
}

.ajs-button.btn-danger {
	background: #f43d3d;
}

.modal-header .close {
  color: #fff;
  opacity: 0.5;
  transition: color .2s ease-in-out;
}

.modal .close:hover {
  color: #fff;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0,0,0,0.75) !important;
    /* z-index must be higher than navbar or you get issue #118 */
    z-index: 1100
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#balance {
		height: 330px;
	}

	.row-box.height4 {
		height: 400px;
	}
}
