@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
}

.navbar.navbar-default {
  background: #fff;
  border: 0;
  border-radius: 0;
}
a.navbar-brand {
  height: 50px;
  padding: 0;
}
.navbar-brand img {
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  display:table;
  width: 100%;
  margin-top: -20px;
  box-sizing: border-box;
  font-size: 90%;
}

.center {
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
  height: 100%;
  display: table-row;
}

.row-container {
  width: 100%;
  height: 100%;
}

.row .no-float {
  margin: 0;
  padding: 0;
  display: table-cell;
  float: none;
}
.row .no-float:not(:last-child) {
  border-right: 1px solid #666;
}

.row-header {
  width: 100%;
  background: #ccc;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px;
  height: 38px;
}

.row-box {
  height: auto;
  color: #000;
  overflow-y: none;
}

.row-box.height1 {
  height: calc(100vh - 89px);
}
.row-box.height2 {
  height: calc(50vh - 98px);
}
.row-box.height3 {
  height: calc(50vh - 81px);
}
.row-box.height4 {
  height: calc(40vh - 61px);
}
.row-box.height5 {
  height: calc(60vh - 135px);
}
.row-box.height6 {
  height: calc(40vh - 81px);
}
.row-box.height7 {
  height: calc(60vh - 45px);
}
.row-box.table-header {
  height: 35px;
  border-bottom: 1px solid #666;
  padding-top: 5px;
}
tr.table-header {
  height: 25px;
  border-bottom: 1px solid #666;
  vertical-align:bottom;
}
tr.mid-header {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.table {
 border: 0;
 margin-top: 5px;
}
.table td,th,tr {
  text-align: center;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}
tr.clickable-row:hover {
  cursor: pointer;
  background: #111;
}

.sell {
  color: #f00;
}
.buy {
  color: #0f0;
}

.scroll {
  overflow-y: auto;
}

.row-box.nav-header {
  height: 35px;
  border-bottom: 1px solid #666;
}

.nav-tabs > li > a {
  color: #000;
}

.nav-tabs.two > li {
  width: 50%;
}
.nav-tabs.three > li {
  width: calc(100%/3);
}
.nav-tabs.four > li {
  width: calc(100%/4);
}
.nav-tabs.columns {
  border-bottom: 0;
}
.nav-tabs.columns > li > a {
  border-radius: 0;
  height: 35px;
  line-height: 17px;
  width: 100%;
  text-align: center;
  background: #ccc;
  color: #000;
  border: 0;
}
.nav-tabs.columns > li.active > a {
  color: #000;
  background: #999;
  border: 0;
}
.nav-tabs.columns > li > a:hover {
  color: #000;
  background: #666;
  border: 0;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
  padding: 2px;
}

a {
  color: #003;
}
a:hover {
  color: #336;
  text-decoration: none;
}

.align-right {
  text-align: right !important;
}

.padding {
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.padding-sides {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-right {
  padding-right: 12px !important;
}

.clear {
  clear: both;
}

.token-container {
  width: 880px;
  margin: 0 auto;
}
.token {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  font-size: 36px;
  border: 5px solid #ccc;
  text-align: center;
  line-height: 180px;
  font-weight: bold;
  border-radius: 200px;
}
.token:hover {
  background: #036;
  color: #fff;
  cursor: pointer;
}

.static-container {
  padding-top: 20px;
  background: #fff;
  padding: 20px;
  border: 10px solid #ccc;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.modal-dialog.large {
  width: 90%; /* respsonsive width */
  text-align: center;
}

.modal-dialog a {
  color: #33f;
}

.modal-dialog a:hover {
  color: #333;
}

pre {
  overflow-x: auto;
}
pre code {
  overflow-wrap: normal;
  white-space: pre;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

.chat-button {
  background: #fc3;
  color: #000;
  vertical-align: middle;
  outline: 5px #fff solid;
  outline-offset: -5px;
}

.warning {
  color: #f00;
}

.table-balances {
  margin: 0 !important;
}

.table-balances td {
  width: 33%;
}

.four-columns {
  width: calc(100%/4);
}
.three-columns {
  width: calc(100%/3);
}

.overflow-hidden {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.padding-left {
  padding-left: 10px !important;
}

#chartPrice {
  overflow: hidden;
}

#chartDepth {
  overflow: hidden;
}

.big-icon {
  font-size: 150%;
}

.tooltip-inner {
  white-space:pre-wrap;
}

.ad {
  background: #fff;
  text-align: center;
}
/**/
.ad .ledger-img{
  width: 600px;
  margin-left: -16px;
}


.ttip {
  position: relative;
  display: inline-block;
}

.ttip .text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.ttip .text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.ttip:hover .text {
  visibility: visible;
}
