<blockquote>
  <p>Bether (BHR) is a token that will pay a dividend quarterly to investors.</p>
  <footer><a href="https://www.bether.cc/" target="_blank">https://www.bether.cc/</a></footer>
</blockquote>
