<%= selected.name %> <span class="badge" data-toggle="tooltip" data-placement="left" title="<%= bundle.utility.weiToEth(balanceOutside, bundle.Main.getDivisor(selected)) %> off exchange"><%= bundle.utility.weiToEth(balance, bundle.Main.getDivisor(selected)) %></span>
