<%= selected.name %> <span class="badge" data-toggle="tooltip" data-placement="left" title="<%= bundle.utility.weiToEth(balanceOutside) %> off exchange"><%= bundle.utility.weiToEth(balance) %></span>
