<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language"></i> <%= language %> <span class="caret"></span></a>
<ul class="dropdown-menu">
  <% languages.forEach(function(language) { %>
    <li><a href="javascript:;" onclick="bundle.Main.selectLanguage('<%= language%>');"><%= language %></a></li>
  <% }); %>
</ul>
