<blockquote>
  <p>The implementation of Bitcoin Core on the Ethereum network as a smart contract. Mined using Proof of Work.</p>
  <footer><a href="https://0xbitcoin.org" target="_blank">https://0xbitcoin.org</a></footer>
</blockquote>
