<blockquote>
  <p>ONLY 10,000,000 TOKEN WILL BE ISSUED, 99% OF THEM WILL BE AIRDROPPED</p>
  <footer><a href="https://www.10mtoken.com" target="_blank">https://www.10mtoken.com</a></footer>
</blockquote>
