<blockquote>
  <p>LIFE Token is a utility token issued for discounted usage on Pinkexc platform. Funds raised during the token swap will be used to build a network of Crypto ATM and merchants in providing an instant liquidity from assets for the public.</p>
  <footer><a href="http://www.pinkexc.com/life.html" target="_blank">http://www.pinkexc.com/life.html</a></footer>
</blockquote>
