<blockquote>
  <p>FirstBlood.io ("FirstBlood") is a decentralized esports gaming platform that will allow individuals to test their skill and compete in 1v1 and team vs team matches for popular online games, such as League of Legends, Dota 2, and Counter-Strike: Global Offensive.</p>
  <footer><a href="https://firstblood.io/" target="_blank">https://firstblood.io/</a></footer>
</blockquote>
