<blockquote>
  <p>1World is revolutionizing online media with blockchain technology and incentives for audience engagement.</p>
  <footer><a href="https://ico.1worldonline.com/" target="_blank">https://ico.1worldonline.com/</a></footer>
</blockquote>
