<blockquote>
  <p>Using the powerful Ethereum Network, Alpha Investing is offering a unique suite of products and services for navigating the Crypto-Currency Markets. From their Decentralized Investor Marketplace, to their Crypto Coin Fund (Named Coinbag), Alpha is your best choice for investing in the future of crypto.</p>
  <footer><a href="https://alphatoken.net/" target="_blank">https://alphatoken.net/</a></footer>
</blockquote>
