<blockquote>
  <p>CryptoABS is a platform for issuing ABS tokens which are backed by physical assets. By introducting the power of smart contract and IOT technology, the CryptoABS is a bridge between the real world and the so-called crypto-world.</p>
  <footer><a href="http://adtli.net/" target="_blank">http://adtli.net/</a></footer>
</blockquote>
