
<blockquote>
  <p>ArcBlock (ABT): An open source protocol that provides an abstract layer for accessing underlying blockchains, enabling your application to work on different blockchains.</p>
  <footer><a href="https://www.arcblock.io/" target="_blank">https://www.arcblock.io/</a></footer>
</blockquote>
  