<blockquote>
  <p>ArcBlock, the world’s first blockchain ecosystem for building and deploying decentralized applications.</p>
  <footer><a href="https://www.arcblock.io/" target="_blank">https://www.arcblock.io/</a></footer>
</blockquote>
