<blockquote>
  <p>Arbidex is a single platform interface on different exchanges, whilest also offering an automatic arbitrage feature.</p>
  <footer><a href="https://www.arbidex.uk.com" target="_blank">https://www.arbidex.uk.com</a></footer>
</blockquote>
