<blockquote>
  <p>Blockchain-based celebrity management platform that applies decentralized scouting and community voting to ensure transparent engagement for millions of users: celebrities + fans + brands &amp; advertisers.</p>
  <footer><a href="https://tokenstars.com/en/ace" target="_blank">https://tokenstars.com/en/ace</a></footer>
</blockquote>
