<blockquote>
  <p>Adbank is an online ad platform built on Ethereum to remove costly middlemen & dramatically reduce the $50 billion problem of ad fraud using advanced AI technology. By using the Adbank platform, publishers can get paid more for their content while charging advertisers less and creating a transparent ecosystem that benefits all key stakeholders in the industry. Existing ad platforms will be able to access cutting edge anti-fraud AI tools through Adbank’s API and powered with ADB tokens. The project is led by a team with Fortune 500 experience working with companies such as Exxon Mobil, NASA, Revlon, L’Oreal, Tesla Motors, the FBI and General Motors.</p>
  <footer><a href="https://adbank.network/" target="_blank">https://adbank.network/</a></footer>
</blockquote>
