<blockquote>
  <p>Adshares Network is a decentralized, peer-to-peer market for programmatic advertising. Adshares gives advertisers and publishers ability to trade directly without the need for centralized ad exchanges.</p>
  <footer><a href="https://adshares.net/" target="_blank">https://adshares.net/</a></footer>
</blockquote>
