<p>
  <img src="https://adshares.net/assets/images/logo200x200.png">
</p>

<blockquote>
  <p>Adshares Network is a decentralized marketplace for programmatic advertising. Adshares gives advertisers and publishers the ability to trade directly without the need for centralized ad exchanges.</p>
  <footer><a href="https://adshares.net/" target="_blank">https://adshares.net/</a></footer>
</blockquote>
