<blockquote>
  <p>&aelig;ternity is a new blockchain technology, designed to deliver unmatched efficiency, transparent governance and global scalability.</p>
  <footer><a href="https://aeternity.com/" target="_blank">https://aeternity.com/</a></footer>
</blockquote>
