<blockquote>
  <p>SingularityNET is a decentralized marketplace for AI algorithms</p>
  <footer><a href="https://singularitynet.io/" target="_blank">https://singularitynet.io/</a></footer>
</blockquote>
