<blockquote>
  <p>AirToken (AIR) is the token for mobile access. Users of the AirFox Browser can earn and redeem AIR for mobile data on over 500 prepaid wireless networks. Using AIR, advertisers and lenders can sponsor mobile access for users around the world. The AirToken micro-finance platform will allow you to lend on a decentralized peer-to-peer platform and earn interest for sponsoring the mobile internet to users in emerging markets.</p>
  <footer><a href="https://airtoken.com/" target="_blank">https://airtoken.com/</a></footer>
</blockquote>
