<p>
  <img src="http://static.aira.life/logo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Autonomous Intelligent Robot token, distribution phase 1.</p>
  <footer><a href="htts://aira.life" target="_blank">https://aira.life</a></footer>
</blockquote>
