<p>
  <img src="https://www.airtoken.com/img/airtoken_logo.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>We want to enable the billions of offline and pre-paid mobile subscribers in emerging markets to have access to capital for both data, the fuel of the smartphone, and eventually digital and physical goods within the mobile ecosystem. Our vision is a world where anyone with a smartphone can enjoy unrestricted access to the internet.</p>
  <footer><a href="https://www.airtoken.com/" target="_blank">https://www.airtoken.com/</a></footer>
</blockquote>
