<blockquote>
  <p>Aigang aims to build blockchain protocol for digital insurance, which can be used as layer protocol using DAO and smart contracts for insurance services for IoT and smart devices.</p>
  <footer><a href="https://aigang.network/" target="_blank">https://aigang.network/</a></footer>
</blockquote>
