<blockquote>
  <p>Alaricoin (Simbol ALCO) is a token inspired by the Legend of King Alaric's Treasury , and designed as an underlying token currency of the ethereum platform.</p>
  <footer><a href="https://alaricoin.org/" target="_blank">https://alaricoin.org/</a></footer>
</blockquote>
