<blockquote>
  <p>ALIS is a social media platform which provides our customers with reliable information from experts in no time. We were inspired by STEEM (https://steem.io) and their billions of evaluations to create a media platform specialized for the Japanese market. Our mission is to filter through the myriad of advertising and stealth marketing campaigns. Our goal is to provide more reliable information than traditional media outlets. Please read our whitepaper for further information.</p>
  <footer><a href="https://alismedia.jp/" target="_blank">https://alismedia.jp/</a></footer>
</blockquote>
