<blockquote>
  <p>TripAlly developing and will launch service TripAlly Internet &ndash; an affordable mobile internet in other countries while traveling without needs to change SIM-card and without any roaming charges for mobile data usage. Part of TripAlly Internet there is also TripAlly Venues and TripAlly Exchange services. ALLY token will be used to pay for any of TripAlly services, including buying unlimited mobile internet while traveling to other countries.</p>
  <footer><a href="https://tripally.co/" target="_blank">https://tripally.co/</a></footer>
</blockquote>
