<blockquote>
  <p>The ALN tokens are used as rewards points for our products and services. Existing members that have rewards points will have their points converted into tokens. Then new rewards points will automatically be valued in Allysian tokens.</p>
  <footer><a href="https://www.allysian.com/" target="_blank">https://www.allysian.com/</a></footer>
</blockquote>
