<blockquote>
  <p>If not today then certainly tomorrow. This token is more pure than mountain air. It is healthier than milk and stronger than gold and European steel. "Really &ndash; That is the pure truth." (Quote from someone who needs to know.)</p>
  <footer><a href="http://alpencash.trade/" target="_blank">http://alpencash.trade/</a></footer>
</blockquote>
