<blockquote>
  <p>Alpha is an ERC20 token that can be earned on the Alpha platform. Cryptocurrency users looking to learn about cryptocurrency, complete courses and are rewarded with Alpha tokens. The Alpha platform is designed to teach people the basics, how to stay secure, how to trade and the vision behind the blockchain revolution. Users will leave the courses fully equipped to interact with cryptocurrency.</p>
  <footer><a href="https://www.alpha-platform.com/" target="_blank">https://www.alpha-platform.com/</a></footer>
</blockquote>
