<blockquote>
  <p>ALTS is a community token, it is distributed to the AltcoinsTalks.com community.</p>
  <footer><a href="http://www.altcoinstalks.com/index.php?topic=142.0" target="_blank">http://www.altcoinstalks.com/index.php?topic=142.0</a></footer>
</blockquote>
