<blockquote>
  <p>Angel Token is an unique new Ethereum based token for anyone that wants to benefit from the crowd intelligence and combined crypto capital of 100&rsquo;s of investors working together in a powerful private investment community, to maximize growth of a portfolio of small to medium-sized crypto assets.</p>
  <footer><a href="https://angelinvestors.io/" target="_blank">https://angelinvestors.io/</a></footer>
</blockquote>
