<blockquote>
  <p>Ankorus is an Ethereum-based financial assets trading platform that allows user to tokenize and trade financial assets like stocks, shares, bonds, ETFs, FX and commodities. ANK is an ERC20 token that serves as a currency on the Ankorus ecosystem.</p>
  <footer><a href="https://www.ankorus.org/" target="_blank">https://www.ankorus.org/</a></footer>
</blockquote>
