<blockquote>
  <p>The property platform where individuals can buy, sell, or rent a property directly with each other online without the need for an estate agent.</p>
  <footer><a href="https://agentnotneeded.com" target="_blank">https://agentnotneeded.com</a></footer>
</blockquote>
