<blockquote>
  <p>The Aragon Network (AN) will be the first DAO whose goal is to act as a digital jurisdiction that makes it extremely easy and friendly for organizations, entrepreneurs and investors to operate.</p>
  <footer><a href="https://aragon.one/" target="_blank">https://aragon.one/</a></footer>
</blockquote>
