<blockquote>
  <p>ANTS RELOADED is the first decentralized and transparent payment system for gaming consoles managed by an Ethereum smart contract.</p>
  <footer><a href="https://www.antsreloaded.com/" target="_blank">https://www.antsreloaded.com/</a></footer>
</blockquote>
