
<blockquote>
  <p>AppCoins (APPC): AppCoins is meant for use in the AppCoins blockchain platform to perform transactions in the app store ecosystem.</p>
  <footer><a href="https://appcoins.io/" target="_blank">https://appcoins.io/</a></footer>
</blockquote>
  