<blockquote>
  <p>Arcade City is a decentralized global community of peer-to-peer service providers and consumers. Initial service offerings focus on the ridesharing industry, with plans in motion for peer-to-peer deliveries and short-term home rentals.</p>
  <p>Arcade City aims to reinvent the sharing economy by combining the power of blockchain technology, open-source development, platform cooperativism, and a decentralized &lsquo;swarm&rsquo; organizational model open to all.</p>
  <footer><a href="https://arcade.city/" target="_blank">https://arcade.city/</a></footer>
</blockquote>
