<blockquote>
  <p>Accord is a new digital currency on Ethereum blockchain, regulated by the ERC20 smart contract, intended to use as primary currency on Accord hedging platform (AHP). AHP is aimed to mitigate the risk available on digital currencies, by applying existing tools of financial market and to provide the maximum trade profits on digital currency with controlled risk by providing traders with Hedging Options.</p>
  <footer><a href="https://accordtoken.com/" target="_blank">https://accordtoken.com/</a></footer>
</blockquote>
