<blockquote>
  <p>Aeron&rsquo;s solution relies on blockchain technology to track aircraft maintenance and pilot logs. Aeron is constructing a database and an online system that is decentralized, hosting global data on aircraft, flight schools and pilots. This electronic logging system would enable pilots to have logs that can be verified online, making aviation safer for everyone involved.</p>
  <footer><a href="https://aeron.aero" target="_blank">https://aeron.aero</a></footer>
</blockquote>
