<blockquote>
  <p>The first open blockchain platform that democratises access to Fine Art</p>
  <footer><a href="https://www.maecenas.co/" target="_blank">https://www.maecenas.co/</a></footer>
</blockquote>
