<blockquote>
  <p>ARTIS is a token designed for the upcoming Artis Turba cryptocurrency exchange. Artis Turba aims to simply the trading process by providing an intuitive User Interface along with Buy, Sell and Hold signals generated from our own unique algorithm that reads trends and cycles. Furthermore the ARTIS Affiliate Reward Program or AARP will reward ARTIS holders by sharing revenue generated on the Artis Turba exchange pro rata to the ARTIS they hold.</p>
  <footer><a href="https://artisturba.com/" target="_blank">https://artisturba.com/</a></footer>
</blockquote>
