<p>
  <img src="https://arexium.io/assets/img/logo_white.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>An Ethereum ERC20 based token</p>
  <footer><a href="https://arexium.io/" target="_blank">https://arexium.io/</a></footer>
</blockquote>
