<blockquote>
  <p>Our ARX token is built into our Augmented Reality products and is used to redeem in-world and in-app items, such as access to paid content or public paid AR-zones in World 1, or custom job-roles in our Profession App. Our apps are already released in Alpha to corporate clients who expect to use the ARX token on the blockchain.</p>
  <footer><a href="https://aronline.io/" target="_blank">https://aronline.io/</a></footer>
</blockquote>
