
<blockquote>
  <p>Block Array (ARY): Blockchain-based Solutions for the Logistics Industry.</p>
  <footer><a href="https://blockarray.com/" target="_blank">https://blockarray.com/</a></footer>
</blockquote>
  