<blockquote>
  <p>BlockArray is a blockchain-based startup focused on developing the protocols and infrastructure required for supply chain and logistic companies to integrate distributed ledger technology across their business.</p>
  <footer><a href="https://blockarray.com" target="_blank">https://blockarray.com</a></footer>
</blockquote>
