<blockquote>
  <p>Astronaut is a crypto hedge fund that puts your investing on autopilot. Astronauts primary focus is to gain exposure to ICOs and undervalued altcoins.</p>
  <footer><a href="http://www.astronaut.capital/" target="_blank">http://www.astronaut.capital/</a></footer>
</blockquote>
