<blockquote>
  <p>Asteroid, Ltd. will Democratize Space through a new BlockChain mechanism called BlockClaim&reg;. A BlockClaim&reg; will allow any private individual, company and nation state the ability to lay claim to and share in the vast wealth within our celestial orbit.</p>
  <footer><a href="https://www.astrcoin.io/" target="_blank">https://www.astrcoin.io/</a></footer>
</blockquote>
