<blockquote>
  <p>Anonymizer Ethereum (ATH) uses advanced cryptographic techniques, namely zero-knowledge proofs, to guarantee the validity of transactions without revealing additional information about them. The ether or tokens do not get out of your control and are on your balance in a smart contract. Only you have access to managing these balances!</p>
  <footer><a href="https://satoshi.team" target="_blank">https://satoshi.team</a></footer>
</blockquote>
