<p>
  <img src="https://atlant.io/assets/img/logo.svg" style="width: 200px;" />
</p>

<blockquote>
  <p>World’s Real Estate Blockchain Platform</p>
  <footer><a href="https://atlant.io/" target="_blank">https://atlant.io/</a></footer>
</blockquote>
