<blockquote>
  <p>Asterion Space is an open-source initiative to build a virtual reality world. It uses blockchain technology to claim and transfer virtual land, keeping a permanent record of ownership and will enable to create virtual communities in the near future. A public Virtual Reality world should be ruled by open standards, shielded from the agenda of any central organization.</p>
  <footer><a href="https://www.asterion.space/" target="_blank">https://www.asterion.space/</a></footer>
</blockquote>
