<p>
  <img src="http://authorship.com/wp-content/uploads/2017/07/logo500.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Making the Internet More Free and Accessible For Authors and Readers</p>
  <footer><a href="http://authorship.com/" target="_blank">http://authorship.com/</a></footer>
</blockquote>
