<blockquote>
  <p>Making the Internet More Free and Accessible For Authors and Readers</p>
  <footer><a href="http://authorship.com/" target="_blank">http://authorship.com/</a></footer>
</blockquote>
