<p>
  <img src="http://cointimes.tech/wp-content/uploads/2017/09/LogoRoundShadow1.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>ArubaCoin : Fast, easy and peer to peer</p>
  <footer><a href="http://ArubaCoin.org" target="_blank">ArubaCoin website</a></footer>
</blockquote>
