<p>
  <img src="http://arubacoin.org/images/ArubaCoinLogo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>fast, easy and peer to peer</p>
  <footer><a href="http://arubacoin.org/" target="_blank">http://arubacoin.org/</a></footer>
</blockquote>
