<blockquote>
  <p>Auctus is the world's first blockchain based retirement plan platform, which allows users to create diversified portfolios, consisting of traditional asset classes and cryptocurrencies.</p>
  <p>AUC token will act as the membership token, as well as the payment currency of the Auctus Platform.</p>
  <footer><a href="https://auctus.org" target="_blank">https://auctus.org</a></footer>
</blockquote>
