<blockquote>
  <p>The Authoreon solutions prevent fraud, cyber attacks, material and immaterial identity theft, and they provide traceability to supply and ownership chains.</p>
  <footer><a href="https://www.authoreon.io/" target="_blank">https://www.authoreon.io/</a></footer>
</blockquote>
