<blockquote>
  <p>AURA is the Aurora utility token for the Aurora DAO. Users stake AURA to secure the network, and are rewarded with fees from IDEX and DC.</p>
  <footer><a href="https://auroradao.com/" target="_blank">https://auroradao.com/</a></footer>
</blockquote>
