
<blockquote>
  <p>aXpire (AXP): Building a Blockchain Based Spend Management System.</p>
  <footer><a href="https://www.axpire.io/" target="_blank">https://www.axpire.io/</a></footer>
</blockquote>
  