<blockquote>
  <p>aXpire is a cloud-based and AI-enabled blockchain payment processing company, building the World's first blockchain based spend management system.</p>
  <footer><a href="https://www.axpire.io/" target="_blank">https://www.axpire.io/</a></footer>
</blockquote>
