<blockquote>
  <p>B2X allows for faster and cheaper transactions on the network due to its larger blocksize and segwit implementation, allowing you to transfer tokens more efficiently. With segwit 2x , it is able to solve Bitcoin's core problem now, which is terribly slow in terms of transaction speed. This token is meant for early adopters and supporters for B2X until we are ready to fork Bitcoin with all the technical specs ready.</p>
  <footer><a href="http://b2x.technology/" target="_blank">http://b2x.technology/</a></footer>
</blockquote>
