<blockquote>
  <p>Browsers Lab's ambitious goal is to make cloud-based testing easier. A platform to reduce the expense associated with managing, creating and executing tests. Leveraging Browsers Lab's platform will reduce the overall effort with setting up different environments, and viewing the results. Deliver with even greater confidence as the dashboard and metrics provide insight into how the tests are performing. Any team can benefit from Browsers Lab's platform, small or large. From an individual to enterprise scale. Browsers Lab has your back.</p>
  <p>Browsers Lab Token will help this platform grow and expand to fill the industries test automation needs. Regulated by smart contracts on an Ethereum based blockchain platform. Not only will the token help foster a much-needed platform, but will also create a new market. The Browsers Lab Token will facilitate individuals and companies by exchanging services in a secure manner.</p>
  <footer><a href="https://www.browserslab.com" target="_blank">https://www.browserslab.com</a></footer>
</blockquote>
