<blockquote>
  <p>BALI Coin is a cryptocurrency created to be used as a mean of payment in the tourism industry, for example for hotel bookings, ticket reservations, car rentals and other tourism facilities. BALI coin is an open source cryptocurrency, using advanced Ethereum blockchain technology. With BALI Coin your money will be stored in your personal wallet, strictly confidential and absolutely private. In doing the transaction, money from the sending account will be transfered directly to the recipient, not through any intermediaries. Bali Coin is based on Ethereum ERC20 platform token, which has the potential to become the biggest smart contract system in the world for travel and tourism market. Team BALI Coin confidently innovate this capacity through the enabled BALI coin eco system.</p>
  <footer><a href="https://balicoin.io/" target="_blank">https://balicoin.io/</a></footer>
</blockquote>
