<blockquote>
  <p>Banca is a new type of an investment bank community built on blockchain technology. It’s based on AI and expert system to achieve the dynamics of Banca's eco-chain and the automatic management. Big data analysis is utilized to deliver accurate services to various participants with specific needs. Banca tracks the performance of all primary market and secondary market projects running on the platform, maintain the data on Blockchain and generate automatic reports, which are also incorruptible.</p>
  <footer><a href="https://www.banca.world/" target="_blank">https://www.banca.world/</a></footer>
</blockquote>
