<blockquote>
  <p>TBIS - Titanium Blockchain Infrastructure Services is an Infrastructure as a Service platform that allows entire IT enterprises can be hosted on the Ethereum blockchain.</p>
  <footer><a href="https://tbis.io" target="_blank">https://tbis.io</a></footer>
</blockquote>
