<p>
  <img src="https://pbs.twimg.com/profile_images/869939122118340608/wd6Viose_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>BitAsean (BAS) is the first and only one of the The Association of Southeast Asian Nations (ASEAN) cryptocurrency. BitAsean is Ethereum-based Token. Our aim is for BitAsean to be the cryptocurrency of the ASEAN region.</p>
  <footer><a href="https://www.bitasean.org/" target="_blank">https://www.bitasean.org/</a></footer>
</blockquote>
