<blockquote>
  <p>BitAsean (BAS) is the first and only one of the The Association of Southeast Asian Nations (ASEAN) cryptocurrency. BitAsean is Ethereum-based Token. Our aim is for BitAsean to be the cryptocurrency of the ASEAN region.</p>
  <footer><a href="https://www.bitasean.org/" target="_blank">https://www.bitasean.org/</a></footer>
</blockquote>
