<blockquote>
  <p>From the creator of JavaScript and the co-founder of Mozilla and Firefox, with a solid team &ndash; funded by Founders Fund, Foundation Capital, Propel Venture Partners, Pantera Capital, DCG, Danhua Capital, Huiyin Blockchain Venture among others.</p>
  <p>Basic Attention Token radically improves the efficiency of digital advertising by creating a new token that can be exchanged between publishers, advertisers and users. It all happens on the Ethereum blockchain.</p>
  <p>The token can be used to obtain a variety of advertising and attention-based services on the Brave platform. The utility of the token is based on user attention, which simply means a person&rsquo;s focused mental engagement.</p>
  <footer><a href="https://basicattentiontoken.org/" target="_blank">https://basicattentiontoken.org/</a></footer>
</blockquote>
