<blockquote>
  <p>BABB will empower the microeconomy, improving lives and livelihoods and creating new opportunities for individuals and businesses across the world.</p>
  <footer><a href="https://getbabb.com/" target="_blank">https://getbabb.com/</a></footer>
</blockquote>
