<blockquote>
  <p>ETHER BB is a revolutionary payment platform that empowers buyers to pay with cryptocurrencies while providing a groundbreaking purchase protection mechanism.</p>
  <footer><a href="http://etherbb.com" target="_blank">http://etherbb.com</a></footer>
</blockquote>
