<blockquote>
  <p>Beluga Pay provides merchant tools to accept cryptocurrency, credit and cash.</p>
  <p>Beluga bank infrastructure, BBI tokens can be used as gas to move transactions faster or to access quicker, instant merchant loans across cryptocurrency or fiat. BBI tokens receive a portion of the transaction fees, enforced via smart-contracts and BBI token-holders receive a portion of the transaction fees.</p>
  <footer><a href="https://belugapay.com" target="_blank">https://belugapay.com</a></footer>
</blockquote>
