<blockquote>
  <p>Banyan Network is a fusion of big data network based on blockchain technology called Data Fusion Value Chain Network (DVN). It is also the world’s first distributed ecosystem of data economies raised and built by team experts in the field of data analytics. Banyan Network covers data collection, cleansing, integration, and applications. Banyan Network's goal is to focus on blockchain enabled trusted data connection, third-party data integration and governance, data applications and open market development, building a positive interactive value-linked network of data benefits by establishing standards, providing channels, and issuing tokens.</p>
  <footer><a href="https://www.banyanbbt.org/" target="_blank">https://www.banyanbbt.org/</a></footer>
</blockquote>
