
<blockquote>
  <p>BBN (BBN): Banyan Network is a fusion of big data network based on blockchain technology called Data Fusion Value Chain Network (DVN).</p>
  <footer><a href="https://www.banyanbbt.org/" target="_blank">https://www.banyanbbt.org/</a></footer>
</blockquote>
  