<blockquote>
  <p>BBT is the internal token for The Block, a decentralized marketplace built on the Ethereum blockchain.</p>
  <footer><a href="https://www.bitboost.net/" target="_blank">https://www.bitboost.net/</a></footer>
</blockquote>
