<blockquote>
  <p>BitCAD &ndash; is a multipurpose smart platform based on the Ethereum blockchain. BitCAD users create reliable, trustworthy relationships between counterparties, thereby levelling out distrust, unreliability and unpredictability of business partners.</p>
  <footer><a href="http://bitcad.io/" target="_blank">http://bitcad.io/</a></footer>
</blockquote>
