<blockquote>
  <p>The BCDC token is an access and utility token which has value, allowing purchasers to access investment projects from around the world, gain return from recycling and offset their annual plastic footprint.</p>
  <footer><a href="https://www.bcdc.online/" target="_blank">https://www.bcdc.online/</a></footer>
</blockquote>
