<blockquote>
  <p>BCDT is the token of the EvidenZ ecosystem, an open source framework designed for data certification. BCDiploma is its first use case and aims to become the standard for diploma certification worldwide.</p>
  <footer><a href="https://www.bcdiploma.com/" target="_blank">https://www.bcdiploma.com/</a></footer>
</blockquote>
