<blockquote>
  <p>BannerCoin (BCOIN) is the official digital currency asset created by BannerView.com, the developers of the BannerOS website management platform. BannerCoin is an ERC20 token which means it runs on top of the Ethereum network. Holders of the token can trade it or redeem it with BannerView.com for service credits that can be used toward BannerOS and BannerGrips addons. BannerCoins are in limited supply. A total maximum supply of only 100,000,000 were created and no more can be added or mined.</p>
  <footer><a href="https://www.bannerview.com/bannercoin/" target="_blank">https://www.bannerview.com/bannercoin/</a></footer>
</blockquote>
