<blockquote>
  <p>The Royal Platform-Cryptocurrency is an amazing technology, but it's difficult to use especially for first time investors. Our team is developing a platform that will take the pain out of using your currency. We are building a suite of trading tools, an easy to use wallet, and a lightnight fast currency all beautifully displayed within our user friendly interface.</p>
  <footer><a href="http://bitcoinroyal.io/" target="_blank">http://bitcoinroyal.io/</a></footer>
</blockquote>
