<blockquote>
  <p>BitDegree brings blockchain technology to online education and courses.  BitDegree will enable rewarding participants with cryptocurrency, tracking achievements and provide tools for businesses to recruit talent.</p>
  <footer><a href="https://www.bitdegree.org/" target="_blank">https://www.bitdegree.org/</a></footer>
</blockquote>
