
<blockquote>
  <p>Bee (BEE): Beenest is a home sharing platform for hosts to list their homes and for guests to find accommodations.</p>
  <footer><a href="https://www.beetoken.com/" target="_blank">https://www.beetoken.com/</a></footer>
</blockquote>
  