<blockquote>
  <p>Beenest is a home-sharing platform powered by the Bee Token (BEE) that aims to make the bridge between guests and hosts without any commission. The platform is build on top of set Bee Protocols (Ethereum protocols) that can support other future sharing economy dApps. Moreover, the platform will feature a secure payment system with two authentication P2P entities, a decentralized arbitration system, and a reputation system based on the Ethereum blockchain.</p>
  <p>The Bee token (BEE) will be used as the access token to the platform services and also to reward the network users.</p>
  <footer><a href="https://www.beetoken.com/" target="_blank">https://www.beetoken.com/</a></footer>
</blockquote>
