<p>
  <img src="https://static1.squarespace.com/static/5966d525b11be19ba608f5a9/t/5966d6a603596ea603e1d95c/1503089549421/?format=1500w" style="width: 200px;" />
</p>

<blockquote>
  <p>BenjaCoin is the official token of the Benja merchandise ad network, which facilitates advertising transactions between top-tier partners like the National Football League, Barstool Sports, Patagonia, and more.</p>
  <footer><a href="https://www.benjacoin.com/" target="_blank">https://www.benjacoin.com/</a></footer>
</blockquote>
