
<blockquote>
  <p>Berry (BERRY): Rentberry offers users a fully operational long-term rental platform. It leverages blockchain technology to ensure seamless rental experience.</p>
  <footer><a href="https://rentberry.com/" target="_blank">https://rentberry.com/</a></footer>
</blockquote>
  