<blockquote>
  <p>Rentberry facilitates the long-term rental process for both tenants and homeowners.</p>
  <footer><a href="https://rentberry.com" target="_blank">https://rentberry.com</a></footer>
</blockquote>
