<blockquote>
  <p>DAO.casino is a protocol defining interactions between untrusted participants in the context of online gambling industry. This includes two levels: game level - player&rsquo;s trust in a particular casino operator in the context of the game (provably fair gambling) and a business model level: i.e. game developer doesn&rsquo;t have to trust casino operator to get rewarded. In short: all participants that are needed for the system to function don&rsquo;t have to trust each other in order to cooperate.</p>
  <footer><a href="https://dao.casino/" target="_blank">https://dao.casino/</a></footer>
</blockquote>
