<blockquote>
  <p>BETR is the betting crypto-currency that will establish truly decentralised sports betting on the internet. Providing a Global Betting Liquidity Pool, BETR is being built by gaming industry veterans, for the industry. BETR will become the exclusive crypto-currency of some of the world's leading gaming operators.</p>
  <footer><a href="https://www.betterbetting.org/" target="_blank">https://www.betterbetting.org/</a></footer>
</blockquote>
