<blockquote>
  <p>Bezop is a decentralized peer to peer e-commerce order management and processing system powered by smart contracts, an autonomous buyer-seller protection service and a simple vat collection system all built on a decentralized blockchain network. Bezop aims to provide an open source and complete solution for running a successful ecommerce business online. Merchants can participate by selling products and services on their self-hosted e-commerce stores (the Bezop DOM) and broadcast orders to the network. Bezop implements a novel Proof of order which lowers the rate of fraud for both a merchant and client using elegantly designed contracts powered by the ethereum blockchain and secured cryptographically. Merchants can collect VAT and accurately manage orders.</p>
  <footer><a href="https://bezop.io/" target="_blank">https://bezop.io/</a></footer>
</blockquote>
