<blockquote>
  <p>Biograffi is an app where people can make their biography and earn Biograffi(BGF) Token. People can send and receive BGF tokens for their posts on biograffi app. Android app is releasing on 10th April 2018.</p>
  <footer><a href="https://www.biograffi.com" target="_blank">https://www.biograffi.com</a></footer>
</blockquote>
