<blockquote>
  <p>GOLDGATE Platform is a new revolution in the digital technology where users and businesses gather to seek great income stability in a fluctuating environment. It is the new generation of gold-backed cryptoassets.</p>
  <footer><a href="https://goldgate.io/" target="_blank">https://goldgate.io/</a></footer>
</blockquote>
