<blockquote>
  <p>Black Garlic (BGL) is the token base on smart contract ERC20 use Blockchain technology to solve problem in agriculture sector. It allows farmers to sell better prices throughout the supply chain, while giving consumers trace exactly where produce they buy comes from.</p>
  <footer><a href="https://blackgarlic.io/" target="_blank">https://blackgarlic.io/</a></footer>
</blockquote>
