<blockquote>
  <p>BioNT token is an ERC20 token. Advanced Pharma Intelligence GmbH is developing a drug pricing and forcasting software on blockchain. We have a working beta product and first clients already on board.</p>
  <footer><a href="https://www.biotechintel.com/" target="_blank">https://www.biotechintel.com/</a></footer>
</blockquote>
