<blockquote>
  <p>The First Bitcoin Minable ERC20 Token on the Ethereum Blockchain</p>
  <footer><a href="http://bitcoinereum.com/" target="_blank">http://bitcoinereum.com/</a></footer>
</blockquote>
