<blockquote>
  <p>BitIndia is the most convenient and secure way to buy, sell and secure cryptocurrencies in India. Due to the high banking rates prevailing in the country, people are moving towards digital currencies such as bitcoin, ethereum and ripple. BitIndia would add huge diversity to the existing banking system prevailing in the country.</p>
  <footer><a href="https://bitindia.co/" target="_blank">https://bitindia.co/</a></footer>
</blockquote>
