<p>
  <img src="https://bitsoko.co.ke/home/images/bitsoko.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>OPEN-SOURCE MERCHANT SERVICES</p>
  <footer><a href="https://bitsoko.co.ke/home/index.html" target="_blank">https://bitsoko.co.ke/home/index.html</a></footer>
</blockquote>
