<blockquote>
  <p>Community currency for the Bizavest Data Analytics Platform.</p>
  <footer><a href="https://www.bizavest.info/" target="_blank">https://www.bizavest.info/</a></footer>
</blockquote>
