<blockquote>
  <p>BetKing opened in April 2013 and by the end of 2014 quickly became the most popular crowd funded Bitcoin casino.</p>
  <footer><a href="https://betking.io" target="_blank">https://betking.io</a></footer>
</blockquote>
