<blockquote>
  <p>BANKEX is developing a tokenization technology that uses the blockchain technology to offer advanced Proof-of-Asset protocol for the financial markets. By using Smart Contracts, BANKEX ensures that the asset is: validated, turned it into a token, and placed on the market for trading.</p>
  <p>BKX is an Ethereum-based ERC20 utility token that is used in the Proof-of-Asset Protocol ecosystem for payment purposes in order to create Smart Assets of different classes. BKX token is also used as a remuneration to the Asset Community for product mining.</p>
  <footer><a href="https://bankex.com/" target="_blank">https://bankex.com/</a></footer>
</blockquote>
