
<blockquote>
  <p>BANKEX (BKX): The BANKEX Proof-of-Asset (PoA) Protocol is a new standard used to create smart assets and smart contracts for decentralized capital markets</p>
  <footer><a href="https://bankex.com/" target="_blank">https://bankex.com/</a></footer>
</blockquote>
  