<blockquote>
  <p>Bitcoin Black is a tradeable ERC20 token and it can be used as currency on the Ethereum blockchain.</p>
  <footer><a href="https://btcblack.org" target="_blank">https://btcblack.org</a></footer>
</blockquote>
