<blockquote>
  <p>Bilibit (BLB) is a ERC20 Token and Philippines first decentralized community-driven crypto ecosystem intended to help people in ecommerce using fast, easy and safe BLB Token.</p>
  <footer><a href="https://www.bilibit.io" target="_blank">https://www.bilibit.io</a></footer>
</blockquote>
