<blockquote>
  <p>It’s a cryptocurrency that was made for people like me and you! A coin that represents the California lifestyle, where people boss up in the sunshine, cruise in drop tops and party like a rock star. Pablo in itself is a LIFESTYLE, a cryptocurrency for the hustlers!</p>
  <footer><a href="https://lordchain.org/" target="_blank">https://lordchain.org/</a></footer>
</blockquote>
