<blockquote>
  <p>Bloom is an end-to-end protocol for identity attestation, risk assessment and credit scoring, entirely on the blockchain.</p>
  <footer><a href="https://hellobloom.io/" target="_blank">https://hellobloom.io</a></footer>
</blockquote>
