<blockquote>
  <p>Bloom is an end-to-end protocol for identity attestation, risk assessment and credit scoring, entirely on the blockchain. Bloom allows both traditional and digital currency lenders to serve billions of people who currently cannot obtain a bank account or credit score.</p>
  <footer><a href="https://hellobloom.io/" target="_blank">https://hellobloom.io/</a></footer>
</blockquote>
