<blockquote>
  <p>Ethereum Blue is the only secured ERC20 token built from the ground-up to facilitate payments and transfers without sacrificing your security.</p>
  <footer><a href="http://www.etherblue.org" target="_blank">http://www.etherblue.org</a></footer>
</blockquote>
