
<blockquote>
  <p>Bluzelle (BLZ): Aims to be the next-gen database protocol for the decentralized internet.</p>
  <footer><a href="https://bluzelle.com/" target="_blank">https://bluzelle.com/</a></footer>
</blockquote>
  