<blockquote>
  <p>Bluzelle combines the sharing economy with the token economy - renting individuals' computer storage space to earn tokens while dApp developers use tokens to have their dApp's data stored and managed.</p>
  <footer><a href="https://bluzelle.com/" target="_blank">https://bluzelle.com/</a></footer>
</blockquote>
