<blockquote>
  <p>BMB token is a virtual digital currency mining project established on the basis of Decentralization of Bitcoin Agreement, characterized with fluency, decentralization and transparency. It is anticipated that entity mining machine assets and stable daily mining income and other derivatives will stably support the price of MCC, the token.</p>
  <footer><a href="http://www.bmbchain.com/index_en.html" target="_blank">http://www.bmbchain.com/index_en.html</a></footer>
</blockquote>
