<blockquote>
  <p>THE BRIDGE BETWEEN THE CRYPTO UNIVERSE AND THE TRADITIONAL INVESTMENT MARKET</p>
  <footer><a href="https://blackmooncrypto.com/" target="_blank">https://blackmooncrypto.com/</a></footer>
</blockquote>
