<p>
  <img src="https://pbs.twimg.com/profile_images/892422937671761921/BhBrub7V_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>THE BRIDGE BETWEEN THE CRYPTO UNIVERSE AND THE TRADITIONAL INVESTMENT MARKET</p>
  <footer><a href="https://blackmooncrypto.com/" target="_blank">https://blackmooncrypto.com/</a></footer>
</blockquote>
