<blockquote>
  <p>These tokens are part of the Bitcoin Macroeconomics Drinking Game.</p>
  <footer><a href="http://bitcoinmacroeconomics.com/2017/02/02/btcmacroecon-drinking-game-start/" target="_blank">http://bitcoinmacroeconomics.com/2017/02/02/btcmacroecon-drinking-game-start/</a></footer>
</blockquote>
