<blockquote>
  <p>BraveNewCoin (BNC) is a Data and Research company focused on the Blockchain and CryptoAsset industry. BNC has built a superior Market-Data Engine that  collects, process &amp; index live data from every exchange in real-time to produce Market &amp; Blockchain API&rsquo;s, Analysis, News, Custom Indices and Oracles for traders, developers and enterprise alike.</p>
  <footer><a href="https://bravenewcoin.com/" target="_blank">https://bravenewcoin.com/</a></footer>
</blockquote>
