<blockquote>
  <p>Bankera is developing a bank to be the bridge between the traditional financial world and the blockchain technology. Bankera is working towards its goal of becoming a blockchain-based bank.</p>
  <footer><a href="https://bankera.com/" target="_blank">https://bankera.com/</a></footer>
</blockquote>
