<blockquote>
  <p>Bananas. We love them. We eat them. We comicly fall over them. We use them insted of guns and telephones. We put them in tailpipes of drivers, who deserve it. We use them for condom practices. We all agree &ndash; they are pretty great!</p>
  <footer><a href="http://buybananas.info" target="_blank">http://buybananas.info</a></footer>
</blockquote>
