<blockquote>
  <p>A decentralized bounty hunting platform enabling anyone to manage bounty programs, and bounty hunters to receive payment for completing bounty tasks.</p>
  <footer><a href="https://bounty0x.io/" target="_blank">https://bounty0x.io/</a></footer>
</blockquote>
