<blockquote>
  <p>Powered by the Ethereum platform, Bold (symbol: BOLD) is an ERC20 Token built solely and purposely with a vision to become a widely-accepted medium of exchange, as well as a safe and straight-forward store of value over time. Simple. Uncomplicated.</p>
  <footer><a href="https://www.boldtoken.io" target="_blank">https://www.boldtoken.io</a></footer>
</blockquote>
