<blockquote>
  <p>BoutsPro is a global "Karate" sports organization. "BoutsPro world" is the global umbrella structure that empowers over 190 million karate community and develops very robust eco-system for all forms of karate – traditional, sports & contact karate.</p>
  <footer><a href="https://www.bouts.pro" target="_blank">https://www.bouts.pro</a></footer>
</blockquote>
