<blockquote>
  <p>Blockport are building a user-friendly crypto exchange that combines social trading with a hybrid-decentralized architecture to help people safely trade crypto assets. It allows users to trade on multiple public exchanges while keeping their own private keys. BPT tokens are ERC-20 tokens based on Ethereum. They allow users to copy or follow other members' trading activities.</p>
  <footer><a href="https://blockport.io/" target="_blank">https://blockport.io/</a></footer>
</blockquote>
