<blockquote>
  <p>Blockpass aims to provide a trustless, decentralized, anti-scalping ticket exchange and marketplace giving ticket issuers complete and utter control over the distribution, pricing, and validity of their tickets.</p>
  <footer><a href="https://blockpasscompany.github.io/blockpass-website/" target="_blank">https://blockpasscompany.github.io/blockpass-website/</a></footer>
</blockquote>
