<blockquote>
  <p>Bitquence&rsquo;s Mission is to make the daunting cryptocurrency market accessible to everybody, accelerating adoption of blockchain technology and democratizing ownership of cryptocurrencies.</p>
  <footer><a href="https://www.bitquence.com/" target="_blank">https://www.bitquence.com/</a></footer>
</blockquote>
