<blockquote>
  <p>BITPARK (BTA) are utilized when giving compensation during the insurance screening process, and users can pool together their money with BitCoin or with unique tokens — known for their stable exchange rate.</p>
  <footer><a href="http://bitpark.bid" target="_blank">http://bitpark.bid</a></footer>
</blockquote>
