<blockquote>
  <p>Government Currencies on the Ethereum Blockchain</p>
  <p>DC assets are backed by government currency deposits providing users with a stable and secure method for storing capital on the Ethereum blockchain</p>
  <p>DC provides real-time proof of reserves that will always match what is publicly verifiable on the Ethereum blockchain</p>
  <p>DC maintains full-reserves ensuring that our digital assets can always be exchanged for the underlying currency that they represent</p>
  <p>DC is the most affordable way to bring value onto the Ethereum network</p>
  <footer><a href="https://www.decentralizedcapital.com" target="_blank">https://www.decentralizedcapital.com</a></footer>
</blockquote>
