<blockquote>
  <p>Bitcoin2X provides world class services, faster transactions speed than Bitcoin and Bitcoin Cash. Cheaper price and transactions allow Bitcoin2x to be easily adopted by merchants across the globe.</p>
  <footer><a href="http://bitcoin-2x.org/" target="_blank">http://bitcoin-2x.org/</a></footer>
</blockquote>
