<blockquote>
  <p>EthereumBitcoin (BTCE) is a Tokenized Version of Bitcoin on the Ethereum Blockchain and a Global Cryptocurrency (digital money) of the Internet.</p>
  <footer><a href="https://btcetoken.com" target="_blank">https://btcetoken.com</a></footer>
</blockquote>
