<blockquote>
  <p>BTC Lite is decentralized cryptocurrency that runs on Ethereum blockchain. It has same coin supply as Bitcoin but is much faster and lighter.</p>
  <footer><a href="http://btclite.org/" target="_blank">http://btclite.org/</a></footer>
</blockquote>
