<blockquote>
  <p>bitcoinpure is an Ethereum-based ERC-20 Token that focuses on being a faster and cheaper currency than Bitcoin, Litecoin and other cryptocurrencies, It is the first Ethereum token intended for use as a currency and acceptance by merchants.</p>
  <footer><a href="http://btcpure.xyz/" target="_blank">http://btcpure.xyz/</a></footer>
</blockquote>
