<blockquote>
  <p>Bitcoin Silver runs on the speed of the Ethereum blockchain, an enormous global infrastructure that can move value around the world in a matter of minutes.</p>
  <footer><a href="https://www.bitcoinsilver.io" target="_blank">https://www.bitcoinsilver.io</a></footer>
</blockquote>
