<blockquote>
  <p>Beth is the first ever closed-end fund focused on applying the latest advances in deep learning research combined with financial expertise. Beth will provide an opportunity for anyone interested in being part of a new generation fund that will reduce the risks and complications in favor of using Deep Learning techniques. We are developing complex trading models and strategies with the possibility of learning, developing and improving over time. Beth is a level above the conventional solutions and will allow obtaining great returns of the investment from the first days thanks to the technology that is behind her.</p>
  <footer><a href="https://beth.jp/" target="_blank">https://beth.jp/</a></footer>
</blockquote>
