<blockquote>
  <p>Bytether (pronounce as byte-ther) is a 1:1 cross-fork of the Bitcoin blockchain onto the Ethereum network at block 478,558 (Same as Bitcoin Cash). Any Bitcoin holder who has 1 BTC at block 478,558 can claim for 1 BTH(Bytether). Bytether&rsquo;s sole focus is building a greater payment ecosystem. As an ERC20 token, Bytether takes all advantages of Ethereum blockchain technology with faster transaction time and cheaper transaction fee while maintaining currency characteristics of Bitcoin.</p>
  <footer><a href="https://www.bytether.com/" target="_blank">https://www.bytether.com/</a></footer>
</blockquote>
