<blockquote>
  <p>BitcoinToken (BTK) is a digital currency. It uses peer-to-peer technology to operate with no central authority or banks; managing transactions are carried out collectively by the network. BitcoinToken is ERC20-compliant so that it and can be easily tradable on decentralized exchanges. Bitcointoken is open source, community driven, de-centralized, no large pre-mine. Developers are all volunteers. The entire supply of the token will be airdropped over the first release period. Therefore the community will own the token and dictate its future and direction.</p>
  <footer><a href="https://btk.community" target="_blank">https://btk.community</a></footer>
</blockquote>
