<blockquote>
  <p>Bitlong BTL is a project of the digital era with the evolutionary blockchain technology and a far-reaching mission, changing your life for the better. Bitlong BTL is a Future Digital Cash,a Payment Way You Can Spend Anytime Anywhere. Bitlong BTL is a project will develop for ten years. We will update twitter every day.It will be listed on more and more international Exchanges.</p>
  <footer><a href="http://www.btltoken.com/" target="_blank">http://www.btltoken.com/</a></footer>
</blockquote>
