<p>
  <img src="https://i1.wp.com/betnetwork.online/wp-content/uploads/2017/07/Picture4-1-e1502512954369.png?fit=85%2C71&ssl=1" style="width: 200px;" />
</p>

<blockquote>
  <p>BET Network aims to solve all problems around gambling world with implementation of DAPP (Distributed Applications) over Ethereum block chain network. Here are main features that platform offers and solution to the problems exist today.</p>
  <footer><a href="https://betnetwork.online/" target="_blank">https://betnetwork.online/</a></footer>
</blockquote>
