<blockquote>
  <p>Budbo is a revolutionary suite of products already transforming the cannabis industry. In November 2016 Budbo designed a mobile application from the perfect perspective: the medical cannabis patient. With a "Tinder-like" functionality, users and patients discovered the ease of being able to quickly swipe through and discover thousands of locally available cannabis products. Budbo lets you find new strains and marijuana concentrates from nearby local dispensaries. Powered by Ethereum, we're building Budbo v2.0 that will revolutionize the Cannabis Industry by making the medical testing of cannabis potency verified and immutable as the product is moved from lab to dispensary, and causing the shift of historically illicit marijuana industry to a legal economy.</p>
  <footer><a href="https://budbo.io/" target="_blank">https://budbo.io/</a></footer>
</blockquote>
