<blockquote>
  <p>BullishRunCrypto is an Ethereum-based token and it is more than about cryptocurrency. It's the currency that guarantees price stability by direct control of the supply using smart contracts. BullishRunCrypto is committed to develop fully qualified and professional global blockchain community by cooperating with the other blockchain communities, third party services, developers and companies.</p>
  <footer><a href="http://www.bullishruncrypto.co/" target="_blank">http://www.bullishruncrypto.co/</a></footer>
</blockquote>
