<blockquote>
  <p>CRYPTO20 is an autonomous token-as-a-fund allowing you to invest in cryptocurrencies like bitcoin and ethereum in a diversified index fund.</p>
  <footer><a href="https://crypto20.com/" target="_blank">https://crypto20.com/</a></footer>
</blockquote>
