<blockquote>
  <p>Change is the first mobile app that gives you full control over your finances.</p>
  <footer><a href="https://change-bank.com" target="_blank">https://change-bank.com</a></footer>
</blockquote>
