<blockquote>
  <p>CanYa is a peer to peer marketplace of skilled services - where users are instantly connected to service providers.</p>
  <footer><a href="https://canya.io/" target="_blank">https://canya.io/</a></footer>
</blockquote>
