<blockquote>
  <p>CANADACOIN IS A COMMUNITY CURRENCY FOR CANADA. CANADACOIN IS BUILDING A NEW ECONOMIC COMMUNITY WITH A ALL-IN-ONE APP CENTRAL TO THE GROWTH OF THE COIN. PERSONALIZED LOCATION-BASED OFFERS, SMART CONTRACTS, REFERRAL PROGRAMS AND MORE.</p>
  <footer><a href="http://www.canadacoin.co/" target="_blank">http://www.canadacoin.co/</a></footer>
</blockquote>
