<blockquote>
  <p>Capital Token is an investment token with a mechanism for raising prices and values. In essence, it is an investment fund based on the principles of openness and transparency.</p>
  <footer><a href="http://capitaltoken.io/" target="_blank">http://capitaltoken.io/</a></footer>
</blockquote>
