<blockquote>
  <p>Cash Poker Pro is a modern poker room with a network structure and a mechanism for fast and confidential money transfers based on the blockchain technology.</p>
  <footer><a href="https://cashpokerpro.io" target="_blank">https://cashpokerpro.io</a></footer>
</blockquote>
