<blockquote>
  <p>BitClave is the next generation of search data privacy. You should have control over who can use it- and how. Our decentralized search engine helps you truly find what you're looking for and get compensated for your data, making third-party advertising networks unnecessary. Powered by blockchain, you can rest assured your data is protected.</p>
  <footer><a href="https://www.bitclave.com/en/" target="_blank">https://www.bitclave.com/en/</a></footer>
</blockquote>
