<p class="alert alert-warning">
New contract replacement
<p>Annoucement: <a href="https://medium.com/@BitClave/adding-cat-tokens-to-your-wallet-a1771fbe513d" target="_blank"> Read here</a> </p>
<p>New contract: <a href="https://etherscan.io/token/0x1234567461d3f8db7496581774bd869c83d51c93">0x1234567461d3f8Db7496581774Bd869C83D51c93</a></p>
</p>
<blockquote>
  <p>BitClave is the next generation of search data privacy. You should have control over who can use it- and how. Our decentralized search engine helps you truly find what you're looking for and get compensated for your data, making third-party advertising networks unnecessary. Powered by blockchain, you can rest assured your data is protected.</p>
  <footer><a href="https://www.bitclave.com/en/" target="_blank">https://www.bitclave.com/en/</a></footer>
</blockquote>
