<blockquote>
  <p>The token can be used to purchase advertising inventory on CashBag by redeeming it through the advertiser interface. The token is transferred through a smart contract in return for advertising services and the services are delivered through the platform.</p>
  <p>The token sale will start on the 12th of March 2018 and will run for four weeks. Week 1 will have a 20% bonus, week 2 15%, Week 3 10% and week 4 0% bonus tokens.</p>
  <p>Users earn tokens by engaging with advertisers content & purchasing from our advertisers online. Users can trade, swap & redeem tokens for products & services in our marketplace.</p>
  <footer><a href="https://tokensale.cashbag.co/" target="_blank">https://tokensale.cashbag.co/</a></footer>
</blockquote>
