
<blockquote>
  <p>CommerceBlock (CBT): Infrastructure company that provides a suite of tools for traditional asset markets to leverage the highly flexible and powerful qualities of blockchain based digital asset protocols</p>
  <footer><a href="https://www.commerceblock.com/" target="_blank">https://www.commerceblock.com/</a></footer>
</blockquote>
  