<blockquote>
  <p>We are building highly scalable platform for lending business, including data collecting and processing for better understanding our customers current state, demands and needs, predicting customer behavior even before customer come to decision to have a loan. Along with developing of platform we will build EU wide lending company with presence in each of 28 EU states. If the ICO will be successful we plan to cover all EU in 4 years. &zwj; To reward our investors we will hold 2 rewards campaigns, distributing crypto between owners at the end of financial year and buying back and destroying tokens until all tokens will be destroyed.</p>
  <footer><a href="http://www.crederoom.com/" target="_blank">http://www.crederoom.com/</a></footer>
</blockquote>
