<blockquote>
  <p>CoinDash is an operating system for crypto assets. Our goal is to lower the barriers of entry to crypto investment markets by providing tools and services that make interacting, handling and trading crypto assets accessible to everyone. CoinDash will offer its products through a unified platform designed with the mainstream user in mind.</p>
  <footer><a href="https://coindash.io/" target="_blank">https://coindash.io/</a></footer>
</blockquote>
