<blockquote>
  <p>CDX - Commodity Ad Network. A disruptive ad network of creative minds who speak out against the powers that be.</p>
  <footer><a href="https://commodityadnetwork.com/" target="_blank">https://commodityadnetwork.com/</a></footer>
</blockquote>
