<blockquote>
  <p>CDX stands for commodity adnetwork. The purpose of the project is to pair up content creators with advertisers.</p>
  <footer><a href="https://commodityadnetwork.com/" target="_blank">https://commodityadnetwork.com/</a></footer>
</blockquote>
