<blockquote>
  <p>CehhCoin is the first PPoW token. This means it is a mineable token with a new clever system. The coin is fully decentralized and will work as a founding stone for the PPoW shift.</p>
  <footer><a href="https://cehh.cash" target="_blank">https://cehh.cash</a></footer>
</blockquote>
