<p>
  <img src="https://www.centra.tech/wp-content/uploads/2017/07/CentraMain.png" style="width: 200px;" />
</p>

<blockquote>
  <p>The Centra Card has been designed to connect the bridge between commerce and cryptocurrency.</p>
  <footer><a href="https://www.centra.tech" target="_blank">https://www.centra.tech</a></footer>
</blockquote>
