<blockquote>
  <p>Cerium is an Ethereum based Token. Our token is decentralized, secure, user friendly and for everybody, with active developers forever. ​ Cerium will be used as a payment option and will be traded on big markets.</p>
  <footer><a href="https://www.ceriumtoken.com/" target="_blank">https://www.ceriumtoken.com/</a></footer>
</blockquote>
