<p>
  <img src="https://firstblood.io/resources/img/main/logo_shield.png" style="width: 200px;" />
</p>

<blockquote>
  <p></p>
  <footer><a href="http://www.cewrd.com/" target="_blank">http://www.cewrd.com/</a></footer>
</blockquote>
