<blockquote>
  <p>Cofound.it is a distributed global platform that connects exceptional startups, experts and investors worldwide. It will first be built by the blockchain community for the blockchain community &mdash; and then for the whole world.</p>
  <footer><a href="https://cofound.it/" target="_blank">https://cofound.it/</a></footer>
</blockquote>
