<blockquote>
  <p>Crowd Genie is a Singapore based licensed and fully operational peer-to-peer digital lending platform. Its vision is to create an Asia-wide tokenized platform that makes lending across borders possible, secured by blockchain, and asset exchange for liquidity.</p>
  <footer><a href="https://www.genieico.net/" target="_blank">https://www.genieico.net/</a></footer>
</blockquote>
