<blockquote>
  <p>A complete platform catering to electric vehicle drivers, Charg Coin (CHG) allows anyone in the world to set up their own electric vehicle charging station for purposes of leasing electricity on a per minute basis.</p>
  <footer><a href="https://charg.io/" target="_blank">https://charg.io/</a></footer>
</blockquote>
