<blockquote>
  <p>Charg Coin (CHG) - complete blockchain-based platform for EV Charging based on time of charge.</p>
  <footer><a href="https://www.charg.io/" target="_blank">https://www.charg.io/</a></footer>
</blockquote>
