<blockquote>
  <p>CHP token was created to play poker online. Coinpoker is the first platform where it is already accepted. The long term vision of CHP token is to become a gambling token to be used for gambling purposes.</p>
  <footer><a href="https://coinpoker.com/" target="_blank">https://coinpoker.com/</a></footer>
</blockquote>
