
<blockquote>
  <p>Poker Chips (CHP): CoinPoker is a poker room built on blockchain technology that aims to offer fantastic value for both poker players and cryptocurrency community members alike.</p>
  <footer><a href="https://coinpoker.com/" target="_blank">https://coinpoker.com/</a></footer>
</blockquote>
  