<blockquote>
  <p>SwissBorg is the first wealth management platform for cryptos based on the blockchain, made in Switzerland by a team of financial experts. CHSB token holders become community members and are rewarded for participating in referendums to decide the future of SwissBorg.</p>
  <footer><a href="https://swissborg.com/" target="_blank">https://swissborg.com/</a></footer>
</blockquote>
