<blockquote>
  <p>Ciphs the Cryptocurrency based on ERC20/223 standard. Ciphs were basecoded with unique functions for future DApps integration, meritocracy minter to vote for additional 1 million unit to circulations, meritocracy governance as additional security layer in case of account vulnerability, with 86 Quadrillion maximum supply enough to serve global demand, burnable asset with savings values and absolutely a community driven currency with open source code on Github.</p>
  <footer><a href="http://ciphs.org" target="_blank">http://ciphs.org</a></footer>
</blockquote>
