<blockquote>
  <p>Cryptonetix is a next generation analytics platform for the rapidly growing cryptocurrency markets.</p>
  <footer><a href="http://www.cryptonetix.com/#/" target="_blank">http://www.cryptonetix.com/#/</a></footer>
</blockquote>
