
<blockquote>
  <p>ConnectJob (CJT): ConnectJob, Decentralized App to offer users to pay services with crypto.</p>
  <footer><a href="https://ico.connectjob.io/" target="_blank">https://ico.connectjob.io/</a></footer>
</blockquote>
  