<blockquote>
  <p>A blockchain platform for effective freelancing and secure peer-to-peer exchanges.</p>
  <footer><a href="https://www.coinlancer.io" target="_blank">https://www.coinlancer.io</a></footer>
</blockquote>
