<p>
  <img src="https://daks2k3a4ib2z.cloudfront.net/5661f2003837fdb102819aa7/596e100d68dd86705eb704d7_CLOUDWITHME_LOGO.svg" style="width: 200px;" />
</p>

<blockquote>
  <p>Basic Amazon Web Services for $1 USD per month!  Offer available for Cloud Token payments only.</p>
  <footer><a href="https://cloudwith.me/" target="_blank">https://cloudwith.me/</a></footer>
</blockquote>
