<blockquote>
  <p>CryptoLiveLeak is a cryptocurrency news and media platform - the CLL CryptoLiveLeak ERC20 Token is being used for promotion of our news and media. The CLL will also give holders exclusive benefits for all future projects released from the Founder - Ken Garofalo.</p>
  <footer><a href="https://www.cryptoliveleak.com/" target="_blank">https://www.cryptoliveleak.com/</a></footer>
</blockquote>
