
<blockquote>
  <p>Colu Local Network (CLN): A Decentralized Payment Network Powered By Communities</p>
  <footer><a href="https://cln.network/" target="_blank">https://cln.network/</a></footer>
</blockquote>
  