<blockquote>
  <p>The CLN is a payment network that aims to utilize the power of cryptocurrencies to create an open, better, more transparent infrastructure for processing payments, that can offer a competitive alternative to credit card companies and closed-network payment providers.</p>
  <footer><a href="https://cln.network/" target="_blank">https://cln.network/</a></footer>
</blockquote>
