
<blockquote>
  <p>ClearCoin (CLR): ClearCoin is a technology company that powers the real-time buying and selling of media on decentralized applications and the broader digital environment.</p>
  <footer><a href="https://clearcoin.co/" target="_blank">https://clearcoin.co/</a></footer>
</blockquote>
  