<blockquote>
  <p>ClusterToken is an ERC20 compliant Smart contract token that will bring rewards to token holders by using what&rsquo;s called &ldquo;Self Mining Smart Contract&rdquo; technology. This means that no mining equipment or additional equipment is involved to receive mining profits from the ClusterToken Smart contract.</p>
  <p>The ClusterToken reward structure is designed to apply what&rsquo;s known as &ldquo;Proportional Reward&rdquo; system. Most of the tokens released on the blockchain have no further use once purchased in terms of extra rewards. ClusterToken will reward all token holders on a periodic base.</p>
  <footer><a href="https://www.clustertoken.io/" target="_blank">https://www.clustertoken.io/</a></footer>
</blockquote>
