<p>
  <img src="https://pbs.twimg.com/profile_images/885210585046163457/chxZGGui_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>An intergalactic Ethereum based cryptocurrency to be used in those things money can´t buy, such as a sweet dream, or a walk in the park. Coinless will always have use as long as there is air, or water. Our funds will be used precisely into that. There has been a long time since the most simple things lost their value, so why not quantifying it, we just put a price on things that don’t require money.</p>
  <footer><a href="http://coinless.io" target="_blank">http://coinless.io</a></footer>
</blockquote>
