<blockquote>
  <p>CoinLoan is a licensed fiat lending platform that secures and guarantees loans with cryptoassets so you can hold onto your crypto instead of selling them when you need cash.</p>
  <footer><a href="https://coinloan.io/" target="_blank">https://coinloan.io/</a></footer>
</blockquote>
