<p>
  <img src="https://cindicator.com/assets/logo@3Icmp.svg" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Hybrid Intelligence for Effective Asset Management</p>
  <footer><a href="https://cindicator.com/" target="_blank">https://cindicator.com/</a></footer>
</blockquote>
