<blockquote>
  <p>Your personal Cryptocurrency Market measurement tool for spotting time-limited market opportunities.</p>
  <footer><a href="https://cindicator.com/" target="_blank">https://cindicator.com/</a></footer>
</blockquote>
