<blockquote>
  <p>Cryptonex is a global, decentralized cryptocurrency of new generation. It is created on its own blockchain platform. The main goal is to give the opportunity to exchange any world's currencies for any cryptocurrencies and tokens, buy goods and services using mobile phones and payment cards. Instantly, with minimum commission.</p>
  <footer><a href="https://cryptonex.org/" target="_blank">https://cryptonex.org/</a></footer>
</blockquote>
