<blockquote>
  <p>CLIMATECOIN, is a new cryptocurrency created for Climate change action. Its Organization has announced the launch of its &ldquo;CO2&rdquo; Token Sale, that will allow any citizen of the world to participate in the fight against Climate Change.</p>
  <footer><a href="https://climatecoin.io/" target="_blank">https://climatecoin.io/</a></footer>
</blockquote>
