<p>
  <img src="https://cobinhood.com/assets/images/logo.svg" style="width: 200px;" />
</p>

<blockquote>
  <p>CRYPTOCURRENCY EXCHANGE</p>
  <footer><a href="https://cobinhood.com/" target="_blank">https://cobinhood.com/</a></footer>
</blockquote>
