<blockquote>
  <p>BiCode is a mobile application that allows to transfer currency from a BiCode Wallet through a QR Code without any confirmation by Blockchain. BiCode is free for basic function but Plugin and Modules may be payed by BiCode Currency.</p>
  <footer><a href="https://bitcointalk.org/index.php?topic=2296578.0" target="_blank">https://bitcointalk.org/index.php?topic=2296578.0</a></footer>
</blockquote>
