<blockquote>
  <p>CodeCoin (CODE) is an ERC20 token served as one of the default payment methods for CodingMarket. Users can get extra discounts and benefits using Code Coin.</p>
  <footer><a href="https://www.codecoinico.com/" target="_blank">https://www.codecoinico.com/</a></footer>
</blockquote>
