
<blockquote>
  <p>CoinFi (COFI): CoinFi offers crowdsourced and professionally curated research, analysis, trading signals, trading algorithms, and market-moving news to give cryptocurrency traders the real-time market intelligence needed to gain an edge.</p>
  <footer><a href="http://www.coinfi.com/" target="_blank">http://www.coinfi.com/</a></footer>
</blockquote>
  