<blockquote>
  <p>CoinFi is a platform that offers crowdsourced and professionally curated research, analysis, trading signals, trading algorithms, and market-moving news to give crypto traders real-time market intelligence.  The CoinFi token (COFI) is an ERC-20 token that will be used for access to the platform’s advanced trading signals/algos and premium research, which will require staking tokens to reward token owners and reduce volatility. The token will also be used to leverage the wisdom of the crowd. Community members who help curate news, produce research & analysis, and share trading signals will be rewarded within CoinFi's unique token-for-information ecosystem.</p>
  <footer><a href="https://www.coinfi.com/" target="_blank">https://www.coinfi.com/</a></footer>
</blockquote>
