<blockquote>
  <p>COSS stands for Crypto-One-Stop-Solution and represents a platform, which encompasses all features of a digital economical system based on cryptocurrency. The COSS system consists of a payment gateway / POS, an exchange, a merchant list, market cap rankings, a marketplace, an e-wallet, various coin facilities and a mobile platform. The COSS platform unifies all transactional aspects that are usually managed by means of FIAT money, and offers multiple cryptocurrency-related services in one place.</p>
  <footer><a href="https://coss.io/" target="_blank">https://coss.io/</a></footer>
</blockquote>
