<blockquote>
  <p>Coin Tour's mission is to connect the tourism industry to the blockchain in order to simplify travel, reduce their cost and make them safer. They plan to connect the tourism industry to the blockchain in order to simplify travel, reduce costs and improve transaction safety.</p>
  <footer><a href="https://www.cointour.net/" target="_blank">https://www.cointour.net/</a></footer>
</blockquote>
