
<blockquote>
  <p>Covesting (COV): Discover smarter investing by automatically copying the world's leading cryptocurrency traders.</p>
  <footer><a href="https://covesting.io/" target="_blank">https://covesting.io/</a></footer>
</blockquote>
  