
<blockquote>
  <p>CPAY (CPAY): Cryptopay aims to provide the ability to spend, save, and transact digital
currencies.</p>
  <footer><a href="https://ico.cryptopay.me/" target="_blank">https://ico.cryptopay.me/</a></footer>
</blockquote>
  