<blockquote>
  <p>CPChain (CPC) is a distributed infrastructure for the Internet of Things (IoT). CPChain seeks to combine IoT, blockchain, and distributed encryption storage and computing, bringing about a new generation of IoT. The CPChain will allow different IoT systems to interact with different industry data (i.e. Big Data analysis).</p>
  <footer><a href="http://www.cpchain.io" target="_blank">http://www.cpchain.io</a></footer>
</blockquote>
