
<blockquote>
  <p>CPChain (CPC): CPChain is a new distributed infrastructure for next generation Internet of Things (IoT).</p>
  <footer><a href="http://www.cpchain.io/" target="_blank">http://www.cpchain.io/</a></footer>
</blockquote>
  