<blockquote>
  <p>A cryptocurrency immortalizing football legend; Cristiano Ronaldo on the blockchain forever.</p>
  <footer><a href="https://cr7coin.org" target="_blank">https://cr7coin.org</a></footer>
</blockquote>
