<blockquote>
  <p>CraftR, a global decentralized P2P marketplace for buying and selling digital creative assets through the blockchain.</p>
  <footer><a href="https://craftr.io" target="_blank">https://craftr.io</a></footer>
</blockquote>
