
<blockquote>
  <p>CreditBIT (CRB): The main goal of this project is to develop and maintain crypto currency ecosystem, based on token, that is built on top of Ethereum Blockchain.</p>
  <footer><a href="https://www.creditbit.org/" target="_blank">https://www.creditbit.org/</a></footer>
</blockquote>
  