
<blockquote>
  <p>CryCash (CRC): CRYCASH is the first cryptocurrency that satisfies all needs of gamers and game developers with its Ecosystem of custom-tailored services. CRYCASH has already confirmed integration into the renowned bestsellers from Crytek, with more partners to come. Connect with tomorrow's technology today!</p>
  <footer><a href="https://crycash.io/" target="_blank">https://crycash.io/</a></footer>
</blockquote>
  