<blockquote>
  <p>Verify is a reputation protocol that facilitates trust on the blockchain and aims to revolutionize eCommerce.</p>
  <footer><a href="https://verify.as/" target="_blank">https://verify.as/</a></footer>
</blockquote>
