<blockquote>
  <p>A distributed reputation protocol built on the Ethereum blockchain. This is the future of trust.</p>
  <footer><a href="https://verify.as/" target="_blank">https://verify.as/</a></footer>
</blockquote>
