<blockquote>
  <p>Blockchain platform CREDITS for creation and management of financial services on the basis of the blockchain/ledger - credits.com</p>
  <footer><a href="https://credits.com/" target="_blank">https://credits.com/</a></footer>
</blockquote>
