<blockquote>
  <p>Crypterium is a cryptobank platform that will leverage the Ethereum blockchain to provide an instant processing engine for both fiat and crypto based currency transactions while enabling inter-changeability between the two. Furthermore, an app will be available for download to Android and IOS operation systems.</p>
  <p>The Crypterium token (CRPT) is an ERC-20 token that will work as the medium of exchange within the platform.</p>
  <footer><a href="https://crypterium.io/" target="_blank">https://crypterium.io/</a></footer>
</blockquote>
