<blockquote>
  <p>Crassus token is a cryptocurrency traded on the Ethereum blockchain.  It is used purely to store and transfer value.  There are 900,000 total Crassus, all circulating today.</p>
  <footer><a href="http://crassus.io/" target="_blank">http://crassus.io/</a></footer>
</blockquote>
