<blockquote>
  <p>Corethum is a decentralized prediction market that will be built on the Ethereum protocol. Corethum will provide an open platform for anyone to predict the outcome of any event and plans to drastically simplify the creation of customized prediction market applications. Our prediction markets provide powerful predictive data - you can think of current market price of any share in any market as an estimate of the probability of that outcome actually occurring in the real world.</p>
  <footer><a href="https://www.corethum.com/" target="_blank">https://www.corethum.com/</a></footer>
</blockquote>
