<blockquote>
  <p>CrypherCoin (CRYPHER) is a token ethereum that uses the ERC20 standard, this token was deliberately created to support the crypher forum to continue to grow and reach more users.</p>
  <footer><a href="https://crypher.com/" target="_blank">https://crypher.com/</a></footer>
</blockquote>
