<blockquote>
  <p>Crescent Network (CSN) is the world's first multi-use Proof-of Stake token built on Ethereum platform (Incorporating ERC20 and POSToken Standard) which is backed by a physical mining facility.</p>
  <footer><a href="https://crescenttoken.com/" target="_blank">https://crescenttoken.com/</a></footer>
</blockquote>
