<p>
  <img src="https://ico.bitdice.me/images/svg/logo-969053aad453c674c3b4054390473884.svg?vsn=d" style="width: 200px;" />
</p>

<blockquote>
  <p></p>
  <footer><a href="https://ico.bitdice.me/en/" target="_blank">https://ico.bitdice.me/en/</a></footer>
</blockquote>
