<blockquote>
  <p>BitDice Casino is a established and profitably operating cryptocurrency casino that wants to transform itself into a new-generation platform for online gaming experience.</p>
  <footer><a href="https://ico.bitdice.me/en/" target="_blank">https://ico.bitdice.me/en/</a></footer>
</blockquote>
