<blockquote>
  <p>Carbon Token Classic (CTC) is Asia&rsquo;s first decentralized multi-ICO investment platform which takes advantage of the most sophisticated and cutting edge blockchain technology.Carbon Token Classic is both a decentralized application platform (DApp) and intelligent financial technology 5.0.The platform offers the release of a special cryptographic asset, the Carbon Token Classic, which will have a maximum supply of 100 million units.</p>
  <footer><a href="https://ctchub.io/" target="_blank">https://ctchub.io/</a></footer>
</blockquote>
