<blockquote>
  <p>The CT Global Token (CTG), developed by Chrisitan Traders as Cryptocurrency for the Global Christian Community is ERC-20 compliant. Owners of the CT Global Token (CTG), may purchase multimedia advertising on the CT Global Media Network at 50% off the list price. In addition, 25% of all advertising purchased with the CT Global Token (CTG), will be used to fund C-TAP, the Christian Traders Agricultural Project in Kampala Uganda East Africa.</p>
  <footer><a href="https://christiantraders.com/" target="_blank">https://christiantraders.com/</a></footer>
</blockquote>
