<blockquote>
  <p>Centra Tokens are ERC20 tokens that are spendable on the Centra Card, Wallet, and cBay Platform. Centra Tech has designed the worlds first 8+ Multi-Blockchain Debit Card with 0% exchange fees using our Currency Conversion Engine (CCE) Module to provide rapid transactions using our liquidity pool. We have a line of Centra Financial Products designed to build a bridge from commerce to cryptocurrencies.</p>
  <footer><a href="https://www.centra.tech" target="_blank">https://www.centra.tech</a></footer>
</blockquote>
