
<blockquote>
  <p>cVToken (cV): Decentralized Car History Registry Built on Blockchain</p>
  <footer><a href="https://www.carvertical.com/" target="_blank">https://www.carvertical.com/</a></footer>
</blockquote>
  