<blockquote>
  <p>carVertical is a blockchain-based vehicle history registry. Tokens can used to purchase carVertical services and to get paid for joining services.</p>
  <footer><a href="https://www.carvertical.com/" target="_blank">https://www.carvertical.com/</a></footer>
</blockquote>
