<blockquote>
  <p>Giving businesses and individuals the tools to control and protect identities.</p>
  <p>Through our decentralized architecture with the blockchain and biometrics on the mobile device, our platform provides multi-factor authentication without a username, password, third party authenticator, or physical hardware token.</p>
  <footer><a href="https://www.civic.com/" target="_blank">https://www.civic.com/</a></footer>
</blockquote>
