<p>
  <img src="https://daks2k3a4ib2z.cloudfront.net/57aa266ca34e30ad0d61dadc/57acbf0e2a4ca7f058f15802_logo-white.svg" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Giving businesses and individuals the tools to control and protect identities.</p>
  <p>Through our decentralized architecture with the blockchain and biometrics on the mobile device, our platform provides multi-factor authentication without a username, password, third party authenticator, or physical hardware token.</p>
  <footer><a href="https://www.civic.com/" target="_blank">https://www.civic.com/</a></footer>
</blockquote>
