<blockquote>
  <p>Crypto-X (CWX) is the world's first masternode 2.0 style token on Ethereum Blockchain, HODL and earn tokens with ease. No need  for expensive mining equipment or complicated setups for staking, you can hodl CWX in any ERC20 wallet and receive CXR (CryptoXRewards) for supporting the network!</p>
  <footer><a href="https://www.crypto-x.io/" target="_blank">https://www.crypto-x.io/</a></footer>
</blockquote>
