
<blockquote>
  <p>CargoX (CXO): CargoX aims to be the independent supplier of blockchain-based Smart B/L solutions that enable extremely fast, safe, reliable and cost-effective global Bill of Lading processing.</p>
  <footer><a href="https://cargox.io/" target="_blank">https://cargox.io/</a></footer>
</blockquote>
  