<blockquote>
  <p>CargoX aims to disrupt the global logistics industry by introducing Smart B/L documents based on blockchain technology, replacing old-style paper Bill of Lading documents.</p>
  <footer><a href="https://cargox.io/" target="_blank">https://cargox.io/</a></footer>
</blockquote>
