
<blockquote>
  <p>DADI (DADI): A new era of cloud computing services, powered by blockchain technology.</p>
  <footer><a href="https://dadi.cloud/" target="_blank">https://dadi.cloud/</a></footer>
</blockquote>
  