<blockquote>
  <p>Dai is a stablecoin created by MakerDAO by collatoralizing digital assets. It has an algorithmic monetary policy that is designed to minimize volatility against fiat currencies, and is currently worth 1 USD.</p>
  <footer><a href="https://makerdao.com/" target="_blank">https://makerdao.com/</a></footer>
</blockquote>
