<p>
  <img src="http://www.dalecoin.org/assets/images/dalc-cele-128x128.png" style="width: 200px;" />
</p>

<blockquote>
  <p>A crypto token that powers dalemat ecosystem. This is a community that hopes to teach  and educate  as many as possible on how  crypto currency trading and investing can be used to improve their finances. </p>
  <footer><a href="http://www.dalecoin.org/" target="_blank">http://www.dalecoin.org/</a></footer>
</blockquote>
