<blockquote>
  <p>Daneel assists you in your daily crypto investment.</p>
  <p>Daneel is a personal assistant using IBM Watson technology, one of the most efficient artificial intelligence platforms on the market. Daneel has your back, supporting you by offering daily assistance in the world of cryptocurrency.</p>
  <footer><a href="https://daneel.io/" target="_blank">https://daneel.io/</a></footer>
</blockquote>
