<blockquote>
  <p>Datum is a global data marketplace that allows you to make money from your own data.</p>
  <footer><a href="https://datum.org/" target="_blank">https://datum.org/</a></footer>
</blockquote>
