<blockquote>
  <p>Streamr provides a complete system to create unstoppable real-time data apps, even without writing code. Currently, the valuable data you produce is at the mercy of large corporations. In the Streamr network, it&rsquo;s yours to use and sell as you wish, and travels through a decentralised peer-to-peer network controlled by no one and incentivized by the DATAcoin token.</p>
  <footer><a href="https://www.streamr.com" target="_blank">https://www.streamr.com</a></footer>
</blockquote>
