<blockquote>
  <p>DataLife token is all about the way we gather data and access useful information, making data gathering and sourcing easy while being powered by the blockchain technology. DataLife token will be used to pay for all access to data bieng gathered by our agents. People can sign up to become an information gathering agent and will be paid with DataLife token. This token will revolutionize the way we think about data gathering and access. You can get more information from our white paper.</p>
  <footer><a href="https://www.datalife.co/" target="_blank">https://www.datalife.co/</a></footer>
</blockquote>
