<blockquote>
  <p>Decent.bet is a transparent and verifiable sports betting and gambling platform hosted on Smart Contracts in the Ethereum blockchain.</p>
  <footer><a href="https://www.decent.bet/" target="_blank">https://www.decent.bet/</a></footer>
</blockquote>
