<blockquote>
  <p>Dentacoin: Health Care Industry should be in the hands of the people.</p>
  <p>This industrial blockchain concept was invented by <a href="http://dentacoin.com/" target="_blank">Dentacoin Foundation</a> in the Netherlands.</p>
  <p>Dentaprime International PLC is a digital technology leader in dental services.</p>
  <p>Established in London and proven successful and profitable, Dentaprime now plans to globally expand their two smart clinic concepts and distribute a blockchain token called Dentacoin (DCN). Having already implemented Industry 4.0 technology, robotics and integrated digitalisation, Dentaprime offers the highest quality dentistry affordable to all people, regardless of their income.</p>
  <p>The Dentacoin ERC20 token is configured to be used globally by all individuals.</p>
  <p>Dentacoin Fundation, the DCN inventor, bought 100% of Dentaprime International PLCs&rsquo; shares thus the disposition over the company will be in the hands of Dentacoin Foundation and will be connected to the blockchain.</p>
  <p>Each DCN represents and participates in the company&rsquo;s shares and dividends. The DCN community will vote for important decisions of the company through an integrated voting system.</p>
  <p>Further projects are planned:</p>
  <p>The health data base: In addition to the currency (DCN), the Ethereum blockchain will securely handle all private patient data. Further data will be updatable and accessible to patients.</p>
  <p>The Insurance: Following treatment, Dentaprime will offer each patient a DCN paid insurance policy for lifelong free dental procedures to prevent all the health consequences related to old-age poverty.</p>
  <p>Dentacoin will develop as both, a stable growing international currency and an attractive alternate derivate system for investors.</p>
  <footer><a href="https://dentacoin.com/" target="_blank">https://dentacoin.com/</a></footer>
</blockquote>
