<blockquote>
  <p>Digital Developers Fund is an investment fund designed to let investors participate in the extraordinary growth in domain names and crypto currencies. In August 2017, we raised close to $2m in an Initial Coin Offering.</p>
  <footer><a href="https://www.digitaldevelopersfund.com/" target="_blank">https://www.digitaldevelopersfund.com/</a></footer>
</blockquote>
