<blockquote>
  <p>Redemption Technologies Inc. is a worldwide open source e-commerce marketplace platform that anonymously allows subscribers to pay with a cryptocurrency anywhere, even when cryptocurrencies are not accepted.</p>
  <footer><a href="https://www.redemption.cloud/" target="_blank">https://www.redemption.cloud/</a></footer>
</blockquote>
