<blockquote>
  <p>The Deep is a true one-rank P2P world, which means complete decentralization and distributed storage of the entire territory and its contents. All owned buildings are encrypted and repeatedly duplicated by storage on other users' computers, using blockchain-based technologies and error correction codes.</p>
  <p>Claim your land and build on it using the limited supply of Deep tokens.</p>
  <p>100,000,000 tokens in total.</p>
  <p>The Deep is a square looped world measuring 10,000 cells per 10,000 cells.</p>
  <p>1 Deep token equals a 1x1 land area.</p>
  <p>No mining.</p>
  <footer><a href="https://deep.gold" target="_blank">https://deep.gold</a></footer>
</blockquote>
