<blockquote>
  <p>Deercoin provides a global network for anyone interested in connecting, creating and contributing both on- and offline. We think that rediscovering human connection without giant intermediaries exploiting every share and like will improve our social lives and create vast opportunities for entrepreneurs, non-profit and crowdfunding.</p>
  <footer><a href="http://deertoken.ga/" target="_blank">http://deertoken.ga/</a></footer>
</blockquote>
