<blockquote>
  <p>We've built the world's most efficient and robust prediction market platform, to aid the global flow of information and open up new possibilities for people around the world to profit from sharing knowledge with one another.</p>
  <footer><a href="https://delphi.markets/" target="_blank">https://delphi.markets/</a></footer>
</blockquote>
