<p>
  <img src="https://delphi.markets/img/home/delphilogo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Delphi is economically sophisticated post-Gnosis prediction market technology.</p>
  <footer><a href="https://delphi.markets/" target="_blank">https://delphi.markets/</a></footer>
</blockquote>
