<p>
  <img src="https://irp-cdn.multiscreensite.com/087e2e0e/dms3rep/multi/tablet/*+DENT.svg" style="width: 200px;" />
</p>

<blockquote>
  <p>Tokenizing the Mobile Data Industry</p>
  <footer><a href="https://www.dentcoin.com/" target="_blank">https://www.dentcoin.com/</a></footer>
</blockquote>
