
<blockquote>
  <p>Dentacoin (Dentacoin): Aims to be the blockchain solution for the global dental industry.</p>
  <footer><a href="https://dentacoin.com/" target="_blank">https://dentacoin.com/</a></footer>
</blockquote>
  