<blockquote>
  <p>Claim quarterly rewards based on the total DGX collected through transaction fees.</p>
  <p>Used to pledge on DigixDAO proposals with the goal of increasing DGX adoption.</p>
  <p>DGD value fluctuates based on exchange rates and market forces.</p>
  <p>There are 2,000,000 DGD tokens in existence.</p>
  <footer><a href="https://www.dgx.io/dgd/" target="_blank">https://www.dgx.io/dgd/</a></footer>
</blockquote>
