<blockquote>
  <p>We aim to ensure that all digital assets holders and crypto wallet users have ultimate control over who inherits their digital and crypto assets. DGPT is being used to operate with the smart contract which in return will store any files you want and grant inheritance to your chosen individuals when the time is right by tracking your online presence.</p>
  <footer><a href="https://www.digipulse.io/" target="_blank">https://www.digipulse.io/</a></footer>
</blockquote>
