<blockquote>
  <p>Dragonglass is the world’s first gamified crypto-mining experience. Mining Dragonglass cryptocurrency is as easy and fun as playing a mobile game. It provides user-friendly and affordable cryptocurrency mining solution to everyone. Besides being simple and engaging, Dragonglass is also powerful: by using a unique mining technology, it is thousands of times more efficient than traditional cryptocurrency mining. Dragonglass is a mineable cryptocurrency and utility token. It is an ERC-20 standard digital token based on the Ethereum blockchain. The main features of Dragonglass are its ease of use, affordability and mining efficiency.</p>
  <footer><a href="https://dragonglass.com/" target="_blank">https://dragonglass.com/</a></footer>
</blockquote>
