<blockquote>
  <p>Digitex is a commission-free futures exchange with its own native cryptocurrency, the DGTX token. Traders speculate on the price of Bitcoin against the US dollar, but their trading profits and losses are paid out in DGTX tokens. This means that traders need DGTX tokens to enter a trade, and this creates demand for DGTX tokens from traders.</p>
  <p>Digitex covers the cost of running the exchange by creating a small number of new tokens each year instead of charging transaction fees on trades. Commission-free futures markets on a stable, fast and secure trading platform will attract large numbers of traders who must buy DGTX tokens to participate, creating increased demand for DGTX tokens that offsets the small inflationary cost of creating new tokens.</p>
  <footer><a href="https://digitexfutures.com/" target="_blank">https://digitexfutures.com/</a></footer>
</blockquote>
