<blockquote>
  <p>DJ Corporation is a new platform that will help young and unknown DJs to gain popularity and to present their work to the public, with earning profits from it. No need to look for a potential buyer. No need to be a famous musician &ndash; everyone can submit their work to the audience and get payed!</p>
  <p>The blockchain technology will allow you to monitor sales of tracks without being distracted by accounting, what frees time for your creativity.</p>
  <footer><a href="https://djcorp.info/" target="_blank">https://djcorp.info/</a></footer>
</blockquote>
