<blockquote>
  <p>Agrello provides an AI powered interface allowing you to build smart contract-based legal agreements on the blockchain. No coding or legal skills required.</p>
  <footer><a href="https://www.agrello.org/" target="_blank">https://www.agrello.org/</a></footer>
</blockquote>
