<blockquote>
  <p>DMINT is Distributed MINeable Token working on the Ethereum platform. To mine bitcoin you need to spend electricity. To mine DMINT you need to spend some gas. The basic principle: the more you have, the more you will get. DMINT can be added to any Ethereum Wallet because it is standard ERC20 token.</p>
  <footer><a href="https://dmint.xyz" target="_blank">https://dmint.xyz</a></footer>
</blockquote>
