<blockquote>
  <p>DMarket is a marketplace based on blockchain and smart contracts to enable one-click sale, exchange or evaluation of every virtual item between all games on any platform. DMarket tokens will be the only platform currency supplying item prices for every trade, exchange, fee and smart contract.</p>
  <footer><a href="https://dmarket.com/" target="_blank">https://dmarket.com/</a></footer>
</blockquote>
