
<blockquote>
  <p>DMarket (DMT): a blockchain-based cross-game universe for turning virtual items into real assets.</p>
  <footer><a href="https://dmarket.com/" target="_blank">https://dmarket.com/</a></footer>
</blockquote>
  