<blockquote>
  <p>DNA is the fuel the feeds our application, Gene-Chain. Gene-Chain is a decentralized private storage and search system for genomic data. Gene-Chain allows users like yourself to upload and privately store your genomic data. You can then share your genomic data with your doctor, advisor, or anyone else you choose. We will keep it safe and private by storing it on the blockchain. In addition to sharing your genomic data, you can also 'sell' your genomic data, allow companies to search for specific criteria and offer to buy your genetic data from you. DNA is the currency in which the Gene-Chain application operates. No other tokens or currencies are accepted. DNA must be used.</p>
  <footer><a href="https://www.encrypgen.com/customer-portal/" target="_blank">https://www.encrypgen.com/customer-portal/</a></footer>
</blockquote>
