<p>
  <img src="https://domaintoken.io/wp-content/uploads/2017/09/logo.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Domain token</p>
  <footer><a href="http://www.domaintoken.io/" target="_blank">http://www.domaintoken.io/</a></footer>
</blockquote>
