<blockquote>
  <p>DONE is a streamlined means to cut out middle-men and "hunters" of donations whose fees far outstrip those given to the DONE token holders via smart contract (potentially 1% of total donations), thereby increasing the value or "efficiency" of a donation and decreasing nonprofit organization overhead. It constitutes membership of a team which is incentivized to increase donations to responsible organizations who put their accounting systems on the public blockchain.</p>
  <footer><a href="https://www.donationefficiency.com" target="_blank">https://www.donationefficiency.com</a></footer>
</blockquote>
