<blockquote>
  <p>Blockchain Powered Mobility</p>
  <p>DOVU is shaping the crypto model for the mobility ecosystem. Introducing a transport focused protocol to accelerate the development of mobility related decentralised applications (dApps), the DOV token powers new business models in the transportation sector. The creation of these dApps will be fueled by data, therefore the DOVU API Marketplace will support the community further by simplifying the development of mobility data globally.</p>
  <footer><a href="https://dovu.io/" target="_blank">https://dovu.io/</a></footer>
</blockquote>
