<blockquote>
  <p>Dragon Coin will act as a friction-less, low-cost & transparent alternative financial mechanism within Casinos, to enhance the age-old gaming industry. With its expertise in blockchain technology, the Dragon’s goal is to reshape the long-standing gaming industry while benefiting those rooted in the industry, as well as all the members of the public who join in the journey to achieve the goals of Dragon Coin.</p>
  <p>Dragon Coin, or DRG, is an ERC20 / Ethereum Utility token used to participate in the Dragon blockchain ecosystem. DRG tokens are exchanged for DGC (Dragon Global Chips), a cryptocurrency gaming chip, at Casinos allowing both players and Casinos to take advatange of the added transparency & security of the Blockchain.</p>
  <footer><a href="https://drgtoken.io" target="_blank">https://drgtoken.io</a></footer>
</blockquote>
