<p>
  <img src="https://droplex.org/img/dropbadge3.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Droplex is a cryptocurrency blockchain focused on security and anonymity. It's encryption is protected even from quantum computer attacks.</p>
  <footer><a href="https://droplex.org/" target="_blank">https://droplex.org/</a></footer>
</blockquote>
