<blockquote>
  <p>Forged by the great powers of augmented reality and blockchain technologies, Augmentors puts you in control of fantastical creatures. Collect an army of powerful and rare creatures as you battle, train, sell and trade them. You, oh Heroic One, will become the greatest Augmentors player in the augmented reality world. Every single creature in your legion has its own unique history, its own past, and all of its lore is stored in the blockchain.</p>
  <footer><a href="https://augmentors.trade/" target="_blank">https://augmentors.trade/</a></footer>
</blockquote>
