<blockquote>
  <p>DATOCOIN will create a revolution in payment solutions for social networks and online entertainment. Datocoin works under the concept of " multiconnected marketing " a series of decentralized online platforms where you can bet on your favorite team, play on online casinos, exchange cryptocurrencies in our Exchange, exchange assets and services in our Marketplace, we are also developing the BLOCK-U, an Online University where we will teach Blockchain programming, creation of ICO, fundamental and technical analysis, this set of decentralized platforms will be called Datosphere and the official circulation token will be the DATOCOIN (DTCN).</p>
  <footer><a href="https://datocoin.io" target="_blank">https://datocoin.io</a></footer>
</blockquote>
