<p>
  <img src="https://www.dcoin.us/logo_200X200.png" style="width: 200px; background: #000;" />
</p>
<blockquote>
  <p>DCoin is a virtual digital currency project established on the basis of Decentralization method of Bitcoin Agreement, characterized with fluency, decentralization and transparency.</p>
  <footer><a href="https://www.dcoin.us/" target="_blank">https://www.dcoin.us/</a></footer>
</blockquote>
