<blockquote>
  <p>Dether is a peer-to-peer ecosystem of crypto buyers, sellers and physical shops that aims to make cryptocurrency commerce less time consuming, less complicated, and less exclusionary towards unbanked peoples. Dether’s ether based network is designed to allow users to buy ether with cash over and spend it at nearby stores, all via mobile phones with internet access. Dether’s token, DTH, offers utility functions.</p>
  <footer><a href="https://dether.io" target="_blank">https://dether.io</a></footer>
</blockquote>
