
<blockquote>
  <p>Datarius Credit (DTRC): Datarius cryptobank is a decentralized partially closed system.</p>
  <footer><a href="https://datarius.io/" target="_blank">https://datarius.io/</a></footer>
</blockquote>
  