<blockquote>
  <p>The DVN project develops a Q&amp;A portal with an integrated DVN tip system, where deferential conversation leads to profit for everyone.</p>
  <footer><a href="https://dvn-token.net" target="_blank">https://dvn-token.net</a></footer>
</blockquote>
