<p>
  <img src="https://static.wixstatic.com/media/721bba_52a74ba8b696410c8868846fbdccc35d~mv2.png/v1/fill/w_45,h_45,al_c,usm_0.66_1.00_0.01/721bba_52a74ba8b696410c8868846fbdccc35d~mv2.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>The E4ROW project's mission is to aggressively expand the universe of Ether users by bringing Ether-based apps to the global online/mobile gaming markets. Ether is virtually unknown to these massive markets, and E4ROW's games will highlight the unique capabilities of Ethereum to millions of new users, thus increasing the overall adoption, viability and value of Ether. The E4ROW smart-contract that is at the core of these apps enables players to bet and win Ether in a secure and transparent manner.</p>
  <footer><a href="https://www.e4row.co.il/" target="_blank">https://www.e4row.co.il/</a></footer>
</blockquote>
