<blockquote>
  <p>First CryptoCurrency with PoS Algorithm Developed in Indonesia</p>
  <footer><a href="https://eaglecoinindonesia.com" target="_blank">https://eaglecoinindonesia.com</a></footer>
</blockquote>
