<blockquote>
  <p>First Indonesia Token with PoS ever made, with EaglePay as its main project, Indonesia first cloud payment gateway based on blockchain.</p>
  <footer><a href="https://eaglepay.io/" target="_blank">https://eaglepay.io/</a></footer>
</blockquote>
