
<blockquote>
  <p>EARTH Token (EARTH): EARTH Token provides a unique opportunity to truly transform the Natural Capital Asset market, by creating a Natural Asset Marketplace allowing all stakeholders in the climate value chain to participate.</p>
  <footer><a href="https://earth-token.com/" target="_blank">https://earth-token.com/</a></footer>
</blockquote>
  