<blockquote>
  <p>eBCh is a tokenized version of BitcoinCash on the Ethereum blockchain</p>
  <footer><a href="https://www.ebitcoincash.io" target="_blank">https://www.ebitcoincash.io</a></footer>
</blockquote>
