<blockquote>
  <p>eBitcoinCash is a cryptocurrency that was built to improve on the current aspects and features of BitcoinCash (note the subtle difference of the 'e' at the front of the former). It is an ERC20 token that was distributed through an airdrop. A total of &gt;6000 people signed up and joined the airdrop.</p>
  <footer><a href="https://www.ebitcoincash.solutions" target="_blank">https://www.ebitcoincash.solutions</a></footer>
</blockquote>
