<blockquote>
  <p>eBTC is a tokenized version of Bitcoin on the Ethereum blockchain.</p>
  <footer><a href="https://www.ebtctoken.org/" target="_blank">https://www.ebtctoken.org/</a></footer>
</blockquote>
