<blockquote>
  <p>eBTCS is a tokenised version of BitcoinSilver. eBTCS is currently a store of value, but our 'eBTCS Elite' development team will be working directly with our community members to develop creative use cases for eBitcoinSilver in the coming months. Our goal is to make eBitcoinSilver a platform that is broadly utilised by many people, in many ways. We envision eBTCS to be the most utilised and accessible e-token on the cryptocurrency market.</p>
  <footer><a href="https://www.ebtcs.io/" target="_blank">https://www.ebtcs.io/</a></footer>
</blockquote>
