<blockquote>
  <p>Etherball is distributed for free to every Ether holders, and every month there is a percentage reward for EBYTE holders. It is developed on Ethereum as a Smart Contract, following the ERC20 standard and implementing secure libraries. Relying on Ethereum blockchain, Etherball offers fast transactions and secure payments.</p>
  <footer><a href="https://www.etherball.net" target="_blank">https://www.etherball.net</a></footer>
</blockquote>
