<blockquote>
  <p>The EUCoin will raise funds to make investments in ecological and humanitarian projects in the EU and its influence area. All projects where the institutions fail to deliver. Let's create a better world together, without political or economical motives, but with humanitarian and ecological purposes.</p>
  <footer><a href="https://eu-coin.net" target="_blank">https://eu-coin.net</a></footer>
</blockquote>
