<blockquote>
  <p>European Crypto Bank is building a Crypto Bank and Trading Platform for Cryptos and FIAT offering Tax Assistance over the Blockchain, Cryptos/Tokens Rating, Analysis and Wealth Management Services.</p>
  <footer><a href="https://www.europeancryptobank.io/" target="_blank">https://www.europeancryptobank.io/</a></footer>
</blockquote>
