<blockquote>
  <p>ECOCRYPTO - Make exceptional cryptocurrency ecosystem with Blockchain, Bigdata and Artificial Intelligence</p>
  <footer><a href="https://ecocrypto.io" target="_blank">https://ecocrypto.io</a></footer>
</blockquote>
