<blockquote>
  <p>EDoge is the future of Doge and the revival of one of the most beloved communities</p>
  <footer><a href="https://etherdoge.org/" target="_blank">https://etherdoge.org/</a></footer>
</blockquote>
