<blockquote>
  <p>LiveEdu is building the next-gen decentralized online learning Lynda.com. Using the blockchain, we connect content creators to viewers who teach them how to build complete products. We are a Y-combinator company.</p>
  <footer><a href="https://tokensale.liveedu.tv/" target="_blank">https://tokensale.liveedu.tv/</a></footer>
</blockquote>
