<blockquote>
  <p>LiveEdu is building the world's first project learning platform using blockchain smart contracts. Our projects are available as live stream or video. We have been around since 2015. Company registed in UK and US. Experienced and scrappy team from Amazon and Y-combinator.</p>
  <footer><a href="https://tokensale.liveedu.tv/" target="_blank">https://tokensale.liveedu.tv/</a></footer>
</blockquote>
