<blockquote>
  <p>Elementh is a blockchain for e-commerce, which is a register of ownership of goods with the ability to write specialized smart contracts and use of the nomenclature standard to quickly create various decentralized and centralized applications for e-commerce.</p>
  <footer><a href="https://elementh.io/" target="_blank">https://elementh.io/</a></footer>
</blockquote>
