<blockquote>
  <p>Project E-ether token is a subsidiary project of Ethereum that will solely focus on being a token for payment. We already have a list of merchants that agreed to accept E-ether as a currency. We aim to create the BEST TOKEN for daily transaction.</p>
  <footer><a href="http://e-ether.info/" target="_blank">http://e-ether.info/</a></footer>
</blockquote>
