<blockquote>
  <p>Eeu is a token inspired by euro and bringing ERC20 based token as an alternative to euro based on Ethereum smart contracts.</p>
  <footer><a href="https://www.e-euro.trade" target="_blank">https://www.e-euro.trade</a></footer>
</blockquote>
