<blockquote>
  <p>ELECTRIFY is the first retail electricity marketplace in Southeast-Asia addressing the need for transparency and security in the consumption of energy. With a GMV of over SGD$5 million to date, ELECTRIFY has transacted more than 30GWh of electricity for commercial and industrial customers since March 2017.</p>
  <footer><a href="https://electrify.asia" target="_blank">https://electrify.asia</a></footer>
</blockquote>
