<blockquote>
  <p>ælf is a decentralized self-evolving cloud computing network. To establish a Blockchain infrastructure for various commercial requirements, ælf provides a highly efficient multi-chain parallel-processing system with cross-chain communication and self-evolving governance. It brings three innovations namely scalable nodes on cluster of computers, resource isolation for smart contracts via “one chain to one smart contract” and voting through token holders.</p>
  <p>ELF tokens are used to pay resource fees in the system, such as deployment of smart contracts, operating and upgrading of systems (transaction fees, cross-chain data transfer fees). It also enables community to vote on major decisions, such as electing mining nodes, introducing new features to the system and other major decisions.</p>
  <footer><a href="http://aelf.io/" target="_blank">http://aelf.io/</a></footer>
</blockquote>
