<blockquote>
  <p>ELTCOIN, also known as the Ethereum Limited Total Coin, is an ERC-20 Token on the Ethereum Network. It aims to be the most useful ERC-20 token with a limited total supply. The project is community-driven and open-sourced.</p>
  <footer><a href="https://www.eltcoin.tech/" target="_blank">https://www.eltcoin.tech/</a></footer>
</blockquote>
