<blockquote>
  <p>Another airdropped ERC20 LTC</p>
  <footer><a href="https://bitcointalk.org/index.php?topic=2241418.0" target="_blank">https://bitcointalk.org/index.php?topic=2241418.0</a></footer>
</blockquote>
