<blockquote>
  <p>creat your ethereum token in simple click with our token creator application</p>
  <footer><a href="http://launchertoken.xyz/" target="_blank">http://launchertoken.xyz/</a></footer>
</blockquote>
