<blockquote>
  <p>Element token made as one of the most low supply tokens. It is designed to realize imaginations of traders, doing ethereum blockchain more fuller and better. Element is erc-20 token,having property as an element, in this case as blockchain element.EM(Element) have 10 token total supply.</p>
  <footer><a href="https://artbik555.wixsite.com/element" target="_blank">https://artbik555.wixsite.com/element</a></footer>
</blockquote>
