<blockquote>
  <p>EMT is an ERC-20 utility token used on the easyMINE cryptocurrency mine management platform. It is the sole form of payment for premium-level easyMINE services.</p>
  <footer><a href="https://easymine.io" target="_blank">https://easymine.io</a></footer>
</blockquote>
