<blockquote>
  <p>EMV is a decentralised movie-investment platform designed for investing in the independent movie industry.  EMV:</p>
  <p>Organises investments in movie-project with high potential for ROI</p>
  <p>Allows active shareholder participation</p>
  <p>Provides accurate and transparent accounting of movie production and distribution</p>
  <p>Fosters the daily use of Ethereum and tests new Ethereum use-cases</p>
  <footer><a href="http://emovieventure.com/" target="_blank">http://emovieventure.com/</a></footer>
</blockquote>
