<blockquote>
  <p>The data-driven crypto investment platform. Powered by the Enigma data marketplace.</p>
  <footer><a href="https://www.enigma.co" target="_blank">https://www.enigma.co</a></footer>
</blockquote>
