<blockquote>
  <p>Hut34's Entropy token powers an open network of interconnected chatbots, A.I.s and devices. Hut34 is a decentralised data marketplace building a global knowledge economy. It's where A.I. does business.</p>
  <footer><a href="https://hut34.io/" target="_blank">https://hut34.io/</a></footer>
</blockquote>
