<blockquote>
  <p>Hut34's Entropy Token powers a blockchain based protocol facilitating an open ecosystem of chatbots, A.I. and IoT services. Allowing the open exchange and monetization of data, information and digital services. services where developers can easily connect and route queries, receive resolution of these queries, add utility to their end users, and be fairly rewarded for this.</p>
  <footer><a href="https://hut34.io/" target="_blank">https://hut34.io/</a></footer>
</blockquote>
