<blockquote>
  <p>Enter-Coin ENTRC is a digital asset powered by green energy. Applications include: Smart contracts applications for business processes, banking to the excluded regions, and green mining operations to sustain the system.</p>
  <footer><a href="https://entercoin.net/" target="_blank">https://entercoin.net/</a></footer>
</blockquote>
