<blockquote>
  <p>Enumivo is a blockchain based on EOS. Our flagship project will be a Decentralized Universal Basic Income Application to promote social justice for everyone.</p>
  <footer><a href="https://www.enumivo.org/" target="_blank">https://www.enumivo.org/</a></footer>
</blockquote>
