<p>
  <img src="https://d340lr3764rrcr.cloudfront.net/Images/eos-logo.png" style="width: 200px; background: #333;" />
</p>

<blockquote>
  <p>The Most Powerful Infrastructure for Decentralized Applications</p>
  <footer><a href="https://eos.io/" target="_blank">https://eos.io/</a></footer>
</blockquote>
