<blockquote>
  <p>A Decentralised Automonous Community focused on EOS block production and development of tools to grow the EOS ecosystem.</p>
  <footer><a href="https://www.eosdac.io/" target="_blank">https://www.eosdac.io/</a></footer>
</blockquote>
