<blockquote>
  <p>Proxy has developed "Proxy Wallet", which features bio-metric security and is a NFC-enabled physical wallet, The proxy wallet will be the center of the Proxy merchant services ecosystem. The Proxy Ecosystem will consist of a marketplace, a chat messenger, and crypo-currency merchant services.</p>
  <p>The Proxy wallet will enable you to safely store and spend crypto currencies at merchants that accept blockchain payments.</p>
  <p>The ePRX token can be used by merchants to pay their merchant fees. Merchants will have the incentive to accept blockchain payments because merchants fees range from 0.5%-1.0% while visa networks is 1.5%-3.0%.</p>
  <footer><a href="https://www.proxycard.io/" target="_blank">https://www.proxycard.io/</a></footer>
</blockquote>
