<blockquote>
  <p>Qchain is a decentralized advertising and analytics platform built on the Ethereum and NEM blockchains for flexible and efficient transactions between advertisers and publishers.</p>
  <footer><a href="https://qchain.co/" target="_blank">https://qchain.co/</a></footer>
</blockquote>
