<blockquote>
  <p>A Self-deflationary, Fairly Distributed, Multiplatform Utility Token. EQUAL aim's to facilitate an ecosystem of products and services that are either powered, funded or incentivised through the EQUAL ERC-20 token. What makes EQUAL special is it's rapidly growing community, future seed offering program and it's unique self-deflationary token design.</p>
  <footer><a href="https://www.equaltoken.io/" target="_blank">https://www.equaltoken.io/</a></footer>
</blockquote>
