<p class="alert alert-warning">
This is Belance latest contract. Announcement <a href="https://belance.io/exchange.html">here</a>.
</p>
<blockquote>
  <p></p>
  <footer><a href="https://belance.io/" target="_blank">https://belance.io/</a></footer>
</blockquote>
