<p class="alert alert-warning">
<strong>This token is deprecated.</strong> Read about the token <a href="https://belance.io/exchange.html">here.</a>
</p>
<blockquote>
  <p></p>
  <footer><a href="http://erc20.space/" target="_blank">http://erc20.space/</a></footer>
</blockquote>
