<blockquote>
  <p>EROSCOIN is Blockchain based decentralised multi cryptocurrency payment gateway. It makes worldwide transactions between consumers, merchants, businesses, distributors and community by leveraging the power of blockchain technology. EROSCOIN has started offering wide range of payment products including web wallet, mobile wallet, merchant payments, in chat payments and more. Use EROSCOIN to send, receive &amp; make payments without middleman using stable, secure and fast Blockchain network.</p>
  <footer><a href="https://eroscoin.org/" target="_blank">https://eroscoin.org/</a></footer>
</blockquote>
