<blockquote>
  <p>Esports.com is an Ethereum based platform where gamers and gaming fans are able to share, curate and enjoy content together or participate in and contribute to events. The one-stop service platform is slipt in 3 mains branches: education, entertainment, and statistics. Users can participate in creating content for these areas by writing guides or producing videos.</p>
  <p>Esports.com platform is powered by the Esports Reward Tokens (ERT) which is used to pay for training, acquiring in-game items, hardware merchandising, unlocking the premium subscription tiers, rewards for creating content and unlocking exclusive content.</p>
  <footer><a href="https://esports.com" target="_blank">https://esports.com</a></footer>
</blockquote>
