<blockquote>
  <p>Ethereum black is a free open source project that was created by a small group of ethereum enthusiasts from diverse backgrounds. In contrast to the other prominent Ethereum forks, Ethereum Black was specifically designed from the beginning to inspire innovation in the Ethereum black ecosystem and give value to the vision of decentralization. Whereas the others were born from hostility and an ambition to dominate, Ethereum black arises from a desire to protect Ethereum and ensure that it not only maintains its position as the dominant cryptocurrency but continues to grow until its liberating roots stretch deep into the economic life of all nations.</p>
  <footer><a href="https://ethereumblack.xyz/" target="_blank">https://ethereumblack.xyz/</a></footer>
</blockquote>
