<blockquote>
  <p><strong>"ETC to be higher than ETH on January 1, 2017"</strong></p>
  <p>PredictionToken mints prediction market tokens on the Ethereum blockchain. PredictionTokens have value tied to future outcomes, using Reality Keys as the source of truth.</p>
  <footer><a href="https://predictiontoken.github.io/#ETCW" target="_blank">https://predictiontoken.github.io/#ETCW</a></footer>
</blockquote>
