<blockquote>
  <p>Ethereum Dark is a great token, which was previously a coin, and is now swapped into an ERC20 Token. Ethereum Dark has one of the best communities in the crypto space, if you take a look at the ETHD bitcointalk thread, you will see that ETHD already has almost 300,000 views, and that too, within 2 months. ETHD has already done a volume of over 1.5 Million USD, multiple times and we are planning to add very valuable features onto this token.</p>
  <footer><a href="https://www.ethereumdark.net" target="_blank">https://www.ethereumdark.net</a></footer>
</blockquote>
