<blockquote>
  <p>"Ethereum Meta addresses a major weakness in Ethereum: the lack of privacy. Ethereum Meta enables smart contracts where no friend, family, nor foe can see what you bought or for how much. We are working on Smart Contract Mixer. After Ethereum platform implements Zero-Knowledge Snarks, we will add this feature to our system. Moreover, Ethereum Meta token is a foundation of the Anonymous E-Market Place that we are building to be accessible by Tor Browser and provide fully anonymous experience."</p>
  <footer><a href="https://ethermeta.com/" target="_blank">https://ethermeta.com/</a></footer>
</blockquote>
