<blockquote>
  <p>Manage payments, inter- and intra-company money transfers without third-parties.</p>
  <footer><a href="http://www.ethereumpremium.com/" target="_blank">http://www.ethereumpremium.com/</a></footer>
</blockquote>
