<blockquote>
  <p>Ethereum is suffering because of its success. Due to the excessive number of token sales, the main Ethereum chain is now saturated and transaction speed is the first affected. Ether main purpose is only to fuel DApps like ICOs. ETH therefore struggles to gain value and would never be a robust monetary asset. That's why we created Ethereum X, an Ethereum side chain dedicated to payments. Our vision is to take Ethereum to the next level as a financial asset.</p>
  <footer><a href="http://ethereumx.io/" target="_blank">http://ethereumx.io/</a></footer>
</blockquote>
