<blockquote>
  <p>The Etherium token is dedicated to fun and satire. Leveraging fun to make world better. Sharing and decentralized laugh for a future Web4.0</p>
  <footer><a href="http://etherium.lol" target="_blank">http://etherium.lol</a></footer>
</blockquote>
