<blockquote>
  <p>Electroneum makes it easy to access and use a super secure cryptocurrency that has all of the benefits of Bitcoin and more. Transactions in Electroneum happen faster and are more anonymous. Did you know that anyone with your public Bitcoin wallet address can see how many bitcoin you have, and your entire transaction history? Electroneum protects your transaction history and wallet contents from prying eyes, whilst leaving publicly accessible transaction hashes available for the technically discerning to authenticate transactions.</p>
  <footer><a href="http://electrolysisuk.com/" target="_blank">http://electrolysisuk.com/</a></footer>
</blockquote>
