<blockquote>
  <p>Etelevision is a platform in development for streaming / uploading and watching unlimited uncensored video content for free.</p>
  <footer><a href="https://etelevision.org" target="_blank">https://etelevision.org</a></footer>
</blockquote>
