<blockquote>
  <p>EUROBITS is the crypto-currency for those who come to join EUR in Blockchain.</p>
  <footer><a href="https://eurbits.org" target="_blank">https://eurbits.org</a></footer>
</blockquote>
