<blockquote>
  <p>EURN is a token that is 1:1 with Euro fiat money, meaning that 1 EURN is always going to be 1 EURO (fiat)</p>
  <footer><a href="https://www.noku.io/" target="_blank">https://www.noku.io/</a></footer>
</blockquote>
