<blockquote>
  <p>EventChain token is an ERC20 token powering a unique smart contract ticketing system (EventChain SmartTickets&trade;). EventChain tokens solve many of the problems with current event ticketing systems available today while providing the additional benefits to EVC Token holders. EVC Tokens fuel the EventChain system by allowing users to create events, purchase tickets, access VIP amenities and enable extra ticket resale market features.</p>
  <footer><a href="https://eventchain.io" target="_blank">https://eventchain.io</a></footer>
</blockquote>
