<blockquote>
  <p>The Devery platform allows suppliers and consumers to prove the authenticity of their products online before purchase, essentially removing the need for ‘trust’ in e-commerce. It aims to protect brands and consumers from counterfeiting using blockchain powered product verification by providing unique, verifiable identifiers to each product throughout the supply chain.</p>
  <p>EVE token is the native token of the Devery platform. It is used to power the Devery verification platform.</p>
  <footer><a href="https://devery.io/" target="_blank">https://devery.io/</a></footer>
</blockquote>
