<blockquote>
  <p>Envion builds fully automatized mobile mining units inside standardized intermodal shipping containers that can be shipped to any location in the world within days or weeks. Envion mining units use low-priced green energy directly at the source — near the shore, in the desert or in other remote locations. The EVN token is an ERC-20 Ethereum-based token that grants their holders the right to receive 100% of the earnings from Envion's proprietary mining operation, 35% of Envion’s earnings with third-party operations and voting rights.</p>
  <footer><a href="https://www.envion.org/" target="_blank">https://www.envion.org/</a></footer>
</blockquote>
