<blockquote>
  <p>EOS open source is a powerful infrastructure for Blockchain Applications. However the Governance Structure and Ownership model leads to highly manipulated compensation and lacks trusted partners for the community to build on. Evolution is a community driven adaptation of EOS open source software. Evolution structures votes and evenly distributes tokens to ensure true decentralization.</p>
  <footer><a href="https://www.evolutionos.com" target="_blank">https://www.evolutionos.com</a></footer>
</blockquote>
