<blockquote>
  <p>Everex enables you to transfer, borrow, and trade in any fiat currency, anywhere. No Bank account required. With settling times below 30 seconds, transaction costs of a few cents, and global support, the world&rsquo;s markets are in the palm of your hand.</p>
  <footer><a href="https://www.everex.io/" target="_blank">https://www.everex.io/</a></footer>
</blockquote>
