<blockquote>
  <p>Eximchain’s public blockchain network enables privacy, scalability and security for the supply chain. Eximchain-powered supply chain solutions help enterprises to connect, transact, and share information more efficiently and securely.</p>
  <footer><a href="https://eximchain.com" target="_blank">https://eximchain.com</a></footer>
</blockquote>
