<blockquote>
  <p>EXMR is an ERC20 token, works under the Ethereum ecosystem and we all know that EXMR is the world's faster ERC20 in terms of block generation time plus the privacy, both achieved now with the implementation of zkSNARKS; with EXMR we works faster and secure in term of speed and privacy.</p>
  <footer><a href="https://exmr.io/" target="_blank">https://exmr.io/</a></footer>
</blockquote>
