<blockquote>
  <p>Welcome to the future of Zcash on the Ethereum blockchain as an ERC-20 token - eZEC</p>
  <footer><a href="https://bitcointalk.org/index.php?topic=2251063.0" target="_blank">https://bitcointalk.org/index.php?topic=2251063.0</a></footer>
</blockquote>
