
<blockquote>
  <p>EZToken (EZT): EZToken aims to be The crypto equivalent to skymiles.</p>
  <footer><a href="https://ico.ezpos.io/" target="_blank">https://ico.ezpos.io/</a></footer>
</blockquote>
  