<blockquote>
  <p>EtherFaith is the only secure ERC20 token embedded with prayer and bible verses. Words of God written in a token smart contract.</p>
  <p>FaithCoin aims to be introduced to people of faith as the main coin to be used in trading and online transactions while spreading the words of God in all and every transactions done.</p>
  <p>FaithCoin is designed and intended to empower cryptocurrency users and boost their trust in trading using our coin. It is embedded with bible verses that will remind them of God’s words. Every transaction done is like passing through God’s message to everyone while experiencing a convenient way of trading without unnecessary cost and delays. We would like to bring peace of mind to our investors and traders, making FaithCoin as a gateway to do online transactions that are parallel to their moral compass.</p>
  <footer><a href="https://myfaithcoin.info/" target="_blank">https://myfaithcoin.info/</a></footer>
</blockquote>
