<p>
  <img src="http://www.battledrome.io/img/logo-shadow.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Build, train, and trade gladiators, and enter them in combat events for fun and profit!</p>
  <footer><a href="http://www.battledrome.io/" target="_blank">http://www.battledrome.io/</a></footer>
</blockquote>
