<blockquote>
  <p>FAPcoin is an Adult industry crypto currency when it comes to online payments. Security and Anonymity is paramount which is why we have developed FAPcoin to be one of the most feature rich coins in the adult space. No more hiding credit card statements!</p>
  <footer><a href="https://fapcoin.io/" target="_blank">https://fapcoin.io/</a></footer>
</blockquote>
