<blockquote>
  <p>Building a global blockchain developer network centered around simple to use APIs, tools, and services. Let us help you develop and deploy your next generation distributed application.</p>
  <footer><a href="http://happyfbr.com/" target="_blank">http://happyfbr.com/</a></footer>
</blockquote>
