<blockquote>
  <p>FaceCoin uses peer to peer networking and the blockchain to help your friends connect and share.</p>
  <footer><a href="http://facecoin.tech/" target="_blank">http://facecoin.tech/</a></footer>
</blockquote>
