<blockquote>
  <p>Freedom Tokens are used as app tokens to access additional features on our platform such as: Promoting your channel, setting a password on your channel, adding entry fee to your channel, creating or adding emotes, etc. Tokens can also be transferred to other users as donations.</p>
  <footer><a href="https://freedomstreaming.io/" target="_blank">https://freedomstreaming.io/</a></footer>
</blockquote>
