<blockquote>
  <p>Friendz offers a variety of digital advertising services, among which brand awareness and product placement campaigns, sharing content activities and market researches. Friendz community can take part to the activities available on the platform, supporting brands in the process of content creation and validation and is rewarded for these activities.</p>
  <footer><a href="https://friendz.io/" target="_blank">https://friendz.io/</a></footer>
</blockquote>
