<blockquote>
  <p>A token which provides owners a proportional distribution of profits based on the Fairgrounds suite of chance-based games.</p>
  <footer><a href="https://fairgrounds.bet" target="_blank">https://fairgrounds.bet</a></footer>
</blockquote>
