<blockquote>
  <p>Fort Knoxster is an all in one encrypted messaging platform across multiple devices. The FKX token is used as a utility to power the platform's services.</p>
  <footer><a href="https://fortknoxster.com/" target="_blank">https://fortknoxster.com/</a></footer>
</blockquote>
