<blockquote>
  <p>FLiK is developing a world-class video streaming platform that gives creatives the ability to self-distribute their film or television show to a global audience. ​We eliminate the cumbersome traditional distribution models, and put the earnings power directly into the hands of the creators. We allow creatives to earn the lion's share of the profits; up to  98%.</p>
  <footer><a href="http://www.theflik.io/" target="_blank">http://www.theflik.io/</a></footer>
</blockquote>
