<blockquote>
  <p>Flixx is Flixxo&rsquo;s token. It is used by users to watch videos, by producers to monetize their work and incentivize the network, and by advertisers to pay for a moment of your attention. Then advertisers need to buy Flixx from content producers, creating a complete, closed and organic token economy.</p>
  <p>We are using ethereum ERC-20 standard for creating a token that is freely transferable and super secure. There is a fixed amount of Flixx, which means that there will never be another Flixx token issued.</p>
  <footer><a href="https://flixxo.com/" target="_blank">https://flixxo.com/</a></footer>
</blockquote>
