<blockquote>
  <p>Floaks is a token that will launch a native blockchain. It will support instant transactions without any fee. Smart payment and smart contracts are also integrated into Floaks.</p>
  <footer><a href="http://www.floaks.com" target="_blank">http://www.floaks.com</a></footer>
</blockquote>
