<blockquote>
  <p>Follow Coin is a new platform that wants to make the crypto world accessible to everyone. Our goal is to lower the barriers of crypto investment markets by providing tools and services that make interacting, handling and trading crypto coins easy. For people that are new to the world of cryptocurrency it is often difficult to know when to buy which coin. Now Follow Coin is here to help you out. As a beginning trader it is a real challenge to maintain an overview of the market. The learning curve for investing in crypto assets is extremely steep. That&rsquo;s why Follow Coin connects (inexperienced) users with influencers that know everything about the cryptocurrency world. We have a working mobile app available in the app-stores, under the name Follow Coin, feel free to take a look!</p>
  <footer><a href="https://followcoin.io/" target="_blank">https://followcoin.io/</a></footer>
</blockquote>
