<blockquote>
  <p>Decentralized rewards for content creators on the web.</p>
  <p>BitFlux is a utility token designed to attribute value to the appreciation of content on the web through a decentralized reward system for content creators and viewers.</p>
  <footer><a href="https://fluxproject.xyz" target="_blank">https://fluxproject.xyz</a></footer>
</blockquote>
