
<blockquote>
  <p>FundRequest (FND): FundRequest is more than a platform to fund projects. We provide the best experience to fund an issue and incentivise the open source community.</p>
  <footer><a href="https://fundrequest.io/" target="_blank">https://fundrequest.io/</a></footer>
</blockquote>
  