<blockquote>
  <p>FundRequest is an integrated platform to fund open source projects, thus financially incentivizing the open source community. The platform allows developers to fix bugs or to program additional features for an existing application.</p>
  <p>FundRequest will be developed on the Ethereum Blockchain, and aims to leverage upon a decentralized ecosystem as it reduces both operational and regulatory burdens and protects against organisational corruption such as fraud and embezzlement. FundRequest creates smart contracts to incentivize developers to solve a problem in the open source community.</p>
  <footer><a href="https://fundrequest.io/" target="_blank">https://fundrequest.io/</a></footer>
</blockquote>
