<blockquote>
  <p>A platform allows you to create beautiful single funnel for each crypto project on your mobile app. While many platforms only provide a single page service Funnel will be designed specifically for crypto-minded people by crypto-minded people. We will offer a library of pre-built templates and widgets (as well as the ability for you to create your own) using a drag &amp; drop content builder. Funnel platform aims to create fully responsive layouts for both desktop and mobile, with drag &amp; drop functionality, without the need for any design or programming knowledge.</p>
  <footer><a href="http://www.adfunnel.tech/" target="_blank">http://www.adfunnel.tech/</a></footer>
</blockquote>
