<blockquote>
  <p>FinTab - the accounting system for cryptocurrency portfolios. FinTab helps to analyze the financial state of portfolio, the yield on a particular currency, and the whole portfolio. For funds, traders and investors.</p>
  <p>The FNTB token is used as a payment method in the FinTab system.</p>
  <footer><a href="https://fintab.io/" target="_blank">https://fintab.io/</a></footer>
</blockquote>
