<blockquote>
  <p>Foodcoin Ecosystem - blockchain for food and agriculture businesses</p>
  <footer><a href="https://www.foodcoin.io/" target="_blank">https://www.foodcoin.io/</a></footer>
</blockquote>
