<blockquote>
  <p>Make the World More Transparent. The First Blockchain Platform for Global OTC Derivatives Market</p>
  <footer><a href="https://www.fota.top/" target="_blank">https://www.fota.top/</a></footer>
</blockquote>
