<blockquote>
  <p>Farad Cryptoken is the first of its kind among the cryptocurrencies on the market. The main difference of farad Cryptoken is that, it is supported by real economic activity which is the production of Ultra-capacitors within the company.</p>
  <footer><a href="https://farad.energy/" target="_blank">https://farad.energy/</a></footer>
</blockquote>
