
<blockquote>
  <p>Fitrova (FRV): Fitrova is Revolutionizing the Health & Fitness Industry by Harnessing Blockchain Technology</p>
  <footer><a href="http://www.fitrova.com/" target="_blank">http://www.fitrova.com/</a></footer>
</blockquote>
  