<blockquote>
  <p>The company "Flash Token" is engaged in the mining and sale of equipment for mining since 2013. We successfully invest in promising crypto-currencies and ICO companies, we have our own crypto-investment fund and develop applications for digital crypto-currencies.</p>
  <footer><a href="https://flashtoken.io" target="_blank">https://flashtoken.io</a></footer>
</blockquote>
