
<blockquote>
  <p>FintruX Network (FTX): The Global P2P Lending Ecosystem Powered By Ethereum And No-Code Development.</p>
  <footer><a href="https://www.fintrux.com/" target="_blank">https://www.fintrux.com/</a></footer>
</blockquote>
  