<p>
  <img src="https://pbs.twimg.com/profile_images/880209213661642752/btRc1qU9_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>In today’s society, we have an epidemic where millions of people have no fucks to give. With our ERC-20 FUCK token we have solved the “lack of FUCKs” problem. Tip your friends 0.001 FUCKs, or 1 FUCK, it doesn’t matter how many FUCKs you give. All that matters is you are contributing something to society.</p>
  <footer><a href="http://www.fucktoken.io/" target="_blank">http://www.fucktoken.io/</a></footer>
</blockquote>
