<blockquote>
  <p>In today&rsquo;s society, we have an epidemic where millions of people have no fucks to give. With our ERC-20 FUCK token we have solved the &ldquo;lack of FUCKs&rdquo; problem. Tip your friends 0.001 FUCKs, or 1 FUCK, it doesn&rsquo;t matter how many FUCKs you give. All that matters is you are contributing something to society.</p>
  <footer><a href="http://www.fucktoken.io/" target="_blank">http://www.fucktoken.io/</a></footer>
</blockquote>
