<blockquote>
  <p>DimonCoin is the first cryptocurrency that won't be affected by Fear, Uncertainty or Doubt, because it is itself FUD. Decentralized.</p>
  <footer><a href="https://dimoncoin.org" target="_blank">https://dimoncoin.org</a></footer>
</blockquote>
