<blockquote>
  <p>FunFair is using the latest blockchain technology to deliver casino gaming that's fun, fast, provably fair and low cost.</p>
  <footer><a href="https://www.funfair.io" target="_blank">https://www.funfair.io</a></footer>
</blockquote>
