<blockquote>
  <p>The FuzeX Ecosystem provides real-time exchange between crypto and fiat currencies. This means that you can now bridge the gap between your online wallet and the one in your pocket.</p>
  <footer><a href="https://www.fuzex.co/" target="_blank">https://www.fuzex.co/</a></footer>
</blockquote>
