<blockquote>
  <p>A HOMEGROWN startup is betting on cryptocurrency crowdfunding as the next fintech vogue. It has created a platform to allow entrepreneurs to raise funds for their projects using virtual currencies such as Bitcoin or Ethereum, instead of regular currency.</p>
  <footer><a href="https://www.fundyourselfnow.com/" target="_blank">https://www.fundyourselfnow.com/</a></footer>
</blockquote>
