<p>
  <img src="https://stat-m6.ms-online.pl//media/cache/gallery/rc/9wiofkw7/images/20/20117090/lg-g5-zloty-1.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>Great token to buy. Maximum 5% risk, potentially infinite upside!</p>
  <footer>Get in early, get rich! Get in later, only lose 5%!</footer>
</blockquote>
