<blockquote>
  <p>GAS is an ERC20 token used for the Gas Files decentralized file storage platform. Gas Files offers privacy, security and a truly unlimited file storage solution!</p>
  <footer><a href="https://www.gasfiles.com" target="_blank">https://www.gasfiles.com</a></footer>
</blockquote>
