<blockquote>
  <p>GATCOIN is a distributed retail shopping platform operating on high-speed super large ledgers. GATCOIN holders will be able to buy and sell digital currencies issued by retailers on our private chain. Our platform will offer access to a retail network of 60,000+ stores and 21 major global brands in Asia in 2018.</p>
  <footer><a href="https://www.gatcoin.io/" target="_blank">https://www.gatcoin.io/</a></footer>
</blockquote>
