
<blockquote>
  <p>GAT (GAT): GATCOIN aims to transform traditional discount coupons, loyalty points and shopping vouchers into liquid, tradable digital tokens.</p>
  <footer><a href="https://www.gatcoin.io/" target="_blank">https://www.gatcoin.io/</a></footer>
</blockquote>
  