<blockquote>
  <p>Gems is a human task crowdsourcing protocol based on the Ethereum blockchain. Gems will leverage the blockchain technology to disincentivize malicious actors and reward fair players featuring a staking mechanism to ensure task completion, a trust mechanism to track worker integrity, and a payment system to reduce transaction fees.</p>
  <p>Gems token (GEM) will be used as the utility token within the platform.</p>
  <footer><a href="https://gems.org" target="_blank">https://gems.org</a></footer>
</blockquote>
