<blockquote>
  <p>GUTS is a ticketing system which uses blockchain technology to register ownership of SMART-tickets.</p>
  <footer><a href="https://guts.tickets/" target="_blank">https://guts.tickets/</a></footer>
</blockquote>
