
<blockquote>
  <p>Guaranteed Entrance Token (GET): GUTS aims to use blockchain technology to create a transparent ticketing ecosystem, where disgraceful secondary market prices and ticket fraud are non-existent.</p>
  <footer><a href="https://guts.tickets/" target="_blank">https://guts.tickets/</a></footer>
</blockquote>
  