<blockquote>
  <p>Crowdfunded cryptocurrency green mining center. Golden Fleece will be utilizing the cheap electricity prices of Georgia at just 0.053 USD per kW/h.</p>
  <footer><a href="https://www.goldenfleece.co/en" target="_blank">https://www.goldenfleece.co/en</a></footer>
</blockquote>
