<blockquote>
  <p>Gilgam.es Ltd. is developing a OS independent E-Sport platform. This platform will allow every e-sport fan to make some profit from their skills.</p>
  <footer><a href="https://ico.gilgam.es/" target="_blank">https://ico.gilgam.es/</a></footer>
</blockquote>
