<blockquote>
  <p>Using Blockchain technology to revolutionize The Gold market, Globally GGT is not just an ERC20 token backed by Gold and a Global Gold Asset Trading Plaform based on blockchain technology & cryptocurrency... Its a Gold Exchange, a Gold Vault a Gold ATM and a Foundation</p>
  <footer><a href="https://gramgold.net" target="_blank">https://gramgold.net</a></footer>
</blockquote>
