<blockquote>
  <p>Gimli is a revolutionary way of experiencing live eSport streaming. Engage in bets, challenges and surveys with your streamers using digital tokens. Gimli is an eSports application made by eSport fans for eSports fans. Streamers benefit from Gimli&rsquo;s enhanced engagement for their streams and their audience. Gimli reaches millions of viewers all over the world. Gimli tokens are used for betting on our platform.</p>
  <footer><a href="https://gimli.io" target="_blank">https://gimli.io</a></footer>
</blockquote>
