<blockquote>
  <p>Gladius is the decentralized solution to protect against DDoS attacks by allowing you to connect to protection pools near you to provide better protection and accelerate your content. With an easy to use interface as well as powerful insight tools, Gladius enables anyone to protect and accelerate their website.</p>
  <footer><a href="https://gladius.io/" target="_blank">https://gladius.io/</a></footer>
</blockquote>
