<blockquote>
  <p>The Future of Communication Platforms Built on the Ethereum Blockchain</p>
  <footer><a href="https://www.mercuryprotocol.com" target="_blank">https://www.mercuryprotocol.com</a></footer>
</blockquote>
