<blockquote>
  <p>The GINNI (GNI) is a token specialising in Mining and FASTcoin ATM technology</p>
  <footer><a href="https://minersatwork.com" target="_blank">https://minersatwork.com</a></footer>
</blockquote>
