<blockquote>
  <p>Based on Ethereum &mdash; The next generation blockchain network. Speculate on anything with an easy-to-use prediction market.</p>
  <footer><a href="https://gnosis.pm/" target="_blank">https://gnosis.pm/</a></footer>
</blockquote>
