<blockquote>
  <p>Golem&rsquo;s objective is to use (almost) any computing resource to execute tasks that today need to rely on centralized solutions.</p>
  <p>Golem network is going to be a decentralized ecosystem, with combined power of users&rsquo; machines and dedicated software delivering all necessary resources to complete any computing task.Golem is going create the first decentralized global market for computing power combined with flexible tools for developers to distribute and monetize their software.</p>
  <footer><a href="https://golem.network/" target="_blank">https://golem.network/</a></footer>
</blockquote>
