<blockquote>
  <p>Goocoin is the world&rsquo;s first digital asset based on mobile phone mining, released three years ago, and has more than 1 million users in China. And every Goochain is always backed 1-to-1, by Goocoin held in our reserves. So 1 Goochain is always equivalent to 1 Goocoin, which provides users with more liquidity. Goochain, based on Ethereum, is a new decentralized blockchain asset. Following ERC-20 token standard, Goochain has similar functions with Bitcoin, LiteCoin, Ethereum.</p>
  <footer><a href="http://www.goochain.org/" target="_blank">http://www.goochain.org/</a></footer>
</blockquote>
