<blockquote>
  <p>The world's first "sell now, innovate later" ICO. The product that will run on the token will be voted upon by token holders after the initial ICO, then a  second more formal ICO will be conducted once a product is chosen, thus increasing the value of the token further.</p>
  <footer><a href="https://greedtoken.com/" target="_blank">https://greedtoken.com/</a></footer>
</blockquote>
