<blockquote>
  <p>GreenMed (GRMD) enables legal marijuana dispensaries to accept debit and credit cards through the use of GreenMed tokens.</p>
  <footer><a href="https://www.greenmed.io/" target="_blank">https://www.greenmed.io/</a></footer>
</blockquote>
