<blockquote>
  <p>GRX is a multipurpose cryptocurrency based on the Ethereum blockchain framework. It is ERC20 compliant and compatible with existing ERC20 wallets. Essentially GRX will be used in fulfilling any form of reward including but not limited to gamification of mobile applications, staking and lending. It is community driven and will allow easy and seamless transfer of value between users. GRX serves three main functions: i) a high value reward coin; ii) a gamification technology; and iii) fuel for an intelligent analytics engine. The future we see is one in which GRX drive most mobile device assisted consumer centered systems like travel, games, sports, health etc. Comprehensive details about Gold Reward Token can be found in the white paper.</p>
  <footer><a href="https://goldreward.io/" target="_blank">https://goldreward.io/</a></footer>
</blockquote>
