<blockquote>
  <p>GROUP aims to build a great fanats asset: a verified, distributed &amp; valueable token. Such a system can answer the following question: How do you love family, friends and money?</p>
  <footer><a href="http://groupco.in/" target="_blank">http://groupco.in/</a></footer>
</blockquote>
