<blockquote>
  <p>Group Token Alliance is the crypto-currency invest fund. Group Token Alliance aims to build a great asset: a verified, distributed &amp; valueable token GTA. GTA will be used as investment in high technology blockchain startups.</p>
  <footer><a href="http://groupco.in/" target="_blank">http://groupco.in/</a></footer>
</blockquote>
