<blockquote>
  <p>Peerguess is a free, one-stop-shop cryptocurrency price ticker application where the users will also guess future prices to earn gems, learn about community tendencies and have access to the sophisticated data to improve your intuition. With collaboration at the heart of the system, peerguess will provide “market sentiment” data to both its users and business partners.</p>
  <footer><a href="https://peerguess.com/" target="_blank">https://peerguess.com/</a></footer>
</blockquote>
