<blockquote>
  <p>GeoFounders is a software collective focused on building blockchain-related applications and services. Smart contracts and trusted oracles are used as the underpinning mechanisms which automate software infrastructure and grow the collective's overall value. GeoFounders has a three-year development roadmap to develop apps spanning multiple blockchains and genres ranging from casual gaming to enterprise communication.</p>
  <footer><a href="http://www.geofounders.com/" target="_blank">http://www.geofounders.com/</a></footer>
</blockquote>
