<blockquote>
  <p>Our vision is to build a platform for matchmakers by allowing anyone to create their own community &lsquo;pool&rsquo; for free and invite their members to their pool. End users of our platform will be able to find connections on the app by joining the pools that best cater to their needs.</p>
  <p>We are building the first platform for mainstream matchmaking powered by a cryptographic token economy. Tokens (Guppies) can be purchased or sold with real money. Matchpool&rsquo;s trusted algorithm rewards users automatically across the platform.</p>
  <footer><a href="https://matchpool.co/" target="_blank">https://matchpool.co/</a></footer>
</blockquote>
