
<blockquote>
  <p>Guppy (Guppy): Matchpool is a platform that creates human connections</p>
  <footer><a href="https://matchpool.co/" target="_blank">https://matchpool.co/</a></footer>
</blockquote>
  