<blockquote>
  <p>Genesis Vision is a platform for the private trust management market, built on Blockchain technology and Smart Contracts. We combine exchanges, brokers, traders and investors into a decentralized, open and honest network.</p>
  <footer><a href="https://genesis.vision/" target="_blank">https://genesis.vision/</a></footer>
</blockquote>
