<blockquote>
  <p>Access to funding for small enterprises in less economically developed and newly industrialized countries is extremely limited. GXVC is a venture capital cryptocurrency that offers exposure of equity to its token holders. Token sale proceeds are injected as seed capital into small businesses. Investment ventures are selected democratically from shortlist by token holders by way of Geneviève’s DAO. Investment returns are proportionally distributed quarterly to all token holders as dividends.</p>
  <footer><a href="https://genevieveco.io/" target="_blank">https://genevieveco.io/</a></footer>
</blockquote>
