<blockquote>
  <p>The H2o Token enables you to start a mining contract at Hyrdrominer, which is a company registerd in Austria. We mine coins only using renewable energy, hydro power, and offer various coins to mine like btc, eth, and many more. After our successfull ICO (8676 Eth) we are now developing our mining dashboard for the contracts and building containers with mining hardware, that will be deployed directly in the hydro power stations in Austria, where we can achieve a low energy price from 3 to 6 cent/kWh. When you enter a mining contract your H2o tokens will be destroyed.</p>
  <footer><a href="https://www.hydrominer.org/" target="_blank">https://www.hydrominer.org/</a></footer>
</blockquote>
