<blockquote>
  <p>The 1st P2P exchange platform which allows its user to exchange cryptocurrencies and convert them into cash using discovery mode just like Uber.</p>
  <footer><a href="http://hawala.today" target="_blank">http://hawala.today</a></footer>
</blockquote>
