<blockquote>
  <p><strong>OLD HAT TOKEN.</strong> See <a href="https://www.hawala.today/blog/coinswap/" target="_blank">the official announcement</a> for details.</p>
  <footer><a href="https://www.hawala.today/blog/coinswap/" target="_blank">https://www.hawala.today/blog/coinswap/</a></footer>
</blockquote>
