<p class="alert alert-warning">
Refer to the announcement, <a href="https://www.hawala.today/blog/coinswap/">https://www.hawala.today/blog/coinswap/.</a> The new token can be found <a href="https://etherscan.io/token/0x9002d4485b7594e3e850f0a206713b305113f69e">here.</a>
</p>
<blockquote>
  <p><strong>OLD HAT TOKEN.</strong> See <a href="https://www.hawala.today/blog/coinswap/" target="_blank">the official announcement</a> for details.</p>
  <footer><a href="https://www.hawala.today/blog/coinswap/" target="_blank">https://www.hawala.today/blog/coinswap/</a></footer>
</blockquote>
