<blockquote>
  <p>Havven is decentralised payment network designed to enable everyday cryptocurrency purchases. The network utilises a dual token system to reduce price volatility. The fees from transactions within the system are used to collateralise the network. The collateral is secured by the blockchain enabling the creation of a new asset-backed stablecoin, nomin tokens. Each transaction will generate fees that are paid to havven token holders. As transaction volume grows, the value of the platform increases and active participants are rewarded with increased transaction fees.</p>
  <footer><a href="https://havven.io/" target="_blank">https://havven.io/</a></footer>
</blockquote>
