<blockquote>
  <p>Satan was impressed with the blockchain technology and decided to make Hell Coin. This is the only currency that will be used in Hell. Do not be overcome by good, but overcome good with evil.</p>
  <footer><a href="http://hellcoin.network/" target="_blank">http://hellcoin.network/</a></footer>
</blockquote>
