<blockquote>
  <p>We are Help Project, a non-profit charity organziation that wants to form a community of people capable to help those in need. We redirect our mission to fight against homelessness.</p>
  <footer><a href="https://www.helpproject.info/" target="_blank">https://www.helpproject.info/</a></footer>
</blockquote>
