
<blockquote>
  <p>HeroNodeToken (HER): Hero Node is a cross-public-blockchain and cross-platform DApp development platform and solutions.</p>
  <footer><a href="https://heronode.io/" target="_blank">https://heronode.io/</a></footer>
</blockquote>
  