<blockquote>
  <p>The amount of money in a person's wallet should not be a barrier to his ability to access financial products that the rich enjoy. HelloGold wants to remove affordability and accessibility from the equation through the democratisation and digitisation of gold-based savings and financing. The digital gold-backed token will enable us to take our offer to another level, allowing us to accelerate financial inclusion across the world.</p>
  <footer><a href="https://www.hellogold.org/" target="_blank">https://www.hellogold.org/</a></footer>
</blockquote>
