<blockquote>
  <p>HODLit Network is a revolutionary platform that rewards its members with tokens of upcoming Decentralised Applications.</p>
  <p>HODLit Network proposes a completely new token distribution paradigm that replaces ICOs, eliminates scams and ensures the stability and the growth of Ethereum.</p>
  <footer><a href="https://www.hodlit.network" target="_blank">https://www.hodlit.network</a></footer>
</blockquote>
