<blockquote>
  <p>We are a blockchain-technology company whose goal is to help creating a borderless digital society where collaboration brings success for all.</p>
  <footer><a href="https://blockhive.ee" target="_blank">https://blockhive.ee</a></footer>
</blockquote>
