<blockquote>
  <p>Hacken builds the next level of application security and makes perfecting your code and network architecture more аffordable by uniting the best European and global human expertise with advanced cybersecurity machine learning.</p>
  <footer><a href="https://hacken.io" target="_blank">https://hacken.io</a></footer>
</blockquote>
