<blockquote>
  <p>Humaniq is a simple and secure mobile app, delivering financial inclusion solutions globally.</p>
  <footer><a href="https://humaniq.co/" target="_blank">https://humaniq.co/</a></footer>
</blockquote>
