<blockquote>
  <p>The World’s first DAPP to bet on the price of Cryptocurrencies</p>
  <p>Ethorse is an Ethereum Smart Contract based DApp for betting on the price of Cryptocurrencies and win from everyone who bets against you. Users bet on a coin/token that performs the best among all the other competing ones in a specific time period. Bets are placed and rewards are claimed using Metamask plugin for Chrome/Firefox or the Ethereum based Mist browser. Being completely secured by the blockchain, no one has control over the race or user funds once a contract is deployed and a race is announced.</p>
  <footer><a href="https://ethorse.com/" target="_blank">https://ethorse.com/</a></footer>
</blockquote>
