<blockquote>
  <p>Holo is a decentralized hosting platform that enables fully-functional decentralized applications to serve mainstream Internet users, and provides the massively scalable crypto-accounting infrastructure required to host and manage these applications at such enormous volumes of usage.</p>
  <p>HoloTokens (HOT) are temporary ERC20 tokens purchased with ETH which will become exchangeable for Holo fuel when the Holo ecosystem launches later in 2018.</p>
  <footer><a href="https://holo.host" target="_blank">https://holo.host</a></footer>
</blockquote>
