<blockquote>
  <p>HOQU is the first decentralized marketing platform that allows merchants and affiliates to interact directly without brokers and ensures fair cost per actions deals based on a smart contracts.</p>
  <footer><a href="https://www.hoqu.io/" target="_blank">https://www.hoqu.io/</a></footer>
</blockquote>
