<blockquote>
  <p>Horizon State has built a token-based blockchain voting and decision-making platform that delivers unprecedented trust through the integrity and post-unforgeable attributes of blockchain technology. Horizon State delivers a secure digital ballot box that cannot be hacked, wherein results can never be altered, and voter identities are protected.</p>
  <footer><a href="https://horizonstate.com/" target="_blank">https://horizonstate.com/</a></footer>
</blockquote>
