<blockquote>
  <p>Hydro enables developers to seamlessly deploy blockchain in their existing applications, without the need to create expensive infrastructure.</p>
  <footer><a href="https://www.hydrogenplatform.com/hydro" target="_blank">https://www.hydrogenplatform.com/hydro</a></footer>
</blockquote>
