<blockquote>
  <p>We are a consultant firm that uses hys as a medium of Exchange. We only accept our own token in exchange for services. We burn half the fees we get and we've set aside a dividend reserve for holders.</p>
  <footer><a href="http://heislerfinancial.com/" target="_blank">http://heislerfinancial.com/</a></footer>
</blockquote>
