<blockquote>
  <p><strong>OLD IBTC TOKEN.</strong> See <a href="https://bitcointalk.org/index.php?topic=2251334.0">bitcointalk thread</a> for details.</p>
  <footer><a href="http://ibtc.fun" target="_blank">http://ibtc.fun</a></footer>
</blockquote>
