<blockquote>
  <p>iBTC is a tokenized version of Bitcoin on the Ethereum blockchain to help bitcoin to achieve is full potential. There are 21 million iBTC, and no additional tokens will ever be produced.</p>
  <footer><a href="http://ibtctoken.com/" target="_blank">http://ibtctoken.com/</a></footer>
</blockquote>
