<p class="alert alert-warning">
<strong>Old IBTC token.</strong> See <a href="https://bitcointalk.org/index.php?topic=2251334.0">bitcointalk thread</a> for details.
</p>
<blockquote>
  <p>iBTC is a tokenized version of Bitcoin on the Ethereum blockchain to help bitcoin to achieve is full potential. There are 21 million iBTC, and no additional tokens will ever be produced.</p>
  <footer><a href="http://ibtc.fun" target="_blank">http://ibtc.fun</a></footer>
</blockquote>
