<p>
  <img src="https://idice.io/front/custom/logo1.png" style="width: 200px;" />
</p>

<blockquote>
  <p>We are, without a doubt, the fastest growing blockchain game in the world already.</p>
  <footer><a href="https://idice.io/" target="_blank">https://idice.io/</a></footer>
</blockquote>
