<blockquote>
  <p>Create your own Digital Asset Arrays&trade; (DAA) from a wide variety of digital assets. Manage them and compare your performance with others. Attract supporters and make your mark in the new distributed economy.</p>
  <footer><a href="https://www.iconomi.net/" target="_blank">https://www.iconomi.net/</a></footer>
</blockquote>
