<p>
  <img src="https://icon.foundation/images/logo_main.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Hyperconnect the World - The ICON project is building one of the largest decentralized networks in the world.</p>
  <footer><a href="https://icon.foundation/" target="_blank">https://icon.foundation/</a></footer>
</blockquote>
