<p>
  <img src="https://icobox.io/wp-content/themes/icobox/img/logo.svg" style="width: 200px; background-color: #000; padding: 10px;" />
</p>

<blockquote>
  <p>ICOS Platform is your crypto crowdsale platform — easily discover & get tokens from upcoming, ongoing, and past campaigns.</p>
  <footer><a href="https://icos.icobox.io/" target="_blank">https://icos.icobox.io/</a></footer>
</blockquote>
