<blockquote>
  <p>ICOS Platform is your crypto crowdsale platform &mdash; easily discover &amp; get tokens from upcoming, ongoing, and past campaigns.</p>
  <footer><a href="https://icos.icobox.io" target="_blank">https://icos.icobox.io</a></footer>
</blockquote>
