<blockquote>
  <p>The ICON project is building a global decentralized network. In the ICON world, independent blockchains with different governances can transact with one another without intermediaries. Dozens of reputable institutions are already in the network. Anyone can create a new blockchain project and join the network.</p>
  <footer><a href="https://icon.foundation/" target="_blank">https://icon.foundation/</a></footer>
</blockquote>
