<blockquote>
  <p>Post a unique idea, thought, or concept and request IDEA tokens to reveal it to either a single or multiple users.</p>
  <p>Request answers, solutions, or concepts from members of the community, or group within it, by awarding IDEA tokens to the selected response.</p>
  <p>Allow the &ldquo;sharing&rdquo; of your ideas by providing easy to use attribution links and revenue share settings.</p>
  <p>Rate and review the IDEAs to help promote helpful and accurate users.</p>
  <p>Search for existing ideas in various categories or upon tags and keywords. (even if they are not yet revealed)</p>
  <footer><a href="http://www.ideatoken.io/" target="_blank">http://www.ideatoken.io/</a></footer>
</blockquote>
