<blockquote>
  <p>IDXM is the membership token for <a href="https://idex.market">idex.market</a> and can be used for free trades (until 2020) or 2x market making rewards.</p>
  <footer><a href="https://auroradao.com/" target="_blank">https://auroradao.com/</a></footer>
</blockquote>
