<blockquote>
  <p>WE ARE BUILDING THE WORLD&rsquo;S FIRST CRYPTOCURRENCY SOCIAL INVESTMENT NETWORK</p>
  <footer><a href="https://www.investfeed.com/" target="_blank">https://www.investfeed.com/</a></footer>
</blockquote>
