<blockquote>
  <p>Indorse is a decentralized network for professionals, which rewards users for sharing their skills and indorsing the skills of others.</p>
  <footer><a href="https://indorse.io/" target="_blank">https://indorse.io/</a></footer>
</blockquote>
