<blockquote>
  <p>The IUNGO will provide public Wi-Fi access. Service providers will be deploying Wi-Fi sites by installing and registering access points for public use. Service consumers will be able to use the IUNGO mobile wallet application or the IUNGO website to locate sites providing access to the IUNGO network. When in radio proximity to an active access point, a consumer's device will access internet services and pay for services used. There will be two levels of access security and two payment methods available. High communication security and more flexible payment terms will be available to end users willing to install a IUNGO mobile wallet application.</p>
  <footer><a href="https://iungo.network/" target="_blank">https://iungo.network/</a></footer>
</blockquote>
