<blockquote>
  <p>Ino Coin – the global platform for funding and provision of know-how to young blockchain projects. The currency backed by a mix of people with perfect technical and commercial skills. People, who will share advice and provide constant direction for young teams in addition to providing funds. A unique decentralized system for joint decision making between the lead team, project representatives and all investors and owners of the currency. Sharing of knowledge, ideas and shares through InoCoin.</p>
  <footer><a href="https://inocoin.eu/" target="_blank">https://inocoin.eu/</a></footer>
</blockquote>
