<blockquote>
  <p>We are a small startup group focusing on IoT based decentralized applications. Our team members are located in Singapore, Canada, US and China. Our INT foundation is located in Singapore with an official website of http://intchain.io.</p>
  <footer><a href="https://intchain.io/" target="_blank">https://intchain.io/</a></footer>
</blockquote>
