<blockquote>
  <p>Internxt, a simple, more private and secure decentralized cloud for files, apps and websites.</p>
  <footer><a href="https://internxt.io/" target="_blank">https://internxt.io/</a></footer>
</blockquote>
