<p>
  <img src="https://internxt.io/logob.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Internxt, a simple, more private and secure decentralized cloud for files, apps and websites.</p>
  <footer><a href="https://internxt.io/" target="_blank">https://internxt.io/</a></footer>
</blockquote>
