<blockquote>
  <p>InsurePal is a next generation of peer-to-peer insurance based on social proof endorsements, fully harnessing the power of blockchain innovation. It aims to become the world’s first insurance service offering trust to members of the crypto community when transacting products and services.</p>
  <footer><a href="https://insurepal.io" target="_blank">https://insurepal.io</a></footer>
</blockquote>
