
<blockquote>
  <p>IPSX (IPSX): Blockchain based system fully automated, with full clearing of utility tokens associating the price and distribution based on offer and demand for IPs</p>
  <footer><a href="https://ip.sx/" target="_blank">https://ip.sx/</a></footer>
</blockquote>
  