<blockquote>
  <p>Infinity Pay is an Ethereum-based ERC-20 Token and payment platform that allows users to easily transact and spend multiple types of cryptocurrencies/assets instantly anywhere.</p>
  <footer><a href="https://infinitypay.org/" target="_blank">https://infinitypay.org/</a></footer>
</blockquote>
