<blockquote>
  <p>IQeon is the first platform where players can earn money thanks to their intelligence and achievements. This will be realized by using the internal currency in the IQeon ecosystem, which at any time can be converted to the crypto currency – IQeon tokens (IQN) issued based on Ethereum blockchain. IQeon tokens (IQN) can be freely exchanged at existing cryptocurrency exchanges, or transferred to fiat money on a card.</p>
  <footer><a href="https://iqeon.io" target="_blank">https://iqeon.io</a></footer>
</blockquote>
