<p>
  <img src="http://web.5iquant.com/iqt/static/images/logo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Decentralized quantitative assets trading</p>
  <footer><a href="http://www.5iquant.org/en" target="_blank">http://www.5iquant.org/en</a></footer>
</blockquote>
