<blockquote>
  <p>The goal of the IST34 Token is simple: BlockChain, Strategy, Education.</p>
  <footer><a href="https://github.com/IST34Token/IST34/blob/master/README.md" target="_blank">https://github.com/IST34Token/IST34/blob/master/README.md</a></footer>
</blockquote>
