<blockquote>
  <p>ITL is a multi-wallet system integrated into debit cards, ITL is developing wireless P.O.S. terminals based on blockchain.</p>
  <footer><a href="https://www.italianlira.ws/" target="_blank">https://www.italianlira.ws/</a></footer>
</blockquote>
