<blockquote>
  <p>Designed for EVERYONE from beginners to professional traders in cryptocurrency markets, the ITT platform sends you actionable and personalized alerts to successfully trade in these nascent and volatile markets.</p>
  <footer><a href="http://intelligenttrading.org/" target="_blank">http://intelligenttrading.org/</a></footer>
</blockquote>
