<blockquote>
  <p>Ivy is a blockchain-based technology for FIAT & cryptocurrency business transactions which require extensive verification in the international monetary system. The ivy network utilizes IVY tokens which carry KYC & KYT data points critical for Financial Institution validation</p>
  <footer><a href="https://www.ivyproject.com/" target="_blank">https://www.ivyproject.com/</a></footer>
</blockquote>
