<blockquote>
  <p>Integrative Wallet will be an application to store all your cryptocurrencies and to make payments instantly to other wallets. In addition to having the option of a debit card.</p>
  <footer><a href="https://iwtoken.com/en/" target="_blank">https://iwtoken.com/en/</a></footer>
</blockquote>
