<p>
  <img src="https://insurex.co/wp-content/uploads/2017/05/InsureX-Logo-Light.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>InsureX is an alternative marketplace for insurance.</p>
  <footer><a href="https://insurex.co/" target="_blank">https://insurex.co/</a></footer>
</blockquote>
