<blockquote>
  <p>JET8 is a decentralized mobile engagement network connecting influencers, audiences and brands through the value of social currency.</p>
  <footer><a href="https://jet8.io/" target="_blank">https://jet8.io/</a></footer>
</blockquote>
