<blockquote>
  <p>A decentralized platform for ethical advertising</p>
  <footer><a href="https://www.jadecoinofficial.org/" target="_blank">https://www.jadecoinofficial.org/</a></footer>
</blockquote>
