<p>
  <img src="https://static1.squarespace.com/static/599be7f3d2b857f09a242979/t/59acf03d8419c2d14994f939/1504754727951/?format=1500w" style="width: 200px;" />
</p>

<blockquote>
  <p>A decentralized platform for ethical advertising</p>
  <footer><a href="https://www.jadecoinofficial.org/" target="_blank">https://www.jadecoinofficial.org/</a></footer>
</blockquote>
