<blockquote>
  <p>JapaneseAVCoin is a decentralized digital currency for adult content intellectual property protection. And it will be the only token to be used on our adult content exchange platform for our second phase plan.</p>
  <footer><a href="http://www.jav.cash" target="_blank">http://www.jav.cash</a></footer>
</blockquote>
