<blockquote>
  <p>Blochchainneo not only purchases goods and services, but also builds infrastructure that can easily carry out shopping demands.</p>
  <footer><a href="https://blockchainneo.net/en/" target="_blank">https://blockchainneo.net/en/</a></footer>
</blockquote>
