<blockquote>
  <p>Using the cryptographic breakthrough of the blockchain ledger and anonymous cryptocurrencies, Jesus Coin has been developed as the currency of God’s Son. Unlike morally bereft cryptocurrencies, Jesus Coin has the unique advantage of providing global access to Jesus that’s safer and faster than every before.</p>
  <footer><a href="https://jesuscoin.network/" target="_blank">https://jesuscoin.network/</a></footer>
</blockquote>
