<blockquote>
  <p>Money Tree is an ethereum game dapp that has many fantastic features. You grow a tree from a seed and harvest its fruit (various ERC20+ tokens). It makes use of a fully player-run economy and auction house system.</p>
  <footer><a href="https://www.moneytree.pw" target="_blank">https://www.moneytree.pw</a></footer>
</blockquote>
