<blockquote>
  <p>jdini is a currency located on the Ethereum Blockchain as an ERC-20 Token. jdini exists for a few purposes. Firstly, it is immune to inflation. Secondly, it is both rare and liquid. Thirdly, it has great potential use among speakers of Lojban. The token was created as a sound and safe cryptocurrency.</p>
  <footer><a href="https://jdini.com" target="_blank">https://jdini.com</a></footer>
</blockquote>
