<p>
  <img src="https://pbs.twimg.com/profile_images/508642286192705536/qxIX0d_5_400x400.jpeg" style="width: 200px;" />
</p>

<blockquote>
  <p>Jetcoin enables ANYONE to launch the careers of tomorrow’s super stars – the Jetcoin Champions.</p>
  <footer><a href="https://jetcoininstitute.com/" target="_blank">https://jetcoininstitute.com/</a></footer>
</blockquote>
