<blockquote>
  <p>Jetcoin enables ANYONE to launch the careers of tomorrow&rsquo;s super stars &ndash; the Jetcoin Champions.</p>
  <footer><a href="https://jetcoininstitute.com/" target="_blank">https://jetcoininstitute.com/</a></footer>
</blockquote>
