
<blockquote>
  <p>Jibrel Network Token (JNT): The Jibrel Network provides currencies, equities, commodities and other financial assets and instruments as standard ERC-20 tokens on the Ethereum blockchain.</p>
  <footer><a href="https://jibrel.network/" target="_blank">https://jibrel.network/</a></footer>
</blockquote>
  