<blockquote>
  <p>The Jibrel Network provides traditional financial assets, such as currencies, bonds and equities, as standard ERC-20 tokens on the Ethereum blockchain.</p>
  <p>In the medium to long-term, Jibrel will focus on tokenizing debt instruments and their derivatives - thereby streamlining large portions of retail investment and investment banking operations. They are the first protocol to allow anyone to put traditional assets like currencies, bonds, and other financial instruments on the blockchain in a form of Crypto Depository Receipts (CryDRs).</p>
  <footer><a href="https://jibrel.network/" target="_blank">https://jibrel.network/</a></footer>
</blockquote>
