<blockquote>
  <p>Joint Ventures is building blockchain applications for leading online publishers. Our aim is to create an economy for online publishers that rewards every participant of the network, including authors, commenters and advertisers alike, and minimize third-party commissions.</p>
  <footer><a href="https://jointventures.io" target="_blank">https://jointventures.io</a></footer>
</blockquote>
