<blockquote>
  <p>With Just Wallet, you can in a few minutes create your e-currency, e-wallet and online payment processing.</p>
  <footer><a href="https://justwallet.trade/" target="_blank">https://justwallet.trade/</a></footer>
</blockquote>
