<blockquote>
  <p>KahnChat is a completely social networking solution and chatting app through which you can connect with friends and family members, send text messages, files and more, send money online, pay bills, post on user walls, share your story and discuss through comments, create and follow brand pages. The app is suitable for people of all ages.</p>
  <p>KCH Token is virtual currency that can be purchased and exchanged through KahnChat wallet and can be used for performing online purchases and transactions at supported merchants, same as the bitcoin.</p>
  <footer><a href="https://www.kahnchat.com/" target="_blank">https://www.kahnchat.com/</a></footer>
</blockquote>
