<blockquote>
  <p>KEY is the utility token for both Bihu ID and Bihu Community. It is an ERC20 token on the Ethereum blockchain. KEY is used to incentivize content generation within the Bihu Community, as well as the primary method for good content discovery. KEY also is the value exchange method within the Bihu Community, such as tipping between users. Since a single Bihu ID lives on multiple blockchains, it is desired that users will be able to pay KEY for generic network fees (AKA gas). KEY also acts as the generic payment method in the Bihu ID system, for instance, to recover lost IDs.</p>
  <footer><a href="https://bihu.com" target="_blank">https://bihu.com</a></footer>
</blockquote>
