<blockquote>
  <p>Kin by Kik - A decentralized ecosystem of digital services for daily life.</p>
  <footer><a href="https://kin.kik.com/" target="_blank">https://kin.kik.com/</a></footer>
</blockquote>
