<blockquote>
  <p>KyberNetwork is a new system which allows the exchange and conversion of digital assets.</p>
  <footer><a href="https://kyber.network/" target="_blank">https://kyber.network/</a></footer>
</blockquote>
