<blockquote>
  <p>Kredits (KRX) will be the new Cryptocurrency that is released with KredX and will be used as a base Currency for all in-app purchases and advertising costs.</p>
  <footer><a href="https://kredx.io" target="_blank">https://kredx.io</a></footer>
</blockquote>
