<blockquote>
  <p>KarmaToken will make kindness sustainable by initiating and supporting projects with similar goals.</p>
  <footer><a href="https://www.karmatoken.net/" target="_blank">https://www.karmatoken.net/</a></footer>
</blockquote>
