<p>
  <img src="https://static.wixstatic.com/media/8fc8ba_7374742a0c6a411f95ac0d70c444b4ed~mv2.png/v1/fill/w_129,h_133,al_c,usm_0.66_1.00_0.01/8fc8ba_7374742a0c6a411f95ac0d70c444b4ed~mv2.png" style="width: 200px;" />
</p>

<blockquote>
  <p>KarmaToken will make kindness sustainable by initiating and supporting projects with similar goals.</p>
  <footer><a href="https://www.karmatoken.net/" target="_blank">https://www.karmatoken.net/</a></footer>
</blockquote>
