
<blockquote>
  <p>LALA (LALA): LaLa is a new age one-stop Wallet based on ethereum and hyperledger blockchains allowing investors to capitalise on the rise of blockchain as well as the underbanked into the financial ecosystem.</p>
  <footer><a href="https://lalaworld.io/" target="_blank">https://lalaworld.io/</a></footer>
</blockquote>
  