<blockquote>
  <p>LALA World (“LALA”) is all about migrants and their unbanked families. Its an ECOSYSTEM enabled by the LALA Wallet as a PLATFORM, a single sign-on platform revolving around their issues and problems. Employment issues, digital ID’s, communities build up, government and NGO partnerships, health issues, and of course, a new financial ecosystem for the huge underbanked population by capitalizing the Blockchain revolution to bridge the gap between cash, digital world.</p>
  <footer><a href="https://lalaworld.io/" target="_blank">https://lalaworld.io/</a></footer>
</blockquote>
