<blockquote>
  <p>FreelancerCoin is an Ethereum-based freelancing platform. Clients can pay freelancers using FreelancerCoin token while setting up a ‘smart contract’ via Blockchain technology that is never changed or altered.</p>
  <footer><a href="https://www.freelancercoin.io/" target="_blank">https://www.freelancercoin.io/</a></footer>
</blockquote>
