<blockquote>
  <p>Blocklancer is a Distributed Autonomous Job Marketplace (DAJ) operating on the Ethereum Blockchain. Blocklancer is our collaborative vision of an entirely self-regulatory platform for finding clients/projects and ensuring jobs are completed efficiently and fairly. Blocklancer is changing the way freelancing works for both the freelancer and the customer, concentrating on building a trustworthy platform all stakeholders can rely on. Blocklancer does this by minimalizing fees and introducing a decentralized tribunal system to guarantee every dispute case is settled fairly and that no one loses out — we can finally wave goodbye to fraud in freelancing.</p>
  <footer><a href="https://www.blocklancer.net/" target="_blank">https://www.blocklancer.net/</a></footer>
</blockquote>
