<blockquote>
  <p>LAP is a new digital coin that everyone can use to pay online services and online purchases.</p>
  <footer><a href="http://listandpump.xyz/" target="_blank">http://listandpump.xyz/</a></footer>
</blockquote>
