<blockquote>
  <p>LAToken enables cryptocurrencies to be widely used in the real economy by making real assets tradable in crypto. LAT is a utility token designed to support transactions on the LAT platform. It will be purchased by cryptoholders and asset owners to do the following: Buy asset and other tokens on the LAT platform, Pay transaction fees.</p>
  <footer><a href="https://sale.latoken.com" target="_blank">https://sale.latoken.com</a></footer>
</blockquote>
