<blockquote>
  <p>Latium is a tasking platform working to connect employers and employees in a fully transparent and trustless process.</p>
  <p>The LatiumX (LATX) ERC20 token will be the established form of payment on the platform. Payment for tasks completed on the Latium platform will be credited in real-time using LATX, meaning the LATX tokens will have to be purchased by employers in order to create new tasks in the system.</p>
  <footer><a href="https://latium.org/" target="_blank">https://latium.org/</a></footer>
</blockquote>
