<blockquote>
  <p>LitecoinCash was built to help increase the adoption of cryptocurrency amongst average people. It was made to help increase the day-to-day transactions made with cryptocurrencies and help bring cryptocurrency into the mainstream, capitalist free market. LitecoinCash has the goal of becoming one of the top three cryptocurrencies that can be used for the sole purpose of being a reliable, trustless and fair medium of exchange. LitecoinCash wants to make everything fair and evenly distributed. It is this honest ethos and simple goal that will enable LitecoinCash to last for the longterm and be successfully sustained by the community.</p>
  <footer><a href="https://litecoincash.io/" target="_blank">https://litecoincash.io/</a></footer>
</blockquote>
