<p>
  <img src="http://liteconnect.io/home/wp-content/uploads/2017/10/unknown-e1509378601110.png" />
</p>

<blockquote>
  <p>LiteConnect</p>
  <p>The Future of Decentralized Landing Built atop Litecoin.</p>
  <footer><a href="http://liteconnect.io/home/" target="_blank">http://liteconnect.io/home/</a></footer>
</blockquote>