<blockquote>
  <p>A new lending platform that combines all the cryptocurrency lending platforms in a way that simply makes sense. But we are not just "another" lending platform among all the other platforms. We are the one that combines the possibilities of the crypto lending platforms into one.</p>
  <footer><a href="https://lendconnect.io/" target="_blank">https://lendconnect.io/</a></footer>
</blockquote>
