<blockquote>
  <p>LiteCoinW Plus (LCWP) is a multipurpose cryptocurrency designed to meet the needs of various types of users, it has a green-marked verified Contract (ERC20). Due to its optimized code, free of bugs and warnings, LCWP has very low fees and very fast transactions.</p>
  <footer><a href="https://www.litecoinw.com/" target="_blank">https://www.litecoinw.com/</a></footer>
</blockquote>
