<blockquote>
  <p>LeadCoin empowers businesses to sell their unused leads and buy hot leads from other businesses. Sellers automatically share their unused leads in real-time. LeadCoin’s matching algorithm then analyzes and matches leads to buyers. Leads who didn’t match one business, are now the perfect match for another.​​</p>
  <footer><a href="https://www.leadcoin.network" target="_blank">https://www.leadcoin.network</a></footer>
</blockquote>
