
<blockquote>
  <p>Education (LEDU): A decentralized peer-to-peer project learning network for teaching people how to build complete products.</p>
  <footer><a href="https://tokensale.liveedu.tv/" target="_blank">https://tokensale.liveedu.tv/</a></footer>
</blockquote>
  