<blockquote>
  <p>Leverj is a Consensus-supported project that has raised over $11 Million in presale. It is a pseudo-decentralized exchange that does ordermatching and handling centralized while the funds custody is decentralized. The LEV token can be used to earn FEE tokens which allow the user to pay for trading fees in the Leverj platform. The platform is already built to facilitate trading on Bitcoin, it is only a matter of porting the system over to Ethereum, which Leverj has already designed and partially implemented.</p>
  <footer><a href="https://www.leverj.io/" target="_blank">https://www.leverj.io/</a></footer>
</blockquote>
