<blockquote>
  <p>SmartOne aims to bring the disruptive capabilities of blockchain-based enterprise to the legal sector by creating a means of access to legal services for the crypto community. SmartOne’s services include a marketplace for legal advice, automated document preparation and individual legal consulting. Our focus is on providing legal solutions for enterprises issuing tokens through TGEs, as well as the automation of documents and contracts for the financial and capital markets.</p>
  <p>Access to these services will be gained through ownership of blockchain-based LEGAL tokens.</p>
  <footer><a href="https://smartone.legal" target="_blank">https://smartone.legal</a></footer>
</blockquote>
