<blockquote>
  <p>Legolas Exchange creates a new decentralized blockchain protocol that guarantees full transparency and prevents front-running and market manipulation.</p>
  <footer><a href="https://legolas.exchange" target="_blank">https://legolas.exchange</a></footer>
</blockquote>
