<blockquote>
  <p>The Líf token facilitates transactions on the Winding Tree platform. Líf is used by travel companies to distribute inventory and make transactions without intermediaries.</p>
  <footer><a href="https://windingtree.com/" target="_blank">https://windingtree.com/</a></footer>
</blockquote>
