<blockquote>
  <p>LIFE is digital cash, like the cash in your online bank account. It is a consumer reward system for large businesses, charities, communities and innovation projects.</p>
  <footer><a href="http://www.lifelabs.io/" target="_blank">http://www.lifelabs.io/</a></footer>
</blockquote>
