<blockquote>
  <p>Lion Coin is an exchange based token, the ICO was performed to raise money to build both an exchange, research portal, and portfolio management system. More can be found on our website.</p>
  <footer><a href="https://coinlion.com/" target="_blank">https://coinlion.com/</a></footer>
</blockquote>
