<blockquote>
  <p>Lira National Supplementary Cryptocurrency Lira is an ERC20 token version of cryptocurrency based on Ethereum blockchain. Complementary currencies are 'systems of agreement' within a community. They promote long term planning by encouraging participants to invest in related productive activities. They encourage exchange and cooperation through the circulation of the commodity which is usually given an ethical value and ideal. Lira is a tribute to the Italian Lira that has been in disuse for about 10 years. Lira aims to celebrate Italy's past.</p>
  <footer><a href="http://www.lira.site/" target="_blank">http://www.lira.site/</a></footer>
</blockquote>
