<blockquote>
  <p>Live Stars is creating the new generation webcam platform that implements blockchain technology. The platform has a transparent structure and it offers a multitude of advantages against the projects currently existing on the market. The main goals of our project are to create a platform with an automated system, eliminate the existing webcam industry problems, and organize the work of the Live Stars project. </p>
  <footer><a href="http://www.livestars.io" target="_blank">http://www.livestars.io/</a></footer>
</blockquote>
