<blockquote>
  <p>Live Stars is creating the new generation webcam platform that implements blockchain technology.</p>
  <footer><a href="https://livestars.io" target="_blank">https://livestars.io</a></footer>
</blockquote>
