<blockquote>
  <p>Lalena is an open source venture capital club and digital agency based in New York City. We elevate platforms for everyone - online and offline.</p>
  <footer><a href="https://www.lalena.co/" target="_blank">https://www.lalena.co/</a></footer>
</blockquote>
