<blockquote>
  <p>Lendingblock is a securities lending platform for the cryptoeconomy. Borrow or lend any cryptocurrency. Generate stable and secure returns without sacrificing token ownership and borrow at market rates to support funding, hedging or investing strategies.</p>
  <footer><a href="https://lendingblock.com" target="_blank">https://lendingblock.com</a></footer>
</blockquote>
