<blockquote>
  <p>We are a firm dedicated to promote, offer and integrate Ethereum platform to any individual or corporation wanting to make a whole improvement of their business structure to join the new generation era taking advantage of this technology and surpass their competitors.</p>
  <footer><a href="https://ethereum.link/" target="_blank">https://ethereum.link/</a></footer>
</blockquote>
