<blockquote>
  <p>Deploy smart companies that navigate web based and blockchain applications allowing for cross platform interaction eg. facebook, twitter, reddit, slack. companies and fully customizable with administrative powers, voting, capital management ect. Lynx provides applications by default like the Academy where users can learn and share info, a Marketplace where individuals and companies can do business for a small fee. all fees collected go to a global pool to be managed by the global governance protocol. By default all ETH is used to replace fees from users allowing free interaction with Ethereum.</p>
  <footer><a href="https://www.lynxnetwork.org" target="_blank">https://www.lynxnetwork.org</a></footer>
</blockquote>
