<blockquote>
  <p>Blockchain Powered Marketplace &amp; Technology, Where Hoteliers And Property Owners Can Rent Their Property Globally, Collect Money And Manage Bookings Without Paying Any Commissions To Middlemen.</p>
  <footer><a href="https://lockchain.co/" target="_blank">https://lockchain.co/</a></footer>
</blockquote>
