
<blockquote>
  <p>LOCIcoin (LOCI): Platform for Intellectual Property Discovery and Mining.</p>
  <footer><a href="https://locipro.com/" target="_blank">https://locipro.com/</a></footer>
</blockquote>
  