<blockquote>
  <p>We propose to create a global love coin that will allow the use of cryptocurrencies as a method of sending love everywhere in the world. We envisage millions of love tokens being send around the world.</p>
  <footer><a href="https://lovetoken.gq/" target="_blank">https://lovetoken.gq/</a></footer>
</blockquote>
