<blockquote>
  <p>We propose to create a global token that will allow the use of cryptocurrencies as a method of sending love everywhere in the world. We envisage millions of love tokens being send around the world.</p>
  <footer><a href="https://lovetoken.info/" target="_blank">https://lovetoken.info/</a></footer>
</blockquote>
