<blockquote>
  <p>ᴡᴇ ᴘʀᴏᴘᴏsᴇ ᴛᴏ ᴄʀᴇᴀᴛᴇ ᴀ ɢʟᴏʙᴀʟ ʟᴏᴠᴇ ᴄᴏɪɴ ᴛʜᴀᴛ ᴡɪʟʟ ᴀʟʟᴏᴡ ᴛʜᴇ ᴜsᴇ ᴏғ ᴄʀʏᴘᴛᴏᴄᴜʀʀᴇɴᴄɪᴇs ᴀs ᴀ ᴍᴇᴛʜᴏᴅ ᴏғ sᴇɴᴅɪɴɢ ʟᴏᴠᴇ ᴇᴠᴇʀʏᴡʜᴇʀᴇ ɪɴ ᴛʜᴇ ᴡᴏʀʟᴅ. ᴡᴇ ᴇɴᴠɪsᴀɢᴇ ᴍɪʟʟɪᴏɴs ᴏғ ʟᴏᴠᴇ ᴛᴏᴋᴇɴs ʙᴇɪɴɢ sᴇɴᴅ ᴀʀᴏᴜɴᴅ ᴛʜᴇ ᴡᴏʀʟᴅ.</p>
  <footer><a href="https://lovetoken.gq" target="_blank">https://lovetoken.gq</a></footer>
</blockquote>