<blockquote>
  <p>Loopring is not only a protocol but also a decentralized automated execution system that trades across the crypto-token exchanges, shielding users from counterparty risk and reduce the cost of trading. By essentially rising the liquidity of cryptocurrencies, we are building the financial system of the future.</p>
  <footer><a href="https://loopring.org/en/index.html" target="_blank">https://loopring.org/en/index.html</a></footer>
</blockquote>
