<blockquote>
  <p>Lendroid is a non-rent seeking protocol partnering with 0x Project Relayers that enables Margin Trading and short selling of ERC20 tokens without having to give custody of funds to a centralized service.</p>
  <footer><a href="https://lendroid.com/" target="_blank">https://lendroid.com/</a></footer>
</blockquote>
