<blockquote>
  <p>Litecoin Red (LTCRED) is a tokenized ERC-20 version of Litecoin. The concept was spun off the successful Bitcoin Red (BTCRED) token and looks to give the same community another option that relies upon the same “RED” values and ideas.</p>
  <footer><a href="https://litecoinred.com/" target="_blank">https://litecoinred.com/</a></footer>
</blockquote>
