<blockquote>
  <p>Lotus Token aims to decentralize the travel marketplace using blockchain technology to lower travel-related costs by eliminating costly overhead transaction fees of traditional booking systems. We have recently signed a partnership with ORIGINPROTOCOL to improve and power-up the shared economy where decentralized systems act like a one-stop shop for common people to enjoy the freedom of enjoying reduced costs of decentralized services like travel, house/hotel bookings, etc.</p>
  <footer><a href="https://lotus.sh/" target="_blank">https://lotus.sh/</a></footer>
</blockquote>
