<blockquote>
  <p>Lympo is building an app, a fitness wallet, which will help people to reach their healthy lifestyle goals and earn tokens in return. Lympo users will be able to share and monetise their fitness and wellness data which we all track on our phones and wearables.</p>
  <p>Lympo token LYM will be used as a utility token in order to pay for fitness, wellness and other health enhancing products and services, earn token rewards for fitness data, register permissions to share this personal data, interact with health insurances and employers who want to encourage their staff to remain healthy and developers who submit new applications to further use fitness data.</p>
  <footer><a href="https://www.lympo.io/" target="_blank">https://www.lympo.io/</a></footer>
</blockquote>
