<blockquote>
  <p>LIGHTYYEARS is a decentralized, peer-to-peer digital currency that enables you to easily send money online. Think of it like a Digital Asset.</p>
  <footer><a href="http://www.lightyearstoken.com/" target="_blank">http://www.lightyearstoken.com/</a></footer>
</blockquote>
