<blockquote>
  <p>Designed to be the new generation blockchain, MATRIX differentiates itself from previous blockchains by offering breakthrough technologies in building AI-enabled autonomous and self-optimizing blockchain networks.</p>
  <footer><a href="https://www.matrixchain.io/" target="_blank">https://www.matrixchain.io/</a></footer>
</blockquote>
