
<blockquote>
  <p>MATRIX AI Network (MAN): Aims to be an open source public intelligent blockchain platform</p>
  <footer><a href="https://www.matrixchain.io/" target="_blank">https://www.matrixchain.io/</a></footer>
</blockquote>
  