<blockquote>
  <p>Decentraland is a virtual reality platform powered by the Ethereum blockchain. Users can create, experience, and monetize content and applications.</p>
  <footer><a href="https://decentraland.org/" target="_blank">https://decentraland.org/</a></footer>
</blockquote>
