<blockquote>
  <p>With MCAP tokens, our aim is to enable even the average user to earn huge returns in the long run by investing in one single coin rather than investing in multiple cryptocurrencies and hoping for their price to increase. Our token uses the ERC 20 protocol for peer-to-peer transactions. All MCAP transactions will be recorded to the Ethereum Blockchain to ensure immutability and transparency.</p>
  <footer><a href="https://bitcoingrowthfund.com/mcap" target="_blank">https://bitcoingrowthfund.com/mcap</a></footer>
</blockquote>
