<blockquote>
  <p>At Dinnerful we dedicated to making dinner available on blockchain</p>
  <footer><a href="https://dinnerfulnetwork.com/demo/" target="_blank">https://dinnerfulnetwork.com/demo/</a></footer>
</blockquote>
