<blockquote>
  <p>Introducing MUSICONOMI - A Global Music Economy That Works for Everyone.</p>
  <footer><a href="https://musiconomi.com/" target="_blank">https://musiconomi.com/</a></footer>
</blockquote>
