<p>
  <img src="https://musiconomi.com/images/logo-transparent.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Introducing MUSICONOMI - A Global Music Economy That Works for Everyone.</p>
  <footer><a href="https://musiconomi.com/" target="_blank">https://musiconomi.com/</a></footer>
</blockquote>
