<blockquote>
  <p>Moeda Loyalty Points (MDA) are backed by a social contract in loyal support of Green Cross Brazil to achieve the United Nations Sustainable Development Goals (SDGs). Capital appreciation of tokens will correlate to usage, investment, and projects&rsquo; sustainable profitability subject to market supply and demand dynamics.</p>
  <footer><a href="https://moeda.in" target="_blank">https://moeda.in</a></footer>
</blockquote>
