<blockquote>
  <p>Built to rearrange Peer to Peer lending for the better, Meridian (MDN) is an ERC20 based digital asset that is designed to be used in combination with Bitcoin.</p>
  <footer><a href="https://mymdn.io/" target="_blank">https://mymdn.io/</a></footer>
</blockquote>
