<p>
  <img src="https://mobilego.io/wp-content/uploads/2017/01/MGT_logo_350x61.png" style="width: 200px;" />
</p>

<blockquote>
  <p>The First Crypto-Centric Mobile Gaming Platform and Store For In-Game Purchases.</p>
  <footer><a href="https://mobilego.io/" target="_blank">https://mobilego.io/</a></footer>
</blockquote>
