<blockquote>
  <p>MEGAX are spendable tokens on a wide and growing retail network of more than 40,000 brands.</p>
  <footer><a href="https://megax.io" target="_blank">https://megax.io</a></footer>
</blockquote>
