<blockquote>
  <p>Mindexcoin is opening doors to a new route and a new chapter in the history of cryptocurrency</p>
  <footer><a href="https://mindexcoin.com" target="_blank">https://mindexcoin.com</a></footer>
</blockquote>
