<blockquote>
  <p>MINT is Mineable Token. To mine bitcoin you need to spend electricity. To mine MINT you need to spend some gas. The basic principle: the more MINT you have, the more MINT you will get.</p>
  <footer><a href="https://mitoken.club/" target="_blank">https://mitoken.club/</a></footer>
</blockquote>
