<blockquote>
  <p>Mankind First is a platform that will work beside any politics, race and religion, gearing towards a common goal of empowering humanity.</p>
  <footer><a href="https://www.mankindfirst.com/" target="_blank">https://www.mankindfirst.com/</a></footer>
</blockquote>
