<p class="alert alert-warning">
MKR token upgrade and Oasis redeployment. You can read the announcement here, <a href="https://medium.com/@MakerDAO/mkr-token-upgrade-and-oasis-redeployment-2445482437d6"> https://medium.com/@MakerDAO/mkr-token-upgrade-and-oasis-redeployment-2445482437d6</a>. The old token contract can be found <a href="https://etherscan.io/token/0xc66ea802717bfb9833400264dd12c2bceaa34a6d">here</a>
</p>
<blockquote>
  <p>Maker is a Decentralized Autonomous Organization that creates and insures the Dai stablecoin on the Ethereum blockchain.</p>
  <footer><a href="https://makerdao.com/" target="_blank">https://makerdao.com/</a></footer>
</blockquote>
