<blockquote>
  <p>Maker is a Decentralized Autonomous Organization that creates and insures the Dai stablecoin on the Ethereum blockchain.</p>
  <footer><a href="https://makerdao.com/" target="_blank">https://makerdao.com/</a></footer>
</blockquote>
