<blockquote>
  <p>This is an old MKR token. New MKR tokens can be redeemed for the old ones.</p>
  <footer><a href="https://makerdao.com/" target="_blank">https://makerdao.com/</a></footer>
</blockquote>
