<blockquote>
  <p>MOLD is a fair and secure distributed gaming platform which supports the development of new games and simplifies the trading of items, weapons, armors, and other valuable data.</p>
  <footer><a href="https://moldcoin.jp" target="_blank">https://moldcoin.jp</a></footer>
</blockquote>
