<blockquote>
  <p>Do you know the origin of the milk you are drinking? Probably not. We are aiming to revolutionize the milk industry by tracking your milk from the cow to the table.</p>
  <footer><a href="http://www.mymilk.info" target="_blank">http://www.mymilk.info</a></footer>
</blockquote>
