<blockquote>
  <p>The MMA token is an Ethereum ERC20 standard token for the purposes of being used within the MMASportsTech ecosystem.</p>
  <footer><a href="http://www.mmasportstech.com/" target="_blank">http://www.mmasportstech.com/</a></footer>
</blockquote>
