<blockquote>
  <p>The First Self Mining Smart Contract. All great cryptocurrencies have something in common: they have a great mining system. Minereum goes back to the basics and attempts to bring a new mining approach to the cryptocurrency space.</p>
  <footer><a href="https://www.minereum.com/" target="_blank">https://www.minereum.com/</a></footer>
</blockquote>
