<p>
  <img src="https://static.wixstatic.com/media/913f6f_ba19cc575e904b9f8a857fd3616e7fb7~mv2.png/v1/fill/w_383,h_128,al_c,usm_0.66_1.00_0.01/913f6f_ba19cc575e904b9f8a857fd3616e7fb7~mv2.png" style="width: 200px;" />
</p>

<blockquote>
  <p>The First Self Mining Smart Contract. All great cryptocurrencies have something in common: they have a great mining system. Minereum goes back to the basics and attempts to bring a new mining approach to the cryptocurrency space.</p>
  <footer><a href="https://www.minereum.com/" target="_blank">https://www.minereum.com/</a></footer>
</blockquote>
