<blockquote>
  <p>Blockchain based platform which operates gold-backed cryptoassets GOLD</p>
  <footer><a href="https://www.goldmint.io/" target="_blank">https://www.goldmint.io/</a></footer>
</blockquote>
