<blockquote>
  <p>modum.io combines IoT sensors with blockchain technology to provide data integrity for transactions of physical products, streamlining supply chain processes in many sectors.</p>
  <footer><a href="https://modum.io" target="_blank">https://modum.io</a></footer>
</blockquote>
