<blockquote>
  <p>Molik is a public Ethereum-based jewelry shopping platform for use in mainstream online mall, that enables real-time, peer-to-peer value exchange and payment services.</p>
  <footer><a href="https://molikcoin.imweb.me" target="_blank">https://molikcoin.imweb.me</a></footer>
</blockquote>
