<blockquote>
  <p>MoviToken is an ERC20 + VERIFIED community cryptocurrency developed specifically for the independent film community.</p>
  <footer><a href="http://movitoken.com/" target="_blank">http://movitoken.com/</a></footer>
</blockquote>
