<p>
  <img src="https://mothership.cx/img/logo_large.png" style="width: 200px;" />
</p>

<blockquote>
  <p>A state-of-the-art digital asset exchange, EU token marketplace and wallet with powerful security features.</p>
  <footer><a href="htts://mothership.cx" target="_blank">https://mothership.cx</a></footer>
</blockquote>
