<blockquote>
  <p>A state-of-the-art digital asset exchange, EU token marketplace and wallet with powerful security features</p>
  <footer><a href="https://mothership.cx/" target="_blank">https://mothership.cx/</a></footer>
</blockquote>
