
<blockquote>
  <p>Medical Token Currency (MTC): MTC is an utility token that fuels a healthcare platform providing healthcare information to interested parties on a secure blockchain supported environment.</p>
  <footer><a href="https://ico.docademic.com/" target="_blank">https://ico.docademic.com/</a></footer>
</blockquote>
  