<blockquote>
  <p>MeeTip is a cryptocurrency that will be used into OutMySphere in order to offer drinks to your soulmate or to your friends and tip the employee of your choice.</p>
  <footer><a href="https://meetip.io/" target="_blank">https://meetip.io/</a></footer>
</blockquote>
