<blockquote>
  <p>Transfer money instantly around the globe with nothing more than a phone number. Earn rewards every time you spend or make a purchase. Ditch the bank and go digital.</p>
  <footer><a href="https://www.metalpay.com/" target="_blank">https://www.metalpay.com/</a></footer>
</blockquote>
