<blockquote>
  <p>Medicalchain is a decentralized platform that enables secure, fast and transparent exchange and usage of medical data. Medicalchain will enable different healthcare agents such as doctors, hospitals, laboratories, pharmacists and insurers to request permission to access and interact with medical records. Each interaction is auditable, transparent, and secure, and will be recorded as a transaction on a distributed ledger.</p>
  <footer><a href="https://medicalchain.com/en/" target="_blank">https://medicalchain.com/en/</a></footer>
</blockquote>
