
<blockquote>
  <p>MedToken (MTN): Medicalchain uses blockchain technology to securely store health records and maintain a single version of the truth.</p>
  <footer><a href="https://medicalchain.com/" target="_blank">https://medicalchain.com/</a></footer>
</blockquote>
  