<p>
  <img src="https://militarypay.io/wp-content/uploads/2017/08/cropped-Military_Channel_logo.svg_-1.png" style="width: 200px;" />
</p>

<blockquote>
  <p>"Our mission is to help everyone benefit from the security and convenience of smart contracts on the Ethereum network and beyond, unlocking the door to intelligent and automated commerce at scales never before possible."</p>
  <footer><a href="https://militarypay.io/" target="_blank">https://militarypay.io/</a></footer>
</blockquote>
