<blockquote>
  <p>Matryx provides an environment in which collaboration is monetarily incentivized, grants are distributed fairly, R&amp;D expenses are reduced and time is saved.</p>
  <footer><a href="https://matryx.ai/" target="_blank">https://matryx.ai/</a></footer>
</blockquote>
