<blockquote>
  <p>Maverick chain is a BAAS (block chain as a service) block-chain SDK solution to make development much easier. With our SDK, developers can transfer their APP into a block-chain APP smoothly. To use our SDK developers should consume Maverick coin (MVC).</p>
  <footer><a href="http://www.mvchain.net" target="_blank">http://www.mvchain.net</a></footer>
</blockquote>
