<blockquote>
  <p>The Movement is a Decentralized Autonomous Organization (DAO) that is entirely owned and shaped by its participants. By harnessing the power of the Ethereum computing platform and related cutting-edge technologies, the world's first fully crowdsourced DAO is being created. Without any central leader and built from the ground up, the Movement supports humans on the internet to come together and create freely. New and innovative spaces are emerging, communities and markets governed by internet citizens are arising. Independent from government agendas or corporate entities, the Movement uses the latest technology to offer a decentralized and unstoppable breeding ground for people from all around the world to connect and create.</p>
  <footer><a href="https://bitcointalk.org/index.php?topic=2068554.0" target="_blank">https://bitcointalk.org/index.php?topic=2068554.0</a></footer>
</blockquote>
