<blockquote>
  <p>The Restart Energy Democracy Platform or RED Platform is a blockchain-based decentralized energy trading platform that makes it possible for energy consumers and producers to Send and Receive Energy Worldwide.</p>
  <p>The RED MegaWatt(MWAT) Tokens are ERC20 utility tokens that give access to the RED Platform Software and to the RED Franchise.</p>
  <footer><a href="https://restartenergy.io/" target="_blank">https://restartenergy.io/</a></footer>
</blockquote>
