<blockquote>
  <p>What MyBit does is enable ownership of a specific IoT asset to be easily distributed among several owners (investors). With the rise of the upcoming machine economy, our vision is to have machines owned by people all over the world, rather than centralized parties maintaining ownership and the resulting revenue streams.</p>
  <footer><a href="https://mybit.io/" target="_blank">https://mybit.io/</a></footer>
</blockquote>
