<p>
  <img src="https://mysterium.network/wp-content/uploads/2017/04/LOGO_LETTER.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Mysterium foundation is developing Mysterium Network – an Open source software, powering a Decentralized Network of VPN Nodes.</p>
  <footer><a href="https://mysterium.network/" target="_blank">https://mysterium.network/</a></footer>
</blockquote>
