<blockquote>
  <p>Mysterium foundation is developing Mysterium Network &ndash; an Open source software, powering a Decentralized Network of VPN Nodes.</p>
  <footer><a href="https://mysterium.network/" target="_blank">https://mysterium.network/</a></footer>
</blockquote>
