<blockquote>
  <p>Nami.Trade is a decentralized trading exchange that will revolutionize trading forex, commodities, indexes, bonds and cryptocurrencies. Capitalizing on advanced Blockchain technology, nami.trade is a transparent, decentralized, anonymous, and fully automated trading exchange to reduce trading fees by 100 times compared to other traditional exchanges. Nami.trade is the flagship product to improve connectivity and sustainability of the ecosystem within Nami Corporation.</p>
  <footer><a href="https://nami.trade/" target="_blank">https://nami.trade/</a></footer>
</blockquote>
