
<blockquote>
  <p>NucleusVision (nCash): Founded at Harvard University, Nucleus Vision is an IoT-based, contactless identification system that empowers retailers to identify and better serve their customers.</p>
  <footer><a href="https://nucleus.vision/" target="_blank">https://nucleus.vision/</a></footer>
</blockquote>
  