<blockquote>
  <p>Needs Cash token is a promotional token to be used to help people learn to exchange tokens peer-to-peer.</p>
  <footer><a href="https://www.needscash.com" target="_blank">https://www.needscash.com</a></footer>
</blockquote>
