<p>
  <img src="https://neverdie.com/img/coin-eco.png" style="width: 200px;" />
</p>

<blockquote>
  <p>The NEVERDIE Coin (NDC) can be utilized in DApps, games and virtual worlds for avatar revival in the case of death. The NDC API allows developers to create an endless variety of applications for the NEVERDIE Coin.</p>
  <footer><a href="https://neverdie.com/" target="_blank">https://neverdie.com/</a></footer>
</blockquote>
