<blockquote>
  <p>CNet5G is an ERC20 Ethereum token, with a symbol of NE5G, that is for the project of fast internet connection and building a local high-speed business circle. Holders will share the revenue of the project based on their holdings of the token.</p>
  <footer><a href="http://www.ne5g.io" target="_blank">http://www.ne5g.io</a></footer>
</blockquote>
