<p>
    <img src="https://www.neo-gold.com/img/logo.png" style="width: 300px;" />
</p>

<blockquote>
    <p>Neo Gold</p>
    <p>The Future of Decentralization and Smart Payments</p>
    <footer><a href="https://neo-gold.com/" target="_blank">https://neo-gold.com/</a></footer>
</blockquote>