<blockquote>
  <p>NEO Gold is an Ethereum token with goal to create a community of people that support "Gold" labeled tokens for nothing but fun and social engagement.</p>
  <footer><a href="https://neo-gold.com/" target="_blank">https://neo-gold.com/</a></footer>
</blockquote>
