<p>
  <img src="https://pbs.twimg.com/profile_images/870797491934969857/1DhR_F_J_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>World's first Browser-based Blockchain &amp; Ecosystem</p>
  <footer><a href="https://nimiq.com/" target="_blank">https://nimiq.com/</a></footer>
</blockquote>
