<blockquote>
  <p>Nexo is a crypto overdraft system that allows users to avoid selling their crypto. You can use your crypto as collateral, then withdraw cash. You maintain access to your cryptocurrency – and the upside of your crypto holdings. At the same time, you can access the value of your crypto assets.</p>
  <footer><a href="https://nexo.io" target="_blank">https://nexo.io</a></footer>
</blockquote>
