
<blockquote>
  <p>NAGA Coin (NGC): The NAGA CARD allows you to fund with cryptos and spend your money (online/offline) all around the globe.</p>
  <footer><a href="https://www.nagaico.com/" target="_blank">https://www.nagaico.com/</a></footer>
</blockquote>
  