<blockquote>
  <p>первая в мире на 100% децентрализованная платформа криптовалютного кредитования для получения займов на покупку токенов на биржах и ICO с целью максимизации Вашей личной выгоды.</p>
  <footer><a href="https://nimfamoney.io/" target="_blank">https://nimfamoney.io/</a></footer>
</blockquote>
