<p>
  <img src="https://numer.ai/images/sigil.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p></p>
  <footer><a href="https://numer.ai/" target="_blank">https://numer.ai/</a></footer>
</blockquote>
