<blockquote>
  <p>From a global community to unbiased and trustless reviews, we are working to bring cryptocurrency to the main stream. With the No BS Token the community reviews ICOs, Exchanges, and other projects to separate the BS from the No BS.</p>
  <footer><a href="https://nobscrypto.com" target="_blank">https://nobscrypto.com</a></footer>
</blockquote>
