<blockquote>
  <p>The NOKU Platform will give people the possibility of creating their own Tokens and managing them.</p>
  <p>Some of the Noku ecosystem services are free (like the web wallet and app wallet). Other services (like creating tokens or white labelling a wallet) require payment. All fees are payed with the Noku Master Token.</p>
  <footer><a href="https://noku.io/" target="_blank">https://noku.io/</a></footer>
</blockquote>
