
<blockquote>
  <p>NPER (NPER): NPER is a project that allows creators to take legitimate rights by defeating the unusual copyright industry structure that takes away the legitimate rights of creators.</p>
  <footer><a href="https://nper.io/" target="_blank">https://nper.io/</a></footer>
</blockquote>
  