<blockquote>
  <p>natcoin is a currency and paying tool that is recognized in many merchants around the world. natcoin prepares for a phase one. a hundred atm units to be deployed in Vietnam, australia, philipine, indonesia, canada, china and india. natcoin will concentrate in Southeast Asia region with the achievement target of the first year as many as 3000 merchants and 200 ATMs</p>
  <footer><a href="http://natcoin.io/" target="_blank">http://natcoin.io/</a></footer>
</blockquote>
