<blockquote>
  <p>The Nova Token enables the creation, sale, and trading of collectible tokenized cards across any digital trading card game. The Nova Token can also be used to enter in-game tournaments and pay for other in-game purchases. This allows the Nova Token to completely replace fiat currencies in any game that implements it. Game developers that are integrated into the Nova Token platform benefit because they earn a share of Nova Token revenue.</p>
  <footer><a href="https://novablitz.com/" target="_blank">https://novablitz.com/</a></footer>
</blockquote>
