<blockquote>
  <p>At the core of the openANX platform is the Decentralized Autonomous Organization, which is run by smart contracts. The governance model affects the way the DAO behaves, thus always staying in the best interest of all participants.</p>
  <footer><a href="https://www.openanx.org/" target="_blank">https://www.openanx.org/</a></footer>
</blockquote>
