<blockquote>
  <p>A cofounder-based ERC20 token written to be performant for the most common ERC20 token functions (transfer, transferFrom, and approve). Used in turn-based decentralized entertainment applications and simple for the recent cryptocurrency entrant.</p>
  <footer><a href="https://originalcryptocoin.com" target="_blank">https://originalcryptocoin.com</a></footer>
</blockquote>
