<blockquote>
  <p>ODYSSEY’s mission is to build the next-generation decentralized sharing economy & Peer to Peer Ecosystem. ODYSSEY aims to reduce overall operating cost, increase marketplace efficiency and boost ROI of product & service providers in the Global sharing economy & peer to peer ecosystem.</p>
  <footer><a href="https://www.ocoin.sg" target="_blank">https://www.ocoin.sg</a></footer>
</blockquote>
