<blockquote>
  <p>OLXA Coin is a cryptocurrency designed for life usage. OLXA improves upon the Ethereum Blockchain and aims to fulfill its initial purpose of providing the public with a fast, instant, secure and efficient way for making direct transactions with respect to users privacy.</p>
  <p>OLXA Coins are designed to become Crypto-Assets that combine the Blockchain Cryptocurrency with the real World Assets through Crowd-Projects. Beside the undergoing projects in launching products and services for OLXA Users such as OLXA Visa Card, Letter of Credit, i-advertising and Crypto E-shop.</p>
  <footer><a href="https://www.OlxaCoin.com" target="_blank">https://www.OlxaCoin.com</a></footer>
</blockquote>
