<blockquote>
  <p>oneK is an Ethereum token ERC20 with VERY LOW supply of token. K means kilo, oneK has maximum 1,000 tokens only. The main purpose of oneK is no FUD (Fear, Uncertainty and Doubt). We sell oneK in very low price at ICO (1 ONEK = 0.125 ETH or 1 ETH = 8 ONEK), which is way undervalued with only one thousand tokens.</p>
  <footer><a href="http://onek.one/" target="_blank">http://onek.one/</a></footer>
</blockquote>
