<p>
  <img src="http://opus-foundation.org/wp-content/themes/default/images/opus_logo_white.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>The world's first decentralised music platform built on Ethereum and IPFS</p>
  <footer><a href="http://opus-foundation.org/" target="_blank">http://opus-foundation.org/</a></footer>
</blockquote>
