
<blockquote>
  <p>Origami Network (ORI): A protocol for building decentralized marketplaces using the Ethereum blockchain</p>
  <footer><a href="https://ori.network/" target="_blank">https://ori.network/</a></footer>
</blockquote>
  