<blockquote>
  <p>Build your own marketplace using an Ethereum blockchain powered protocol. Manage the usual marketplaces-related issues with ease. Development, maintenance, escrow payments and trusted reviews can all be handled by Origami Network</p>
  <footer><a href="https://ori.network/" target="_blank">https://ori.network/</a></footer>
</blockquote>
