<blockquote>
  <p>Open Trading Network (OTN) &ndash; the first platform that offers cross-chain technology to unite all blockchain networks and market participants, and ensure their best interests.</p>
  <footer><a href="https://otn.org/" target="_blank">https://otn.org/</a></footer>
</blockquote>
