<blockquote>
  <p>imteaz fees compensate token holders participating in the event/advertising verification process, to discourage for-profit ticket trading (scalping) on the P2P exchange, and to incentivise mobile application users to view event advertisements. There should be no expectation of profit from imteaz token ownership or from the imteaz system.</p>
  <footer><a href="http://imteaz.ir" target="_blank">http://imteaz.ir</a></footer>
</blockquote>
