<blockquote>
  <p>Pally is the first decentralised social travel ecosystem in the world. Our technology enables travellers to create friendships and access authentic experiences in new cities through local people - using direct peer-to-peer payment</p>
  <footer><a href="https://www.pally.co" target="_blank">https://www.pally.co</a></footer>
</blockquote>
