<blockquote>
  <p>Parachute is a community engaged in helping early stage companies build their initial community through organized airdrops on the Parachute platform. In addition to launching a coin wallet for airdropped tokens, Parachute is developing an exchange platform to trade these newly minted tokens where PAR (Parachute Token) will serve as the medium of exchange. Additionally, the team envisions further utility and spend options with PAR, such as voting rights and profit sharing capabilities.</p>
  <footer><a href="https://www.parachutetoken.com/" target="_blank">https://www.parachutetoken.com/</a></footer>
</blockquote>
