<blockquote>
  <p>The Pareto Network is the first peer to peer financial content marketplace. It connects providers of financial information in the cryptocurrency space with investors, providing foresight into market inefficiencies and opportunities. Content creators can earn money by sharing financial information that benefits people in the network. When investors compensate content creators, their ranking goes up which gives them faster access to more actionable information in the future.</p>
  <footer><a href="https://pareto.network/" target="_blank">https://pareto.network/</a></footer>
</blockquote>
