<blockquote>
  <p>TenX connects your blockchain assets for everyday use. TenX&rsquo;s debit card and banking licence will allow us to be a hub for the blockchain ecosystem to connect for real-world use cases.</p>
  <footer><a href="http://www.tenx.tech/" target="_blank">http://www.tenx.tech/</a></footer>
</blockquote>
