<blockquote>
  <p>Paytailor is a software that enables payments between the merchant and the customer with existing devices and bank accounts. Paytailor combines payment methods, big data, NFC, location and social aspects of nowadays technological capability. The solution is very flexible, enabling payments app to app, browser to app and IoT payments.</p>
  <footer><a href="https://www.paytailor.com/en/" target="_blank">https://www.paytailor.com/en/</a></footer>
</blockquote>
