<blockquote>
  <p>Paypex token is ERC20 token based on Ethereum blockchain technology and smart contract. These tokens can be converted to Paypex wallet or vice-versa.</p>
  <footer><a href="https://www.paypex.org" target="_blank">https://www.paypex.org</a></footer>
</blockquote>
