<blockquote>
  <p>Fan made promo meme token for the mineable BroFistCoin (BFC) cryptocurrency</p>
  <footer><a href="http://brofistcoin.io/" target="_blank">http://brofistcoin.io/</a></footer>
</blockquote>
