<p class="alert alert-warning">
PEW is a meme token and comes with no guarantees. It's a fan made joke token to honor PewDiePie who clearly knows de wae. It's essentially worthless and you should not invest anything in PEW token.
</p>
<blockquote>
  <p>Fan made promo meme token for the mineable BroFistCoin (BFC) cryptocurrency</p>
  <footer><a href="http://brofistcoin.io/" target="_blank">http://brofistcoin.io/</a></footer>
</blockquote>
