<blockquote>
  <p>Prime-Ex Perpetual (PEX) is a blockchain based cryptocurrency project which provides all round real estate solutions at a single place. From sight seeing the property to the registration of it, the primes-ex got you covered. Well, they offer all kinds of services connected to real estate like purchasing of property, building of property, maintenance and even financing the property.</p>
  <p>The ecosystem revolves around PEX tokens. Blockchain technology is used to maintain document authenticity throughout the real estate process, and to authorize transactions. Token holders are eligible to receive 80% of Prime-Ex’s profits, while also getting a discount on any mortgage payments paid using PEX tokens.</p>
  <p>Prime-Ex Perpetual brings real estate profits to you, 80% profit return to our PEX-Token holders perpetually. We build, sell and finance houses. Customers will pay their mortgage payments in PEX-Tokens.</p>
  <footer><a href="https://prime-ex.com" target="_blank">https://prime-ex.com</a></footer>
</blockquote>
