<p>
  <img src="https://www.prospectors.io/assets/landing/back_game_world-dadbad2235afc01c5966cc9fbee84830eda2c5865999b438f5f6259c49f5337a.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Massive Multiplayer Online Real Time Economic Strategy</p>
  <footer><a href="https://www.prospectors.io/" target="_blank">https://www.prospectors.io/</a></footer>
</blockquote>
