<blockquote>
  <p>We are building the first blockchain based &lsquo;image mining&rsquo; network for augmented reality or any other computer vision system, such as the Lampix product. We are creating a new blockchain that will hold {image,description} data-sets of real world objects. This data is a vital prerequisite for augmenting reality systems ranging from smartphones, wearable glasses, or our own Lampix product. We will use PIX tokens to grow the data ecosystem through purchases and payments.</p>
  <footer><a href="https://www.lampix.co/" target="_blank">https://www.lampix.co/</a></footer>
</blockquote>
