<blockquote>
  <p>PKT is a cryptocurrency that will be used to buy and sell cloud gaming subscriptions as well as other Playkey services and future products. It will be the unit of account for all economic transactions within the Playkey Ecosystem, and will be used as a basis for interaction with other digital services.</p>
  <footer><a href="https://playkey.io/" target="_blank">https://playkey.io/</a></footer>
</blockquote>
