<blockquote>
  <p>A DECENTRALIZED CASHBACK PLATFORM ON THE ETHEREUM BLOCKCHAIN Get money back from your purchases using PlusCoin</p>
  <footer><a href="https://pluscoin.io/" target="_blank">https://pluscoin.io/</a></footer>
</blockquote>
