<blockquote>
  <p>Plutus is a unique mobile Bitcoin wallet for making in-store purchases at NFC terminals worldwide. Bitcoin is converted to fiat on-the-go, using a true peer-to-peer exchange on the Ethereum network.</p>
  <p>Plutons are digital tokens you earn as a reward for shopping with Plutus. Just like cash back or air miles on a credit card, the more you spend the more you earn. (We&rsquo;re merchant agnostic, so every purchase counts).</p>
  <p>Plutons you earn (or purchase early) will be available to convert on the Plutus exchange network, allowing you to make in-store purchases with zero fees on conversion.</p>
  <footer><a href="https://plutus.it/" target="_blank">https://plutus.it/</a></footer>
</blockquote>
