<blockquote>
  <p>PLUM COIN: The PLUM(M) is a hardware and crypto currency (COIN) solution which removes the fee based structure of the credit card companies and shares that percentage among, owners, operators, and consumers.</p>
  <p>The unattended payment industry includes such everyday automation such as, vending, car wash, laundromat, micro-market and self-checkouts.</p>
  <p>It also provides a simple entry to blockchain technology.</p>
  <footer><a href="http://plum.upstatenetworks.com/" target="_blank">http://plum.upstatenetworks.com//</a></footer>
</blockquote>
