<blockquote>
  <p>With PlexCoin, you will be able to undertake regular transactions and spend money with your PlexCard anywhere around the world. You will also have the option to send or receive funds from anyone, in a totally private way. Plexcoin's mission is to make cryptocurrency accessible to everyone by being easy to use and to understand, safer than standard currency and much more private.</p>
  <footer><a href="https://www.plexcoin.com/" target="_blank">https://www.plexcoin.com/</a></footer>
</blockquote>
