<blockquote>
  <p>Play4Privacy introduces a novel concept to "mine&rdquo; crypto-currencies similar to Bitcoin. It is called "proof-of-PLAY&rdquo; and rewards every player, that plays the game GO on the public fa&ccedil;ade of the museum of modern arts in Graz Austria during the one month mining period, with virtual tokens (coins) for playing the game, no matter if they won or lost. For every valid move the players gets one token. Thus, this project puts the human at the centre of value creation, not machines. For every token mined, a supplement coin is generated to sell. These tokens are sold before and after the mining phase through an auction. 100% of the money raised is donated to non-profit-privacy organisations who do good work in the area of protection of privacy.</p>
  <footer><a href="https://play.lab10.coop" target="_blank">https://play.lab10.coop</a></footer>
</blockquote>
