<blockquote>
  <p>A decentralized sex marketplace with a goal to enable people around the world to pay anonymously for sex industry such as Video, Live-Stream, Shopping and Dating. We build a free community that no government can censor. You are anonymous and absolutely safe.</p>
  <footer><a href="https://pinky.live/" target="_blank">https://pinky.live/</a></footer>
</blockquote>
