<blockquote>
  <p>POE is the native token of Po.et, a platform which simplifies the process for publishing, licensing and authentication of digital assets. Po.et aims to create a blockchain-based platform with added smart contract functionality and applications to facilitate distribution of digital creative works and remove barriers to entry for publishers and digital media creators.</p>
  <footer><a href="https://po.et/" target="_blank">https://po.et/</a></footer>
</blockquote>
