<blockquote>
  <p>ClearPoll is a social public opinion poll network using blockchain to secure votes and poll results.</p>
  <footer><a href="https://www.clearpoll.io" target="_blank">https://www.clearpoll.io</a></footer>
</blockquote>
