
<blockquote>
  <p>Polymath (POLY): Polymath aims to enable securities to migrate to the blockchain.</p>
  <footer><a href="https://www.polymath.network/" target="_blank">https://www.polymath.network/</a></footer>
</blockquote>
  