<blockquote>
  <p>The Polymath network connects token investors, KYC providers, smart contract developers and legal experts who help form the basis of your securities token.</p>
  <p>A Polymath security token is a ERC20 compatible token which represents a security. These could represent equity in a hedge fund, trust, bonds, debt, or real estate, they may pay dividends or even allow voting rights.</p>
  <footer><a href="https://polymath.network" target="_blank">https://polymath.network</a></footer>
</blockquote>
