<blockquote>
  <p>POS Mining Co. is launching an ICO to buy more coins to stake with. Unlike POW mining farms, POS mining requires lots of coins to stake with. We already have the facility, the encrypted servers, everything is ready to go from day 1. Our facility uses solar power which accounts for about 45% of our power needs. We are located in Southern California and have a loads of sun to keep the energy consumption to a minimum.</p>
  <footer><a href="http://stakepool.co/" target="_blank">http://stakepool.co/</a></footer>
</blockquote>
