<p>
  <img src="https://postoken.org/images/logo.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>The World's First PoS Smart Contract Token</p>
  <footer><a href="https://postoken.org/" target="_blank">https://postoken.org/</a></footer>
</blockquote>
