<blockquote>
  <p>POW token is an ERC20 token which is dedicated to assisting Ethereum achieve mass market penetration. To that end, 231,802,823,220 POW are being distributed on a 'first come, most served basis' to every Internet user on the planet. All that is required to claim is a Facebook account. We will soon be integrating with other forms of social media to allow even wider distribution.</p>
  <footer><a href="#" target="_blank">#</a></footer>
</blockquote>
