<blockquote>
  <p>Power Ledger is a blockchain-based peer-to-peer energy trading platform enabling consumers and businesses to sell their surplus solar power to their neighbours without a middleman.</p>
  <footer><a href="https://powerledger.io/" target="_blank">https://powerledger.io/</a></footer>
</blockquote>
