<blockquote>
  <p>PayPie platform brings ultimate trust and transparency to the financial markets by introducing the world&rsquo;s first risk score algorithm based on decentralized accounting.</p>
  <footer><a href="https://www.paypie.com" target="_blank">https://www.paypie.com</a></footer>
</blockquote>
