<blockquote>
  <p>Sell your invoices online and take control of your cash flow &mdash; We're rebuilding invoice and trade finance block by block on the blockchain.</p>
  <footer><a href="http://populous.co/" target="_blank">http://populous.co/</a></footer>
</blockquote>
