<blockquote>
  <p>Purchases of crypto-fiat in Proof's pegged exchange rate smart contracts entitle Proof token holders to commissions for providing the initial seeding protection on fluctuations.</p>
  <footer><a href="http://www.proofsuite.com/presale/" target="_blank">http://www.proofsuite.com/presale/</a></footer>
</blockquote>
