<p>
    <img src="https://www.presearch.io/images/presearch.svg" style="width: 300px;" />
</p>

<blockquote>
    <p>Presearch is an open, decentralized search engine that rewards community members with Presearch Tokens for their usage, contribution to, and promotion of the platform.</p>
    <p>Presearch has an innovative go-to-market strategy to target the most frequent searchers - web workers - and gain early adoption, on our way to releasing future versions of the open source platform that will utilize a blockchain-based index, curated by the community.</p>
    <footer><a href="https://www.presearch.io" target="_blank">https://www.presearch.io</a></footer>
</blockquote>
