<blockquote>
  <p>Presearch is an open, decentralized search engine that rewards community members with Presearch Tokens for their usage, contribution to, and promotion of the platform.</p>
  <footer><a href="https://www.presearch.io" target="_blank">https://www.presearch.io</a></footer>
</blockquote>
