<blockquote>
  <p>Easily create your own blockchain-based tokens, trade them, or buy from others.</p>
  <footer><a href="https://www.proofsuite.com/" target="_blank">https://www.proofsuite.com/</a></footer>
</blockquote>
