<blockquote>
  <p>We will create a chain of high-tech, fully equipped ParagonCoin Centers in all 29 States where cannabis is legal.</p>
  <footer><a href="https://paragoncoin.com/en" target="_blank">https://paragoncoin.com/en</a></footer>
</blockquote>
