<p>
  <img src="https://propy.com/assets/img/logo/logo-default.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Make it easy to build wealth through real estate investment</p>
  <footer><a href="https://propy.com/" target="_blank">https://propy.com/</a></footer>
</blockquote>
