<p>
  <img src="http://persians.network/img/logo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>For the glory of the Persian Empire join the fight against Spartans in the Battle of Thermopylae!</p>
  <footer><a href="http://persians.network/" target="_blank">http://persians.network/</a></footer>
</blockquote>
