<blockquote>
  <p>For the glory of the Persian Empire join the fight against Spartans in the Battle of Thermopylae!</p>
  <footer><a href="http://persians.network/" target="_blank">http://persians.network/</a></footer>
</blockquote>
