<blockquote>
  <p>Potentiam is a music social networking platform governed by the users where the rewards are distributed between all those that bring value to it without the need for middlemen. This is possible with the use of smart contracts (pre-defined contracts) via blockchain technology, an incorruptible, transparent digital ledger that can be programmed to record virtually everything of value. It's more secure than all systems present today. The rewards are distributed with the use of cryptocurrency PTM.</p>
  <p>Potentiam PTM tokens are the platform’s backbone and will serve as the medium of exchange for all platform transactions.</p>
  <footer><a href="https://www.potentiam.io" target="_blank">https://www.potentiam.io</a></footer>
</blockquote>
