<p>
  <img src="https://tokenmarket.net/blockchain/ethereum/assets/patientory/logo_big.png" style="width: 200px;" />
</p>

<blockquote>
  <p>A distributed electronic medical record storage computing platform.</p>
  <footer><a href="http://www.patientory.com/" target="_blank">http://www.patientory.com/</a></footer>
</blockquote>
