<blockquote>
  <p>Platinum Crypto (PTX)  @PTcrypto ,is providing Crypto Services and Currency adoption via Gaming and Auction House services.</p>
  <footer><a href="https://platinumcrypto.com/" target="_blank">https:///platinumcrypto.com/</a></footer>
</blockquote>
