<blockquote>
  <p>Pourcoin Project creates a secure and user-friendly marketplace for both buyers and sellers.</p>
  <footer><a href="http://price-s.info" target="_blank">http://price-s.info</a></footer>
</blockquote>
