<blockquote>
  <p>High value, high volatility erc20 token, designed for a high-risk day trading.</p>
  <footer><a href="https://www.pumppump.io" target="_blank">https://www.pumppump.io</a></footer>
</blockquote>
