<blockquote>
  <p>The PXT Token is going to be used for that exact value exchange. Monetzing data.</p>
  <p>The Populous ecosystem will be able to provide existing financial systems incredible value on the transfer of data and micro-services that we see companies paying a huge premium for at the moment.</p>
  <p>Companies will have to use said PXT Token in order for them to take advantage of things such as Credit reports and Analysis, or to fully utilise our API.</p>
  <footer><a href="https://populous.co/" target="_blank">https://populous.co/</a></footer>
</blockquote>
