<blockquote>
  <p>Pundi X aims to make spending cryptocurrency as easy as buying a bottle of water. They already serve 600 physical merchants where users can use the Pundi-Pundi app to pay cashless.</p>
  <footer><a href="https://www.pundix.com" target="_blank">https://www.pundix.com</a></footer>
</blockquote>
