
<blockquote>
  <p>QASH (QASH): We envision QASH to be the preferred payment token for financial services,
like the Bitcoin for financial services.
As more financial institutions, fintech startups and partners adopt QASH
as a method of payment, the utility of QASH will scale, fueling
the Fintech revolution.</p>
  <footer><a href="https://liquid.plus/" target="_blank">https://liquid.plus/</a></footer>
</blockquote>
  