<p>
  <img src="http://www.quantumproject.org/s/images/logo2.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>The aim of the Quantum project is to bring institutional grade liquidity to cryptocurrency and digital asset markets.</p>
  <footer><a href="http://www.quantumproject.org/" target="_blank">http://www.quantumproject.org/</a></footer>
</blockquote>
