<blockquote>
  <p>The aim of the Quantum project is to bring institutional grade liquidity to cryptocurrency and digital asset markets.</p>
  <footer><a href="http://www.quantumproject.org/" target="_blank">http://www.quantumproject.org/</a></footer>
</blockquote>
