<p>
  <img src="https://theqrl.org/assets/vertical-logo.svg" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <footer><a href="https://theqrl.org/" target="_blank">https://theqrl.org/</a></footer>
</blockquote>
