<blockquote>
  <p>The Quantum Resistant Ledger (QRL) will be a first of its kind, future-proof post-quantum value store and decentralized communication layer which tackles the threat Quantum Computing will pose to cryptocurrencies.</p>
  <footer><a href="https://theqrl.org/" target="_blank">https://theqrl.org/</a></footer>
</blockquote>
