<blockquote>
  <p>RoboAdvisorCoin is the first Robo Advisor for cryptocurrency forecasts. We offer iIntelligent, fast, and neutral forecasts about cryptos and tokens secured in the blockchain by our AI engine. RAC will enable futures contracts on crypto currencies.</p>
  <footer><a href="https://roboadvisorcoin.com/" target="_blank">https://roboadvisorcoin.com/</a></footer>
</blockquote>
