<blockquote>
  <p>THE FIRST AUGMENTED REALITY COMBAT GAME AVAILABLE ON iPHONE AND ANDROID</p>
  <footer><a href="https://reality-clash.com" target="_blank">https://reality-clash.com</a></footer>
</blockquote>
