<blockquote>
  <p>ReceiptCoin is building a universal blockchain receipt standard as will as APIs and apps to use them. These receipts will be used to track ownership make re-selling goods more efficient for everyone.</p>
  <footer><a href="https://www.receiptcoin.io/" target="_blank">https://www.receiptcoin.io/</a></footer>
</blockquote>
