<blockquote>
  <p>The Raiden Network is an off-chain scaling solution, enabling near-instant, low-fee and scalable payments. It&rsquo;s complementary to the Ethereum blockchain and works with any ERC20 compatible token. The Raiden project is work in progress. Its goal is to research state channel technology, define protocols and develop reference implementations.</p>
  <footer><a href="https://raiden.network/" target="_blank">https://raiden.network/</a></footer>
</blockquote>
