<blockquote>
  <p>REALISTO is a decentralized, global platform dedicated to crowdfunding the world’s best real estate opportunities. Using blockchain technology, the REALISTO platform operates as a two-sided marketplace allowing real estate experts to present unique projects, tokenize them, and offer them as curated investment opportunities.</p>
  <footer><a href="https://realisto.io/" target="_blank">https://realisto.io/</a></footer>
</blockquote>
