<blockquote>
  <p>REAL (Real Estate Asset Ledger) is a new Ethereum Smart-Contracts governed ecosystem that applies Blockchain technologies to the enormous Real Estate investment industry. Key to our ecosystem is the innovation of REAL Tokens, a unique Blockchain-secured digital asset with inherent value as a secure cryptocurrency, which may be traded or used to participate in Crowdfunding by purchasing Real Estate Participations (RPP) on our platform.</p>
  <footer><a href="https://www.real.markets/" target="_blank">https://www.real.markets/</a></footer>
</blockquote>
