<blockquote>
  <p>REBL is an Ethereum-based ERC 20 token. Instead of using the traditional Proof-of-Work system, Rebellious' ERC 20 token will utilise a Proof-of-Stake system in token format. REBL holders will earn interest on the REBL they hold in their wallets.</p>
  <footer><a href="https://www.rebellious.io/" target="_blank">https://www.rebellious.io/</a></footer>
</blockquote>
