
<blockquote>
  <p>Rebellious (REBL): Rebellious is a company based in the Netherlands. Using their unique approach, they aim to build a strong currency powered by an even stronger community that's motivated by growth rather than greed.</p>
  <footer><a href="https://www.rebellious.io/" target="_blank">https://www.rebellious.io/</a></footer>
</blockquote>
  