<blockquote>
  <p>Redvolution's main goal is to create an innovative and multiplatform "wallet" for the different ERC20 tokens on the Ethereum blockchain. This token has three uses: fuel for the wallet transactions, funding the wallet development, and raising awareness of the project.</p>
  <footer><a href="https://www.redvolution.io" target="_blank">https://www.redvolution.io</a></footer>
</blockquote>
