<blockquote>
  <p>RefToken - The world's first decentralized affiliate platform. Smart contracts will establish trustless relationships between brands and affiliates, with all revenue & conversion data secured on a blockchain, allowing instant payments for completed transactions.</p>
  <footer><a href="https://reftoken.io/" target="_blank">https://reftoken.io</a></footer>
</blockquote>
