<blockquote>
  <p>REMME is an open source distributed Public Key Infrastructure (PKI) protocol with a set of DApps, enabling passwordless authentication for humans and devices.</p>
  <p>REM is an ERC20 utility token that powers all operations within the ecosystem and serves as a digital key for gaining access to REMME PKI (d) protocol and DApps.</p>
  <footer><a href="https://www.remme.io/" target="_blank">https://www.remme.io/</a></footer>
</blockquote>
