
<blockquote>
  <p>REMME (REM): Distributed Public Key Infrastructure (PKI) protocol with a set of DApps to enable passwordless authentication</p>
  <footer><a href="https://www.remme.io/" target="_blank">https://www.remme.io/</a></footer>
</blockquote>
  