<blockquote>
  <p>Republic Protocol is an open-source decentralized dark pool exchange. It facilitates cross-chain atomic trades on a hidden order book over the Ethereum and Bitcoin networks.</p>
  <footer><a href="https://republicprotocol.com/" target="_blank">https://republicprotocol.com/</a></footer>
</blockquote>
