<blockquote>
  <p>Augur is a decentralized oracle and prediction market protocol built on the Ethereum blockchain. It allows you to forecast events and be rewarded for predicting them correctly.</p>
  <footer><a href="https://www.augur.net" target="_blank">https://www.augur.net</a></footer>
</blockquote>
