<blockquote>
  <p>Connecting vendors, buyers and agents over a fast, flexible and free global listing network.</p>
  <footer><a href="http://rexmls.com/" target="_blank">http://rexmls.com/</a></footer>
</blockquote>
