<blockquote>
  <p>Rezox Token, is a semi-mineable Token thats based on the Ethereum network. Our goal is to promote low-end computers and make them be able to mine and get our Tokens and take part in the Blockchain revulotion.</p>
  <footer><a href="http://www.rezox.network/" target="_blank">http://www.rezox.network/</a></footer>
</blockquote>
