<blockquote>
  <p>Refereum is a referral marketing platform for the game industry built on the Ethereum blockchain. Referral marketing is a way to promote products through a word-of-mouth, and the Refereum Team's is planning to create a decentralized platform dedicated to this type of marketing enabling developers to improve their marketing campaigns, influencers to monetize their following, and even a regular gamer be rewarded for sharing links or moving up a gaming level.</p>
  <p>Refereum token, is an ERC-20 token that will be use to reward the platform users.</p>
  <footer><a href="https://refereum.com/" target="_blank">https://refereum.com/</a></footer>
</blockquote>
