<blockquote>
  <p>Riptide SSTT System And RiptideCoin are public projects born from necessity. This project is filling the void in legal marijuana states that are missing safe business banking. It is a FinTech digital currency aimed at giving you all the keys to absolute control over your money. Let&rsquo;s face it using your card at an atm to get cash is not always an option. With fast and secure transactions at much lower fees compared to banks and most existing cryptocurrencies out there, riptide coin is a fit solution while providing gains and earnings for its users.</p>
  <footer><a href="https://riptidecoin.com/" target="_blank">https://riptidecoin.com/</a></footer>
</blockquote>
