<p>
  <img src="http://www.etheriya.net/wp-content/uploads/2017/05/logo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Etheriya Project endeavours to implement ethereum based smart contract in building a blockchain based marketplace for auctioning of both physical and digital product and services ranging from Real estate, Automobile, Electronics, clothing, books, blockchain related products and services to mention just a few.</p>
  <footer><a href="http://www.etheriya.net/" target="_blank">http://www.etheriya.net/</a></footer>
</blockquote>
