<blockquote>
  <p>ETHERIYA: AN Ethereum Token Backed Micro & Macro Freelance Marketplace</p>
  <footer><a href="http://www.etheriya.net/" target="_blank">http://www.etheriya.net/</a></footer>
</blockquote>
