<blockquote>
  <p>The Gibraltar Blockchain Exchange (GBX) aims to be a world-leading institutional-grade token sale platform and cryptocurrency exchange coupled with a comprehensive listing process, AML/KYC best practices and public consensus within a governed environment.</p>
  <p>The Rock Token (RKT) is an ERC-20 compliant utility token for use within the GBX/GSX ecosystem. Its primary use will be as a preferred medium of exchange. It will also be used to pay for fees within the full-service ecosystem, used for sponsor/issuer staking, and early access and possible discounts for future token sales on the platform.</p>
  <p>Please refer to part G of the Whitepaper for more detailed description.</p>
  <footer><a href="https://gbx.gi/" target="_blank">https://gbx.gi/</a></footer>
</blockquote>
