
<blockquote>
  <p>Rock (RKT): The Gibraltar Blockchain Exchange (GBX) aims to be a world-leading institutional-grade token sale platform and cryptocurrency exchange.</p>
  <footer><a href="https://gbx.gi/" target="_blank">https://gbx.gi/</a></footer>
</blockquote>
  