<blockquote>
  <p>iEx.ec aims at providing distributed applications running on the blockchain a scalable, secure and easy access to the services, the data-sets and the computing resources they need. This technology relies on the Ethereum smart contracts and allows building a virtual Cloud infrastructure that provides high-performance computing services on demand.</p>
  <footer><a href="http://iex.ec/" target="_blank">http://iex.ec/</a></footer>
</blockquote>
