
<blockquote>
  <p>RouletteToken (RLT): Developed and launched the prototype of «European Roulette» game based on Ethereum smart contract.</p>
  <footer><a href="https://smartplay.tech/" target="_blank">https://smartplay.tech/</a></footer>
</blockquote>
  