<p>
  <img src="https://img1.wsimg.com/isteam/ip/210e8718-24e3-4dd4-b850-adffde33cbd6/logo/7a752cc7-c547-4848-b40c-3f7133161903.png/:/rs=h:125" style="width: 200px;" />
</p>

<blockquote>
  <p>Relex is the world's 1st cryptocurrency based real estate developer opportunity.</p>
  <footer><a href="https://www.relex.io/" target="_blank">https://www.relex.io/</a></footer>
</blockquote>
