<blockquote>
  <p>Relex is the world's 1st cryptocurrency based real estate developer opportunity.</p>
  <footer><a href="https://www.relex.io/" target="_blank">https://www.relex.io/</a></footer>
</blockquote>
