<blockquote>
  <p>ONEROOT Project brings together the tangible and intangible resources inside and outside the industry. In the process of optimizing and integrating resources, ONEROOT extends the idea of a shared economy and separates the right to use and the ownership of resources, and proposes the concept of a distributed business engine. With the help of blockchain technology, the co-builders can digitize the right to use resources, including software, hardware, manpower, etc., and establish transparent value exchange and cooperation rules, which greatly improve the resource utilization efficiency. In addition, participants have established a new cooperative relationship based on equal cooperation and common development, which has significant advantages compared with the traditional business model dominated by centralized entities.</p>
  <footer><a href="https://www.oneroot.io/" target="_blank">https://www.oneroot.io/</a></footer>
</blockquote>
