
<blockquote>
  <p>RNTB Token (RNTB): BitRent is the blockchain platform meant to attract commercial and residential property investments at an early stage of construction in order to gain maximum profit by selling and renting out the acquired property</p>
  <footer><a href="https://bitrent.io/" target="_blank">https://bitrent.io/</a></footer>
</blockquote>
  