<blockquote>
  <p>Do you want to be a part of the great history of crypto mining, crypto currency, and the largest and most unique mining farm in the world? Investing in our unique mining method is the best way to secure your name in it. One of the many great advantages we have by choosing to mine in the cold climate of the mountain area is that cooling, building costs, and power consumption will help us stay well within a tight budget.</p>
  <footer><a href="https://icerockmining.io/" target="_blank">https://icerockmining.io/</a></footer>
</blockquote>
