<blockquote>
  <p>The Holy Roger Token (ROGER) is 100% a Roger. It promises absolutely to guarantee you no returns. The Rogers are united against The Fake Roger.</p>
  <footer><a href="https://theholyroger.com/" target="_blank">https://theholyroger.com/</a></footer>
</blockquote>
