<blockquote>
  <p>ROICOIN is a standard ERC20 token powered by Ethereum smart contracts. ROICOIN offers you a very simple
   and easy way to make a profitable investment by buying and Holding ROI tokens on the platform.</p>
  <footer><a href="https://www.roicoin.io/" target="_blank">https://www.roicoin.io/</a></footer>
</blockquote>
