<blockquote>
  <p>ROICOIN is a standard ERC20 token powered by Ethereum smart contracts. ROICOIN offers you a very simple and easy way to make a profitable investment by buying & Holding ROI tokens on the platform.  Any coins that you have sitting on the platform will automatically earn you the new ROI coin according to the number of coins you hold on the platform. The profit is added immediately and continuously. No  minimum balance is required.</p>
  <footer><a href="https://www.roicoin.io/" target="_blank">https://www.roicoin.io/</a></footer>
</blockquote>
