
<blockquote>
  <p>DICE (ROL): Provably fair online Ether gaming on the Ethereum Blockchain</p>
  <footer><a href="http://etheroll.com" target="_blank">http://etheroll.com</a></footer>
</blockquote>
  