<blockquote>
  <p>Revizor is an innovative project in the field of regulation of the crypto-currency market, the main task of which is to create software tools that would filter a wide range of assets by absorbing unpromising tokens.</p>
  <footer><a href="https://revizor-coin.io/" target="_blank">https://revizor-coin.io/</a></footer>
</blockquote>
