<blockquote>
  <p>We are developing a super fast API that makes it easy for developers to add crypto-based payment systems to their apps.</p>
  <footer><a href="https://www.rspr.io/" target="_blank">https://www.rspr.io/</a></footer>
</blockquote>
