<p>
  <img src="http://bitcoinist.com/wp-content/uploads/2017/08/salt-logo.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>Blockchain-Backed Loans</p>
  <footer><a href="https://saltlending.com/" target="_blank">https://saltlending.com/</a></footer>
</blockquote>
