<blockquote>
  <p>Ever notice how things in crypto get really exciting, people start making crazy predictions, and suddenly at its highest point, everything turns for the worst? Then at the pit of despair, when the crowd thinks all is lost, fortunes suddenly turn again?</p>
  <p>We call this the &ldquo;sentiment wave&rdquo;, and Santiment is all about measuring crowd moods so that you can make ideal trading decisions. Every datafeed Santiment produces either contributes or gives insight into crowd sentiment, and you can make this data work for you.</p>
  <p>Santiment generates revenue with a regular subscription fees. Our token, the Santiment Network Token (SAN), is used for accessing content and datafeeds. It can either be staked, giving holders limited access to services for free, or it can be spent in auctions to purchase our most exclusive data. This connects the SAN token value directly to the value of datafeeds and information Santiment produces.</p>
  <footer><a href="https://santiment.net" target="_blank">https://santiment.net</a></footer>
</blockquote>
