<blockquote>
  <p>Satan Coin has ascended from the depths of hell to wreak havoc on mortal coins such as Bitcoin/Jesus Coin. With a limited supply of 666, 9 circles of funding, and an ICO from Friday the 13th to Halloween, Satan Coin is obviously the devil's favorite.</p>
  <footer><a href="https://satancoin.info" target="_blank">https://satancoin.info</a></footer>
</blockquote>
