<blockquote>
  <p>Sociall is a secure and private decentralised social network for all that utilises its native cryptocurrency, SCL.</p>
  <footer><a href="https://sociall.io/" target="_blank">https://sociall.io/</a></footer>
</blockquote>
