<blockquote>
  <p>Social is a cryptocurrency that will be used within Nexus, a secure and private decentralized social network with integrated marketplace and ad platform.</p>
  <footer><a href="https://ico.nexus.social/" target="_blank">https://ico.nexus.social/</a></footer>
</blockquote>
