<p>
  <img src="https://nexus.global.ssl.fastly.net/ico/images/other/social-etherdelta-logo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Social is a cryptocurrency that is used within Nexus, a secure and private decentralized social network with integrated marketplace and ad platform.</p>
  <footer><a href="https://ico.nexus.social/" target="_blank">https://ico.nexus.social/</a></footer>
</blockquote>
