<blockquote>
  <p>With Seed Cash you can now earn real cash by seeding the files on our torrent client. Seeding is where you leave your SeedCash client open after you&rsquo;ve finished your download to help distribute the files. For each MB that you upload you will be rewarded SeedCash by the SeedCash Client. In addition to those leechers can also donate automatically the seeds they download the most from.</p>
  <footer><a href="http://seedcash.org/" target="_blank">http://seedcash.org/</a></footer>
</blockquote>
