<blockquote>
  <p>Senderon is a project incubator token which focuses on creating a solid platform to encourage the growth of grass roots community projects by supporting and funding as many crypto related projects as possible.</p>
  <footer><a href="https://www.senderon.org/" target="_blank">https://www.senderon.org/</a></footer>
</blockquote>
