<blockquote>
  <p>SelfKey is a blockchain based digital identity system that allows its users to truly own and manage their digital identity and instantly apply for services.</p>
  <footer><a href="https://selfkey.org" target="_blank">https://selfkey.org</a></footer>
</blockquote>
