
<blockquote>
  <p>Sense (SENSE): Sense creates blockchain based smart contracts in chat and rewards humans for the contributions they make to one another conversationally, across Sensay and other messenger applications.</p>
  <footer><a href="https://www.sensetoken.com/" target="_blank">https://www.sensetoken.com/</a></footer>
</blockquote>
  