<blockquote>
  <p>The Centre for Citizenship Enterprise and Governance (CCEG) is the world’s leading think tank on the movement of value. Established in the UK with academic networks across Europe, Asia and the Americas, we have developed a vision for a Circular Economy based on Values. Since 2011, our experts have provided financial and non-financial metrics which underpin global legislation and have become internationally recognised as a standard.</p>
  <footer><a href="https://seratio-coins.world/" target="_blank">https://seratio-coins.world/</a></footer>
</blockquote>
