<blockquote>
  <p>Criptocurrencies with values. The unique feature of the Seratio token (SER) is the ability to capture the financial assets, microshares and provenance of transactions involving people, products, processes, projects and organisations.</p>
  <footer><a href="https://www.seratio-coins.world/" target="_blank">https://www.seratio-coins.world/</a></footer>
</blockquote>
