<blockquote>
  <p>SEXY is a fun ERC20 token designed to give users a unique way of expressing themselves via tipping on the blockchain. Our token is aimed at the many adult industries that operate online. Users can tip online workers and let anyone around the world know how sexy they are.</p>
  <footer><a href="http://sexytoken.co/" target="_blank">http://sexytoken.co/</a></footer>
</blockquote>
