
<blockquote>
  <p>Signals Network Token (SGN): Marketplace of data science powered signals for trading cryptocurrencies</p>
  <footer><a href="https://signals.network/" target="_blank">https://signals.network/</a></footer>
</blockquote>
  