<p>
  <img src="https://cdn.dribbble.com/users/45534/screenshots/3142450/logo_dribbble.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Status is a browser, messenger, and gateway to a decentralized world.</p>
  <footer><a href="https://status.im/" target="_blank">https://status.im/</a></footer>
</blockquote>
