<blockquote>
  <p>Shadowlink (SHAD) is the true form of the first decentralized oracle network; allowing anyone to access what SWIFT and Jason Parser tried to hide from you. Anyone who has a big mac feed can now provide them directly to Sergey's mouth in exchange for LNK tokens.</p>
  <footer><a href="https://shadowlink.biz/" target="_blank">https://shadowlink.biz/</a></footer>
</blockquote>
