<blockquote>
  <p>Shipchain is a freight management ecosystem that aims to integrate blockchain contracts into the global freight economy and interface with existing freight management software. Tokens are used for tracking freight and rewarding users.</p>
  <footer><a href="https://shipchain.io" target="_blank">https://shipchain.io</a></footer>
</blockquote>
