<p>
  <img src="https://static.wixstatic.com/media/1055eb_7ada85e72bee47e2bdcd1aec5b13e812~mv2.png/v1/fill/w_267,h_257,al_c,usm_0.66_1.00_0.01/1055eb_7ada85e72bee47e2bdcd1aec5b13e812~mv2.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Shitcoin is a revolutionary new crypto token. Read the brown paper at: <a href="https://docs.wixstatic.com/ugd/c26de8_82d48cf05a224955a7b1ab5c92323fed.pdf" target="_blank">https://docs.wixstatic.com/ugd/c26de8_82d48cf05a224955a7b1ab5c92323fed.pdf</a>.</p>
  <footer><a href="https://www.shitcoin.io/" target="_blank">https://www.shitcoin.io/</a></footer>
</blockquote>
