<blockquote>
  <p>Shitcoin is a revolutionary new crypto token. Read the brown paper at: <a href="https://docs.wixstatic.com/ugd/c26de8_82d48cf05a224955a7b1ab5c92323fed.pdf" target="_blank">https://docs.wixstatic.com/ugd/c26de8_82d48cf05a224955a7b1ab5c92323fed.pdf</a>.</p>
  <footer><a href="https://www.shitcoin.io/" target="_blank">https://www.shitcoin.io/</a></footer>
</blockquote>
