
<blockquote>
  <p>Oyster Shell (SHL): Shells are used to pay for connectivity and Dapp operation across the Oyster meshnet.</p>
  <footer><a href="https://oysterprotocol.com/" target="_blank">https://oysterprotocol.com/</a></footer>
</blockquote>
  