<blockquote>
  <p>Sharpe Capital is a blockchain startup, crowdsourcing the world’s best asset sentiment via the Ethereum blockchain. Users of the Sharpe Platform earn Ether rewards in exchange for their opinions about global equity markets. Backed by the Sharpe proprietary investment fund, rewards are paid to holders of SHP tokens on a quarterly basis.</p>
  <footer><a href="https://sharpe.capital/" target="_blank">https://sharpe.capital/</a></footer>
</blockquote>
