
<blockquote>
  <p>Sharpe Platform Token (SHP): A fintech business that aims to bridge the gap between crypto and traditional finance.</p>
  <footer><a href="https://sharpe.capital/" target="_blank">https://sharpe.capital/</a></footer>
</blockquote>
  