<blockquote>
  <p>Fun token with a great community. Free airdrops. Good for your plants!</p>
  <footer><a href="https://bitcointalk.org/index.php?topic=2174052" target="_blank">https://bitcointalk.org/index.php?topic=2174052</a></footer>
</blockquote>
