<blockquote>
  <p>Shivers is a cryptocurrency developed to facilitate the production and distribution of horror films via blockchain technology. Shivers' partners include legendary filmmakers, such as the creators of the box office hit "The Blair Witch Project" and large communities such as "Infamous Horror" and their 1.7 Million followers.</p>
  <footer><a href="https://shivers.io/" target="_blank">https://shivers.io/</a></footer>
</blockquote>
