<blockquote>
  <p>The Signal Token (SIG) Protocol is designed to decentralize the buying, selling, and rewarding of attention across media platforms by removing centralized intermediaries from advertising transactions.</p>
  <footer><a href="https://www.spectivvr.com" target="_blank">https://www.spectivvr.com</a></footer>
</blockquote>
