<blockquote>
  <p>SISA wants to provide a disintermediate, decentralized and democratic access to a sophisticated platform to casual investor which is previously reserved to wealthy and well connected class. We believe we can overcome and disrupt all boundaries of traditional pool funds with block chain technology; alongside we wanted to create trust among users of this technology by providing transparent services.</p>
  <footer><a href="https://sisa.fund/" target="_blank">https://sisa.fund/</a></footer>
</blockquote>
