<blockquote>
  <p>Skrilla is a licensed, fully regulated, global Daily Fantasy Esports platform. The Skrilla Token (SKR) is an ERC20 token, which will be used as the sole unit of exchange (currency) on the Skrilla platform, for members to enter contests, places bets and collect winnings.</p>
  <footer><a href="https://tokensale.skrilla.com" target="_blank">https://tokensale.skrilla.com</a></footer>
</blockquote>
