<blockquote>
  <p>Invest spare fiat and cryptocurrency change into diversified crypto-related portfolios. Skraps is the first company to offer micro investing to the world of cryptocurrencies. The Skraps platform allows users to round up spare change from everyday fiat and cryptocurrency related purchases and invest the difference into diversified portfolios of cryptocurrencies and crypto assets. Customers can get started in 3 easy steps: Connect your debit/credit card or cryptocurrency wallet, spend like normal, and watch your spare change grow.</p>
  <footer><a href="https://skraps.io/" target="_blank">https://skraps.io/</a></footer>
</blockquote>
