<blockquote>
  <p>DISTRIBUTE TOKENS TO HUNDREDS OF ADDRESSES WITH JUST A FEW CLICKS.</p>
  <footer><a href="http://slipstream.network/" target="_blank">http://slipstream.network/</a></footer>
</blockquote>
