<blockquote>
  <p>Solareum is a currency that runs on the Ethereum Blockchain and is the FIRST AND FOREMOST COIN to be backed by the Solar and Renewable Industry it serves. SOLAREUM offers Discounts on Solar Panels, Renewable Items, EXCLUSIVE Solar Heating, and all things solar with a personal touch. The core concept of the SOLAREUM Token changes the world in making energy pay you, instead of you paying for your energy! SOLAREUM’s tool will be a marketplace unlike any other to the effect of “Amazon of Solar & Renewables" utilizing blockchain & megadata to allow any solar company and end user to be able to connect on a human level for Real-Time Accurate Proposals.</p>
  <footer><a href="https://www.solareum.club/" target="_blank">https://www.solareum.club/</a></footer>
</blockquote>
