<blockquote>
  <p>SmartBillions is the first fully decentralized and transparent global lottery managed by Ethereum's smart contract.</p>
  <footer><a href="https://smartbillions.com/" target="_blank">https://smartbillions.com/</a></footer>
</blockquote>
