<blockquote>
  <p>SOMIDAX is offering a decentralized social interactive marketplace service platform that utilizes blockchain technology to create a new business model for social P2P interaction as well as buying and selling of products and service.</p>
  <footer><a href="http://www.ethereumdiamond.io/" target="_blank">http://www.somidax.net/</a></footer>
</blockquote>
