<blockquote>
  <p>SME Banking Platform is designed to empower micro, small businesses and entrepreneurs in Sub-Saharan Africa with the financial services and digital technology they require to start and grow their businesses. The SME tokens powers especially the Remittance and Loyalty ecosystems</p>
  <footer><a href="https://www.smeplatform.co/" target="_blank">https://www.smeplatform.co/</a></footer>
</blockquote>
