<blockquote>
  <p>SmellyCoin's purpose is to let others know that they smell. Send to friends, wives, anybody that smells.</p>
  <footer><a href="https://smellycoin.com" target="_blank">https://smellycoin.com</a></footer>
</blockquote>
