<p>
  <img src="https://pbs.twimg.com/profile_images/867473219367964673/oov3jhzK_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>SunContract is a decentralized, peer to peer energy market that attacks the unnecessary middlemen in the energy sector (reseller / retailer) while working on the existing distribution infrastructure.</p>
  <footer><a href="https://suncontract.org/" target="_blank">https://suncontract.org/</a></footer>
</blockquote>
