<blockquote>
  <p>A Blockchain Entertainment Studio, Smart Contract Rights Management Platform and Video On-Demand Portal</p>
  <footer><a href="https://singulardtv.com/" target="_blank">https://singulardtv.com/</a></footer>
</blockquote>
