<blockquote>
  <p>Snovio is the world&rsquo;s first decentralized lead generation service. It functions on the principles of crowdsourcing data collection and blockchain technology. Snovio uses SNOV tokens to incentivize contributors to add new data to our system and to keep the data in our system up-to-date.</p>
  <footer><a href="https://snov.io/" target="_blank">https://snov.io/</a></footer>
</blockquote>
