<blockquote>
  <p>Status is an open source messaging platform and mobile browser to interact with decentralized applications that run on the Ethereum Network.</p>
  <footer><a href="http://status.im/" target="_blank">http://status.im/</a></footer>
</blockquote>
