<p>
  <img src="https://cdn.dribbble.com/users/45534/screenshots/3142450/logo_dribbble.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Status is an open source messaging platform and mobile browser to interact with decentralized applications that run on the Ethereum Network.</p>
  <footer><a href="http://status.im/" target="_blank">http://status.im/</a></footer>
</blockquote>
