<blockquote>
  <p>SilentNotary is a multiplatform decentralized service for confirmation of event existence. SilentNotary converts an event into legally significant evidence, excluding the possibility of falsification.</p>
  <p>The SNTR token is an application token. It is required to access the service — to write hash code in the blockchain.</p>
  <footer><a href="https://silentnotary.com" target="_blank">https://silentnotary.com</a></footer>
</blockquote>
