<blockquote>
  <p>Your new digital cash, designed to improve efficiency and transparency for your payments and transactions.</p>
  <footer><a href="https://www.soarlabs.org/" target="_blank">https://www.soarlabs.org/</a></footer>
</blockquote>
