
<blockquote>
  <p>All Sports Coin (SOC): All Sports public blockchain hopes to fill in the blank of blockchain application in sports industry through blockchain technology.</p>
  <footer><a href="https://www.allsportschain.com/" target="_blank">https://www.allsportschain.com/</a></footer>
</blockquote>
  