<blockquote>
  <p>SocialX is a decentralized social media platform allowing users to distribute content seamlessly and to get paid for their contribution to the network. Photos and videos app that will store your files in the decentralized network securely in a single platform. Built-in license management allows you to decide if you want to keep your photos private or if you want to sell photo rights to others in exchange for SOCX tokens. SocialX is a community-driven project developed with the user’s best interest at heart.</p>
  <footer><a href="https://socialx.network/" target="_blank">https://socialx.network/</a></footer>
</blockquote>
