<p>
  <img src="https://sonm.io/wp-content/themes/sonm/img/logo.svg" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>SONM is the universal fog supercomputer powered by the Ethereum blockchain.</p>
  <footer><a href="https://sonm.io/" target="_blank">https://sonm.io/</a></footer>
</blockquote>
