<blockquote>
  <p>You are supporting 300 ideas, projects and startups! Some startups will fail, but many will succeed!</p>
  <footer><a href="https://spartaico.com/index.html" target="_blank">https://spartaico.com/index.html</a></footer>
</blockquote>
