<blockquote>
  <p>SportyCo will provide the sports and investment community a healthy ecosystem with a huge growth potential. SportyCo will enable investors to harness and monetize the athletic potential of up-and-coming stars – who, until now, often didn’t have the means to finance their career.</p>
  <footer><a href="https://sportyco.io/" target="_blank">https://sportyco.io/</a></footer>
</blockquote>
