<blockquote>
  <p>SophiaTX is a Blockchain Platform and Marketplace integrating business applications and solutions into a collaborative environment.w</p>
  <footer><a href="https://www.sophiatx.com/" target="_blank">https://www.sophiatx.com/</a></footer>
</blockquote>
