<blockquote>
  <p>Bitcoin SPOON is a No More Forks project which allows users to retain a stable currency in which they would not have to worry about fluctuating prices and instability from forks. We are starting the first ever SPOON movement. If you have any other questions, please feel free to reach out.</p>
  <footer><a href="http://www.btcspoon.com/" target="_blank">http://www.btcspoon.com/</a></footer>
</blockquote>
