
<blockquote>
  <p>SIRIN (SRN): SIRIN LABS' aims to become the world's leader in secure open source consumer electronics, bridging the gap between the mass market and the blockchain econom</p>
  <footer><a href="https://sirinlabs.com/" target="_blank">https://sirinlabs.com/</a></footer>
</blockquote>
  