<blockquote>
  <p>Ssente (Ugandan word meaning "MONEY") token is a decentralised African-made ERC20 token introduced as an alternative to money and other online money transfer system for the unbanked population of the country to have access to online financial services to allow individuals to make fast, less costly and secure transactions between parties involved as well as East African countries and countries around the world on ETHEREUM NETWORK.</p>
  <p>It's mainly concerned to ease transaction (sending and recieving) of money between EAST AFRICAN COUNTRIES (uganda, kenya, Tanzania, Rwanda, and Burundi) and countries around the world that can later be change to real cash.</p>
  <footer><a href="https://ssente.site/" target="_blank">https://ssente.site/</a></footer>
</blockquote>
