<blockquote>
  <p>The OST software platform helps businesses gain competitive advantage from blockchain and turn the potential of decentralization into reality.</p>
  <footer><a href="https://ost.com" target="_blank">https://ost.com</a></footer>
</blockquote>
