<blockquote>
  <p>CoinStarter is a first of its kind blockchain platform where users can launch a crowdfunding or coin based campaign in minutes. A first of its kind blockchain platform to help entrepreneurs, innovators and creators bring their ideas to life. From the launch of your campaign to the distribution of coins, we make every step easy and intuitive.</p>
  <footer><a href="https://coinstarter.com" target="_blank">https://coinstarter.com</a></footer>
</blockquote>
