<p class="alert alert-warning">
<strong>This token is deprecated.</strong> You can read about the token swap here: <a href="https://medium.com/@stakeit/staking-smart-contract-breach-token-swap-information-136348732b26">https://medium.com/@stakeit/staking-smart-contract-breach-token-swap-information-136348732b26</a>; new token details: <a href="https://medium.com/@stakeit/how-to-stake-new-token-details-133c34fa5215">https://medium.com/@stakeit/how-to-stake-new-token-details-133c34fa5215</a>
</p>
<blockquote>
  <p>StakeIt Token (STAKE) is a community-driven investment token allowing token holders to stake their tokens on a daily basis without any withdrawal or date limits through a centralized banking system. Token holders are required to pay small fees in ETH whenever depositing or withdrawing, and all revenues generated are used to buy-back and destroy tokens.</p>
  <footer><a href="https://www.stake-it.com/" target="_blank">https://www.stake-it.com/</a></footer>
</blockquote>
