<blockquote>
  <p>StopTheFakes, the world’s first decentralized service designed to detect counterfeiting and infringement of intellectual property rights, copyright, and related rights. Our project aims to bring together right holders and consumers in their fight against piracy products and content.</p>
  <p>STF is a functional token that allows participants in the StopTheFakes.io platform to receive and send signals informing of infringements.</p>
  <footer><a href="https://stopthefakes.io/" target="_blank">https://stopthefakes.io/</a></footer>
</blockquote>
