<blockquote>
  <p>SmartyEther The token will generate revenue in Ethereum from various: FAUCET sites, referral commissions, and other affiliate sites. The ether revenue will then be converted back into SmartyEther. It is basically a decentralized referral empire based token.</p>
  <footer><a href="https://smartyether.com" target="_blank">https://smartyether.com</a></footer>
</blockquote>
