<blockquote>
  <p>STACK is a new personal finance platform, built on the idea that using your money should be free. Universally accessible, STACK is an alternative to traditional banking that allows you to store your money safely, access it instantly and transact with it anywhere, in any currency including crypto, right from your smartphone.</p>
  <p>The STK Token will provide instant cryptocurrency payments at point of sale, enabling seamless integration of cryptocurrency into everyday transactions and financial services in the STACK wallet. The STK token will be implemented on the public Ethereum blockchain as an ERC20 token.</p>
  <footer><a href="https://stktoken.com/" target="_blank">https://stktoken.com/</a></footer>
</blockquote>
