<blockquote>
  <p>Enables real time point of sale (POS) transactions directly from users’ private cryptocurrency wallets.</p>
  <footer>
    <a href='https://stktoken.com/' target='_blank'>https://stktoken.com/</a>
  </footer>
</blockquote
