<p>
  <img src="https://storj.io/img/logo-blue.svg" style="width: 200px;" />
</p>

<blockquote>
  <p>Storj is a distributed, encrypted, blockchain based cloud storage platform. STORJ the payment token that allows you to purchase storage or earn money for renting your free hard drive space.</p>
  <footer><a href="https://storj.io/" target="_blank">https://storj.io/</a></footer>
</blockquote>
