<blockquote>
  <p>Storm Market creates more earning opportunities for people all around the world by utilizing technology.</p>
  <footer><a href="https://stormtoken.com/" target="_blank">https://stormtoken.com/</a></footer>
</blockquote>
