<p>
  <img src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,h_140,w_140/v1420877841/vnteipzvbklinmc4uo99.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>Blockchain-based, end-to-end encrypted, distributed object storage.</p>
  <footer><a href="https://storj.io/" target="_blank">https://storj.io/</a></footer>
</blockquote>
