<blockquote>
  <p>Stash is a next generation open source digital currency for the real world. A key advantage of Stash is that it solves numerous problems being encountered by other cryptocurrencies. Stash does this by bringing together many ground-breaking blockchain technologies while using the gold standard in cryptocurrency privacy.</p>
  <p>In addition to comprising critical features for an efficiently functioning open decentralized autonomous network such as self-governance and self-funding, Stash also incorporates instantaneous transactions (StashSwift), increased network capacity, low transaction fees and state-of-the-art zero-knowledge cryptography.</p>
  <footer><a href="https://stashpay.io/" target="_blank">https://stashpay.io/</a></footer>
</blockquote>
