
<blockquote>
  <p>Storiqa (STQ): crypto marketplace- Sell and buy goods with cryptocurrencies</p>
  <footer><a href="https://storiqa.com/" target="_blank">https://storiqa.com/</a></footer>
</blockquote>
  