<blockquote>
  <p>Stox is an open source, Bancor based prediction market platform. Using the wisdom of the crowd, every day people will be able to predict and trade the outcome of events in almost any imaginable category: Finance, sports, politics and even the weather.</p>
  <footer><a href="https://www.stox.com" target="_blank">https://www.stox.com</a></footer>
</blockquote>
