<blockquote>
  <p>The AssetBase Foundation is a decentralized control foundation that hold the physical metal that backs every token.</p>
  <footer><a href="https://assetbase.io/" target="_blank">https://assetbase.io/</a></footer>
</blockquote>
