<blockquote>
  <p>Built by the leading minds in Artificial Intelligence, Big Data and Blockchain, SWFT integrates the world&rsquo;s major exchanges to effectively achieve hedge risking, provide customer with an easy and efficient platform for cryptocurrency exchange.</p>
  <footer><a href="http://www.swftcoin.com/" target="_blank">http://www.swftcoin.com/</a></footer>
</blockquote>
