<blockquote>
  <p>Swarm Fund is the blockchain for private equity. It’s a fully decentralized capital market place that democratizes investing by using the power of the blockchain to open up high-return, alternative investment classes to smaller investors through asset-backed funds using cryptocurrency tokens. It makes traditionally exclusive investment opportunities, such as private equity and hedge funds, inclusive for the Swarm by pooling together smaller investments into larger, institutional-sized blocks.</p>
  <footer><a href="https://www.swarm.fund/" target="_blank">https://www.swarm.fund/</a></footer>
</blockquote>
