<blockquote>
  <p>Swarm Fund is a fully decentralized capital market place that democratizes investing by using the power of the blockchain to open up high-return, alternative investment classes to smaller investors through asset-backed funds using cryptocurrency tokens.</p>
  <footer><a href="https://www.swarm.fund/" target="_blank">https://www.swarm.fund/</a></footer>
</blockquote>
