<blockquote>
  <p>Swarm City is a network of different hives/teams, each with its specific focus and approach. Find the team that focuses on your interests and connect!</p>
  <footer><a href="https://swarm.city/" target="_blank">https://swarm.city/</a></footer>
</blockquote>
