<blockquote>
  <p>Spectre.ai is a financial prediction market platform backed by a tokenised liquidity pool. The SXDT is the divident-paying token of the platform; it grants a trading-volume based profit share paid as ETH to token holders monthly and annually.</p>
  <footer><a href="https://spectre.ai/" target="_blank">https://spectre.ai/</a></footer>
</blockquote>
