<blockquote>
  <p>The future of Digital Options, Forex and CFD trading is here. SPECTRE, short for speculative tokenised trading exchange, is a financial prediction market platform backed by a tokenised liquidity pool. Built on the Ethereum blockchain, SPECTRE's platform combined with the decentralised and autonomous liquidity pool owned by the token sale investors takes the broker out of the equation completely resulting in a revolutionary change in the trading world and a new level of transparency.</p>
  <footer><a href="https://spectre.ai/" target="_blank">https://spectre.ai/</a></footer>
</blockquote>
