<blockquote>
  <p>SXUT (U for "utility") is a token by Spectre.ai, a financial prediction market platform backed by a tokenised liquidity pool. The SXUT is used by traders on the platform to gain extra privileges such has higher payouts, win-rates, access to assets and other in-platform advantages that give traders an edge.</p>
  <footer><a href="https://spectre.ai/" target="_blank">https://spectre.ai/</a></footer>
</blockquote>
