<blockquote>
  <p>TaaS is a tokenized closed-end fund designed to reduce the risks and technical barriers of investing in the blockchain space. Built on a profit-sharing smart contract, TaaS introduces an innovative Token-as-a-Service business model, allowing investors to subscribe to the fund&rsquo;s income stream. TaaS built an innovative Cryptographic Audit technology to become the first, truly transparent fund dedicated to cryptocurrencies and tokens.</p>
  <footer><a href="https://taas.fund/" target="_blank">https://taas.fund/</a></footer>
</blockquote>
