<blockquote>
  <p>Lamden&rsquo;s TAU token facilitates interoperability and value exchange between established cryptocurrencies and blockchain applications made with the Lamden developer suite.</p>
  <footer><a href="https://lamden.io/" target="_blank">https://lamden.io/</a></footer>
</blockquote>
