<blockquote>
  <p>A patient and doctor-centric health ecosystem in specialised medicine engineered on blockchain.</p>
  <footer><a href="https://trustedhealth.io" target="_blank">https://trustedhealth.io</a></footer>
</blockquote>
