
<blockquote>
  <p>TEAM (TEAM): TEAM is a utility token for TokenStars - the talent management platform, that connects sports & entertainment stars with fans and advertisers, bringing interaction between them to a new level.</p>
  <footer><a href="https://tokenstars.com/team/" target="_blank">https://tokenstars.com/team/</a></footer>
</blockquote>
  