<blockquote>
  <p>TokenStars - the first celebrity management platform on blockchain. TEAM token provides unique opportunities for sports&showbiz fans to connect with their favorite celebrities and allows stars to monetize their marketing potential.</p>
  <footer><a href="https://tokenstars.com" target="_blank">https://tokenstars.com</a></footer>
</blockquote>
