<blockquote>
  <p>TRUST is a ERC20 smart contract built on the Ethereum blockchain. TRUST incorporates all the benefits of a cryptocurrency, combined with tangible real estate investments. The capital raised from our initial distribution will be used to purchase investment real estate which will provide 6 monthly bonuses for TRUST token holders.</p>
  <footer><a href="https://www.TrustEtherCoin.com" target="_blank">https://www.TrustEtherCoin.com</a></footer>
</blockquote>
