<blockquote>
  <p>Telcoin is the first cryptocurrency to tap into synergies between the reach of mobile telecoms and the fast, borderless nature of blockchain technology. This is the core of our business, and mobile network operators will be at the center of our strategy.</p>
  <footer><a href="https://www.telco.in/" target="_blank">https://www.telco.in/</a></footer>
</blockquote>
