
<blockquote>
  <p>Telcoin (TEL): A cryptocurrency distributed by your mobile operator and accepted everywhere.</p>
  <footer><a href="https://www.telco.in/" target="_blank">https://www.telco.in/</a></footer>
</blockquote>
  