<blockquote>
  <p>Tokenomy (TEN) is platform that allows transform any products into tokens for crowdfunding, loyalty points, donation or other needs. Tokenomy’s mission is to provide access to anyone who wants to be connected with alternative funding networks and global innovation. Tokenomy is supported by largest South East Asia Cryptocurrency Exchange - Bitcoin.co.id.</p>
  <footer><a href="https://www.tokenomy.com/" target="_blank">https://www.tokenomy.com/</a></footer>
</blockquote>
