<p>
  <img src="https://www.300cubits.tech/wp-content/uploads/2017/07/logo300-2.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>A crypto currency that propels ships</p>
  <footer><a href="https://300cubits.tech/" target="_blank">https://300cubits.tech/</a></footer>
</blockquote>
