
<blockquote>
  <p>TE-FOOD (TFD): TE-FOOD is a successful food traceability solution, used by
6,000+ companies, managing more than 400,000 transactions
each day, reaching 30 million people.</p>
  <footer><a href="https://ico.tefoodint.com/" target="_blank">https://ico.tefoodint.com/</a></footer>
</blockquote>
  