<blockquote>
  <p>TE-FOOD is a farm-to-table traceability solution, covering all logistics and food quality activities and data management of the supply chain. It provides cost effective software and identification tools to make livestock and fresh food supply information transparent.</p>
  <footer><a href="https://www.te-food.com/" target="_blank">https://www.te-food.com/</a></footer>
</blockquote>
