<p>
  <img src="https://static.wixstatic.com/media/c281dc_43c82da2a572471b994401c8e91b9610~mv2_d_2032_2032_s_2.png/v1/fill/w_75,h_72,al_c,usm_0.66_1.00_0.01/c281dc_43c82da2a572471b994401c8e91b9610~mv2_d_2032_2032_s_2.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Target Coin is a tokenised long-short Cryptocurrency Fund</p>
  <footer><a href="https://www.tgtcoins.com/" target="_blank">https://www.tgtcoins.com/</a></footer>
</blockquote>
