<blockquote>
  <p>Theta is a decentralized video delivery network, powered by users and an innovative new blockchain.</p>
  <footer><a href="https://www.thetatoken.org" target="_blank">https://www.thetatoken.org</a></footer>
</blockquote>
