<blockquote>
  <p>Connecting thugs and your gang on the blockchain.</p>
  <p>Using the breakthrough technology of anonymous cryptocurrencies and the blockchain ledger. Real thugs themselves developed THUG Coin as the official cryptocurrency of the thug life around the world. THUG Coin acquires its uniqueness by providing thugs at every end of the globe with worldwide access to other thugs and gangs faster than the speed of light.</p>
  <footer><a href="https://thugcoin.cash" target="_blank">https://thugcoin.cash</a></footer>
</blockquote>
