<blockquote>
  <p>Tigereum will enable everyone to securely and easily send small amounts of crypto to friends and family by instant message. Messaging money on instant messaging platforms is going to be a game changer. Crypto should be leading this disruption. Crypto’s decentralized blockchain architecture should be taking this battle on, not leaving it to the social media companies.</p>
  <footer><a href="https://www.tigereum.io" target="_blank">https://www.tigereum.io</a></footer>
</blockquote>
