<blockquote>
  <p>Tio Token is meant to be used to pay for services on the Tio Tour Guides Platform and the entire Tio Network Group. The Tio Tour Guides Platform is a social platform for tourist, tour guides and tour operators to interconnect and find or create personalized tours, book flights, hotels, trains etc. Tio Network Group includes Tio Hotels, Tio Tour Digital Magazine and TV, Tio Travel Tech Products and Tio Guides Entertainment.</p>
  <footer><a href="https://tokens.tiotourguides.com" target="_blank">https://tokens.tiotourguides.com</a></footer>
</blockquote>
