<blockquote>
  <p>TIPbot is a real world payment gateway for just about anything you can think of. Through a series of apps and bots, users will have the freedom to tip, bet, pay for services, food, deliveries and much more.</p>
  <p>TIP is a utility token which will be utilised by the TIPbot application to carry out transactions. Not only can you make payments, you will be able to mint new tokens simply by holding through our Proof Of Stake platform which currently exists on the Ethereum network.</p>
  <footer><a href="https://www.tipbot.io" target="_blank">https://www.tipbot.io</a></footer>
</blockquote>
