<p>
  <img src="https://blocktix.io/public/img/blocktix_logo.svg" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Blocktix is an Ethereum based, counterfeit-resistant solution for individuals and event hosting businesses to distribute, advertise, and transfer ownership of event tickets or passes.</p>
  <footer><a href="https://blocktix.io/" target="_blank">https://blocktix.io/</a></footer>
</blockquote>
