<blockquote>
  <p>TKR is a utility token to be used on the Trackr platform.</p>
  <p>The Trackr platform allows users to manage, grow, predict their portfolio in addition to trading their success with other users with TKR. Moreover, users are able to set up alerts, use machine learning and backtesting to evaluate whether certain trade opportunities are deemed profitable by the platform.</p>
  <footer><a href="https://www.trackr.im/" target="_blank">https://www.trackr.im/</a></footer>
</blockquote>
