<p>
  <img src="https://pbs.twimg.com/profile_images/884411124992618497/5TBGHUeA_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>Timereum is the first manually mined Ethereum smart contract token. Timereum is embedded in the Ethereum blockchain, and therefore all Ethereum addresses can also hold Timereum.</p>
  <footer><a href="http://timereum.com/" target="_blank">http://timereum.com/</a></footer>
</blockquote>
