
<blockquote>
  <p>Transcodium (TNS): A Decentralized Peer-to-Peer Media Editing, Transcoding & Distribution Platform</p>
  <footer><a href="https://transcodium.com/" target="_blank">https://transcodium.com/</a></footer>
</blockquote>
  