<p>
  <img src="https://tierion.blob.core.windows.net/blogcontent/2015/09/error-graphic.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Tierion is using the blockchain to transform how the world secures and shares data.</p>
  <footer><a href="https://tierion.com/" target="_blank">https://tierion.com/</a></footer>
</blockquote>
