
<blockquote>
  <p>Tomocoin (TOMO): Building an efficient blockchain infrastructure for decentralized applications, token issuance and integration</p>
  <footer><a href="https://tomochain.com/" target="_blank">https://tomochain.com/</a></footer>
</blockquote>
  