<blockquote>
  <p>We're building an efficient blockchain infrastructure for decentralized applications, token issuance and integration.</p>
  <footer><a href="https://tomocoin.io/" target="_blank">https://tomocoin.io/</a></footer>
</blockquote>
