<blockquote>
  <p>TORQ provides solution in mining industry. Currently there is no direct way of transforming crypto currencies like Bitcoin, Ethereum etc to any physical assets. TORQ is building innovation in mining industry which will help users to transform their digital assets to physical assets, which will have more demand and increasing market value.</p>
  <footer><a href="https://www.torqcoin.io/" target="_blank">https://www.torqcoin.io/</a></footer>
</blockquote>
