<blockquote>
  <p>Each month a total of 1,500,000 TPL will be distributed between 50 wallets that have top balances. This offer is valid until April 2019.</p>
  <footer><a href="https://www.trustpool.io/" target="_blank">https://www.trustpool.io/</a></footer>
</blockquote>
