<p>
  <img src="https://neverdie.com/img/coin-eco.png" style="width: 200px;" />
</p>

<blockquote>
  <p>The Teleport token (TPT) can be utilized for avatar teleportation within or between DApps, games and virtual worlds. The TPT API allows developers to create an endless variety of applications for the Teleport Token.</p>
  <footer><a href="https://neverdie.com/" target="_blank">https://neverdie.com/</a></footer>
</blockquote>
