<blockquote>
  <p>OriginTrail enables seamless data sharing along any supply chain. Decentralized, blockchain-supported platform ensures trust, transparency, and security. It helps companies exchange relevant data seamlessly and in a secure way to build accountability, protect their brands and increase efficiencies.</p>
  <p>The Trace token is the means of compensation between supply chain data producers and data consumers on one side and the OriginTrail node holders on the other. It provides the incentive to the nodes in the peer to peer network to perform the system functionalities.</p>
  <footer><a href="https://origintrail.io" target="_blank">https://origintrail.io</a></footer>
</blockquote>
