
<blockquote>
  <p>TrakInvest Token (TRAK): Virtual social trading platform for equities and cryptocurrencies powered by proprietary AI engine</p>
  <footer><a href="http://www.trakinvest.ai/" target="_blank">http://www.trakinvest.ai/</a></footer>
</blockquote>
  