<blockquote>
  <p>Someone's Garbage is Someone's Treasure! Trash cash is a decentralised peer to peer cryptocurrency to exchange all the garbage dumped in your wallet into a single token which can be traded in exchanges. Instead of having hundreds of them and have the headache of managing them individually, now you can keep all the trash in one place!</p>
  <footer><a href="https://www.trash.cash/" target="_blank">https://www.trash.cash/</a></footer>
</blockquote>
