
<blockquote>
  <p>Tracto (TRCT): A technology for rapid and anonymous coin transaction organization.</p>
  <footer><a href="http://www.tracto.org/" target="_blank">http://www.tracto.org/</a></footer>
</blockquote>
  