<blockquote>
  <p>TRIA Token (TRIA) is a profit share token that pays out 50% of the profit made by the Company Triaconta. Triaconta will be making profit by trading its own coin: CombiCoin against the assets backing it. In the future Triaconta will release more CombiCoin like coins and the addtional profit goes to TRIA token holders as well.</p>
  <footer><a href="https://triaconta.com/" target="_blank">https://triaconta.com/</a></footer>
</blockquote>
