<blockquote>
  <p><strong>"Donald Trump to win the 2016 US presidential election"</strong></p>
  <p>PredictionToken mints prediction market tokens on the Ethereum blockchain. PredictionTokens have value tied to future outcomes, using Reality Keys as the source of truth.</p>
  <footer><a href="https://predictiontoken.github.io/#TRMP" target="_blank">https://predictiontoken.github.io/#TRMP</a></footer>
</blockquote>
