<p>
  <img src="https://pbs.twimg.com/profile_images/786798915274219522/lFhx54VC_400x400.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>A platform for Trusted Lending Circles, powered by people and blockchain.</p>
  <footer><a href="https://www.wetrust.io/" target="_blank">https://www.wetrust.io/</a></footer>
</blockquote>
