<blockquote>
  <p>TRON is a blockchain-based decentralized protocol that aims to construct a worldwide free content entertainment system with the blockchain and distributed storage technology. The protocol allows each user to freely publish, store and own data, and in the decentralized autonomous form, decides the distribution, subscription and push of contents and enables content creators by releasing, circulating and dealing with digital assets, thus forming a decentralized content entertainment ecosystem.</p>
  <p>Peiwo App with over 10 million users will become the first TRON-compatible entertainment APP.</p>
  <footer><a href="https://tronlab.com/en.html" target="_blank">https://tronlab.com/en.html</a></footer>
</blockquote>
