<blockquote>
  <p>The crazy project of cryptoalchemy. "Poopy" to the moon!</p>
  <footer><a href="http://www.tothemoontoken.com/" target="_blank">http://www.tothemoontoken.com/</a></footer>
</blockquote>
