
<blockquote>
  <p>TrueUSD (TUSD): The TrustToken Platform aims to be the bridge between blockchains and real-world assets.</p>
  <footer><a href="https://www.trusttoken.com/" target="_blank">https://www.trusttoken.com/</a></footer>
</blockquote>
  