<blockquote>
  <p>A blockchain protocol stack designed for scalable & flexible blockchain applications.</p>
  <p>The Alvalor team is dedicated to building a scalable blockchain. This is realised by focusing on moving complexity to second layer channels and building a simple and efficient base layer.</p>
  <footer><a href="https://www.alvalor.org/" target="_blank">https://www.alvalor.org/</a></footer>
</blockquote>
