<blockquote>
  <p>Twit is an ERC20 Twitter Tip Token, We built a simple, reliable and FUN Tip Bot that runs on the Twitter Social Network. Where you Tip a Twit for their Tweet! We want to make twitter a safe place where being a Twit Rocks! You can get tipped for a "fun, silly, or wacky tweet" that sparks interest or debate. You can tip a friend for giving advice, or even tip someone you don't know for posting a compelling article about a subject you found interesting.</p>
  <footer><a href="http://twit.rocks/" target="_blank">http://twit.rocks/</a></footer>
</blockquote>
