<blockquote>
  <p>Rainbow Currency Foundation is a Non-Profit Corporation, registered in Nevada, USA. It has been built to make global and local payment processes safer, cheaper, and easier.</p>
  <footer><a href="https://www.rainbowcurrency.com/" target="_blank">https://www.rainbowcurrency.com/</a></footer>
</blockquote>
