<blockquote>
  <p>UAHPay has launched a National Crypto Currency Bank, Coin &amp; Card Processor. UAHPAY is a Ukraine based Cryptocurrency exchange with Cryptocurrency payment debit card.</p>
  <footer><a href="https://www.uahpay.com/" target="_blank">https://www.uahpay.com/</a></footer>
</blockquote>
