
<blockquote>
  <p>UCASH (UCASH): Aims to build a global network of retail and individual converters providing cash to digital conversions to and from our ecosystem, helping people worldwide to unbank.</p>
  <footer><a href="https://u.cash/" target="_blank">https://u.cash/</a></footer>
</blockquote>
  