<blockquote>
  <p>VerifyUnion is a decentralized Digital Identification and Trust Verification platform. VerifyUnion provides total ownership of the data being shared through the network to the customer/end user, protecting user privacy and securing their identity.</p>
  <footer><a href="https://www.verifyunion.io/" target="_blank">https://www.verifyunion.io/</a></footer>
</blockquote>
