<p>
  <img src="https://uetoken.com/images/logo.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>The UET ICO transparently offers investors no value, so there will be no expectation of gains. No gains means few investors, few investors means few transactions, and few transactions means no Ethereum network lag—not to mention no depressing posts on /r/ethtrader about people losing all their savings!</p>
  <footer><a href="https://uetoken.com/" target="_blank">https://uetoken.com/</a></footer>
</blockquote>
