<blockquote>
  <p>Useless Eth Token Lite - When something has no value, the only way is up! Less Tokens = More Value. UETL has no overhead, no product, no use, nothing... Seriously! Useless Ethereum Token Lite - Zero Value Unless YOU Say So!</p>
  <footer><a href="http://uselessethtokenlite.com/" target="_blank">http://uselessethtokenlite.com/</a></footer>
</blockquote>
