<blockquote>
  <p>ugChain is an ecosystem consisting of a series of decentralized applications, and its core is a decentralized account system (DAS) based on blockchain technology. The system has built-in exclusive token UG Token (UGT), which simultaneously has the equity attribute and monetary attribute.</p>
  <footer><a href="http://ugchain.org/" target="_blank">http://ugchain.org/</a></footer>
</blockquote>
