<p class="alert alert-warning">
Token Replacement: <a href="https://medium.com/@ugChainOfficial/announcement-of-the-establishment-of-ugchain-foundation-ltd-in-singapore-c190d5c91d55" target="_blank">Announcement </a><br/>
New Token Contract: <a href="https://etherscan.io/token/0xf485c5e679238f9304d986bb2fc28fe3379200e5">0xf485c5e679238f9304d986bb2fc28fe3379200e5</a>
</p>
<blockquote>
  <p>ugChain is an ecosystem consisting of a series of decentralized applications, and its core is a decentralized account system (DAS) based on blockchain technology. The system has built-in exclusive token UG Token (UGT), which simultaneously has the equity attribute and monetary attribute.</p>
  <footer><a href="http://ugchain.org/" target="_blank">http://ugchain.org/</a></footer>
</blockquote>
