<blockquote>
  <p>UnikoinGold is an ERC20 token that will serve as an entry to a new version of the existing Unikrn spectator betting system, and it will also become the exclusive token used on our new skill-based betting platform. It will power both wagering and non-wagering experiences throughout the Unikrn platform, thus creating a first viable esports eco-system that will reward the players, content-creators and spectators alike.</p>
  <footer><a href="https://unikoingold.com/" target="_blank">https://unikoingold.com/</a></footer>
</blockquote>
