<blockquote>
  <p>Ultimat is a mobile app company. Creating games and day-to-day use apps.</p>
  <footer><a href="http://http://www.ultimat.tk/" target="_blank">http://http://www.ultimat.tk/</a></footer>
</blockquote>
