<p>
  <img src="https://static.wixstatic.com/media/0a69bd_7cca552ce8524e90915bd9fce092b812~mv2.png/v1/fill/w_249,h_243,al_c,usm_2.00_1.00_0.00/0a69bd_7cca552ce8524e90915bd9fce092b812~mv2.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>The Umbrella Coin (UMC) team is building a next-generation model for providing risk management and general benefits. Its mission is to ease the financial burden of carrying traditional insurance by covering hidden costs such as deductibles, co-insurance, co-pays and claims other insurers' won't cover.</p>
  <footer><a href="https://www.umbrellacoin.org/" target="_blank">https://www.umbrellacoin.org/</a></footer>
</blockquote>
