<blockquote>
  <p>The Umbrella Coin (UMC) team is building a next-generation model for providing risk management and general benefits. Its mission is to ease the financial burden of carrying traditional insurance by covering hidden costs such as deductibles, co-insurance, co-pays and claims other insurers' won't cover.</p>
  <footer><a href="https://www.umbrellacoin.org/" target="_blank">https://www.umbrellacoin.org/</a></footer>
</blockquote>
