<blockquote>
  <p>Coinme is building the largest crypto ATM network in the world. As the first licensed Bitcoin ATM company in the United States, Coinme’s proven track record and human-first approach have brought thousands of fresh faces into this growing community.</p>
  <footer><a href="https://uptoken.org/" target="_blank">https://uptoken.org/</a></footer>
</blockquote>
