<blockquote>
  <p>UQUD is an implemented system that ease the use of cryptocurrencies. UQUD system provide debit cards for USD, GRP, and EUR and also several cryptocurrencies ATM's around the world.</p>
  <p>UquidCoin (UQC) is an ERC-20 token that will work as a medium of exchange within the platform.</p>
  <footer><a href="https://uquidcoin.com" target="_blank">https://uquidcoin.com</a></footer>
</blockquote>
