<blockquote>
  <p>Uservice project is aiming to bring innovative solution to gathering and storing your car history on its secure and transparent blockchain platform for further optimization while connecting all industry players for easy access and workflow.</p>
  <p>Uservice has a vision for a single global transparent and decentralized blockchain platform for car service and maintenance. Uservice's blockchain platform will connect car owners, dealerships, insurance companies, auto service centers, manufacturers, and parts suppliers as well as manufacturers on one platform. By joining them on a single platform, they get a chance to cooperate with one another, which will increase the possibility of transparency and effectiveness of their business processes.</p>
  <footer><a href="https://usrv.io/" target="_blank">https://usrv.io/</a></footer>
</blockquote>
