<blockquote>
  <p>UTRUST is a payment platform that empowers buyers to pay with cryptocurrencies while providing a groundbreaking purchase protection mechanism.</p>
  <footer><a href="https://utrust.io/" target="_blank">https://utrust.io/</a></footer>
</blockquote>
