<blockquote>
  <p>Token to be used in the UTEX (United Trader's Exchange) which can be found at https://unitedtraders.com. Trade on NYSE, CME and other stock markets from within our trading platform.</p>
  <footer><a href="https://uttoken.io/" target="_blank">https://uttoken.io/</a></footer>
</blockquote>
