
<blockquote>
  <p>UNetworkToken (UUU): A Decentralized Protocol for Publishing and Valuing Online Content</p>
  <footer><a href="https://u.network/" target="_blank">https://u.network/</a></footer>
</blockquote>
  