<blockquote>
  <p>Valid Cash is a cryptocurrency based on the Ethereum ERC20 protocol with a limited supply driven by community and peer to peer acceptance.</p>
  <footer><a href="https://www.valid.cash/" target="_blank">https://www.valid.cash/</a></footer>
</blockquote>
