<blockquote>
  <p>VirtualCash (VCA) is a virtual money integrated in Ethereum blockchain that will serve as the main payment method for our e-commerce online store and for VCA conversion to Paypal and WesternUnion.</p>
  <footer><a href="http://www.virtualcash.shop" target="_blank">http://www.virtualcash.shop</a></footer>
</blockquote>
