<blockquote>
  <p>Vega Intelligent Solutions is creating the Vega AI interacting with users through communication systems leveraging machine learning into our every day lives. Our applications are intended for traders on various markets, working towards changing the world of investment tools and portfolio management utilities.</p>
  <footer><a href="https://vegais.com/" target="_blank">https://vegais.com/</a></footer>
</blockquote>
