<p>
  <img src="http://veritas.veritaseum.com/images/images/latest_logo1.png" style="width: 200px;" />
</p>

<blockquote>
  <footer><a href="http://veritas.veritaseum.com/" target="_blank">http://veritas.veritaseum.com/</a></footer>
</blockquote>
