<p>
  <img src="https://blog.veritaseum.com/images/veritas_logo3.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Veritaseum is a blockchain-based application that facilitates access to the global peer-to-peer economy. Through its native token, Veritas, smart contracts are used to replicate the business functions of major industry verticals (finance, investment, real estate, insurance, healthcare, etc) without the use of middlemen, intermediaries or rent-seeking agents.</p>
  <p>The vehicles used are P2P, OTC value trading platforms and custom built DAOs (digital autonomous organizations) - both of which connect two disparate parties without 3rd parties on a one-to-one, one-to-many or many-to-one basis, usually on a fully distributed basis, not just decentralized.</p>
  <p>The result is lower friction and the consequent lowering of costs, elimination of counterparty and credit risks (through multisig intelligent escrows), increased transparency and access that dramatically reduces transaction times.</p>
  <p>Veritaseum was one of the first, if not the first entity to apply smart contracts and blockchain tech to the capital markets, and has several patents pending as well as an existing, functional codebase.</p>
  <footer><a href="https://www.veritaseum.com/" target="_blank">https://www.veritaseum.com/</a></footer>
</blockquote>
