<blockquote>
  <p>Veritaseum enables software-driven P2P capital markets without brokerages, banks or traditional exchanges</p>
  <footer><a href="http://veritas.veritaseum.com/" target="_blank">http://veritas.veritaseum.com/</a></footer>
</blockquote>
