<blockquote>
  <p>Veritaseum enables software-driven P2P capital markets without brokerages, banks or traditional exchanges. This token is a subtoken of the parent company Veritaseum. It represents 1 gram of .999 pure gold, redeemable in physical gold after KYC procedure.</p>
  <footer><a href="https://veritas.veritaseum.com/" target="_blank">https://veritas.veritaseum.com/</a></footer>
</blockquote>
