<blockquote>
  <p>Veritaseum enables software-driven P2P capital markets without brokerages, banks or traditional exchanges VGLZ1 is a sub-token of VERI (VERITASEUM) Ecosystem. VGLZ1 is a digital token asset representing 1oz physical fine .999 gold that can be exchanged and then redeemed via the Veritaseum website, or VeADIR Dapp after KYC is provided.</p>
  <footer><a href="https://veritas.veritaseum.com/" target="_blank">https://veritas.veritaseum.com/</a></footer>
</blockquote>
