<blockquote>
  <p>VIBEHub is the world's first crypto based virtual &amp; augmented reality marketplace and hub. While we are making concerts into the first killer-app for VR, we are also adding education streams, social experiences, gaming, and virtual dating. All decentralized on the platform designed for up to 1 billion users.</p>
  <footer><a href="http://vibehub.io/" target="_blank">http://vibehub.io/</a></footer>
</blockquote>
