<blockquote>
  <p>Authors sell access to their premium content, receive donations from users and earn from in video ads. Users watch free videos and get rewards. Advertisers place ads and pay directly to our users.</p>
  <footer><a href="https://viuly.com/" target="_blank">https://viuly.com/</a></footer>
</blockquote>
