<blockquote>
  <p>Valid is a data marketplace that will consist of a mobile wallet for users to manage their digital identity and person data. Furthermore, the platform users will be able to manage web applications for consumers to buy and access their data on the marketplace.</p>
  <p>Valid token (VLD) is an ERC-20 compliant token that will work as a utility token, enabling the transactions between users and data consumers on the Valid marketplace.</p>
  <footer><a href="https://valid.global" target="_blank">https://valid.global</a></footer>
</blockquote>
