<blockquote>
  <p>A decentralized music platform that aims to monetize independent artists by giving them 100% of the revenue.</p>
  <footer><a href="https://www.voise.it/" target="_blank">https://www.voise.it/</a></footer>
</blockquote>
