<blockquote>
  <p>vSlice Token:</p>
  <p>Contribute funds to Smart Contract Game Developers.</p>
  <p>Earn ETH from successful Game Projects.</p>
  <footer><a href="http://www.vslice.io/" target="_blank">http://www.vslice.io/</a></footer>
</blockquote>
