<p>
  <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_9000,w_1200,f_auto/v1/721604/vSlice_CV_cycm8v.png" style="width: 200px;" />
</p>

<blockquote>
  <p>vSlice Token:</p>
  <p>Contribute funds to Smart Contract Game Developers.</p>
  <p>Earn ETH from successful Game Projects.</p>
  <footer><a href="http://www.vslice.io/" target="_blank">http://www.vslice.io/</a></footer>
</blockquote>
