<blockquote>
  <p>Vezt is a blockchain-based platform that lets music fans share ownership with artists in their favorite songs.</p>
  <footer><a href="https://vezt.co/" target="_blank">https://vezt.co/</a></footer>
</blockquote>
