
<blockquote>
  <p>Vezt (VZT): Vezt is an intellectual property rights marketplace that lets music fans buy rights in their favorite songs.</p>
  <footer><a href="https://vezt.co/" target="_blank">https://vezt.co/</a></footer>
</blockquote>
  