<blockquote>
  <p>WaBi places secure anti-counterfeit labels on consumer products in China and internationally. WaBi (蛙币) can then be used to purchase them.</p>
  <footer><a href="https://www.wacoin.io/" target="_blank">https://www.wacoin.io/</a></footer>
</blockquote>
