<blockquote>
  <p>WAX is a decentralized platform enabling anyone to operate virtual marketplaces with built-in security, infrastructure, and payment processing. From the founders of OPSkins, the world’s leading marketplace for online game assets, WAX serves the 400+ million players who already collect, buy and sell.</p>
  <p>WAX is an ERC 20 utility token that supports the activities and functionality of the Worldwide Asset eXchange's platform, such as listing items for sale, transacting value between each other, settling the transfer of virtual goods, creating and servicing contracts, and proposing and voting for WAX Decentralized Exchange Multi-Party Payout Settlement Agent Asset Guilds.</p>
  <footer><a href="https://wax.io/" target="_blank">https://wax.io/</a></footer>
</blockquote>
