<blockquote>
  <p>A new revolutionary and innovative platform that will change the gambling scene forever with blockchain technology.</p>
  <footer><a href="http://webetcrypto.io/" target="_blank">http://webetcrypto.io/</a></footer>
</blockquote>
