<blockquote>
  <p>WednesdayCoin is an ERC20 token that can only be sent on Wednesdays. By using the timestamp of the block we can restrict the transfer of the token to a specific day. Since the timestamp is a unix timestamp the timezone is UTC, so this token and only be sent on Wednesday UTC.</p>
  <footer><a href="https://wednesdaycoin.io/" target="_blank">https://wednesdaycoin.io/</a></footer>
</blockquote>
