<blockquote>
  <p>CryptoWi is an app that is aimed to cater to the needs of the general masses by monetizing a daily activity of millions of people - Sharing WiFi. Millions of people use and share their WiFi connections everyday without realizing the potential monetary benefit they can get through it. With CryptoWi, we solve this by letting any user sell/rent his WiFi connection to those in need and be rewarded in Wi Coins (WiC), the in-app currency.</p>
  <footer><a href="https://www.cryptowi.com/" target="_blank">https://www.cryptowi.com/</a></footer>
</blockquote>
