<blockquote>
  <p>MyWish platform is an ecosystem of smart contracts accumulating a complex of blockchain solutions designed to integrate high technologies into the real sector.</p>
  <footer><a href="https://mywish.io/" target="_blank">https://mywish.io/</a></footer>
</blockquote>
