<blockquote>
  <p>WITchain makes your token and manages its value. You have value token in decentralized cryptocurrency economy, we provide digital token development and value management service for individual and enterprise.</p>
  <footer><a href="http://witchain.org/" target="_blank">http://witchain.org/</a></footer>
</blockquote>
