<blockquote>
  <p>The WizFund platform is a liberated ecosystem of investors, bringing flexibility and freedom through advanced technology. Every member has the right to vote and take the decision where and how the fund should invest. Token-holders are free to invest in newly-created funds or establish WizFunds of their own. A software wizard will guide you through the process.</p>
  <footer><a href="https://crowdwiz.io/" target="_blank">https://crowdwiz.io/</a></footer>
</blockquote>
