<blockquote>
  <p>WePower is a blockchain-based green energy trading platform where everyone can buy, trade or invest in tokenised green energy at scale. WePower token is backed green energy and grows in real value. Token accrues energy from renewable energy producers who have to donate part of the energy produced to the token holders. WPR token holders can use or sell donated green energy, which provides liquidity. WePower token model was clarified with the regulator and don't fall under financial/securities law regulation. WePower already attracted the first clients with 1,650 MW capacity solar plants in Spain and Italy (WePower launch markets).</p>
  <footer><a href="https://wepower.network" target="_blank">https://wepower.network</a></footer>
</blockquote>
