<blockquote>
  <p>WISH is an Ethereum tokens - access tokens issued by WishFinance platform and needed to build and manage a loan portfolio on the platform. The more prominent platform will become, the more loans it will process the more WISH tokens will be in use. Lenders could use only tokens deposited on the platform. And they could be traded from a public token holders on the exchanges, just as other access and utility tokens. One token needed to manage one active loan. It means a lender with 1000 active loans should own and deposit 1000 WISH tokens.</p>
  <footer><a href="https://wishfinance.com" target="_blank">https://wishfinance.com</a></footer>
</blockquote>
