<blockquote>
  <p>The first blockchain Lending as a Service platform is a tool for any professional lender in any country. Created for small business lending, using real acquiring data, utilizes the neural network for loans portfolio analytics and blockchain for straightforward loan portfolio securitization. WSH tokens are access tokens, keys to all features of the platform.</p>
  <footer><a href="https://wishfinance.com" target="_blank">https://wishfinance.com</a></footer>
</blockquote>
