<p>
  <img src="http://www.waltonchain.org/img/wal_logo_1.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Blockchain + RFID</p>
  <footer><a href="http://www.waltonchain.org/" target="_blank">http://www.waltonchain.org/</a></footer>
</blockquote>
