<blockquote>
  <p>The wys Token decentralizes digital commerce. It gives users discounts for product views, advertisers access to customers, and retailers new opportunities to increase their sales. Powered by the wysker App, users can now experience shopping like never before while turning their data in wys Token discounts. The wysker Platform paves the way for the widespread acceptance of cryptocurrencies in digital commerce.</p>
  <footer><a href="https://www.wystoken.org" target="_blank">https://www.wystoken.org</a></footer>
</blockquote>
