<blockquote>
  <p>The Wyvern Exchange is a decentralized digital asset exchange running on the Ethereum blockchain. Using the Wyvern Exchange, you can buy or sell anything you can represent on Ethereum, from virtual kittens to smart contracts, to or from anyone in the world.</p>
  <p>The WYV token is a protocol token: it powers the Wyvern Protocol, which the Exchange utilizes. Users must pay a small fee in WYV to settle purchases on the Exchange. WYV tokenholders are also shareholders in the Wyvern DAO, the decentralized autonomous organization which governs the Wyvern Protocol.</p>
  <footer><a href="https://projectwyvern.com" target="_blank">https://projectwyvern.com</a></footer>
</blockquote>
