<blockquote>
  <p>Project Wyvern is a decentralized digital item exchange running on the Ethereum blockchain.</p>
  <footer><a href="https://projectwyvern.com/" target="_blank">https://projectwyvern.com/</a></footer>
</blockquote>
