<blockquote>
  <p>The X8Currency is an Ethereum-based token that uses a combination of 8 fiat currency baskets and gold to provide a stable value. It is stable and exchangeable directly at the issuer, offering distributed exchanges a suitable solution for fiat exit point.</p>
  <footer><a href="https://x8currency.com/" target="_blank">https://x8currency.com/</a></footer>
</blockquote>
