<blockquote>
  <p>Quarterly investment in blockchain and A.I. start-ups voted upon by token holders through the XAI token</p>
  <footer><a href="https://www.aicoin.io/" target="_blank">https://www.aicoin.io/</a></footer>
</blockquote>
