<p>
  <img src="https://www.aicoin.io/wp-content/uploads/2017/07/logo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Quarterly investment in blockchain and A.I. start-ups voted upon by token holders through the XAI token</p>
  <footer><a href="https://www.aicoin.io/" target="_blank">https://www.aicoin.io/</a></footer>
</blockquote>
