
<blockquote>
  <p>Xaurum (Xaurum): Xaurum is unit of value on the golden blockchain, it represents an increasing amount of gold and can be exchanged for it by melting</p>
  <footer><a href="https://www.xaurum.org/" target="_blank">https://www.xaurum.org/</a></footer>
</blockquote>
  