<blockquote>
  <p>BlitzPredict is a global platform under development applying fintech solutions to provide function and liquidity to users of blockchain prediction markets and sportsbooks. BlitzPredict aims to bring the power of blockchain technology to the mass consumer via streamlined products.</p>
  <footer><a href="https://www.blitzpredict.io" target="_blank">https://www.blitzpredict.io</a></footer>
</blockquote>
