<blockquote>
  <p>XBV is a blockchain venture capital company that invests in companies that are prime candidates to bring onto the blockchain. The companies brought on will have smart contracts created and those smart contracts will require XBV to operate creating demand for  the XBV token. </p>
  <footer><a href="https://xbv.io" target="_blank">https://xbv.io</a></footer>
</blockquote>
