<blockquote>
  <p>ClearCoin is a technology company that powers the real-time buying and selling of media on decentralized applications and the broader digital environment.</p>
  <p>The ClearCoin token is used to transact on the platform and can be used to support other members of the ecosystem like advertisers and publishers. The token is built on Ethereum blockchain while ClearCoin’s advertising exchange blockchain is independent. The ClearCoin ad platform accepts CLR tokens as a form of payment.</p>
  <footer><a href="https://clearcoin.co/" target="_blank">https://clearcoin.co/</a></footer>
</blockquote>
