<blockquote>
  <p>XCM are gift certificates redeemable for Open Source, Blockchain integrated devices manufactured by TigoCTM.</p>
  <footer><a href="https://tigoctm.com/" target="_blank">https://tigoctm.com/</a></footer>
</blockquote>
