<blockquote>
  <p>XDCE is a 1:1 proxy for the XDC utility token on the XinFin hybrid blockchain. This allows token holder the flexibility to hold tokens in either form for utility.</p>
  <footer><a href="https://xinfin.org" target="_blank">https://xinfin.org</a></footer>
</blockquote>
