
<blockquote>
  <p>XinFin XDCE (XDCE): Hybrid Blockchain technology company focused on international trade and finance.</p>
  <footer><a href="https://www.xinfin.io/" target="_blank">https://www.xinfin.io/</a></footer>
</blockquote>
  