
<blockquote>
  <p>Proxeus (XES): We bring blockchain compatibility to traditional companies by integrating a blockchain layer into existing enterprise systems.</p>
  <footer><a href="https://proxeus.com/" target="_blank">https://proxeus.com/</a></footer>
</blockquote>
  