<blockquote>
  <p>PROXEUS is a utility token which can be used to design, publish and distribute workflows and documents which are registered on smart contracts. By making it possible to design a Dapp without having to program a single line of code PROXEUS aims to become the Wordpress for the blockchain.</p>
  <footer><a href="https://proxeus.com" target="_blank">https://proxeus.com</a></footer>
</blockquote>
