<p>
  <img src="http://www.sphre.co/img/airlogo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Air is a platform for digital identity for both the Enterprise (Platform/Application Programming Interface (API)) and individuals (cell/mobile phone application).</p>
<p>The Air digital identity system uses blockchain technologies via the implementation of a per user specific Smart Contract to complete cryptographically secured digital identity management actions, for authentication, authorization and transaction completion verification. Air is based on open-source technologies, and is defined from the start as an ‘open standards’ based system, to ensure the greatest interoperability in the future.</p>
  <footer><a href="http://www.sphre.co" target="_blank">http://www.sphre.co</a></footer>
</blockquote>
