<blockquote>
  <p>Ink Protocol is a decentralized payment and reputation system based on Ethereum. It is designed specifically for P2P marketplace transactions where trust mechanisms between the buyer and seller are limited or non-existent. The protocol will first be deployed on an existing marketplace called Listia and can be integrated independently into any existing external marketplace via the Ink Pay App.</p>
  <p>The underlying token of Ink Protocol, XNK, is built on the Ethereum blockchain and is ERC20 compatible. The function of the XNK token is carrying out transactions on the Ink Protocol platform.</p>
  <footer><a href="https://paywithink.com/" target="_blank">https://paywithink.com/</a></footer>
</blockquote>
