<p>
  <img src="http://xenon.network/wp-content/uploads/2017/09/top-logo.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>An alternative implementation of the EOS project with widespread, non-ICO'd token distribution. </p>
  <footer><a href="https://xenon.network/" target="_blank">https://xenon.network/</a></footer>
</blockquote>
