<blockquote>
  <p>An alternative implementation of the EOS project with widespread, non-ICO'd token distribution.</p>
  <footer><a href="https://xenon.network/" target="_blank">https://xenon.network/</a></footer>
</blockquote>
