<blockquote>
  <p>XPlay is a blockchain-led, A.I.-driven global extreme entertainment high-quality network ecosystem, content producers,merchants, advertisers, users can trade contents in XPlay, watch live shows, streaming and participate in different communities.</p>
  <footer><a href="http://xplay.fund" target="_blank">http://xplay.fund</a></footer>
</blockquote>
