<blockquote>
  <p>Crowdstart coin is mined by the contribution to blockchain protocols, applications and theory.  It represents the value that  a token holder has created for the development of blockchain technology through technological advancement or actions inciting usage of blockchain products.</p>
  <footer><a href="http://crowdstart.capital/" target="_blank">http://crowdstart.capital/</a></footer>
</blockquote>
