<blockquote>
  <p>XUC is a digital asset, similar to Ripple's XRP. It is optimized for real-time trades between digital asset exchanges and serves as fuel for each trade.</p>
  <footer><a href="https://www.exchangeunion.com/xuc" target="_blank">https://www.exchangeunion.com/xuc</a></footer>
</blockquote>
