<blockquote>
  <p>People who own ExsulCoin can use their tokens to help build refugee-led projects. In addition, refugees can use ExsulCoins to pay for tutoring, mentorship, or nanowork tasks.</p>
  <footer><a href="https://exsulcoin.ga/" target="_blank">https://exsulcoin.ga/</a></footer>
</blockquote>
