<blockquote>
  <p>Yoshi Coin is a novelty ethereum token created by "YoshiDev" in response to a thread in /biz/ on August 9th 2017. https://boards.4chan.org/biz/thread/2994407. Total supply capped at 372 coins. This cap represents the total number of yoshi coins (aka dragon coins) in Super Mario World released in 1991(NA) for the super Nintendo entertainment system.</p>
  <footer><a href="https://yoshicoineth.wixsite.com/yoshicoin" target="_blank">https://yoshicoineth.wixsite.com/yoshicoin</a></footer>
</blockquote>
