<blockquote>
  <p>YGGDRASH is a trust-based multi-dimensional blockchains (branches) built with a vision “Digitize everything into reality” and to connect everything and any blockchain networks.</p>
  <footer><a href="https://yggdrash.io/" target="_blank">https://yggdrash.io/</a></footer>
</blockquote>
