<blockquote>
  <p>The first crypto pegged to time on the Ethereum Blockchain</p>
  <footer><a href="https://chronologic.network/" target="_blank">https://chronologic.network/</a></footer>
</blockquote>
