<blockquote>
  <p>ZAP allows smart contracts and decentralized applications to communicate with an oracle layer delivering any arbitrary data feed. By combining real-time data feeds and powerful oraclization tools, ZAP is building an open, decentralized marketplace for creation, curation and monetization.</p>
  <footer><a href="https://zap.store/" target="_blank">https://zap.store/</a></footer>
</blockquote>
