
<blockquote>
  <p>Zilliqa (ZIL): Zilliqa is a high-throughput public blockchain platform - designed to scale to thousands ​of transactions per second.</p>
  <footer><a href="https://www.zilliqa.com/" target="_blank">https://www.zilliqa.com/</a></footer>
</blockquote>
  