<blockquote>
  <p>Zilliqa - The Next Generation, High Throughput Blockchain Platform</p>
  <p>Zilliqa is a new blockchain platform that is designed to scale in an open, permission-less distributed network securely. The core feature that makes Zilliqa scalable is sharding — dividing the network into several smaller component networks (called shards) capable of processing transactions in parallel.</p>
  <footer><a href="https://www.zilliqa.com/" target="_blank">https://www.zilliqa.com/</a></footer>
</blockquote>
