<blockquote>
  <p>ZipCoin is an ERC20 Token which depends on the ZipCoin Project as its revenue source. The ZipCoin Project is a system in which one can answer questions or teach a class in return for ZipCoin. Any users who apply and are approved can teach a class or answer questions in exchange for ZipCoin. This way, we are bringing education into the cryptocurrency world. With ZipCoin, you learn, educate, and gain crypto!</p>
  <footer><a href="https://zip-coin.com/" target="_blank">https://zip-coin.com/</a></footer>
</blockquote>
