
<blockquote>
  <p>Zippie (ZIPT): The Zipper token pre-sale concluded on the 3rd of January 2018 after reached the $3M hard cap one day before the planned end date.</p>
  <footer><a href="https://zippie.org/" target="_blank">https://zippie.org/</a></footer>
</blockquote>
  