<blockquote>
  <p>The ZXBT token has an original function. Sending tokens can be accompanied with the message or signature for identification. If desired, the sending of tokens can be used as a messenger.</p>
  <footer><a href="https://zxbt.0xbt.net/" target="_blank">https://zxbt.0xbt.net/</a></footer>
</blockquote>
