<h3><span class="trn">fees</span></h3>

<table class="table">
  <tr>
    <th><span class="trn">transaction</span></th>
    <th><span class="trn">fee</span></th>
  </tr>
  <tr>
    <td><span class="trn">deposit</span></td>
    <td>0.0%</td>
  </tr>
  <tr>
    <td><span class="trn">withdraw</span></td>
    <td>0.0%</td>
  </tr>
  <tr>
    <td><span class="trn">maker</span></td>
    <td>0.0%</td>
  </tr>
  <tr>
    <td><span class="trn">taker</span></td>
    <td>0.3%</td>
  </tr>
</table>
<h4><span class="trn">maker_vs_taker</span></h4>
<p>
  <span class="trn">only_fee_taker</span>
</p>
<p>
  <span class="trn">maker_fee_desc</span>
</p>
<p>
  <span class="trn">taker_fee_desc</span>
</p>
