<h3><span class="trn">connect_ethereum</span></h3>
<p><span class="trn">three_ways_connect</span></p>
<ol>
  <li><span class="trn">connect_metamask</span></li>
  <li><span class="trn">connect_etherscan</span></li>
</ol>

<h3><span class="trn">deposit_withdraw</span></h3>
<ol>
  <li><span class="trn">deposit_withdraw_1</span></li>
  <li><span class="trn">deposit_withdraw_2</span></li>
  <li><span class="trn">deposit_withdraw_3</span></li>
  <li><span class="trn">deposit_withdraw_4</span></li>
  <li><span class="trn">deposit_withdraw_5</span></li>
  <li><span class="trn">deposit_withdraw_7</span></li>
</ol>

<h3><span class="trn">trade</span></h3>
<ol>
  <li><span class="trn">trade_1</span></li>
  <li><span class="trn">trade_2</span></li>
  <li><span class="trn">trade_3</span></li>
  <li><span class="trn">trade_4</span></li>
  <li><span class="trn">trade_5</span></li>
  <li><span class="trn">trade_6</span></li>
  <li><span class="trn">trade_7</span></li>
  <li><span class="trn">trade_8</span></li>
  <li><span class="trn">trade_9</span></li>
</ol>
