+<blockquote>
 +  <p>bitcoinpure is an Ethereum-based ERC-20 Token that focuses on being a faster and cheaper currency than Bitcoin, Litecoin and other cryptocurrencies, while being distributed equally between all users that signed up for the airdrops. It is the first Ethereum token intended for use as a currency and acceptance by merchants. We care about our community,and we will work hard to make BITICOINPURE  community the best and strongest it can be, which will eventually lead to acceptance of BITICOINPURE by shop merchants as a currency. </p>
 +  <footer><a href="https://btcpure.xyz/" target="_blank">https://btcpure.xyz/</a></footer>
 +</blockquote>
