<blockquote>
  <p>Ethereum Diamond was built to help increase the adoption of cryptocurrency among successful people.</p>
  <footer><a href="http://www.ethereumdiamond.io/" target="_blank">http://www.ethereumdiamond.io/</a></footer>
</blockquote>
