<blockquote>
  <p>The Bithereum is designed to provide stability and growth to the Ethereum community.</p>
  <footer><a href="https://bithereum.tech/" target="_blank">https://bithereum.tech/</a></footer>
</blockquote>
