<blockquote>
  <p>1KT is token based ERC20 using proof-of-stake system with smaller supply.</p>
  <footer><a href="https://1ktoken.tech/" target="_blank">https://1ktoken.tech/</a></footer>
</blockquote>
