<blockquote>
  <p>7YPE is a unique, forward thinking and innovative way for feature films to be financed by supporters and fans.</p>
  <footer><a href="http://www.7ype.com" target="_blank">http://www.7ype.com</a></footer>
</blockquote>
