<blockquote>
  <p>The Accelerator Token is the only method of payment accepted by the Accelerator Network. It is a proof-of-stake smart contract on Ethereum. The Accelerator Token allows holders to mine more Accelerator Tokens at pre-defined rate. Then, spend them for services offered by the Accelerator Network.</p>
  <footer><a href="http://accelerator.network" target="_blank">http://accelerator.network</a></footer>
</blockquote>
