
<blockquote>
  <p>Aditus (ADI): Aditus is a revolutionary new platform bringing the world of luxury to crypto-affluents, through a privacy-centric decentralised network utilising smart contracts and blockchain technology.</p>
  <footer><a href="https://www.aditus.net/" target="_blank">https://www.aditus.net/</a></footer>
</blockquote>
  