<blockquote>
  <p>AdEx is a blockchain-based ad exchange aiming at disrupting the existing online advertising landscape and address its significant problems: advertising fraud, privacy and consent to receiving sponsored messages, etc.</p>
  <p>AdEx is completely transparent and built on top of Ethereum smart contracts.</p>
  <p>We believe we can empower advertisers and publishers with a platform that is secure, transparent and beneficial for all the parties involved in the process, consumers included.</p>
  <footer><a href="https://www.adex.network/" target="_blank">https://www.adex.network/</a></footer>
</blockquote>
