<blockquote>
  <p>P2P decentralise marketplace for parents, school, nurseries and kids activity provider. We are introducing Afterschool token which will become the unit of our community-driven concept and the service’s growth and health depend on it. The token will be used as a rewarding system to both parents and activity providers, schools and nurserie in our platform.</p>
  <footer><a href="https://tokensale.afterschool.ae/contribute" target="_blank">https://tokensale.afterschool.ae/contribute</a></footer>
</blockquote>
