<blockquote>
  <p>Based upon Ethereum for the logic and IPFS for the content, Agora is the first market thought in the interest of all parties. Register on it using your current Ethereum Wallet and then you can buy or sell over the marketplace. An automatic system is holding the funds during the transaction. That way, if something goes wrong you can always get your money back.</p>
  <footer><a href="https://theagora.io/" target="_blank">https://theagora.io/</a></footer>
</blockquote>
