
<blockquote>
  <p>AidCoin (AID): Powering the AIDChain platform to make the nonprofit sector more transparent.</p>
  <footer><a href="https://www.aidcoin.co/" target="_blank">https://www.aidcoin.co/</a></footer>
</blockquote>
  