<blockquote>
  <p>A multi-tier blockchain system designed to address unsolved questions of scalability, privacy, and interoperability in blockchain networks.</p>
  <footer><a href="https://aion.network" target="_blank">https://aion.network</a></footer>
</blockquote>
