<blockquote>
  <p>AIRA (Autonomous Intelligent Robot Agent) project implements the standard of economic interaction between human-robot and robot-robot via liability smart contract. AIRA makes it possible to connect a variety of different robots to the market of robots' liabilities existing on Ethereum for the direct sale of data from robot sensors, ordering of logistics services, and organization ordering of personalized products at fully automated enterprises.</p>
  <footer><a href="http://aira.life/" target="_blank">http://aira.life/</a></footer>
</blockquote>
