<blockquote>
  <p>Tasked with constructing the first decentralized and virtuous white list of reputable publisher domains, Aliefcoin holders will pave the way for a new industry standard in digital advertising.</p>
  <footer><a href="https://aliefcoin.wordpress.com/" target="_blank">https://aliefcoin.wordpress.com/</a></footer>
</blockquote>
