<blockquote>
  <p>Combining high-tech sensors, blockchain protocol and smart contracts, we are building a universally verifiable, community-driven ecosystem to assure the quality, safety &amp; origins of products.</p>
  <footer><a href="https://ambrosus.com/" target="_blank">https://ambrosus.com/</a></footer>
</blockquote>
