<blockquote>
  <p>The AMIS is a transactional vehicle acting as asset management instrument for decentralized services running on the blockchain in today's digital economy ecosystem.</p>
  <footer><a href="http://erc20-amis.amisolution.net/" target="_blank">http://erc20-amis.amisolution.net/</a></footer>
</blockquote>
