<blockquote>
  <p>Arbitraging is an arbitrage trading company that specializes in creating sophisticated algorithms (bots) that operate by exploiting the market inefficiency, which, in financial world, is called ARBITRAGE.</p>
  <footer><a href="https://www.arbitraging.co/" target="_blank">https://www.arbitraging.co/</a></footer>
</blockquote>
