<blockquote>
  <p>TRADING CRYPTO-CURRENCY TERMINAL FOR TRADING ON TWO EXCHANGES SIMULTANEOUSLY!</p>
  <footer><a href="https://arbitragect.com/en/index.html" target="_blank">https://arbitragect.com/en/index.html</a></footer>
</blockquote>
