<blockquote>
  <p>Artemine is the version 2.0 of Minereum, the First Self Mining Smart Contract created and it's intended to continue the evolution of Smart Contract Mining Technology.</p>
  <footer><a href="https://www.artemine.org" target="_blank">https://www.artemine.org</a></footer>
</blockquote>
