<blockquote>
  <p>ATM ERC20 token is used in the open platform of ATMChain which is an ecosystem based on the block chain network. With focus on media advertising, it can provide the access to third-party information, cinema, social networking, entertainment, We Media and other applications through subsystem API, radiating media culture and ecology which integrates more offline industries. ATMChain is defined as a safe, anonymous trading system with free access to advertising, which is a system that combines block chain network and the platform of ATMChain as well as advertising distribution channel.</p>
  <footer><a href="https://www.atmchain.io/en.html" target="_blank">https://www.atmchain.io/en.html</a></footer>
</blockquote>
