<blockquote>
  <p>Atmatrix aims to provide a consensus based distributed virtual AI-as-a-Service cloud. With the aid of blockchain economic system, Atmatrix coordinates global AI technologies to build a new world of artificial intelligence.</p>
  <footer><a href="https://atmatrix.org/en.html" target="_blank">https://atmatrix.org/en.html</a></footer>
</blockquote>
