
<blockquote>
  <p>Auctus (AUC): The world's first retirement plan platform with traditional and cryptocurrency assets, powered by smart contracts & robo advisory.</p>
  <footer><a href="https://auctus.org/" target="_blank">https://auctus.org/</a></footer>
</blockquote>
  