
<blockquote>
  <p>Aurora DAO (AURA): Aurora is a collection of Ethereum applications and protocols that together form a decentralized banking and finance platform.</p>
  <footer><a href="https://auroradao.com/" target="_blank">https://auroradao.com/</a></footer>
</blockquote>
  