
<blockquote>
  <p>CUBE (AUTO): CUBE is an autonomous car security platform backed by blockchain technology.</p>
  <footer><a href="https://www.cubeint.io/" target="_blank">https://www.cubeint.io/</a></footer>
</blockquote>
  