<blockquote>
  <p>A REVOLUTIONARY GLOBAL STANDARD FOR A MORE FAIR, SECURE, AND TRANSPARENT TICKETING INDUSTRY.</p>
  <footer><a href="https://aventus.io/" target="_blank">https://aventus.io/</a></footer>
</blockquote>
