
<blockquote>
  <p>B2BX (B2BX): Aims to provide cryptocurrency liquidity for brokers, stock exchanges,
hedge funds and other institutional clients.</p>
  <footer><a href="https://www.b2bx.pro/" target="_blank">https://www.b2bx.pro/</a></footer>
</blockquote>
  