
<blockquote>
  <p>BAX (BAX): A decentralised banking platform that leverages blockchain and biometrics to offer anyone in the world access to a UK bank account for peer-to-peer financial services.</p>
  <footer><a href="https://getbabb.com/" target="_blank">https://getbabb.com/</a></footer>
</blockquote>
  