<blockquote>
  <p>Blockchain Capital is a pioneer and the premier venture capital firm investing in Blockchain enabled technology.</p>
  <footer><a href="http://blockchain.capital/" target="_blank">http://blockchain.capital/</a></footer>
</blockquote>
