<blockquote>
  <p>Bananacoin is a new crypto currency that is tied to the price of 1 kg of bananas on the international market.</p>
  <footer><a href="https://www.bananacoin.io/" target="_blank">https://www.bananacoin.io/</a></footer>
</blockquote>
