<blockquote>
  <p>BenjaCoin is the official token of the Benja merchandise ad network, which facilitates advertising transactions between top-tier partners like the National Football League, Barstool Sports, Patagonia, and more.</p>
  <footer><a href="https://www.benjacoin.com/" target="_blank">https://www.benjacoin.com/</a></footer>
</blockquote>
