<blockquote>
  <p>BioPayCoin will be the first cryptocurrency to implement Biometric Fingerprint Scanners as a security feature to protect your coins. BPC was initially planned by two men with one goal in mind, global scale. We are combining multiple technologies into one platform and we hope to see it in every major store and app by 2020 or sooner. The Biometrics industry has grown rather large the past couple years. By the end of 2018, they will not be shipping a newly built phone without one and it doesn't end there. Companies all over the world are forming businesses around biometric identity and the technology alone is the marketing.</p>
  <footer><a href="https://biopaycoin.com/" target="_blank">https://biopaycoin.com/</a></footer>
</blockquote>
