<blockquote>
  <p>The Blockchain Index measures the performance of digital assets that meet certain eligibility criteria. The Blockchain Index DAA constituents and their corresponding weights are updated on a monthly basis or more frequently due to the fast changing environment of the digital assets market. Digital assets currently included in the DAA represent 78% of the total market capitalization of all digital assets.</p>
  <footer><a href="https://www.iconomi.net/dashboard/#/INDEX" target="_blank">https://www.iconomi.net/dashboard/#/INDEX</a></footer>
</blockquote>
