<blockquote>
  <p>Become a co-owner of the system, which turns the human's benefit into money</p>
  <footer><a href="https://bmchain.io/" target="_blank">https://bmchain.io/</a></footer>
</blockquote>
