<blockquote>
  <p>币安交易平台是由赵长鹏（CZ）领导的一群数字资产爱好者创建而成的一个专注区块链资产的交易平台。为用户提供更加安全、便捷的数字货币兑换服务，聚合全球优质数字货币，致力于打造世界级的区块链资产交易平台。</p>
  <footer><a href="https://www.binance.com/" target="_blank">https://www.binance.com/</a></footer>
</blockquote>
