<blockquote>
  <p>Bancor Protocol is a standard for a new generation of cryptocurrencies called Smart Tokens</p>
  <footer><a href="https://bancor.network/" target="_blank">https://bancor.network/</a></footer>
</blockquote>
