<blockquote>
  <p>All-in-one user-friendly multicurrency wallet. Cryptocard, available and acting in every country. Bridge between crypto and fiat currencies.</p>
  <footer><a href="https://bonpay.com/" target="_blank">https://bonpay.com/</a></footer>
</blockquote>
