<blockquote>
  <p>BlockOptions.io aims to build an independent and decentralized platform for binary options industry.</p>
  <footer><a href="http://blockoptions.io/" target="_blank">http://blockoptions.io/</a></footer>
</blockquote>
