<blockquote>
  <p>BotaCoin is an ERC20 token based on the Ethereum blockchain which shall serve as a payment token for Adbota, which shall also serve as a payment token for goods and services to whoever wishes to accept it. There are 100 million Bota coin, and no additional tokens will ever be produced, giving them enough value for your money because of less supply.</p>
  <footer><a href="http://botacoin.org/" target="_blank">http://botacoin.org/</a></footer>
</blockquote>
