<blockquote>
  <p>Brightcoin is a subscription based token to access our chart prediction bot. The fee is set at $10/month and the bot will burn the fees from the supply. This is the first token burning, chart prediction bot ever created.</p>
  <footer><a href="https://brightcoin.club/" target="_blank">https://brightcoin.club/</a></footer>
</blockquote>
