
<blockquote>
  <p>Bread (BRD): BRD is the simple and secure bitcoin wallet.</p>
  <footer><a href="https://token.breadapp.com/" target="_blank">https://token.breadapp.com/</a></footer>
</blockquote>
  