<blockquote>
  <p>Bitcoin Quick is a cryptocurrency, based on blockchain technology. It works on ethereum platform as a smart contract ERC-20 token. In this way our cryptocurrency transaction is 10 times faster than normal bitcoin transaction. Our cryptocurrency transaction fees are also very low when you compare with bitcoin transaction fees. You can adjust transaction fees with feature on our cryptocurrency. A bitcoin quick transaction can complete in less than 3 minutes with lowest transaction fees that belows 10 cents. You can send any amount (1 billion or 1 single cent) but transaction fee is same and less than 10 cents.</p>
  <footer><a href="https://bitcoinquick.org/" target="_blank">https://bitcoinquick.org/</a></footer>
</blockquote>
