<blockquote>
  <p>Everyone rides buses. Imagine a bus ticket you could use anywhere around the world. Pay the same price, everywhere you go. Revolution in transportation.</p>
  <footer><a href="http://www.exbus.info/" target="_blank">http://www.exbus.info/</a></footer>
</blockquote>
