<blockquote>
  <p>Bzxcoin is an Asset backed ERC20 Ethereum token developed by Cryptocurrency Engineers. It prides itself with a dynamic and efficient management team who represents the largest cryptocurrency miners in the southern hemisphere. In addition, the management team has extensive experience in business, real estate, investment, finance, IT and law and enjoys close business links with many influential world leaders.</p>
  <footer><a href="http://xzb9.com/" target="_blank">http://xzb9.com/</a></footer>
</blockquote>
