
<blockquote>
  <p>Cappasity (CAPP): Cappasity brings an in-store browsing experience to online retail through interactive 3D images.</p>
  <footer><a href="https://cappasity.com/" target="_blank">https://cappasity.com/</a></footer>
</blockquote>
  