<blockquote>
  <p>BlockCAT lets anyone create, manage, and deploy smart contracts on the Ethereum blockchain with just a few clicks. No programming required.</p>
  <footer><a href="https://blockcat.io/" target="_blank">https://blockcat.io/</a></footer>
</blockquote>
