<blockquote>
  <p>Building the Ecological Chain of Global Automobile Industry Based on Block Chain Technology</p>
  <footer><a href="http://www.cccoin.top/index.php#home" target="_blank">http://www.cccoin.top/index.php#home</a></footer>
</blockquote>
