<blockquote>
  <p>Ccore is a Crypto Payment Platform that allows people who have cryptocoins / altcoins to spend them on various fiat based online services and stores without losing value on the exchange. And the owners of online-stores will be able to accept cryptocurrency for payment, while not losing part of their profit due to variation of cryptocurrency rate.</p>
  <footer><a href="http://ccore.io/" target="_blank">http://ccore.io/</a></footer>
</blockquote>
