<blockquote>
  <p>CCP is the first public Ethereum-based token used for purchasing Domains and will be experimented as for future voting and other services.</p>
  <footer><a href="https://www.1eth.io/" target="_blank">https://www.1eth.io/</a></footer>
</blockquote>
