<blockquote>
  <p>A trustless escrow payment solution using smart contracts with a unique shipping tracking feature.</p>
  <footer><a href="http://confido.io/" target="_blank">http://confido.io/</a></footer>
</blockquote>
