<blockquote>
  <p>Clashcoin is designed from the ground up for scalable instant transactions and fast transaction ERC20 Token.</p>
  <footer><a href="https://clashcoin.co/" target="_blank">https://clashcoin.co/</a></footer>
</blockquote>
