<blockquote>
  <p>ClassyCoin is high value token, peer to peer decentralized digital currency controlled by community. ERC20 token deployed on Ethereum blockchain.</p>
  <footer><a href="http://www.classycoin.io/" target="_blank">http://www.classycoin.io/</a></footer>
</blockquote>
