<blockquote>
  <p>Basic Amazon Web Services for $1 USD per month!  Offer available for Cloud Token payments only.</p>
  <footer><a href="https://cloudwith.me/" target="_blank">https://cloudwith.me/</a></footer>
</blockquote>
