<blockquote>
  <p>COINMARKETBRASIL PROVES THE DECENTRALIZATION OF OPERATIONS IN ERP SYSTEMS, VALIDATING DATA IN A RELIABLE, SAFE AND EFFICIENT WAY, BY LEVERAGING AUTOMATED SMART CONTRACTS TO ENTERPRISE SYSTEMS, USING BLOCKCHAIN PROTOCOLS.</p>
  <footer><a href="https://cmbusinesstoken.com" target="_blank">https://cmbusinesstoken.com</a></footer>
</blockquote>
