<blockquote>
  <p>Spam email demands your attention for free. Not anymore. Now be compensated with the token Credo through the cryptocurrency spam solution BitBounce. Credos create a market for email that allows users to charge to recieve emails from unknown senders.</p>
  <footer><a href="https://bitbounce.io/credo" target="_blank">https://bitbounce.io/credo</a></footer>
</blockquote>
