<blockquote>
  <p>CREDITS is a blockchain platform (protocol) with its own internal cryptocurrency CREDITS (CS). It is a new and unique technical implementation of blockchain technology, smart contracts, and data protocol.</p>
  <footer><a href="https://credits.com/en/" target="_blank">https://credits.com/en/</a></footer>
</blockquote>
