<blockquote>
  <p>CarTaxi is an Ethereum blockchain based decentralized platform that connects all car towing companies into one online network. It allows customers to transport their vehicles quickly, efficiently and safely anytime, anywhere.Among the mass of futuristic and real life projects, CarTaxi operates in the real sector, with a multibillion-dollar global market without competitors.</p>
  <footer><a href="https://cartaxi.io/" target="_blank">https://cartaxi.io/</a></footer>
</blockquote>
