
<blockquote>
  <p>Datum (DAT): Datum is the decentralized marketplace for social and IoT data.</p>
  <footer><a href="https://datum.org/" target="_blank">https://datum.org/</a></footer>
</blockquote>
  