
<blockquote>
  <p>DAEX Token (DAX): DAEX is an open and decentralized clearing and settlement ecosystem for all cryptocurrency exchanges.</p>
  <footer><a href="https://www.daex.io/" target="_blank">https://www.daex.io/</a></footer>
</blockquote>
  