<blockquote>
  <p>DisLedger is the incredibly fast and completely private architecture for enterprise distributed ledgers.</p>
  <footer><a href="https://www.disledger.com/" target="_blank">https://www.disledger.com/</a></footer>
</blockquote>
