<blockquote>
  <p>Dragon Exchange focusing on the exchange of Crypto-Currency commonly known as "BitCoin" and it's derivatives.</p>
  <footer><a href="http://www.dragonexchange.online" target="_blank">http://www.dragonexchange.online</a></footer>
</blockquote>
