<blockquote>
  <p>We are the first to offer a fair and reliable game for the mobile gaming community. We will cover major indices world wide.</p>
  <footer><a href="http://www.dexer.io" target="_blank">http://www.dexer.io</a></footer>
</blockquote>
