<blockquote>
  <p>Dogetoken is a token honoring Dogecoin, the fun and friendly internet currency. Dogetoken is not Dogecoin. After purchasing Dogetoken (DGT), you can easily send DGT to your friends.</p>
  <footer><a href="http://dogetoken.com/" target="_blank">http://dogetoken.com/</a></footer>
</blockquote>
