
<blockquote>
  <p>DigitexFutures (DGTX): The DGTX Token is a protocol token that has real world utility and value. Its value derives directly from its utility as a vehicle for the commission-free trading of liquid futures contracts on the price of Bitcoin, Ethereum and Litecoin against the US Dollar.</p>
  <footer><a href="https://digitexfutures.com/" target="_blank">https://digitexfutures.com/</a></footer>
</blockquote>
  