<blockquote>
  <p>On traditional server architectures, every aplication need to set up its own servers that run their own code in isolated silos, making sharing of data hard. If a single app is compromised or goes offline, many user and other apps are effected. On a blockchain, anyone can setup a node that replicates the necessary data for all nodes to reach an agreement and be compensated by users and app developers. This allows user data to remain private and apps to be decentralized like the internet was supposed to work.</p>
  <footer><a href="https://dash-gold.net/" target="_blank">https://dash-gold.net/</a></footer>
</blockquote>
