<blockquote>
  <p>Our Ethereum dice game is provably-fair, has a low 1% house edge and no sign-ups or deposits.</p>
  <p>Etheroll is an Ethereum smart contract for placing bets on our provably-fair dice game using Ether with no deposits or sign-ups.</p>
  <p>Each dice roll is provably random and cryptographically secure thanks to the nature of the Ethereum blockchain.</p>
  <footer><a href="http://etheroll.com/" target="_blank">http://etheroll.com/</a></footer>
</blockquote>
