<blockquote>
  <p>Divi is the world's first five-tiered, one-click masternode protocol that offers a smart wallet, which allows users to transact in the real world with their earnings. By offering a passive earnings vehicle, providing real world use cases, and eliminating impossible-to-remember public and private keys by masking them with familiar usernames &amp; passwords, Divi aims initiate a trend of cryptocurrency mass adoption by providing an intuitive user experience that is easy to learn and use.</p>
  <footer><a href="https://diviproject.org/" target="_blank">https://diviproject.org/</a></footer>
</blockquote>
