<blockquote>
  <p>A network of decentralized markets and communities. Create, operate, and govern. Powered by Ethereum, Aragon, and IPFS.</p>
  <footer><a href="https://district0x.io/" target="_blank">https://district0x.io/</a></footer>
</blockquote>
