
<blockquote>
  <p>Dock (DOCK): dock.io is a decentralized data exchange protocol that lets people connect their profiles, reputations and experiences across the web with privacy and security.</p>
  <footer><a href="https://dock.io/" target="_blank">https://dock.io/</a></footer>
</blockquote>
  