<blockquote>
  <p>Be a part of the most secure, flexible, and business ready blockchain platform, and ecosystem.</p>
  <footer><a href="https://dragonchain.com/" target="_blank">https://dragonchain.com/</a></footer>
</blockquote>
