<blockquote>
  <p>Blockchain based tokens to perform advertisement and promotional campaign.</p>
  <footer><a href="https://dmtcoin.info/" target="_blank">https://dmtcoin.info/</a></footer>
</blockquote>
