<blockquote>
  <p>Ethbet is the first decentralized, peer-to-peer, and provably-fair Ethereum-based dicing game without a house edge.</p>
  <footer><a href="https://ethbet.io/" target="_blank">https://ethbet.io/</a></footer>
</blockquote>
