<blockquote>
  <p>eBIT is a new ERC20 smart contract token. The Tokens will be distributed to our community to be used for credit in applications that can be build on the blockchain. eBIT is a decentralized and democratic token that gives all the power to our community. This token will be free to keep, trade, use for voting and as a credit in online applications.</p>
  <footer><a href="https://www.ebit.trade" target="_blank">https://www.ebit.trade</a></footer>
</blockquote>
