<blockquote>
  <p>What is eBTGold? eBTGold is an efficient and effective way to send currency quickly through the Ethereum blockchain. As the name suggests, eBTG is Bitcoin Gold run on the Ethereum chain. This coincides with cheaper fees and our goal is to have the eBTGold community to decide the direction of this coin. With a telegram group of over 1300 supporters, we are dedicated to become the best community driven coin on the crypto platform.</p>
  <footer><a href="http://www.ebtgold.com" target="_blank">http://www.ebtgold.com</a></footer>
</blockquote>
