<blockquote>
  <p>Ethereumcash is a cryptocurrency that was created in order to help promote day-to-day use of cryptocurrencies. It is called EthereumCash because it is built on top of the ethereum platform and aims to replace ether as a medium of exchange (note: not to replace ether entirely). It is a coin that has the sole purpose of being traded between consumers and merchants in order to buy products in a swift and easy manner.</p>
  <footer><a href="https://www.ethereumcash.technology" target="_blank">https://www.ethereumcash.technology</a></footer>
</blockquote>
