<blockquote>
  <p>EtherCarbon (ECN) is a token representing the right to the income of the carbon credit development projects. Carbon Credits are used to meet compliance targets under Paris Agreement and related climate change legislation. Businesses that generate greenhouse gases (GHG) emissions must buy Carbon Credits from projects that produce offsets against greenhouse gases emissions.</p>
  <footer><a href="http://ethercarboncoin.com/" target="_blank">http://ethercarboncoin.com/</a></footer>
</blockquote>
