<blockquote>
  <p>The Ethereum smart contract-based Casino offers a 0% house edge and solves the casino transparency question once and for all.</p>
  <footer><a href="https://edgeless.io/" target="_blank">https://edgeless.io/</a></footer>
</blockquote>
