<blockquote>
  <p>A Trustworthy Distributed Platform for Copyright Registration and File Integrity Verification</p>
  <footer><a href="https://engraved.tech" target="_blank">https://engraved.tech</a></footer>
</blockquote>
