<blockquote>
  <p>ELCoin is a unique project, based on real manufacture and backed by a reliable product, constantly in demand worldwide - medical and wellness equipment, supplemented with Blockchain Medical Platform.</p>
  <footer><a href="https://elcoin.io/" target="_blank">https://elcoin.io/</a></footer>
</blockquote>
