
<blockquote>
  <p>ElectrifyAsia (ELEC): ELECTRIFY aims to be a retail electricity marketplace in Southeast-Asia addressing the need for transparency and security in the consumption of energy</p>
  <footer><a href="https://electrify.asia/" target="_blank">https://electrify.asia/</a></footer>
</blockquote>
  