<blockquote>
  <p>All TME has been automatically converted to Elixor (EXOR).</p>
  <footer><a href="https://bitcointalk.org/index.php?topic=2144082.0" target="_blank">https://bitcointalk.org/index.php?topic=2144082.0</a></footer>
</blockquote>
