<blockquote>
  <p>Enjin Coin is a smart cryptocurrency and virtual goods platform for gaming.</p>
  <footer><a href="https://enjincoin.io/" target="_blank">https://enjincoin.io/</a></footer>
</blockquote>
