<blockquote>
  <p><strong>"Ethereum to switch to Proof of Stake by July 1, 2017"</strong></p>
  <p>PredictionToken mints prediction market tokens on the Ethereum blockchain. PredictionTokens have value tied to future outcomes, using Reality Keys as the source of truth.</p>
  <footer><a href="https://predictiontoken.github.io/#EPOS" target="_blank">https://predictiontoken.github.io/#EPOS</a></footer>
</blockquote>
