<blockquote>
  <p>Emphy is decentralized blockchain lodging ecosystem. Blockchain technology along with smart contracts provides safer, faster and more affordable way to rent properties for vacations. Emphy will make it possible to solve and simplify the problems that most of the guests and landlords face. Emphy is the way to better travel experiences, discovering new destinations, meeting new people.</p>
  <footer><a href="https://emphy.io/" target="_blank">https://emphy.io/</a></footer>
</blockquote>
