<blockquote>
  <p>For free airdrop will be distributed 120,797,671 ERC (1% at the time of launch) proportionally among all the participants airdrop and buyers. Go to link below to our website <a href="http://erc20.space" target="_blank">http://erc20.space</a> for the free airdrop! Follow Telegram chat and Telegram news channel, <a href="https://t.me/erc20coins" target="_blank">https://t.me/erc20coins</a> for daily updates on crypto airdrops and project.</p>
  <footer><a href="http://erc20.space/" target="_blank">http://erc20.space/</a></footer>
</blockquote>
