<blockquote>
  <p>Revolutionized sending text messages all over the world. ESMS is a decentralized token that aims to provide SMS services for everyone. Funds will be used to build the ESMS app where ESMS token will be integrated.</p>
  <footer><a href="http://www.esms.trade" target="_blank">http://www.esms.trade</a></footer>
</blockquote>
