
<blockquote>
  <p>ESZCoin (ESZ): EtherSportz is being developed as an online based eSports tournament platform for popular games.</p>
  <footer><a href="https://ethersportz.com/" target="_blank">https://ethersportz.com/</a></footer>
</blockquote>
  