<blockquote>
  <p>Note: please read about <a href="https://blog.ethbits.com/2017/06/14/token-upgrade/">ETB's token upgrade</a>.</p>
  <p>Get Ether and Bitcoin simply and safely.</p>
  <footer><a href="https://www.ethbits.com/" target="_blank">https://www.ethbits.com/</a></footer>
</blockquote>
