<blockquote>
  <p>EtherBTC (ETHB) combines the speed and affordability of the Ethereum blockchain with the limited nature of bitcoin. Only 21,000,000 ETHB will ever exist, the same maximum number as bitcoin.</p>
  <footer><a href="https://etherbtc.io" target="_blank">https://etherbtc.io</a></footer>
</blockquote>
