<blockquote>
  <p>EtherGold is an Ethereum-based ERC-20 Token that was created to be a store of value on the ethereum network.</p>
  <footer><a href="https://ethergoldtoken.info" target="_blank">https://ethergoldtoken.info</a></footer>
</blockquote>
