
<blockquote>
  <p>Ethos (ETHOS): People-powered cryptocurrency services for the blockchain</p>
  <footer><a href="https://www.ethos.io/" target="_blank">https://www.ethos.io/</a></footer>
</blockquote>
  