<blockquote>
  <p>EtherPower is ERC20 Token standard that implements the Proof-of-Stake mechanism, meaning that holders of it can earn some extra tokens just by holding it for a period of at least 2 days.</p>
  <footer><a href="https://bitcointalk.org/index.php?topic=2277546.0" target="_blank">https://bitcointalk.org/index.php?topic=2277546.0</a></footer>
</blockquote>
