<blockquote>
  <p>EtherLite (ETL) is a token built on the ERC20 protocol of Ethereum. It is fully secure and limited. There are 100,000 ETL in circulation. Each token is distributed as Airdrop and Bounty. EtherLite is a simpler version of Litecoin integrated in the Ethereum blockchain. Its benefits are endless among the speed of execution of contracts and its growth prospects.</p>
  <footer><a href="http://etherlite.info" target="_blank">http://etherlite.info</a></footer>
</blockquote>
