
<blockquote>
  <p>Devery.io (EVE): A blockchain powered, open-source, product verification protocol.</p>
  <footer><a href="https://devery.io/" target="_blank">https://devery.io/</a></footer>
</blockquote>
  