<blockquote>
  <p>Connecting the blockchains using crosschain gateway built on Ethereum smart contracts.</p>
  <footer><a href="https://exrnchain.com" target="_blank">https://exrnchain.com</a></footer>
</blockquote>
