<blockquote>
  <p>Faceblock is a decentralized platform. Faceblock will be offering dozens of new features that traditional social platforms do not have or provide today. We aim to develop a social platform that is designed for everyone while providing utmost security &amp; privacy to our users.</p>
  <footer><a href="https://faceblock.io/" target="_blank">https://faceblock.io/</a></footer>
</blockquote>
