<blockquote>
  <p>fidentiaX is a membership-based platform whereby users need to be a member to access the range of services available on the platform.The annual membership fees shall be payable via fdX tokens and any token collected will be consumed. This would effectively decrease the total float of fdX in the market. On top of there will be an exclusive auction for fdX token holders whereby policy will be put up for auction at a significant discount off the cash value.</p>
  <footer><a href="https://www.fidentiax.com/" target="_blank">https://www.fidentiax.com/</a></footer>
</blockquote>
