<blockquote>
  <p>CCBC bank is an electronic payment company that facilitates payments between parties through online funds transfers. CCBC bank allows customers to establish an account on its website, which is connected to a user's bank account or credit card. Once login and proof of deposit have been confirmed, a user may begin sending or receiving payments to and from other ccbc bank accounts. CCBC bank attempts to make online purchases safer by providing a form of payment that does not require the payor or payee to disclose credit card or bank account numbers.</p>
  <footer><a href="http://fitcoin-io.info" target="_blank">http://fitcoin-io.info</a></footer>
</blockquote>
