<blockquote>
  <p>EtherFlip is a random number game where you place bets in Ether. Rare tokens can be won while playing EtherFlip, and these tokens will control bonus features in the smart contract. During ICO, FLIP Tokens are earned on losing bets playing EtherFlip. At a 49.21% win rate, it's the best on Ethereum. Every number roll is powered by Oraclize and is provably fair, provably random.</p>
  <footer><a href="http://www.etherflip.co/" target="_blank">http://www.etherflip.co/</a></footer>
</blockquote>
