<blockquote>
  <p>FLIP crypto-token for buying and selling gaming digital goods:  Gameflip is introducing FLIP, a crypto-token that enables digital items on all gaming platforms to be sold as liquid assets.  FLIP leverages the Ethereum blockchain and ERC-20 token interface.</p>
  <footer><a href="https://tokensale.gameflip.com" target="_blank">https://tokensale.gameflip.com</a></footer>
</blockquote>
