
<blockquote>
  <p>Fusion (FSN): FUSION is a public blockchain devoting itself to creating an inclusive cryptofinancial platform by providing cross-chain, cross-organization, and cross-datasource smart contracts.</p>
  <footer><a href="https://fusion.org/" target="_blank">https://fusion.org/</a></footer>
</blockquote>
  