
<blockquote>
  <p>Fabric Token (FT): The Fabric Token (FT) ecosystem aims to empower individuals and businesses with easy access to blockchain technology and smart contracts by providing a bundle of user-friendly software.</p>
  <footer><a href="https://fabrictoken.io/" target="_blank">https://fabrictoken.io/</a></footer>
</blockquote>
  