<blockquote>
  <p>Etherparty is a smart contract creation tool that allows users to create smart contracts on the blockchain.</p>
  <footer><a href="https://etherparty.io" target="_blank">https://etherparty.io</a></footer>
</blockquote>
