<blockquote>
  <p>FunFair is a decentralised gaming platform powered by Ethereum smart contracts. Thanks to our breakthrough technology, it is the first platform to solve the big challenges that have made other blockchain casinos unplayable.</p>
  <footer><a href="https://funfair.io/" target="_blank">https://funfair.io/</a></footer>
</blockquote>
