
<blockquote>
  <p>FuzeX (FXT): Cryptocurrency, credit, debit and reward payments at your fingertips</p>
  <footer><a href="https://fuzex.co/" target="_blank">https://fuzex.co/</a></footer>
</blockquote>
  