<blockquote>
  <p>GamerBits tokenizes eSports with a focus on the Chinese and East Asian markets as they grow exponentially in size and financial backing. With key partners in the area, Gamerbits brings its secure &amp; decentralized currency to markets that need it most, and has seen rapid adoption and demand.</p>
  <footer><a href="https://www.gbits.io/" target="_blank">https://www.gbits.io/</a></footer>
</blockquote>
