<blockquote>
  <p>GE-chain is a tool of settlement in game industry, especially for the asset conversion from game coin to digital currency.</p>
  <footer><a href="http://www.yyb.money/" target="_blank">http://www.yyb.money/</a></footer>
</blockquote>
