<blockquote>
  <p>Genesis Coin is an ERC20 token created on the Ethereum Blockchain with a fixed supply of 16,000,000 coins. The three core values of Genesis Coin is being fast, secure and flexible with an aim on building a strong and active community.</p>
  <footer><a href="http://genesiscoin.io" target="_blank">http://genesiscoin.io</a></footer>
</blockquote>
