<blockquote>
  <p>Use GNEISS as your ultimate security companion in any free market transaction. Create, transfer, mint, burn, exchange, tax, or pay dividends to any crypto-asset or smart contract on our decentralized blockchain-powered trading platform.</p>
  <footer><a href="https://gneiss.io/#/" target="_blank">https://gneiss.io/#/</a></footer>
</blockquote>
