<blockquote>
  <p>Goal Bonanza is a self-regulating, blockchain powered football betting platform based on ERC20 token standard. It offers fresh and new football betting experience by combining lottery like crowd betting on 10 possible football game final score outcomes where the crowd drives the potential returns, unlike traditional bookmakers and betting exchanges that offer unattractive odds and low returns. The bigger the crowd the bigger are the potential returns easily reaching six figures. In simple terms, imagine $100,000+ in returns on 1$ bet by successfully predicting the final score of a football game out of 10 possible outcomes. That is Goal Bonanza and much more.</p>
  <footer><a href="https://goalbonanza.com/ico/en" target="_blank">https://goalbonanza.com/ico/en</a></footer>
</blockquote>
