<blockquote>
  <p>Important: <a href="https://bitcointalk.org/index.php?topic=1969334.msg19590186#msg19590186" target="_blank">Token upgrade</a></p>
  <p>Good Karma is a digital currency (like Bitcoin) for everyday, online transactions that you can use to reward your friends and contacts on Facebook, Twitter, Instagram, videos you like on YouTube, your favorite blogs, and much more.</p>
  <p>When you do something good, it will come back to you. This is our vision of the "Blockchain of Kindness", powered by Good Karma.​</p>
  <footer><a href="http://goodkarmacoin.com/" target="_blank">http://goodkarmacoin.com/</a></footer>
</blockquote>
