<blockquote>
  <p>The project Groocoin is a cryptocurrency based a beauty content advertisement media platform (“Groo DApp” platform) accumulating quality corporate, social media, and blog contents through partnerships with creators, as well as a blockchain network used in that platform.</p>
  <footer><a href="https://groo.io/" target="_blank">https://groo.io/</a></footer>
</blockquote>
