
<blockquote>
  <p>Game.com Token (GTC): Game.com is focused on creating a global gaming platform for blockchain digital currencies.</p>
  <footer><a href="https://www.game.com/" target="_blank">https://www.game.com/</a></footer>
</blockquote>
  