<blockquote>
  <p>StarCredits is the ethereum token for entertainment project Back to Earth. It can be used to:</p>
  <p>-Sway real-time story outcomes</p>
  <p>-Earn in-game content</p>
  <p>-Unlock special features</p>
  <p>-Discover hidden puzzles</p>
  <p>-Purchase specific storylines</p>
  <p>GoldenTickets is the sister token to StarCredits (STRC) for the entertainment project Back to Earth. There are only 920 in circulation. They can be used on exclusive opportunities in the project, or traded in for a share of 88K $STRC that will be spilt evenly between the remaining GTKT during a second Token Sale.</p>
  <footer><a href="https://backto.earth" target="_blank">https://backto.earth</a></footer>
</blockquote>
