<blockquote>
  <p>Shaka (HAK) is an ERC20 Token issued by FriendsFingers and that will give holders rights to be active part of the platform like in a Decentralized Autonomous Organization (DAO).</p>
  <footer><a href="https://www.friendsfingers.com" target="_blank">https://www.friendsfingers.com</a></footer>
</blockquote>
