<blockquote>
  <p>HAO is a crypto-currency that was designed specifically for the $10 billion adult entertainment industry where privacy and anonymity are key consumer factors. HAO gives consumers the ability to make discreet micropayments while benefiting businesses with extremely low transaction fees.</p>
  <footer><a href="http://hentaisolo.com/" target="_blank">http://hentaisolo.com/</a></footer>
</blockquote>
