
<blockquote>
  <p>Havven (HAV): Havven is a decentralised payment network designed to enable everyday cryptocurrency purchases.</p>
  <footer><a href="https://havven.io/" target="_blank">https://havven.io/</a></footer>
</blockquote>
  