<blockquote>
  <p>HDG is a utility token (for trading fees payment and buyback) powering our upcoming platform. Our main selling point are Crypto Traded Indices - crypto ETF equivalents (tradable index funds) and indexed derivatives.</p>
  <footer><a href="https://www.hedge-crypto.com" target="_blank">https://www.hedge-crypto.com</a></footer>
</blockquote>
