<blockquote>
  <p>Handelion is the future of international trade. It is as an ecosystem where: 1. I Companies purchase goods on 'margin'; 2. I Sellers get their 100% prepayment; 3. I Logistics and accompanying services provide their solutions for trade; 4. I Investors get a guaranteed return from interparties deals.</p>
  <footer><a href="https://handelion.io/en/" target="_blank">https://handelion.io/en/</a></footer>
</blockquote>
