<blockquote>
  <p>Transforming the management and security of electronic health records</p>
  <footer><a href="http://www.healthheart.io" target="_blank">http://www.healthheart.io</a></footer>
</blockquote>
