<blockquote>
  <p>Hacker Gold (HKG) is the official token of the Virtual Accelerator. Each team taking part in the hackathon can release their own token which can only be exchanged for HKG. This allows camps to be financed and the community to support innovative projects.</p>
  <footer><a href="https://hack.ether.camp/home" target="_blank">https://hack.ether.camp/home</a></footer>
</blockquote>
