
<blockquote>
  <p>Hms Token (HMC): HMS(Hi Mutual Society) is a blockchain project developed and operated by Qfund, the largest online crowdfunding platform in Asia. HMS intends to build up a decentralized Mutual Society using blockchain technology.</p>
  <footer><a href="http://www.hms.io/" target="_blank">http://www.hms.io/</a></footer>
</blockquote>
  