
<blockquote>
  <p>Humaniq (HMQ): Humaniq aims to be a simple and secure 4th generation mobile bank.</p>
  <footer><a href="https://humaniq.co/" target="_blank">https://humaniq.co/</a></footer>
</blockquote>
  