
<blockquote>
  <p>Hydro Protocol (HOT): A network transport layer protocol for hybrid decentralized exchanges.</p>
  <footer><a href="https://thehydrofoundation.com/" target="_blank">https://thehydrofoundation.com/</a></footer>
</blockquote>
  