<blockquote>
  <p>HOWL is an ERC20 compliant token that will be used with all HOWL products and services. HOWL will be implemented into our market leading applications such as HOWL Chat and HOWL Market.</p>
  <footer><a href="http://www.howltoken.com/" target="_blank">http://www.howltoken.com/</a></footer>
</blockquote>
