
<blockquote>
  <p>HPBCoin (HPB): HPB (High-Performance Blockchain) is a new kind of block chain hardware and software architecture, which includes a chip acceleration engine and the blockchain platform, aiming to realize the performance extension of distributed applications</p>
  <footer><a href="http://www.gxn.io/en.html" target="_blank">http://www.gxn.io/en.html</a></footer>
</blockquote>
  