
<blockquote>
  <p>HuobiToken (HT): Huobi Global is a world-leading cryptocurrency financial services group.</p>
  <footer><a href="https://www.huobipro.com/" target="_blank">https://www.huobipro.com/</a></footer>
</blockquote>
  