<blockquote>
  <p>Hubcoin mission is uniting altcoin developers by creating various tools for development and promotion for them. For example, we created the world most complete ICO tracker on http://hubcoin.io/ico/, which contain 950 ICOs for now.</p>
  <footer><a href="https://hubcoin.io" target="_blank">https://hubcoin.io</a></footer>
</blockquote>
