<blockquote>
  <p>Hiveterminal (HVN) is a blockchain-based platform that offers a peer-to-peer bridge between small businesses and liquidity. By applying blockchain technology to factoring, the Hiveterminal creates a distributed and highly efficient public ledger to open up new sources of finance to SMEs. This innovation enables businesses to automate the invoicing process, bringing the benefits of blockchain technology closer to commercialization – and biting into the global invoice financing market, which surpassed EUR 3 trillion in annual volume this year.</p>
  <footer><a href="https://www.www.hiveterminal.com/" target="_blank">https://www.hiveterminal.com/</a></footer>
</blockquote>
