<blockquote>
  <p>Hive (HVN) uses blockchain (distributed ledger) technology to give every issued invoice a unique fingerprint. This enables businesses to automate the invoicing process and make it available to the general public. We create a central data room for all invoices, with a record kept of the issuer, owner and payer. Invoices can therefore be offered to the market for trading. This will rapidly increase the liquidity available to small businesses and create a central database of invoices available for scoring and auditing. In addition to bridging the liquidity gap for small businesses, the technology provided by Hive will help credit checks to be made on companies and facilitate rapid and real-time auditing.</p>
  <footer><a href="https://www.hive-project.net/" target="_blank">https://www.hive-project.net/</a></footer>
</blockquote>
