
<blockquote>
  <p>ICON (ICX): The ICON Network is comprised of various institutions ranging from:
financial institutions, insurance companies, hospitals, universities and more.</p>
  <footer><a href="https://icon.foundation/" target="_blank">https://icon.foundation/</a></footer>
</blockquote>
  