<blockquote>
  <p>Ignite tokens will be used to issue ERC223 tokens from the front end of our website. Some individuals and companies who are desirous of issuing their own tokens have run into difficulty and our service aims to ease their troubles.</p>
  <footer><a href="http://ignitetoken.com/" target="_blank">http://ignitetoken.com/</a></footer>
</blockquote>
