<blockquote>
  <p>An ERC20 Token deployed using Ethereum smart contract. This is a privately issued token that lives on iMM Platform. This token is used to raise money for online and offline education development as well as trading. We aim to transcend a 30% total investment towards blockchain in education system and 70% of total investment into trading.</p>
  <footer><a href="https://immcoin.io/" target="_blank">https://immcoin.io/</a></footer>
</blockquote>
