<blockquote>
  <p>The INS token (ERC20) is integral to our business model. INS Ecosystem is the first global decentralized platform connecting grocery manufacturers directly with consumers, powered by blockchain and smart contracts. INS looks to disrupt the $8.5 trillion global grocery market. INS validated consumer interest and received strong support from manufacturers - memoranda of understanding signed with Unilever, Mars, Reckitt Benckiser, Valio, etc.The INS token (“INS”) is a utility token and does not provide token holders with any ownership or other interest in INS Ecosystem. Token holders are not entitled to any guaranteed form of dividends, revenue distributions, and voting rights.</p>
  <footer><a href="https://www.ins.world/" target="_blank">https://www.ins.world/</a></footer>
</blockquote>
