
<blockquote>
  <p>Insights Network (INSTAR): The Insights Network's unique combination of blockchain technology, smart contracts, and secure multiparty computation enables the individual to securely own, manage, and monetize their data.</p>
  <footer><a href="https://www.insights.network/" target="_blank">https://www.insights.network/</a></footer>
</blockquote>
  