<blockquote>
  <p>ITSchain is its foundation group(New Zealand) made that based on block chain's smart parking lot apply system. based on block chain's clear origin,clear equity, information unchangeable,circulation freely,etc.these characteristics to achieve its fund's value exchange, in order to solve the problem of smart parking lot information incorrect, industrial upgrade difficult, technology realize hard,etc. to promote chinese smart parking industrial develop and upgrade.</p>
  <footer><a href="http://www.itschain.cn" target="_blank">http://www.itschain.cn</a></footer>
</blockquote>
