<blockquote>
  <p>StatiCoin, a stable digital currency. The _S tokens are the stable tokens, the _R tokens are the risk tokens.</p>
  <footer><a href="http://staticoin.com/" target="_blank">http://staticoin.com/</a></footer>
</blockquote>
