<blockquote>
  <p>It is a token that was launched with the purpose of forming a community of programmers in JavaScript, with a platform where they can sell the codes in exchange for the token.</p>
  <footer><a href="http://javascripttoken.pagedemo.co" target="_blank">http://javascripttoken.pagedemo.co</a></footer>
</blockquote>
