<blockquote>
  <p>Kencoin is an industry-specific cryptocurrency, focusing on the adult entertainment sector. Our mission is to serve as the standard currency for anonymous, safe transactions in all sex and dating-related purchases.</p>
  <footer><a href="https://kencoin.org/" target="_blank">https://kencoin.org/</a></footer>
</blockquote>
