
<blockquote>
  <p>LatiumX (LATX): tasking platform to incorporate an automated rating system in tandem with a one-to-many task relationship structure</p>
  <footer><a href="https://latium.org/" target="_blank">https://latium.org/</a></footer>
</blockquote>
  