<blockquote>
  <p>We will be forking the Litecoin network in a month, with a 100% pre-mine. Users will be able to redeem Litecoin Classic tokens for Litecoin Classic. The new Litecoin Classic network will use a DAG protocol instead of a blockchain protocol, allowing for a much more efficient scalability.</p>
  <footer><a href="https://www.litecoinclassic.co/" target="_blank">https://www.litecoinclassic.co/</a></footer>
</blockquote>
