<blockquote>
  <p>Privateers.life This is a game in which you can live the life of an ordinary inhabitant of a pirate settlement of the 17th century. You are not limited in frameworks: courtesy, law, morality, tactics and strategy. You should do your best to survive.</p>
  <footer><a href="https://privateers.life/" target="_blank">https://privateers.life/</a></footer>
</blockquote>
