<blockquote>
  <p>Fully decentralized peer to peer lending on the Ethereum Blockchain.</p>
  <footer><a href="https://ethlend.io/en/" target="_blank">https://ethlend.io/en/</a></footer>
</blockquote>
