<blockquote>
  <p>In our journey starting by preparing our source codes firstly, we want to create the new blockchain and then develop a blockchain that can be used in our own software and also in local / national / international small and large enterprises.</p>
  <footer><a href="https://getlogarithm.com/" target="_blank">https://getlogarithm.com/</a></footer>
</blockquote>
