<blockquote>
  <p>Chainlink (LINK) is the first decentralized oracle network; allowing anyone to securely provide smart contracts with access to key external data, off-chain payments and any other API capabilities. Anyone who has a data feed, useful off-chain service such as local payments, or any other API, can now provide them directly to smart contracts in exchange for LINK tokens.</p>
  <footer><a href="https://link.smartcontract.com/" target="_blank">https://link.smartcontract.com/</a></footer>
</blockquote>
