<blockquote>
  <p>LLT is used to form a decentralized shared CDN digital asset in the world based on blockchain and network acceleration technology.</p>
  <footer><a href="https://www.lltoken.com/#main" target="_blank">https://www.lltoken.com/#main</a></footer>
</blockquote>
