<blockquote>
  <p>Limit is a high value erc20 token controlled by the strong community with very low supply of only 6,500,000 token and 80% distributed via airdrop.</p>
  <footer><a href="http://www.limit-token.com" target="_blank">http://www.limit-token.com</a></footer>
</blockquote>
