
<blockquote>
  <p>Lendingblock (LND): Lendingblock is an open exchange for cryptocurrency loans, where borrowers and lenders are instantly matched in simple, safe and transparent way.</p>
  <footer><a href="https://lendingblock.com/" target="_blank">https://lendingblock.com/</a></footer>
</blockquote>
  