<blockquote>
  <p>Litecoin Gold is an ERC20 token with the feature of smart contracts and is faster as well as cheaper than Bitcoin Gold.</p>
  <footer><a href="http://www.litecoingold.info" target="_blank">http://www.litecoingold.info</a></footer>
</blockquote>
