<blockquote>
  <p>The LUCK token is used to send appreciation to other wallet holders. In addition to providing good luck, it also bestows gifts to the wallet holder from time to time. Be sure to hold LUCK in a wallet you have the private key.</p>
  <footer><a href="http://www.luckytoken.info/" target="_blank">http://www.luckytoken.info/</a></footer>
</blockquote>
