<blockquote>
  <p>Lunyr is an Ethereum-based decentralized world knowledge base which rewards users with app tokens for peer-reviewing and contributing information. We aim to be the starting point of the internet for finding reliable, accurate information. Our long-term vision is to develop a knowledge base API that developers can use to create next generation decentralized applications in Artificial Intelligence, Virtual Reality, Augmented Reality, and more.</p>
  <footer><a href="https://lunyr.com/" target="_blank">https://lunyr.com/</a></footer>
</blockquote>
