
<blockquote>
  <p>Lympo (LYM): Sports and health ecosystem powered by user-generated and user-controlled data</p>
  <footer><a href="https://lympo.io/" target="_blank">https://lympo.io/</a></footer>
</blockquote>
  