<blockquote>
  <p><strong>"Mayweather to win against McGregor by Aug. 27, 2017"</strong></p>
  <p>PredictionToken mints prediction market tokens on the Ethereum blockchain. PredictionTokens have value tied to future outcomes, using Reality Keys as the source of truth.</p>
  <footer><a href="https://predictiontoken.github.io/#MAY" target="_blank">https://predictiontoken.github.io/#MAY</a></footer>
</blockquote>
