<blockquote>
  <p>Embermine is a smart contract deployment and management platform that allows Users to create customized smart contracts between various parties to manage revenue share and maintain accountability in any project-based efforts. Additionally, Embermine is dedicated to educating and providing access to these new technologies to all members of the public wishing to learn more about cryptocurrencies, blockchain, and smart contracts. Our current product list includes the Embermine Platform, TokenVerse, and more. Embers, our token, are not only a seat license for the Platform, but are also accepted as a form of payment on TokenVerse for our products and services offered on the site.</p>
  <footer><a href="https://www.embermine.com/" target="_blank">https://www.embermine.com/</a></footer>
</blockquote>
