<blockquote>
  <p>Introducing Monaco - world's best cryptocurrency card. Spend and send money globally at perfect interbank exchange rates, saving EUR30-40 on every EUR500 equivalent spent.</p>
  <footer><a href="https://www.mona.co/" target="_blank">https://www.mona.co/</a></footer>
</blockquote>
