<blockquote>
  <p>Medibond is a next generation, state-of-the-art, tokenized cryptographic platform. Medibond seeks to improve interaction between the biggest healthcare industrial players to help provide services more efficiently and securely to end users.</p>
  <footer><a href="http://medibond.io/" target="_blank">http://medibond.io/</a></footer>
</blockquote>
