<blockquote>
  <p>The First Crypto-Centric Mobile Gaming Platform and Store For In-Game Purchases.</p>
  <footer><a href="https://mobilego.io/" target="_blank">https://mobilego.io/</a></footer>
</blockquote>
