
<blockquote>
  <p>Morpheus Infrastructure Token (MITx): Morpheus Labs Blockchain Platform as a Service (BPaaS) simplifies and expedites your blockchain
application development and gives you the flexibility to choose between available programming
languages and blockchain runtimes that better suit your needs.</p>
  <footer><a href="https://token.morpheuslabs.io/" target="_blank">https://token.morpheuslabs.io/</a></footer>
</blockquote>
  