<blockquote>
  <p>Melonport is the private company building the open-source Melon Protocol. The Melon protocol is a blockchain protocol for digital asset management built on the Ethereum platform. It enables participants to set up, manage and invest in digital asset management strategies in an open, competitive and decentralised manner.</p>
  <footer><a href="https://melonport.com/" target="_blank">https://melonport.com/</a></footer>
</blockquote>
