<blockquote>
  <p>MOAC is an ERC-20 token that helps to fund the project of MOAC -- which will create a new blockchain with several advanced features such as sharding, asynchronous contract, multi-layer, subchains, etc.</p>
  <footer><a href="http://moac.io/en/homepage" target="_blank">http://moac.io/en/homepage</a></footer>
</blockquote>
