<blockquote>
  <p>MPRM coin is an ERC20 token based on the Ethereum network. It lets users bet on the iMPERIUM sports betting platform.</p>
  <footer><a href="https://www.imperium.network/welcome/" target="_blank">https://www.imperium.network/welcome/</a></footer>
</blockquote>
