<blockquote>
  <p>Welcome to an efficient payment solution for merchants that enables globally trustful commerce. Decentralised. Empowered by the Ethereum blockchain.</p>
  <footer><a href="https://www.monetha.io/" target="_blank">https://www.monetha.io/</a></footer>
</blockquote>
