
<blockquote>
  <p>RED MWAT (MWAT): RED-F is a tokenized franchise offer on the European Union energy market, that allows anyone to create and operate their own retail energy business and earn revenues.</p>
  <footer><a href="https://restartenergy.io/" target="_blank">https://restartenergy.io/</a></footer>
</blockquote>
  