<blockquote>
  <p>CriptoSocial was successful in its beta version, and to commemorate, it incorporated into its platform a token, the MaxxToken, which will be distributed 50% in airdrop, 10% in ICO (to enter it into exchanges and develop mobile applications) and 40% bonus in CriptoSocialCriptoSocial is a social network aimed at the public of crypto-currencies, so that its users share their experiences, but hear an event that made everything change, the users started to do project marketing and serve ads, using the points of refference of  the platform, transforming the platform into much more than a simple social network, but in a marketing platform with centralized target public, so we decided to create a decentralized token to subsidize our users with something that they can use beyond the borders of CriptoSocial.</p>
  <footer><a href="https://airdrop.criptosocial.com.br" target="_blank">https://airdrop.criptosocial.com.br</a></footer>
</blockquote>
