<blockquote>
  <p>Combine blockchain technology with social networking to build a platform that rewards users for posting and curating strain reviews as well as rewards commitment to the network.</p>
  <footer><a href="http://normikaivo.net/" target="_blank">http://normikaivo.net/</a></footer>
</blockquote>
