
<blockquote>
  <p>Nectar (NCT): Decentralized marketplace where security experts build anti-malware engines that compete to protect you.</p>
  <footer><a href="https://polyswarm.io/" target="_blank">https://polyswarm.io/</a></footer>
</blockquote>
  