
<blockquote>
  <p>NEVERDIE (NDC): NEVERDIE Studios aims to use the value of the NEVERDIE Coin to make virtual reality fulfill its potential.</p>
  <footer><a href="https://neverdie.com" target="_blank">https://neverdie.com</a></footer>
</blockquote>
  