<blockquote>
  <p>Nondo is a global marketplace solution that provides the ability for everyone to use their cryptocurrency as a payment method on all online retails around the world. We are planning to build a platform that connects "Valid Payment Method" holders with Cryptocurrency holders, who will be able to exchange services on the platform smoothly.</p>
  <footer><a href="https://nondo.io/" target="_blank">https://nondo.io/</a></footer>
</blockquote>
