<blockquote>
  <p>This ERC20 Token connecting the blockchain using crosschain gateway built on Ethereum smart contracts. Neubulous enables secure transfers between differents blockchains and allows anyone to transact between them.</p>
  <footer><a href="https://www.neubuloustoken.fr/" target="_blank">https://www.neubuloustoken.fr/</a></footer>
</blockquote>
