<blockquote>
  <p>Newbium (NEWB) is the official cryptocurrrency of the Newbium crypto market information and news platform.</p>
  <footer><a href="http://newbium.com/" target="_blank">http://newbium.com/</a></footer>
</blockquote>
