<blockquote>
  <p>NihilCoin is an experimental fixed-volume Ethereum-backed currency for those who are comfortable with 32-bit economy and not comfortable with any authority above it.</p>
  <footer><a href="http://nihilcoin.surge.sh/" target="_blank">http://nihilcoin.surge.sh/</a></footer>
</blockquote>
