
<blockquote>
  <p>Fujinto (NTO): FUJINTO is aims to make the paying process in the website, online booking application easier and reduce the risk for the users.</p>
  <footer><a href="http://fujinto.io/" target="_blank">http://fujinto.io/</a></footer>
</blockquote>
  