<blockquote>
  <p>Network Token is an E-Learning platform being designed to bring cryptocurrency awareness and knowledge to the average joe. Our main mission is to educate and guide people on how they can get involved with crypto. It all started when myself and a colleague spent hours and hours explaining to everyone at work how cryptocurrency works. We will be doing guides, how-tos, and videos. Future development includes mobile wallets for ios and android. Although most of the education will be free, the token will allow users to get 'advanced' training and services such as learning how to program in solidity or even have us create a token for them! Myself and my colleague are both programmers and would love to get others on board with crypto.</p>
  <footer><a href="http://networktoken.io/" target="_blank">http://networktoken.io/</a></footer>
</blockquote>
