<blockquote>
  <p>NU GOLD Tokens are foundation tokens of NU Entertainment. NU Entertainment is a gaming company backed by IP that will operate Proprietary exclusive game content. NU Entertainment plans to dominate the Casino &amp; Lottery segment on the Blockchain with Provably Fair &amp; Provably Better Games. 2 Games in 1.</p>
  <footer><a href="https://www.nuearthlotto.org" target="_blank">https://www.nuearthlotto.org</a></footer>
</blockquote>
