<blockquote>
  <p>Beyond the Void is a competitive One vs One Game. Lead your army with your powerful mother ship, conquer the solar system and defeat your opponents.</p>
  <p>The Nexium is the Token of Beyond the void. It will be used in our shop to trade items.</p>
  <footer><a href="http://beyond-the-void.net" target="_blank">http://beyond-the-void.net</a></footer>
</blockquote>
