<blockquote>
  <p>NexxusCoin is the internal token that powers the Nexxus Ecosystem and creates a better world by empowering individuals and communities worldwide!</p>
  <footer><a href="http://www.nexxuscoin.com/" target="_blank">http://www.nexxuscoin.com/</a></footer>
</blockquote>
