
<blockquote>
  <p>OCoin (OCN): ODYSSEY's mission is to build the next-generation decentralized sharing economy & Peer to Peer Ecosystem.</p>
  <footer><a href="http://www.ocoins.cc/home/index.php" target="_blank">http://www.ocoins.cc/home/index.php</a></footer>
</blockquote>
  