<blockquote>
  <p>The world's first decentralised music platform built on Ethereum and IPFS</p>
  <footer><a href="http://opus-foundation.org/" target="_blank">http://opus-foundation.org/</a></footer>
</blockquote>
