<blockquote>
  <p>PBL is a platform money to use the decentralised publishing protocol of Publica.</p>
  <footer><a href="https://publica.io/" target="_blank">https://publica.io/</a></footer>
</blockquote>
