<blockquote>
  <p>PCC PCORN is an adult entertainment platform build with the best software technologies and practices. There are two live adult services running on PCORN platform already: PORNCORN.VIDEO video streaming website, PCORN mobile app for Android. PCC token will be accepted as secure, confidential and private payment method for any of PCORN services (premium subscriptions and others).</p>
  <footer><a href="https://pccico.com/" target="_blank">https://pccico.com/</a></footer>
</blockquote>
