<blockquote>
  <p>DS Plus is a platform with a cryptocashback service, working on basis of a mobile application with the PlusCoin cryptocurrency integrated, based on the Ethereum Blockchain.</p>
  <footer><a href="https://pluscoin.io/" target="_blank">https://pluscoin.io/</a></footer>
</blockquote>
