<blockquote>
  <p>THE PILLAR WALLET is the next-generation, open-source wallet that will become the dashboard for your digital life.</p>
  <footer><a href="https://pillarproject.io/" target="_blank">https://pillarproject.io/</a></footer>
</blockquote>
