
<blockquote>
  <p>Presearch (PRE): Presearch is a decentralized search engine, powered by the community.</p>
  <footer><a href="https://www.presearch.io/" target="_blank">https://www.presearch.io/</a></footer>
</blockquote>
  