<blockquote>
  <p>Decentralized and 100% autonomous P2P VPN Network on blockchain with the first Internet bandwidth marketplace powered by own crypto-economy</p>
  <footer><a href="https://privatix.io/" target="_blank">https://privatix.io/</a></footer>
</blockquote>
