<blockquote>
  <p>Patientory is a cybersecurity blockchain-based distributed electronic medical record network. We are a bridge that connects siloed, centralized EMR systems. Ultimately, our goal is to change the way patients securely manage their health histories and interact with their clinical care teams.</p>
  <footer><a href="https://patientory.com/" target="_blank">https://patientory.com/</a></footer>
</blockquote>
