<blockquote>
  <p>The system is called PROPX NanoChain, its a private blockchain investment platform for financial institutions and other clients. These organisations will use the system to create fractional investment products. Our platform will take care of every aspect of the product life cycle from product setup to managing the end consumer experience.</p>
  <footer><a href="https://prosperiprop.com/" target="_blank">https://prosperiprop.com/</a></footer>
</blockquote>
