<blockquote>
  <p>An autonomous, decentralized workforce management network that connects contact center organizations together to streamline customer and business interactions.</p>
  <footer><a href="https://podone.io" target="_blank">https://podone.io</a></footer>
</blockquote>
