<blockquote>
  <p>Welcome to the world's first fully decentralized rare pepe card gallery and exchange, powered by IPFS+Ethereum.</p>
  <footer><a href="http://peperium.life/" target="_blank">http://peperium.life/</a></footer>
</blockquote>
