<blockquote>
  <p>Hash Rush is set in the fictional Hermeian solar system where cryptocurrencies are the most valued of commodities, and, for many of its citizens, their primary source of income. The objective of the game is to manage your colony, advance into neighbouring territories and transform your small mining operation into the envy of the solar system. At the start of the game, players choose from 3 different factions, each with their own look, playing style and storyline, and are tasked with managing their colony on a randomly generated planet. They will have numerous upgradable units and structures at their command, and must balance exploration, base-building and mining all while facing threats from local predators and the ever-present risk of natural disasters. Players receive monthly payouts from the Hash Rush mining pool.</p>
  <footer><a href="https://www.hashrush.com/" target="_blank">https://www.hashrush.com/</a></footer>
</blockquote>
