<blockquote>
  <p>A global peer-to-peer credit network based on co-signed smart contracts.</p>
  <footer><a href="https://ripiocredit.network" target="_blank">https://ripiocredit.network</a></footer>
</blockquote>
