<blockquote>
  <p>Readcoin is a decentralized ecosystem enabling the re-bundling of valuable content to media identity. Today's internet is stuck in attention-based advertising economy. Readcoin enables the re-bundling of content and the creation strong and independent media channels.</p>
  <footer><a href="https://www.readcoin.org/" target="_blank">https://www.readcoin.org/</a></footer>
</blockquote>
