
<blockquote>
  <p>Republic (REN): A decentralized dark pool for trustless cross-chain atomic trading of Ether, ERC20 tokens and Bitcoin pairs.</p>
  <footer><a href="https://republicprotocol.com/" target="_blank">https://republicprotocol.com/</a></footer>
</blockquote>
  