<blockquote>
  <p>Augur combines the magic of prediction markets with the power of a decentralized network to create a stunningly accurate forecasting tool - and the chance for real money trading profits</p>
  <p>In centralized markets, one person determines the final market outcomes - which means there can be mistakes or outright manipulation. With Augur, we'll have thousands reporting on market outcomes using a one-of-a kind consensus based system and a unique token called REPutation.</p>
  <footer><a href="https://www.augur.net/" target="_blank">https://www.augur.net/</a></footer>
</blockquote>
