<blockquote>
  <p>The RHOC token is an RChain.coop promotional token redeemable for the actual RChain token when the network is launched.</p>
  <footer><a href="https://rchain.coop/" target="_blank">https://rchain.coop/</a></footer>
</blockquote>
