<blockquote>
  <p>Red Pill Is a Cryptocurrency developed to allow fans to support creators. It prevents creators from ever losing access to fan funding. With Red Pill, you are the bank. There is no middle man. You can securely send and receive Red Pills which can be stored on virtually any device. Red Pill is designed for people who love to create and consume content. It is an excellent currency that can be used to support your favorite creators and communities.</p>
  <footer><a href="https://redpillcoin.com/" target="_blank">https://redpillcoin.com/</a></footer>
</blockquote>
