<blockquote>
  <p>Rocket Pool is a first of its kind, next generation decentralised Ethereum proof of stake (PoS) pool in alpha and built to be compatible with Casper, the new consensus protocol due in 2018. RPL is the backbone of the Rocket Pool network and acts as a security and identity token of nodes in the network.</p>
  <footer><a href="https://www.rocketpool.net/" target="_blank">https://www.rocketpool.net/</a></footer>
</blockquote>
