
<blockquote>
  <p>RUFF (RUFF): Decentralized open source blockchain architecture for high efficiency Internet of Things application development</p>
  <footer><a href="http://ruffchain.com/" target="_blank">http://ruffchain.com/</a></footer>
</blockquote>
  