<blockquote>
  <p>SAI is a decentralized stablecoin. See <a href="https://sai.makerdao.com/" target="_blank">https://sai.makerdao.com/</a></p>
  <footer><a href="https://makerdao.com/" target="_blank">https://makerdao.com/</a></footer>
</blockquote>
