<blockquote>
  <p>Space Alien Token is a virtual currency for Space Alien multiplayer game. Players can make bets and play against each other online.</p>
  <footer><a href="https://www.spacealien.io/" target="_blank">https://www.spacealien.io/</a></footer>
</blockquote>
