
<blockquote>
  <p>Sentinel Chain (SENC): B2B marketplace specifically designed to provide affordable and secure financial services to the unbanked</p>
  <footer><a href="http://www.sentinel-chain.org/" target="_blank">http://www.sentinel-chain.org/</a></footer>
</blockquote>
  