
<blockquote>
  <p>SENTinel (SENT): A modern VPN backed by blockchain anonymity and security.</p>
  <footer><a href="https://sentinelgroup.io/" target="_blank">https://sentinelgroup.io/</a></footer>
</blockquote>
  