<blockquote>
  <p>Decentralized mobile eCommerce platform with no big brother, no fees and no restrictions with 5 patents.</p>
  <footer><a href="https://stuffgogo.com" target="_blank">https://stuffgogo.com</a></footer>
</blockquote>
