<blockquote>
  <p>Shield is a privacy-centric and an anonymous cryptocurrency. It is based on advanced mathematical analysis and innovative ideas to empower end-users with true privacy, both financial and personal.</p>
  <footer><a href="http://www.shield.vision" target="_blank">http://www.shield.vision</a></footer>
</blockquote>
