<blockquote>
  <p>Universal Cryptocurrency based on Ethereum for instant trading of CS:GO, Dota 2 skins, and making bets on eSports events.</p>
  <footer><a href="https://skincoin.org/" target="_blank">https://skincoin.org/</a></footer>
</blockquote>
