<blockquote>
  <p>SunContract is an energy-trading platform that utilizes blockchain technology to create a new business model for buying and selling electricity. SunContract Platform will use existing grid and optimize current operations that are costly and inefficient. User-friendly applications will be developed to secure mainstream adoption of our service.</p>
  <footer><a href="https://suncontract.org/" target="_blank">https://suncontract.org/</a></footer>
</blockquote>
