<blockquote>
  <p>SENNI is a blockchain company formed as a result of merger of cryptotrading app Tabtrader, mining pool Snipool. We plan to create a blockchain ecosystem with single point of entry and AI assistant. Any user, regardless of his/ her experience, can manage digital currency and assets conveniently and easily. All users will be able to access all our services via single account. We also work on creating new products: miner, cloud mining, banking services.</p>
  <footer><a href="http://sennitoken.tk/" target="_blank">http://sennitoken.tk/</a></footer>
</blockquote>
