<blockquote>
  <p>Snip is a blockchain-based news platform which is changing the way people get news by providing short, high-quality, personalized content. On Snip, anyone can become a writer and get rewarded with SnipCoin, and readers get to read the best stories.</p>
  <footer><a href="https://www.snip.network/" target="_blank">https://www.snip.network/</a></footer>
</blockquote>
