
<blockquote>
  <p>SONM (SNM): SONM's aims to be a secure and cost-effective fog supercomputer for general-purpose computing, from mobile app hosting to video rendering to DNA analysis.</p>
  <footer><a href="https://sonm.io/" target="_blank">https://sonm.io/</a></footer>
</blockquote>
  