
<blockquote>
  <p>SPF (SPF): SPF Tokens will also be used to purchase additional services that SportyCo will provide to athletes, sports clubs, investors, and other participants in the ecosystem.</p>
  <footer><a href="https://sportyco.io/" target="_blank">https://sportyco.io/</a></footer>
</blockquote>
  