
<blockquote>
  <p>SPHTX (SPHTX): Integrating Blockchain with Enterprise Applications.</p>
  <footer><a href="https://www.sophiatx.com/" target="_blank">https://www.sophiatx.com/</a></footer>
</blockquote>
  