<blockquote>
  <p>SquirrelGims are Ethereum tokens, intended to promote the qualities of Squirrels.</p>
  <footer><a href="https://squirrel.gims.tv/" target="_blank">https://squirrel.gims.tv/</a></footer>
</blockquote>
