<blockquote>
  <p>ShareChain is a smart, credible and open public, it based on a shared economy. Remove the centralized credit data value platform is through the blockchain technology to build a shared economy based on the underlying structure. BlockChain technology subverting the existing centralized credit platform, ShareChain has create the tokens called (Super Smart Share referred to as "SSS") which realize the value of the platform and the value of circulation. ShareChain Building a true and unique data and a credible credit system which create a shared economy trusted ecological circle, the real "credit interconnection &amp; sharing future."</p>
  <footer><a href="http://www.sharechain.org/" target="_blank">http://www.sharechain.org/</a></footer>
</blockquote>
