
<blockquote>
  <p>StarterCoin (STAC): A first of its kind blockchain platform to help entrepreneurs, innovators and creators bring their ideas to life.</p>
  <footer><a href="https://coinstarter.com/" target="_blank">https://coinstarter.com/</a></footer>
</blockquote>
  