<blockquote>
  <p>StakeIt Token (STAKE) is a community-driven investment token allowing token holders to stake their tokens on a daily basis without any withdrawal or date limits through a centralized banking system. Token holders are required to pay small fees in ETH whenever depositing or withdrawing, and all revenues generated are used to buy-back and destroy tokens.</p>
  <footer><a href="https://www.stake-it.com/" target="_blank">https://www.stake-it.com/</a></footer>
</blockquote>
