<blockquote>
  <p>Starbase is a blockchain token based crowdfunding/ sourcing platform. By using Starbase, innovative startsups can fundraise and crowdsource by issuing blockchain tokens. Token based crowdfunding is fast, low-costing and works at a global scale, and with token based crowdsourcing, you can easily without needing an initial amount of cash. Starbase mainly focus on token issuance, fundraising, and reward payments for startups and investors. If you`re interested in being part of the community, join our slack, https://slack.starbase.co or subscribe our weekly newsletter!</p>
  <footer><a href="https://starbase.co/" target="_blank">https://starbase.co/</a></footer>
</blockquote>
