<blockquote>
  <p>The vape market will represent 47 billion dollars in 2025 against 8 billion in 2015.</p>
  <footer><a href="http://www.stop-tabac.io/" target="_blank">http://www.stop-tabac.io/</a></footer>
</blockquote>
