
<blockquote>
  <p>Spectre.ai D-Token (SXDT): Broker-less financial trading platform.</p>
  <footer><a href="https://www.spectre.ai/" target="_blank">https://www.spectre.ai/</a></footer>
</blockquote>
  