<blockquote>
  <p>SYN Token is used for the Synapse Network for decentralized data + machine learning models. SYN Token is an ERC20 standard token developed on top of the Ethereum network. The SYN token is used to both reward people for access to their data, support network infrastructure and fees, and reward people for committing to storage and compute through secondary exchange functions. Data and models can be bought and sold through the marketplace via fulfillment contracts (oracles, ad-hoc queries), and provenance and access control is kept on chain.</p>
  <footer><a href="https://synapse.ai/" target="_blank">https://synapse.ai/</a></footer>
</blockquote>
