<blockquote>
  <p>TiENPAY Limited is a global fintech firm that offers a digital mobile wallet, clearance and settlement technologies and platforms. A company founded by Singaporean serial entrepreneur and finance industry veteran Mr William Tien and active Fintech investor and former Huawei's senior executive Mr. Victor Chow, the company's operations include mobile digital wallet apps and a digital currency exchange.</p>
  <footer><a href="http://t8coin.io/" target="_blank">http://t8coin.io/</a></footer>
</blockquote>
