
<blockquote>
  <p>Lamden Tau (TAU): Lamden is a suite of developer tools that speed up the process of creating new and custom blockchains and apps.</p>
  <footer><a href="https://www.lamden.io/" target="_blank">https://www.lamden.io/</a></footer>
</blockquote>
  