
<blockquote>
  <p>Tokenbox (TBX): TBX is an utility token that providing an access to the platform's services.</p>
  <footer><a href="https://tokenbox.io/" target="_blank">https://tokenbox.io/</a></footer>
</blockquote>
  