<blockquote>
  <p>TDT is ToDogecoin Token. It is used to place adverts on ToDogecoin.biz etc. (current cost of one thousand impressions - 1 TDT). Also this token will be used for other purposes on the site. After the completion of ICO, the issue of new tokens will cease.</p>
  <footer><a href="http://todogecoin.biz/tdt/" target="_blank">http://todogecoin.biz/tdt/</a></footer>
</blockquote>
