
<blockquote>
  <p>Theta Token (THETA): A decentralized peer-to-peer network that aims to offer improved video delivery at lower costs.</p>
  <footer><a href="https://www.thetatoken.org/" target="_blank">https://www.thetatoken.org/</a></footer>
</blockquote>
  