<blockquote>
  <p>ChronoBank.io is an ambitious and wide-ranging blockchain project, aimed at disrupting the HR/recruitment/finance industries in a similar way to how Uber disrupted the taxi business and how Upwork represented an evolution in freelancing.</p>
  <footer><a href="https://chronobank.io/" target="_blank">https://chronobank.io/</a></footer>
</blockquote>
