
<blockquote>
  <p>Trace (TRAC): Purpose-built Protocol for Supply Chains Based on Blockchain.</p>
  <footer><a href="https://origintrail.io/" target="_blank">https://origintrail.io/</a></footer>
</blockquote>
  