<blockquote>
  <p>A platform for Trusted Lending Circles, powered by people and blockchain.</p>
  <footer><a href="https://www.wetrust.io/" target="_blank">https://www.wetrust.io/</a></footer>
</blockquote>
