<blockquote>
  <p>Introducing the launch of Token Security Scheme (TSS) by 5M Holdings Pte. Ltd. which utilizes the technology behind the payment and banking industry of digital key management and applies it to blockchain technologies to enhance security and minimize the risk of theft of crypto-assets and other digital assets.</p>
  <footer><a href="https://www.tsstoken.com/index.php" target="_blank">https://www.tsstoken.com/index.php</a></footer>
</blockquote>
