
<blockquote>
  <p>UniBright (UBT): The unified framework for blockchain based business integration</p>
  <footer><a href="https://unibright.io/" target="_blank">https://unibright.io/</a></footer>
</blockquote>
  