<blockquote>
  <p>Upfiring is a web, iOS and Android application that creates a decentralized autonomous network between users' devices. The app is free to download and users can exchange files across the network, powering these transactions with Upfire.</p>
  <footer><a href="https://www.upfiring.com/" target="_blank">https://www.upfiring.com/</a></footer>
</blockquote>
