<blockquote>
  <p>VeChain is a global information transformation platform based on blockchain technology. It digitalizes real people, products or events, by linking API with the system's application layer connecting blockchain with real-world information. We make use of Smart Contracts focused on real industrial operations. VeChain achieves collaboration and value transferring between different use cases. Hence, it maps the real world activities to blockchain. VeChain is creating a brand new business model, which provides 'trust service' to all collaboration parties across all platforms, entities, industries and consumers.</p>
  <footer><a href="https://www.vechain.com/" target="_blank">https://www.vechain.com/</a></footer>
</blockquote>
