<blockquote>
  <p>Viberate is a crowdsourced live music ecosystem and a blockchain-based marketplace where we're matching musicians with event organizers. We're listing profiles of over 120 thousand musicians, from superstars to garage bands. We'd like to send our thank you to everybody who trusted in us and contributed to our crowdsale!</p>
  <footer><a href="https://www.viberate.io/" target="_blank">https://www.viberate.io/</a></footer>
</blockquote>
