<blockquote>
  <p>Decentralized platform for the registration and distribution of content that certifies the authorship and license of any work or creation making them indelible.</p>
  <footer><a href="http://wellieat.com/" target="_blank">http://wellieat.com/</a></footer>
</blockquote>
