<blockquote>
  <p>The Blockchain Crowdfunding DAO</p>
  <p>A decentralized platform to create, join and manage projects</p>
  <footer><a href="https://wings.ai/" target="_blank">https://wings.ai/</a></footer>
</blockquote>
