<blockquote>
  <p>Windy is an ERC20 token created on the Ethereum Blockchain with a fixed supply of 21,000,000 coins. Created to support the process of building a mining system using wind energy and encourage the preservation of our planet.</p>
  <footer><a href="https://wndtoken.com/home" target="_blank">https://wndtoken.com/home</a></footer>
</blockquote>
