<blockquote>
  <p>Well-established payment institution with $100M+ transaction volume in 2017</p>
  <footer><a href="https://worldcore.com" target="_blank">https://worldcore.com</a></footer>
</blockquote>
