<blockquote>
  <p>Turnkey mining services or custom packages tailored to your needs: full range of mining services from equipment sales, maintenance and repair to private blockchain servicing.</p>
  <footer><a href="https://www.giga-watt.com/" target="_blank">https://www.giga-watt.com/</a></footer>
</blockquote>
