<blockquote>
  <p>Xaurum is unit of value on the golden blockchain, it represents an increasing amount of gold and can be exchanged for it by melting. Xaurum Golden Blockchain is a transparent ledger of accounts that accounts for the distribution of gold owned by the Xaurum CommonWealth, to provide an increasing base to Xaurum value. The CommonWealth is maintained by Auresco Institute physically and Ethereum network digitally.</p>
  <footer><a href="http://www.xaurum.org/" target="_blank">http://www.xaurum.org/</a></footer>
</blockquote>
