<blockquote>
  <p>Billionaire Token (XBL) is designed and tailored specifically for the gamblers and the smart investors in the crypto world. Most other coins or tokens have some sort of mining system, but Billionaire Token has the exact opposite: It features a deflationary mechanism that destroys some XBL tokens each week via our decentralized raffle and our decentralized burner Smart Contracts - this is what will initially provide intrinsic value to the token and differentiate it from the competition.</p>
  <footer><a href="https://billionairetoken.com/" target="_blank">https://billionairetoken.com/</a></footer>
</blockquote>
