<blockquote>
  <p>A network for investors, founders and companies to connect without intermediaries. A place where anyone can be listed in the cryptocurrency exchange market and cross the barriers of traditional methods, while keeping control of the investments.</p>
  <footer><a href="http://www.coincrowd.it/en/" target="_blank">http://www.coincrowd.it/en/</a></footer>
</blockquote>
