<blockquote>
  <p>Santa created XMAS tokens to be an alternative to traditional gifts. XMAS is coming and Santa wants to bring holiday spirit in crypto community.</p>
  <footer><a href="https://www.xmastoken.com/" target="_blank">https://www.xmastoken.com/</a></footer>
</blockquote>
