<blockquote>
  <p>Monero Gold Token is an ERC20 token that aims to become the first globally accepted ERC20 token used for purchasing and selling of goods, services and more. With a professional team consisting of 8 experts in their field we believe our vision can be accomplished together with our community.</p>
  <footer><a href="https://monero-gold.org/" target="_blank">https://monero-gold.org/</a></footer>
</blockquote>
