<blockquote>
  <p>We are buying a super yacht for members of the blockchain and crypto currency to network, play, and launch ICOs. YACHT Coin will be used to buy time on the CryptoYacht.</p>
  <footer><a href="https://www.cryptoyacht.com/" target="_blank">https://www.cryptoyacht.com/</a></footer>
</blockquote>
