<blockquote>
  <p>Everything that will happen with this token will be decided together with the whole community. Everybody will have the same saying, no matter how many token he holds. This supports our main goal of building a strong internet community.</p>
  <footer><a href="http://yellow-token.com" target="_blank">http://yellow-token.com</a></footer>
</blockquote>
