<blockquote>
  <p>Well, to keep it simple, Zloadr is a viral news and media publishing platform built for creators; that amplifies news worthy content with the help of influencers and bounty hunters. Within the platform advertisers use ZDR tokens to benefit from millions of views and direct traffic of their adverts at a fraction of the cost by paying in Zloadr's currency- ZDR tokens.</p>
  <footer><a href="http://www.zloadr.com/" target="_blank">http://www.zloadr.com/</a></footer>
</blockquote>
