<h3><%= translation.announcements %></h3>
<div style="height: 300px; overflow-y: scroll">
  <div class="list-group">
    <div class="list-group-item active">
      <h4 class="list-group-item-heading"><%= translation.aug032016 %></h4>
      <p class="list-group-item-text">
        <%= translation.aug032016_announcement %>
      </p>
    </div>
  </div>
</div>
