<% if (addr && addr.slice(0,39)!='0x0000000000000000000000000000000000000') { %>
  <table class="table table-borderless table-balances">
    <tr class="table-header">
      <td class="trn">token</td><td class="trn" data-toggle="tooltip" data-placement="bottom" title="balance_wallet_tooltip">balance_in_your_wallet</td><td class="trn" data-toggle="tooltip" data-placement="bottom" title="balance_etherdelta_tooltip">balance_etherdelta</td>
    </tr>
  </table>
<% } else { %>
  <table class="table table-borderless table-balances">
    <tr><td><span class="trn">please_select_account</span></td></tr>
  </table>
<% } %>
