<% if (addr && addr.slice(0,39)!='0x0000000000000000000000000000000000000') { %>
  <table class="table table-borderless table-balances">
    <tr>
      <td colspan="2">
        <input type="text" class="form-control input-xs trn" id="depositAmount<%= token.addr %>" placeholder="amount" />
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-xs trn" style="width: 100%;" id="depositSubmit<%= token.addr %>" onclick="depositClick('<%= token.addr %>')">deposit</button>
      </td>
    </tr>
  </table>
<% } %>
