<div class="inside">
  <button type="button" class="btn btn-default btn-xs"><a href="https://etherboost.github.io"><img src="//etherboost.github.io/images/logo.svg" style="height: 25px;" /> <span class="trn">produced_etherboost</span></a></button>
  <button type="button" class="btn btn-default btn-xs"><a href="https://etherdelta.github.io"><img src="//etherboost.github.io/images/etherdelta_logo.svg" style="height: 25px;" /> <span class="trn">etherdelta_desc</span></a></button>
  <button type="button" class="btn btn-default btn-xs"><a href="https://predictiontoken.github.io"><img src="//etherboost.github.io/images/predictiontoken_logo.svg" style="height: 25px;" /> <span class="trn">predictiontoken_desc</span></a></button>
  <button type="button" class="btn btn-default btn-xs"><a href="https://ethereumdollar.github.io"><img src="//etherboost.github.io/images/ethereumdollar_logo.svg" style="height: 25px;" /> <span class="trn">ethereumdollar_desc</span></a></button>
  <button type="button" class="btn btn-default btn-xs"><a href="https://etheropt.github.io"><img src="//etherboost.github.io/images/etheropt_logo.svg" style="height: 25px;" /> <span class="trn">etheropt_desc</span></a></button>
</div>
