<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i> <span class="trn">help</span> <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="https://gitter.im/etherdelta/etherdelta.github.io" target="_blank"><i class="fa fa-comment" aria-hidden="true"></i> <span class="trn">chat</span></a></li>
  <li><a href="https://www.youtube.com/channel/UCkUTWdqHjFUfC98gFUsNuzg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> <span class="trn">videos</span></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayHelp('fees')"><i class="fa fa-money" aria-hidden="true"></i> <span class="trn">fees</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayHelp('guides')"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="trn">Guides</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayScreencast('connect_screencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">connect_ethereum</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayScreencast('deposit_screencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">deposit</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayScreencast('withdraw_screencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">withdraw</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayScreencast('order_screencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">order</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayScreencast('cancel_screencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">cancel</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.Main.displayScreencast('trade_screencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">trade</span> <span class="trn">Screencast</span></a></a></li>
</ul>
