<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i> <span class="trn">help</span> <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="https://gitter.im/etherdelta/etherdelta.github.io" target="_blank"><i class="fa fa-comment" aria-hidden="true"></i> <span class="trn">chat</span></a></li>
  <li><a href="https://www.youtube.com/channel/UCkUTWdqHjFUfC98gFUsNuzg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> <span class="trn">videos</span></a></li>
  <li><a href="https://www.reddit.com/r/EtherDelta/comments/6hrvwl/how_fees_work/" target="_blank"><i class="fa fa-money" aria-hidden="true"></i> <span class="trn">fees</span></a></a></li>
  <li><a href="https://www.reddit.com/r/EtherDelta/comments/6hrxjw/etherdelta_guides_for_first_time_users/" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="trn">Guides</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.EtherDelta.displayScreencast('connectScreencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">connect_ethereum</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.EtherDelta.displayScreencast('depositScreencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">deposit</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.EtherDelta.displayScreencast('withdrawScreencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">withdraw</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.EtherDelta.displayScreencast('orderScreencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">order</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.EtherDelta.displayScreencast('cancelScreencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">cancel</span> <span class="trn">Screencast</span></a></a></li>
  <li><a href="javascript:;" onclick="bundle.EtherDelta.displayScreencast('tradeScreencast')"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="trn">trade</span> <span class="trn">Screencast</span></a></a></li>
</ul>
