<style>
  a {
    color: #333;
  }
</style>

<div class="token-container">
  <% tokens.forEach(function(token){ %>
    <div class="token" onclick="bundle.EtherDelta.displayTokenGuide('<%= token.name %>')">
      <%= token.name %>
    </div>
  <% }) %>
</div>
<div class="clear"></div>

<!-- Token -->
<div class="modal fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><div id="tokenGuideTitle"></div></h4>
      </div>
      <div class="modal-body">
        <div id="tokenGuideDetails"></div>
        <div id="tokenGuideBody"></div>
      </div>
    </div>
  </div>
</div>
