<h3 class="follow_twitter"><%= translation.follow_twitter %></h3>
<div style="height: 400px; overflow-y: scroll; border: 1px solid #ccc; border-radius: 5px;">
  <a class="twitter-timeline" href="https://twitter.com/etherboost" data-widget-id="721947562270396416" data-chrome="nofooter noborders noscrollbar noheader">Tweets by @etherboost</a>
  <%
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  %>
</div>
