<% if (addr && addr.slice(0,39)!='0x0000000000000000000000000000000000000') { %>
  <table class="table table-borderless table-balances">
    <tr>
      <td colspan="2">
        <input type="text" class="form-control input-xs trn" id="withdrawAmount<%= token.addr %>" placeholder="amount" />
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-xs trn" style="width: calc(100% - 40px);" id="withdrawSubmit<%= token.addr %>" onclick="withdrawClick('<%= token.addr %>')">withdraw</button>
        <div style="float: right; margin-left: 10px;" class="big-icon center trn" data-toggle="tooltip" data-placement="bottom" title="withdraw_tab"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
      </td>
    </tr>
  </table>
<% } %>
