<p>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/The-dao-logo.png/100px-The-dao-logo.png" style="width: 200px;" />
</p>

<blockquote>
  <p>The DAO was a digital decentralized autonomous organization and a form of investor-directed venture capital fund.</p>
  <p>The DAO had an objective to provide a new decentralized business model for organizing both commercial and non-profit enterprises. It was instantiated on the Ethereum blockchain, and had no conventional management structure or board of directors. The code of the DAO is open-source.</p>
  <p>The DAO was stateless, and not tied to any particular nation state. As a result, many questions of how government regulators would deal with a stateless fund were yet to be dealt with.</p>
  <p>The DAO was crowdfunded via a token sale in May 2016. It set the record for the largest crowdfunding campaign in history.</p>
  <p>In June 2016, hackers exploited a vulnerability in the DAO code to enable them to siphon off one third of The DAO's funds to a subsidiary account. On the 20th July 2016, the Ethereum community decided to hard-fork the Ethereum blockchain to restore virtually all funds to the original contract. This was controversial, and led to a fork in Ethereum, where the original unforked blockchain was maintained as Ethereum Classic, thus breaking Ethereum into two separate active cryptocurrencies.</p>
  <footer><a href="https://en.wikipedia.org/wiki/The_DAO_(organization)" target="_blank">https://en.wikipedia.org/wiki/The_DAO_(organization)</a></footer>
</blockquote>
