<p>
  <img src="" style="width: 200px;" />
</p>

<blockquote>
  <p><strong>Health Care Industry should be fully digital and in the hands of the people.</strong></p>
  <p>Dentaprime International PLC is the digital technology leader in dentistry worldwide. Dentaprime plans a global expansion, starting from London, with two smart clinic concepts in a $126 Billion market. The strategic goal of these two concepts is to make the highest quality dentistry affordable to all people, regardless of their income. The first clinic, operating in London, is already proven as successful and profitable. The future expansion of Dentaprime is built around a blockchain token named Dentacoin. Besides our currency (DCN), the Ethereum blockchain will handle all our general health-related and specific surgical patient data, as well as the digital treatment planning and dental restoration production. All data will be safely accessible to the patients and updatable in the blockchain. Following their treatment, Dentaprime will offer each patient a DCN paid insurance policy for lifelong free dental procedures to prevent all the health consequences related to old-age poverty.</p>
  <p>Furthermore, the majority of Dentaprime International PLC shares and thus the disposition over the company will be connected to the blockchain. Each DCN represents and participates in the company shares and dividends. As they will always have the majority of shares, the DCN community will make all the important decisions of the company through an integrated voting system.</p>
  <footer><a href="https://medium.com/@neptox/dcn-token-description-for-etherdelta-37649422ba05#.87lle8sjx" target="_blank">https://medium.com/@neptox/dcn-token-description-for-etherdelta-37649422ba05#.87lle8sjx</a></footer>
</blockquote>
