<% if (token.name!='ETH') { %>
<p>Contract: <a href="<%= tokenLink %>" target="_blank"><%= token.addr %></a></p>
<p>The above address is for the token contract. It is NOT a deposit address. Do NOT send tokens to it or they will be lost forever. To deposit, use the Deposit form in the upper left. Enter the amount you want to deposit and press the 'Deposit' button.<p>
<% } %>
