<p>
  <img src="https://www.dgx.io/assets/img/dgx-token-150.png" style="width: 200px;" />
</p>

<blockquote>
  <p>The future gold-standard for value exchange in the Ethereum ecosystem</p>
  <p>Each token represents 1 gram of 99.99% LBMA standard gold and secured in Safehouse vaults</p>
  <p>On-chain proof of auditing; no fractional reserve; fully allocated</p>
  <p>Redeem 100 DGX tokens for 100g of physical gold via personal or mail</p>
  <footer><a href="https://www.dgx.io/dgd/" target="_blank">https://www.dgx.io/dgd/</a></footer>
</blockquote>
