<p>
  <img src="https://rchain.coop/wp-content/uploads/2017/01/cropped-Rchain_brand_scarlet_horiz-2.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>The RHOC token is an RChain.coop promotional token redeemable for the actual RChain token when the network is launched.</p>
  <footer><a href="https://rchain.coop/" target="_blank">https://rchain.coop/</a></footer>
</blockquote>
