<p>
  <img src="https://singulardtv.com/resources/default/img/01-SingularCover-1200x630.jpg" style="width: 200px;" />
</p>

<blockquote>
  <p>A Blockchain Entertainment Studio, Smart Contract Rights Management Platform and Video On-Demand Portal</p>
  <footer><a href="https://singulardtv.com/" target="_blank">https://singulardtv.com/</a></footer>
</blockquote>
